
@font-face {
    font-family: 'momfont';
    src: url('../../fonts/front/momkitfont/momicon-webfont.eot');
    src: url('../../fonts/front/momkitfont/momicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/front/momkitfont/momicon-webfont.woff') format('woff'),
         url('../../fonts/front/momkitfont/momicon-webfont.ttf') format('truetype'),
         url('../../fonts/front/momkitfont/momicon-webfont.svg#mom_fonticon') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{background:black;}

.citationVinci{font-size: 1.3em;font-style: italic;}
.authorVinci{padding-top: 20px;}
.textResponsive{padding-top: 20px;}
.photosHover:hover{z-index:200;};

.momLogoFond{font-family: 'momfont'; font-size: 300px; color:red !important;}