	<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">



					<div class="subheader topmargin">
						
						<h4>Ce fils d'actualitée est collaboratifs. <br>Il parle uniquement d'agro-alimentaire et nottemant d'innovation.</h4>
						<a ui-sref="addArticle" class="btn btn-primary btn-lg">Ajouter du contenus</a>
					</div>

					<!-- Posts
					============================================= -->
					<!-- <div id="posts" class="post-grid grid-container post-masonry grid-3 clearfix"> -->
					<div id="posts"  infinite-scroll="myPagingFunction()" infinite-scroll-distance="1" reload-on-resize reload-on-show class=" post-grid  grid-container portfolio-3 topmargin clearfix" masonry>
						

						<div ng-repeat="article in articlesList" class="entry clearfix masonry-brick  blog-article2" ng-class="{'blog-pai':article.contentType=='articlepai','blog-article':article.contentType=='article','blog-sponsored':article.contentType=='sponsored','blog-pub':article.contentType=='pub','blog-link':article.contentType=='link'}">
							
							<div ng-if="article.contentType=='pub'" class="entry-image">
								<a href="mailTo:contact@gmail.com" class="entry-link" target="_blank">
									Votre publicité ici
									<span>Contactez nous - contact@clubpai.fr</span>
								</a>
							</div>
							<div ng-if="article.contentType!='pub'" class="entry-image">
								
								<div ng-if="article.videoHost && article.videoUrl" class="entry-image ">
									<div ng-if="article.videoHost =='vimeo'" fit-vids>
										
										<iframe  width="16" height="9" src="{{ 'https://player.vimeo.com/video/'+article.videoUrl | trustAsResourceUrl}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									</div>
									<div ng-if="article.videoHost =='youtube'" fit-vids>
										
										<iframe width="16" height="9" src="{{ 'https://www.youtube.com/embed/'+article.videoUrl +'?ecver=2' | trustAsResourceUrl}}" frameborder="0" allowfullscreen="" ></iframe>
									</div>
									<div ng-if="article.videoHost =='dailymotion'" fit-vids>
										
										<iframe width="16" height="9" src="{{ 'http://www.dailymotion.com/embed/video/'+article.videoUrl | trustAsResourceUrl}}" frameborder="0" allowfullscreen="" ></iframe>
									</div>
								</div>
								<div class="entry-image" ng-if="article.images.length == 1 && ( !article.videoHost || !article.videoUrl)">
									<a ><img  class="image_fade" ng-src="image/resized/{{article.images[0].filename}}" ></a>
								</div>
								<div class="entry-image" ng-if="article.images.length > 1 && article.images.length < 6 && ( !article.videoHost || !article.videoUrl)">
									<div class="fslider">
										
											<flex-slider flex-slide="image in  article.images track by image.id" animation="slide" slideshow="false"smooth-height=" true" direction-nav="false">
												<li>
													<a ><img class="image_fade" ng-src="image/resized/{{image.filename}}" imageonload></a>
												</li>
											</flex-slider>
									</div>
								</div>
								<div class="entry-image clearfix" ng-if="article.images.length >= 6&& ( !article.videoHost || !article.videoUrl)">
									<div class="portfolio-single-image masonry-thumbs col-4" data-big="3" data-lightbox="gallery">
										<a  ng-repeat="img in article.images" ><img class="image_fade" ng-src="image/adminThumbs/{{img.filename}}" alt=""></a>
										<!-- <a href="images/front/blog/full/3.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/front/blog/small/3.jpg" alt=""></a>
										<a href="images/front/blog/full/6-1.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/front/blog/small/6-1.jpg" alt=""></a>
										<a href="images/front/blog/full/6-2.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/front/blog/small/6-2.jpg" alt=""></a>
										<a href="images/front/blog/full/12.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/front/blog/small/12.jpg" alt=""></a>
										<a href="images/front/blog/full/12-1.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/front/blog/small/12-1.jpg" alt=""></a>
										<a href="images/front/blog/full/13.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/front/blog/small/13.jpg" alt=""></a>
										<a href="images/front/blog/full/18.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/front/blog/small/18.jpg" alt=""></a>
										<a href="images/front/blog/full/19.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/front/blog/small/19.jpg" alt=""></a> -->
									</div>
								</div>
								<div class="entry-title">
									<h2><a href="blog-single.html">{{article.title}}</a></h2>
								</div>
								<ul class="entry-meta clearfix">
									<li><i class="icon-calendar3"></i> {{article.createdAt | amDateFormat:'DD MMM YYYY'}}</li>
									<li><a ><i class="icon-users"></i> {{article.authors[0].firstname}} {{article.authors[0].name}}</a></li>
								</ul>
								<div class="entry-content">
									<p class="post__info"  ng-bind-html="article.content"  content-html="article.content" html-ellipsis></p>
									<a ui-sref="article({id: article.id})" class="more-link">Lire la suite</a>
								</div>
							</div>
						</div>

					  

						<div class="FINI masonry-brick " ng-if="fin">
							<span>Tout est là.</span>
						</div>

					</div><!-- #posts end -->

					<!-- Pagination
					============================================= -->
					<!-- <div id="load-next-posts" class="center">
						<a href="blog-masonry-page-2.html" class="button button-3d button-dark button-large button-rounded">Load more..</a>
					</div> -->


				</div>

			</div>

		</section>