		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
					<img class="headerlogo" src="images/front/logo-v2m.png" alt="" width="126" height="100" >
				
				<h1>Maison clefs en main</h1>
				<span>Construire sa maison n'a jamais été aussi simple</span>
				<ol class="breadcrumb">
					<li><a href="/">Accueil</a></li>
					<li class="active">Maison clefs en mains</li>
					<li class=""><a href="/modeles">Nos Modèles</a></li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">
					<h3>Comment ca marche?</h3>

					<p>Vous posséder un terrain ou êtes en cours d'aquisition ? <br>
					 De la conception aux finissions, V2M se charge de construire votre maisons</p>

					<div id="processTabs">
						<ul class="process-steps bottommargin clearfix">
							<li>
								<a href="#ptab1" class="i-circled i-bordered i-alt divcenter">1</a>
								<h5>Premier Rendez-vous</h5>
							</li>
							<li>
								<a href="#ptab2" class="i-circled i-bordered i-alt divcenter">2</a>
								<h5>Choix du projet</h5>
							</li>
							<li>
								<a href="#ptab3" class="i-circled i-bordered i-alt divcenter">3</a>
								<h5>Etablissement du devis</h5>
							</li>
							<li>
								<a href="#ptab4" class="i-circled i-bordered i-alt divcenter">4</a>
								<h5>Permis de construire</h5>
							</li>
							<li>
								<a href="#ptab5" class="i-circled i-bordered i-alt divcenter">5</a>
								<h5>Négociation des matériaux</h5>
							</li>
							<li>
								<a href="#ptab6" class="i-circled i-bordered i-alt divcenter">6</a>
								<h5>Construction</h5>
							</li>
							<li>
								<a href="#ptab7" class="i-circled i-bordered i-alt divcenter">7</a>
								<h5>Finissions</h5>
							</li>
							<li>
								<a href="#ptab8" class="i-circled i-bordered i-alt divcenter">8</a>
								<h5>Livraisons</h5>
							</li>
							
						</ul>
						<div>
							<div id="ptab1">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, ipsa, fuga, modi, corporis maiores illum fugit ratione cumque dolores sint obcaecati quod temporibus. Expedita, sapiente, veritatis, impedit iusto labore sed itaque sunt fugiat non quis nihil hic quos necessitatibus officiis mollitia nesciunt neque! Minus, mollitia at iusto unde voluptate repudiandae.</p>

								<div class="line"></div>
								<a href="#" class="button button-3d nomargin fright tab-linker" rel="2">Choix du projet &rArr;</a>

							</div>
							<div id="ptab2">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, deleniti, atque soluta ratione blanditiis maxime at architecto laudantium eius eaque distinctio dolorem voluptatem nam ab molestias velit nemo. Illo, hic.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, modi, odit, aspernatur veritatis ipsum molestiae impedit iusto blanditiis voluptatem ab voluptas ullam expedita repellendus porro assumenda non deserunt repellat eius rem dolorem corporis temporibus voluptatibus ut! Quod, corporis, tempora, dolore, sint earum minus deserunt eveniet natus error magnam aliquam nemo.</p>
								<div class="line"></div>
								<a href="#" class="button button-3d nomargin tab-linker" rel="1">Précédent</a>
								<a href="#" class="button button-3d nomargin fright tab-linker" rel="3">Etablissement du devis</a>
							</div>
							<div id="ptab3">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sit, culpa, placeat, tempora quibusdam molestiae cupiditate atque tempore nemo tenetur facere voluptates autem aliquid provident distinctio beatae odio maxime pariatur eos ratione quae itaque quod. Distinctio, temporibus, cupiditate, eaque vero illo molestiae vel doloremque dolorum repellat ullam possimus modi dicta eum debitis ratione est in sunt et corrupti adipisci quibusdam praesentium optio laborum tempora ipsam aut cum consectetur veritatis dolorem.</p>
								<div class="line"></div>
								<a href="#" class="button button-3d nomargin tab-linker" rel="2">Précédent</a>
								<a href="#" class="button button-3d nomargin fright tab-linker" rel="4">Permis de construire</a>
							</div>
							<div id="ptab4">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sit, culpa, placeat, tempora quibusdam molestiae cupiditate atque tempore nemo tenetur facere voluptates autem aliquid provident distinctio beatae odio maxime pariatur eos ratione quae itaque quod. Distinctio, temporibus, cupiditate, eaque vero illo molestiae vel doloremque dolorum repellat ullam possimus modi dicta eum debitis ratione est in sunt et corrupti adipisci quibusdam praesentium optio laborum tempora ipsam aut cum consectetur veritatis dolorem.</p>
								<div class="line"></div>
								<a href="#" class="button button-3d nomargin tab-linker" rel="3">Précédent</a>
								<a href="#" class="button button-3d nomargin fright tab-linker" rel="5">Négociation des matériaux</a>
							</div>
							<div id="ptab5">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, ipsa, fuga, modi, corporis maiores illum fugit ratione cumque dolores sint obcaecati quod temporibus. Expedita, sapiente, veritatis, impedit iusto labore sed itaque sunt fugiat non quis nihil hic quos necessitatibus officiis mollitia nesciunt neque! Minus, mollitia at iusto unde voluptate repudiandae.</p>
								<div class="line"></div>
								<a href="#" class="button button-3d nomargin tab-linker" rel="4">Précédent</a>
								<a href="#" class="button button-3d nomargin fright tab-linker" rel="6">Construction</a>

							</div>
							<div id="ptab6">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, deleniti, atque soluta ratione blanditiis maxime at architecto laudantium eius eaque distinctio dolorem voluptatem nam ab molestias velit nemo. Illo, hic.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, modi, odit, aspernatur veritatis ipsum molestiae impedit iusto blanditiis voluptatem ab voluptas ullam expedita repellendus porro assumenda non deserunt repellat eius rem dolorem corporis temporibus voluptatibus ut! Quod, corporis, tempora, dolore, sint earum minus deserunt eveniet natus error magnam aliquam nemo.</p>
								<div class="line"></div>
								<a href="#" class="button button-3d nomargin tab-linker" rel="5">Précédent</a>
								<a href="#" class="button button-3d nomargin fright tab-linker" rel="7">Finissions</a>
							</div>
							<div id="ptab7">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sit, culpa, placeat, tempora quibusdam molestiae cupiditate atque tempore nemo tenetur facere voluptates autem aliquid provident distinctio beatae odio maxime pariatur eos ratione quae itaque quod. Distinctio, temporibus, cupiditate, eaque vero illo molestiae vel doloremque dolorum repellat ullam possimus modi dicta eum debitis ratione est in sunt et corrupti adipisci quibusdam praesentium optio laborum tempora ipsam aut cum consectetur veritatis dolorem.</p>
								<div class="line"></div>
								<a href="#" class="button button-3d nomargin tab-linker" rel="6">Précédent</a>
								<a href="#" class="button button-3d nomargin fright tab-linker" rel="8">Livraisons</a>
							</div>
							<div id="ptab8">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sit, culpa, placeat, tempora quibusdam molestiae cupiditate atque tempore nemo tenetur facere voluptates autem aliquid provident distinctio beatae odio maxime pariatur eos ratione quae itaque quod. Distinctio, temporibus, cupiditate, eaque vero illo molestiae vel doloremque dolorum repellat ullam possimus modi dicta eum debitis ratione est in sunt et corrupti adipisci quibusdam praesentium optio laborum tempora ipsam aut cum consectetur veritatis dolorem.</p>
								<div class="line"></div>
								<a href="#" class="button button-3d nomargin tab-linker" rel="7">Précédent</a>
							</div>
						</div>
					</div>

					<div class="clear"></div>

					<h3 class="topmargin-lg">Vos questions</h3>

					<p>Si vous avez des questions, elle on peut être déjà une réponse ci dessous</p>

					<div class="divider"></div>

					<div class="col_half nobottommargin">

						<h4>V2M <small>(4)</small></h4>
<!-- question-sign -->
						<div class="accordion accordion-border clearfix" data-state="closed">

							<div class="acctitle"><i class="acc-closed icon-money"></i><i class="acc-open icon-money"></i>Quel est le capital social de votre entreprise?</div>
							<div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>

							<div class="acctitle"><i class="acc-closed icon-ok"></i><i class="acc-open icon-ok"></i>Depuis combien de temps exercer vous?</div>
							<div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</div>

							<div class="acctitle"><i class="acc-closed icon-bar-chart"></i><i class="acc-open icon-bar-chart"></i>Quelles est votre chiffre d'affaire de l'année passer</div>
							<div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</div>

							<div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Quelles sont les valeurs de V2M?</div>
							<div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</div>

						</div>

						<h4 class="topmargin">Le Projet <small>(3)</small></h4>

						<div class="accordion accordion-border nobottommargin clearfix" data-state="closed">

							<div class="acctitle"><i class="acc-closed icon-puzzle"></i><i class="acc-open icon-puzzle"></i>Que peut-on personalisé dans vos modèles?</div>
							<div class="acc_content clearfix">Vous pouvez personaliser tout ce qui n'est pas en 'DUR' (mur porteur, canalisation, escalier). Ce qui vous laisse de la place de choissir l'emplacement des cloisons et donc la tailles des différentes pièces.</div>

							<div class="acctitle"><i class="acc-closed icon-ok"></i><i class="acc-open icon-ok"></i>Passez vous par un architecte pour faire les plans?</div>
							<div class="acc_content clearfix">Oui, lorsque celà est nécessaire nous passons par un architect DPLG. Par exemple si vous choississez une maison de plus de 150m ou si il y à trops de personalisation</div>

							<div class="acctitle"><i class="acc-closed icon-money"></i><i class="acc-open icon-money"></i>Une maison personalisé coûte elle plus cher que le modèle de base?</div>
							<div class="acc_content clearfix">Cela dépend de la personalisation souhaiter. Si nous somme obliger de rappeler l'architecte ou non.</div>

						</div>

					</div>

					<div class="col_half nobottommargin col_last">

						<h4>Le Prix <small>(9)</small></h4>

						<div class="accordion accordion-border clearfix" data-state="closed">

							<div class="acctitle"><i class="acc-closed icon-money"></i><i class="acc-open icon-money"></i>Comment faite vous pour proposé des maisons si peu cher?</div>
							<div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>

							<div class="acctitle"><i class="acc-closed icon-diamond"></i><i class="acc-open icon-diamond"></i>Quel sont les matériaux utilisé?</div>
							<div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</div>

							<div class="acctitle"><i class="acc-closed icon-external-link"></i><i class="acc-open icon-external-link"></i>Faite vous appel à des sous traitant?</div>
							<div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</div>

						</div>

						<h4 class="topmargin">Les Garenties <small>(2)</small></h4>

						<div class="accordion accordion-border nobottommargin clearfix" data-state="closed">

							<div class="acctitle"><i class="acc-closed icon-ban"></i><i class="acc-open icon-line2-ban"></i>Comment je peut être sur que vous me livrerez ma maison?</div>
							<div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>

							<div class="acctitle"><i class="acc-closed icon-bar-chart"></i><i class="acc-open icon-bar-chart"></i>Y-a-t-il un contrat?</div>
							<div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</div>

							<div class="acctitle"><i class="acc-closed icon-speedometer"></i><i class="acc-open icon-line2-speedometer"></i>Que se passe t-il en cas de dépassement de budget?</div>
							<div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</div>
							<div class="acctitle"><i class="acc-closed icon-hourglass"></i><i class="acc-open icon-hourglass"></i>Que se passe t-il en cas de retard?</div>
							<div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</div>

						</div>

					</div>

		</section><!-- #content end -->


	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/front/jquery.js"></script>
	<script type="text/javascript" src="js/front/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/front/functions.js"></script>
	<script type="text/javascript">

		$(function() {
			$( "#processTabs" ).tabs({ show: { effect: "fade", duration: 400 } });
			$( ".tab-linker" ).click(function() {
				$( "#processTabs" ).tabs("option", "active", $(this).attr('rel') - 1);
				return false;
			});
		});
	</script>

</body>