<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="MOMCREATION" />
	<meta name="description" content="'On accélère, on ralentis. Toujours spontanéité, première intention.'' Aimé Jacquet, 1998. Un précepte que l'on tient au quotidien." />
	
	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">


	<!-- Document Title
	============================================= -->
	<title>About - mom</title>

	<style>

		.demos-filter {
			margin: 0;
			text-align: right;
		}

		.demos-filter li {
			list-style: none;
			margin: 10px 0px;
		}

		.demos-filter li a {
			display: block;
			border: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #444;
		}

		.demos-filter li a:hover,
		.demos-filter li.activeFilter a { color: #1ABC9C; }

		@media (max-width: 991px) {
			.demos-filter { text-align: center; }

			.demos-filter li {
				float: left;
				width: 33.3%;
				padding: 0 20px;
			}
		}

		@media (max-width: 767px) {
			.demos-filter li { width: 50%; }
		}

		.revo-slider-emphasis-text {
			font-size: 64px;
			font-weight: 700;
			letter-spacing: -1px;
			font-family: 'Raleway', sans-serif;
			padding: 15px 20px;
			border-top: 2px solid #FFF;
			border-bottom: 2px solid #FFF;
		}

		.revo-slider-desc-text {
			font-size: 20px;
			font-family: 'Lato', sans-serif;
			width: 650px;
			text-align: center;
			line-height: 1.5;
		}

		.revo-slider-caps-text {
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 3px;
			font-family: 'Raleway', sans-serif;
		}
		.tp-video-play-button { display: none !important; }

		.tp-caption { white-space: nowrap; }


		.carouselmom{ margin-top:50px; position: relative;}
		.tete{position:absolute;top:0px; left:0px;width : 400px;}
		.tete img{position:absolute;left:0px;top:0px;}
		.corps{position:absolute;top:171px; left:0px;width : 400px;}
		.corps img{position:absolute;left:0px;top:0px;}
		.pied{position:absolute;top:420px; left:0px;width : 400px;}
		.pied img{position:absolute;left:0px;top:0px;}

		.mom-visible{display:block;}
		.mom-hidden{display:none;}

	</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<section id="slider" class="revslider-wrap clearfix">

			<div id="rev_slider_22" class="rev_slider_wrapper "  style="background-color:transparent;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
				<div id="rev_slider_22_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.3.1">
					<ul>	<!-- SLIDE  -->

								
						<li data-index="rs-15323glgl22" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"    data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">

							<div class="tp-caption rs-parallaxlevel-4 tp-resizeme"
							 id="logo2"
							  data-x="['left','left','left','left']" data-hoffset="['-250','-30','-120','40']"
							 data-y="['top','top','top','top']" data-voffset="['70','90','100','200']"
							
							data-transform_idle="o:1;rY0"

						 	data-transform_in="z:0;rY:360;rY:0;rZ:0;sX:0.1;sY:0.1;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;"
						 	data-transform_out="opacity:0;s:100;e:Power4.easeIn;"
							data-start="600"
							
							data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%" class="momLogoFond rs-looped rs-wave" style="z-index:1">
								<img   src="include/rs-plugin/demos/assets/images/dummy.png" alt="" 
								data-ww="['600px','500px','500px','200px']" data-hh="['600px','500px','500px','200px']" 
								data-lazyload="images/biglogo808080.png">
							</div>

							<!-- LAYERS -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-149-layer-10"
								 data-x="['left','left','left','left']" data-hoffset="['-150','50','-50','40']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','20','80','100']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;y:bottom;s:500;e:Power2.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								data-start="0"
								data-responsive_offset="on"


								style="z-index: 10;">
									<img src="images/mom-photos/costard.png" alt="" width="384" height="800" data-ww="['384px','336px','336px','192px']" data-hh="['800px','700px','700px','400px']" data-no-retina>
									
							</div>
						
							<div class="tp-caption NotGeneric-SubTitle   tp-resizeme "
								 id="slide-150-layer-4"
								 data-x="['left','left','left','left']" data-hoffset="['-80','95','-15','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','15','52','51']"
											data-width="['300','300','300','300']"
											data-textalign="['center','center','center','center']"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap; color:#005050;">M. VIGERIE <br> Responsable commercial
							</div>
							
							<!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-1122"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-310','-310','-290','-250']"
								data-fontsize="['200','150','150','80']"
								data-lineheight="['200','150','150','80']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">On n'est pas 
							</div><div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-12"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-140','-170','-140','-160']"
											data-fontsize="['110','80','70','40']"
								data-lineheight="['110','90','80','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">vraiment des dandys,
							</div><!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-13"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['10','-30','0','-90']"
											data-fontsize="['180','150','110','80']"
								data-lineheight="['180','150','110','80']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="2000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">mais on sait
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-14"
								 data-x="['right','right','right','right']" data-hoffset="['-100','20','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['170','120','150','-10']"
											data-fontsize="['120','120','100','45']"
								data-lineheight="['120','120','100','1000']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="3000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050; text-align:right;">quand même
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-15"
								 data-x="['right','right','right','right']" data-hoffset="['-150','20','-110','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['320','280','320','140']"
											data-fontsize="['140','100','120','70']"
								data-lineheight="['140','100','120','70']"
								data-width="['none','500px','500px','500px']"
								data-height="none"
								data-textalign="['left','right','right','right']"
								data-whitespace="['nowrap','normal','normal','normal']"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="3200"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: normal; color:#005050; text-align:right;">porter le COSTARD.
							</div>

							

						
							

						</li>

							<li data-index="rs-15323" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"    data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
							<!-- MAIN IMAGE -->
							<!-- <img src="include/rs-plugin/demos/assets/images/notgeneric_bg5.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->
							<!-- LAYERS -->


							<div class="tp-caption rs-parallaxlevel-4 tp-resizeme"
							 id="logo2"
							  data-x="['left','left','left','left']" data-hoffset="['-250','-30','-120','40']"
							 data-y="['top','top','top','top']" data-voffset="['70','90','100','200']"
							
							data-transform_idle="o:1;rY0"

						 	data-transform_in="z:0;rY:360;rY:0;rZ:0;sX:0.1;sY:0.1;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;"
						 	data-transform_out="opacity:0;s:100;e:Power4.easeIn;"
							data-start="600"
							
							data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%" class="momLogoFond rs-looped rs-wave" style="z-index:1">
								<img   src="include/rs-plugin/demos/assets/images/dummy.png" alt="" 
								data-ww="['600px','500px','500px','200px']" data-hh="['600px','500px','500px','200px']" 
								data-lazyload="images/biglogo808080.png">
							</div>

							<!-- LAYERS -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-149-layer-10"
								 data-x="['left','left','left','left']" data-hoffset="['-150','50','-50','40']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','20','80','100']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;y:bottom;s:500;e:Power2.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								data-start="0"
								data-responsive_offset="on"


								style="z-index: 10;">
									<img src="images/mom-photos/jesus.png" alt="" width="384" height="800" data-ww="['384px','336px','336px','192px']" data-hh="['800px','700px','700px','400px']" data-no-retina>
									
							</div>
						
							<div class="tp-caption NotGeneric-SubTitle   tp-resizeme "
								 id="slide-150-layer-4"
								 data-x="['left','left','left','left']" data-hoffset="['-80','95','-15','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','15','52','51']"
											data-width="['300','300','300','300']"
											data-textalign="['center','center','center','center']"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap; color:#005050;">M. MOMCILOVIC <br> CEO de Nazareth
							</div>
							
							<!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-1122"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-310','-310','-290','-250']"
								data-fontsize="['200','150','150','80']"
								data-lineheight="['200','150','150','80']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">On n'est pas 
							</div><div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-12"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-140','-140','-140','-180']"
											data-fontsize="['110','100','75','40']"
								data-lineheight="['110','100','75','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">vraiment croyants,
							</div><!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-13"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['10','0','0','-120']"
											data-fontsize="['160','100','90','50']"
								data-lineheight="['160','100','90','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="2000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">mais le PATRON,
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-14"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['170','150','150','0']"
											data-fontsize="['120','120','100','45']"
								data-lineheight="['120','120','100','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="3000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050; text-align:right;">c'est le sosie
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-15"
								 data-x="['right','right','right','right']" data-hoffset="['100','10','-120','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['320','320','320','120']"
											data-fontsize="['180','170','150','90']"
								data-lineheight="['180','170','150','90']"
								data-width="['none','none','none','290px']"
								data-height="none"
								data-textalign="['left','left','left','right']"
								data-whitespace="['nowrap','nowrap','nowrap','normal']"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="3200"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: normal; color:#005050; text-align:right;">de Jésus.
							</div>

							

						
							

						</li>
												
						
						<li data-index="rs-1532322" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"    data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
							<!-- MAIN IMAGE -->
							<!-- <img src="include/rs-plugin/demos/assets/images/notgeneric_bg5.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->
							<!-- LAYERS -->


							<div class="tp-caption rs-parallaxlevel-4 tp-resizeme"
							 id="logo2"
							  data-x="['left','left','left','left']" data-hoffset="['-250','-30','-120','40']"
							 data-y="['top','top','top','top']" data-voffset="['70','90','100','200']"
							
							data-transform_idle="o:1;rY0"

						 	data-transform_in="z:0;rY:360;rY:0;rZ:0;sX:0.1;sY:0.1;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;"
						 	data-transform_out="opacity:0;s:100;e:Power4.easeIn;"
							data-start="600"
							
							data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%" class="momLogoFond rs-looped rs-wave" style="z-index:1">
								<img   src="include/rs-plugin/demos/assets/images/dummy.png" alt="" 
								data-ww="['600px','500px','500px','200px']" data-hh="['600px','500px','500px','200px']" 
								data-lazyload="images/biglogo808080.png">
							</div>

							<!-- LAYERS -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-149-layer-10"
								 data-x="['left','left','left','left']" data-hoffset="['-150','50','-50','40']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','20','80','100']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;y:bottom;s:500;e:Power2.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								data-start="0"
								data-responsive_offset="on"


								style="z-index: 10;">
									<img src="images/mom-photos/foot.png" alt="" width="384" height="800" data-ww="['384px','336px','336px','192px']" data-hh="['800px','700px','700px','400px']" data-no-retina>
									
							</div>
						
							<div class="tp-caption NotGeneric-SubTitle   tp-resizeme "
								 id="slide-150-layer-4"
								 data-x="['left','left','left','left']" data-hoffset="['-80','95','-15','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','15','52','51']"
											data-width="['300','300','300','300']"
											data-textalign="['center','center','center','center']"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap; color:#005050;">NICO <br> Bible du football
							</div>
							
							<!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-1122"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-310','-310','-290','-250']"
								data-fontsize="['200','150','150','80']"
								data-lineheight="['200','150','150','80']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">On n'est pas 
							</div><div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-12"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-140','-140','-140','-150']"
											data-fontsize="['110','80','70','40']"
								data-lineheight="['110','90','80','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">vraiment attachés,
							</div><!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-13"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['10','0','0','-60']"
											data-fontsize="['180','150','110','60']"
								data-lineheight="['180','150','110','60']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="2000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">mais on sait
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-14"
								 data-x="['right','right','right','right']" data-hoffset="['-100','20','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['170','150','150','40']"
											data-fontsize="['120','120','100','45']"
								data-lineheight="['120','120','100','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="3000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050; text-align:right;">quand même
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-15"
								 data-x="['right','right','right','right']" data-hoffset="['10','10','-120','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['320','320','320','140']"
											data-fontsize="['170','130','130','70']"
								data-lineheight="['170','150','130','70']"
								data-width="['none','none','none','500px']"
								data-height="none"
								data-textalign="['left','left','left','right']"
								data-whitespace="['nowrap','nowrap','nowrap','normal']"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="3200"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: normal; color:#005050; text-align:right;">être FIDÈLES.
							</div>

							

						
							

						</li>



						<li data-index="rs-153ff23" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"    data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
							<!-- MAIN IMAGE -->
							<!-- <img src="include/rs-plugin/demos/assets/images/notgeneric_bg5.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->
							<!-- LAYERS -->


							<div class="tp-caption rs-parallaxlevel-4 tp-resizeme"
							 id="logo2"
							  data-x="['left','left','left','left']" data-hoffset="['-250','-30','-120','40']"
							 data-y="['top','top','top','top']" data-voffset="['70','90','100','200']"
							
							data-transform_idle="o:1;rY0"

						 	data-transform_in="z:0;rY:360;rY:0;rZ:0;sX:0.1;sY:0.1;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;"
						 	data-transform_out="opacity:0;s:100;e:Power4.easeIn;"
							data-start="600"
							
							data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%" class="momLogoFond rs-looped rs-wave" style="z-index:1">
								<img   src="include/rs-plugin/demos/assets/images/dummy.png" alt="" 
								data-ww="['600px','500px','500px','200px']" data-hh="['600px','500px','500px','200px']" 
								data-lazyload="images/biglogo808080.png">
							</div>

							<!-- LAYERS -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-149-layer-10"
								 data-x="['left','left','left','left']" data-hoffset="['-150','50','-50','40']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','20','80','100']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;y:bottom;s:500;e:Power2.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								data-start="0"
								data-responsive_offset="on"


								style="z-index: 10;">
									<img src="images/mom-photos/combi.png" alt="" width="384" height="800" data-ww="['384px','336px','336px','192px']" data-hh="['800px','700px','700px','400px']" data-no-retina>
									
							</div>
						
							<div class="tp-caption NotGeneric-SubTitle   tp-resizeme "
								 id="slide-150-layer-4"
								 data-x="['left','left','left','left']" data-hoffset="['-80','95','-15','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','15','52','51']"
											data-width="['300','300','300','300']"
											data-textalign="['center','center','center','center']"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap; color:#005050;">GRICHON <br> Développeur web
							</div>
							
							<!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-1122"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-310','-310','-290','-250']"
								data-fontsize="['200','150','150','80']"
								data-lineheight="['200','150','150','80']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">On n'est pas 
							</div><div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-12"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-140','-140','-140','-160']"
											data-fontsize="['110','80','70','40']"
								data-lineheight="['110','90','80','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">vraiment des pêcheurs,
							</div><!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-13"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['10','0','0','-80']"
											data-fontsize="['180','150','110','60']"
								data-lineheight="['180','150','110','60']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="2000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">mais putain
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-14"
								 data-x="['right','right','right','right']" data-hoffset="['-100','20','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['170','150','150','0']"
											data-fontsize="['120','120','100','45']"
								data-lineheight="['120','120','100','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="3000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050; text-align:right;">on adore
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-15"
								 data-x="['right','right','right','right']" data-hoffset="['100','10','-120','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['320','320','320','120']"
											data-fontsize="['180','170','150','90']"
								data-lineheight="['180','170','150','90']"
								data-width="['none','none','none','290px']"
								data-height="none"
								data-textalign="['left','left','left','right']"
								data-whitespace="['nowrap','nowrap','nowrap','normal']"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="3200"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: normal; color:#005050; text-align:right;">L'EAU.
							</div>

							

						
							

						</li>



						<!-- SLIDE  -->
						<li data-index="rs-15022" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"    data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
							<!-- MAIN IMAGE -->
							<!-- <img src="include/rs-plugin/demos/assets/images/notgeneric_bg5.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->
							<div class="tp-caption rs-parallaxlevel-4 tp-resizeme"
							 id="logo1"
							 data-x="['left','left','left','left']" data-hoffset="['-250','-30','-120','40']"
							 data-y="['top','top','top','top']" data-voffset="['70','90','100','200']"
							
							data-transform_idle="o:1;rY0"
						 	data-transform_in="z:0;rY:360;rY:0;rZ:0;sX:0.1;sY:0.1;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;"
						 	data-transform_out="opacity:0;s:100;e:Power4.easeIn;"
							data-start="600"
							data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%" class="momLogoFond rs-looped rs-wave" style="z-index:1">
								
								<img   src="include/rs-plugin/demos/assets/images/dummy.png" alt="" 
								data-ww="['600px','500px','500px','200px']" data-hh="['600px','500px','500px','200px']" 
								data-lazyload="images/biglogo808080.png">
							</div>
							<!-- LAYERS -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-149-layer-10"
								 data-x="['left','left','left','left']" data-hoffset="['-150','50','-50','40']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','20','80','100']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;y:bottom;s:500;e:Power2.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								data-start="0"
								data-responsive_offset="on"


								style="z-index: 10;">
									<img src="images/mom-photos/ski.png" alt="" width="384" height="800" data-ww="['384px','336px','336px','192px']" data-hh="['800px','700px','700px','400px']" data-no-retina>
									
							</div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption NotGeneric-SubTitle   tp-resizeme "
								 id="slide-150-layer-4"
								 data-x="['left','left','left','left']" data-hoffset="['-80','95','-15','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','15','52','51']"
											data-width="['300','300','300','300']"
											data-textalign="['center','center','center','center']"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap; color:#005050;">ALEXIS <br> Photographe
							</div>
							
							<!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-1122"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-310','-310','-290','-250']"
								data-fontsize="['200','150','150','80']"
								data-lineheight="['200','150','150','80']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">On n'est pas 
							</div><div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-12"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-160','-140','-140','-160']"
											data-fontsize="['150','90','70','50']"
								data-lineheight="['160','90','80','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">vraiment en forme,
							</div><!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-13"
								 data-x="['right','right','right','right']" data-hoffset="['-100','40','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['10','0','0','-80']"
											data-fontsize="['180','150','110','60']"
								data-lineheight="['180','150','110','60']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="2000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">mais on fait
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-14"
								 data-x="['right','right','right','right']" data-hoffset="['-100','20','-100','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['170','150','150','0']"
											data-fontsize="['120','120','100','45']"
								data-lineheight="['120','120','100','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="3000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050; text-align:right;">quand même
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-15"
								 data-x="['right','right','right','right']" data-hoffset="['100','10','-120','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['320','320','320','120']"
											data-fontsize="['180','170','150','90']"
								data-lineheight="['180','170','150','90']"
								data-width="['none','none','none','290px']"
								data-height="none"
								data-textalign="['left','left','left','right']"
								data-whitespace="['nowrap','nowrap','nowrap','normal']"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="3200"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: normal; color:#005050; text-align:right;">du SPORT.
							</div>

							

							

						
							

						</li>


						

					</ul>
					<div style="z-index:30;" class="tp-static-layers">
						
						<a class="tp-caption   tp-static-layer"
								 href="/"
								 id="static-retour"
								 data-x="['left','left','left','left']" data-hoffset="['10','10','10','10']"
								 data-y="['top','top','top','top']" data-voffset="['10','10','10','10']"
											data-width="240"data-height="40"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
									data-transform_hover="o:1;sX:1;sY:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Power1.easeInOut;"
									data-style_hover="c:rgba(0, 80, 80, 0.70);bc:rgba(255, 255, 255, 0.50);"
								 data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeOut;"
								 data-transform_out="opacity:0;s:300;"
								data-start="1300"
								data-splitin="none"
								data-splitout="none"
								data-actions=''
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								data-startslide="0"
								data-endslide="100"
								data-textAlign="center"
								style="z-index: 14; min-width: 40px; max-width: 40px; max-width: 40px; max-width: 40px; white-space: nowrap; font-size: 17px; line-height: 40px; font-weight: 400; color: rgba(0, 80, 80, 1.00);text-align:center;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:0px;cursor:pointer;padding-left: 10px padding-right:10px;"> RETOUR MOMCREATION
							</a>
					</div>
				</div>
				<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
					</div>
			</div><!-- END REVOLUTION SLIDER -->

		</section>

	</div><!-- #wrapper end -->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

	<script type="text/javascript">
		var tpj=jQuery;
		var revapi46;
		tpj(document).ready(function() {
			if(tpj("#rev_slider_22_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_22_1");
			}else{
				revapi46 = tpj("#rev_slider_22_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"include/rs-plugin/js/",
					sliderLayout:"fullscreen",
					dottedOverlay:"none",
					delay:8000,
					navigation: {
						keyboardNavigation:"on",
						keyboard_direction: "vertical",
						mouseScrollNavigation:"on",
						onHoverStop:"off",
						touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 1,
							swipe_direction: "vertical",
							drag_block_vertical: false
						}
					},
					responsiveLevels:[1240,1024,778,480],
					visibilityLevels:[1240,1024,778,480],
					gridwidth:[1240,1200,778,480],
					gridheight:[900,800,960,720],
					lazyType:"smart",
					parallax: {
						type:"mouse",
						origo:"slidercenter",
						speed:2000,
						levels:[2,3,4,5,6,7,12,16,10,50],
						disable_onmobile:"on"
					},
					shadow:0,
					spinner:"off",
					stopLoop:"off",
					// stopAfterLoops:0,
					// stopAtSlide:1,
					shuffle:"off",
					autoHeight:"on",
					fullScreenAutoWidth:"on",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "0",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
			}
		});	/*ready*/
	</script>

</body>
</html>