<!DOCTYPE html>
<html dir="ltr" lang="fr-FR">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Nicolas Vigerie - Momcreation" />
	<meta name="description" content="" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/style.css" type="text/css" />
	<!-- <link rel="stylesheet" href="css/dark.css" type="text/css" /> -->
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<!-- <link rel="stylesheet" href="css/animate.css" type="text/css" /> -->
	<!-- <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" /> -->

	<!-- <link rel="stylesheet" href="css/responsive.css" type="text/css" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	

	<!-- Document Title
	============================================= -->
	<title>About - Cuisibulles</title>

	

</head>

<body class="pageabout">
	
	<% include menu.ejs %>
	<!-- Document Wrapper
	============================================= -->
		<div id="wrapper" class="clearfix">

	<!-- <div class="imagedefond"></div> -->
	<img src="images/photo3.jpg" alt="">

	<div class="block1">
		<h1>Qui <br>sommes- <br>nous?</h1>
		<div class="maisongrise"> <img src="images/maisongrise.png" alt=""></div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-4 coltext">
			<h3>L'expert de votre habitat.</h3>
			<p>Se rencontrer. Écouter. Comprendre. Discuter. Proposer. Réaliser. 6 verbes d’actions qui décrivent simplement notre engagement auprès de vous. Après bientôt trente années d’expérience, nous continuons de vous accompagner avec passion pour la réalisation de vos projets d’aménagement. Parce que nous sommes convaincus qu’un intérieur singulier est un vecteur de bien-être pour l’ensemble de la famille, nous allouons tout notre savoir-faire pour satisfaire vos envies. L’exigence dans la qualité des réalisations est une constante dans l’histoire de Cuisibulles, appuyée par de nombreux partenariats avec des fournisseurs de produits de qualité. </p>
			<p>Dès lors, pensez, imaginez, projetez et laissez vos envies se mettre en lumière. Ensemble, nous définirons les contours de notre collaboration avec transparence et simplicité. Les échanges font sens pour Cuisibulles, qui prend plaisir à faire de votre cocon un lieu de vie incomparable. Nous faire confiance, c’est l’assurance d’une qualité propulsée par notre rigueur associée à la dimension humaine de l’artisanat. Au croisement de la force de caractère et du goût des belles choses. </p>
			<a href="/contact" class="btn btn-default ">Contact</a>
		</div>
		<div class="col-md-1"></div>

		<div class="col-md-6">
			<img src="images/cris.png" alt="">
		</div>

	</div>
		

	</div>

	<% include footer.ejs %>

	<!-- Go To Top
	============================================= -->
	<!-- <div id="gotoTop" class="icon-angle-up"></div> -->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>


	<script type="text/javascript">

	$(document).ready(function(){
		
		$('.burgermenu').click(function(){
			console.log('click');
			$('#primary-menu').css('display','flex').hide().fadeIn(1000);
		});
		$('.btnclosemenu').click(function(){
			console.log('click');
			$('#primary-menu').fadeOut(500);
		});

	})

	</script>


</body>
</html>