<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,800,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">


	<!-- Document Title
	============================================= -->
	<title>Slider Photography - Revolution Slider | Canvas</title>

	<style>

		.demos-filter {
			margin: 0;
			text-align: right;
		}

		.demos-filter li {
			list-style: none;
			margin: 10px 0px;
		}

		.demos-filter li a {
			display: block;
			border: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #444;
		}

		.demos-filter li a:hover,
		.demos-filter li.activeFilter a { color: #1ABC9C; }

		@media (max-width: 991px) {
			.demos-filter { text-align: center; }

			.demos-filter li {
				float: left;
				width: 33.3%;
				padding: 0 20px;
			}
		}

		@media (max-width: 767px) {
			.demos-filter li { width: 50%; }
		}

		.revo-slider-emphasis-text {
			font-size: 64px;
			font-weight: 700;
			letter-spacing: -1px;
			font-family: 'Raleway', sans-serif;
			padding: 15px 20px;
			border-top: 2px solid #FFF;
			border-bottom: 2px solid #FFF;
		}

		.revo-slider-desc-text {
			font-size: 20px;
			font-family: 'Lato', sans-serif;
			width: 650px;
			text-align: center;
			line-height: 1.5;
		}

		.revo-slider-caps-text {
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 3px;
			font-family: 'Raleway', sans-serif;
		}
		.tp-video-play-button { display: none !important; }

		.tp-caption { white-space: nowrap; }


		.carouselmom{ margin-top:50px; position: relative;}
		.tete{position:absolute;top:0px; left:0px;width : 400px;}
		.tete img{position:absolute;left:0px;top:0px;}
		.corps{position:absolute;top:171px; left:0px;width : 400px;}
		.corps img{position:absolute;left:0px;top:0px;}
		.pied{position:absolute;top:420px; left:0px;width : 400px;}
		.pied img{position:absolute;left:0px;top:0px;}

		.mom-visible{display:block;}
		.mom-hidden{display:none;}

	</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<div class="fluid-container">
			
			
			<div class="col-md-6 col-md-offset-1">
				<div class="carouselmom">
					
					<div class="tete">
						<img class="mom-hidden" src="images/mom-photos/h-ski.png" alt="">
						<img class="mom-visible" src="images/mom-photos/h-foot.png" alt="">
						<img class="mom-hidden" src="images/mom-photos/h-combi.png" alt="">
						<img class="mom-hidden" src="images/mom-photos/h-costar.png" alt="">
						<img class="mom-hidden" src="images/mom-photos/h-jesus.png" alt="">
						<img class="mom-hidden" src="images/mom-photos/h-dance.png" alt="">
						
					</div>
					<div class="corps">
						<img class="mom-hidden" src="images/mom-photos/b-ski.png" alt="">
						<img class="mom-hidden" src="images/mom-photos/b-foot.png" alt="">
						<img class="mom-visible" src="images/mom-photos/b-combi.png" alt="">
						<img class="mom-hidden" src="images/mom-photos/b-costar.png" alt="">
						<img class="mom-hidden" src="images/mom-photos/b-jesus.png" alt="">
						<img class="mom-hidden" src="images/mom-photos/b-dance.png" alt="">
						
					</div>
					<div class="pied">
						<img class="mom-hidden" src="images/mom-photos/f-ski.png" alt="">
						<img class="mom-hidden" src="images/mom-photos/f-foot.png" alt="">
						<img class="mom-hidden" src="images/mom-photos/f-combi.png" alt="">
						<img class="mom-visible" src="images/mom-photos/f-costar.png" alt=""> 
						<img class="mom-hidden" src="images/mom-photos/f-jesus.png" alt="">
						<img class="mom-hidden" src="images/mom-photos/f-dance.png" alt="">
					</div>
				</div>



			</div>
			<div class="col-md-5">
				<h2>TOTOTOTOTOTOTOTO</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere at numquam autem dolores voluptas officia perferendis, ad error molestias nobis provident ducimus possimus harum animi fuga amet mollitia iure voluptate.</p>
			</div>
		</div>

	</div><!-- #wrapper end -->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

	<script>

		$('.tete , .corps, .pied').click(function(){

			console.log('clickTETE');
			console.log();
			var $next = $(this).find('.mom-visible').next('img');

			if ($next.length) {
				$(this).find('.mom-visible').removeClass('mom-visible').addClass('mom-hidden').next('img').removeClass('mom-hidden').addClass('mom-visible');
			}
			else {
			    $(this).find('.mom-visible').removeClass('mom-visible').addClass('mom-hidden').parent().find('.mom-hidden:first').removeClass('mom-hidden').addClass('mom-visible')
			}













			



			
		})




	</script>

</body>
</html>