
<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <%- include menu.ejs %>

       

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="col_full">

                        <div class="heading-block center nobottomborder">
                            <h2>Château-Thierry Volley-Ball</h2>
                            <span>Vous trouverez ici quelques informations sur le CTVB.</span>
                        </div>

                        <div class="fslider" data-pagi="false" data-animation="fade">
                            <div class="flexslider">
                                <div class="slider-wrap">
                                    <div class="slide"><a href="#"><img src="images/front/volley/bureau1.jpg" alt="About CTVB volley ball 01"></a></div>
                                    <div class="slide"><a href="#"><img src="images/front/volley/buro-ctvb.jpg" alt="About CTVB volley ball 02"></a></div>
                                    <!-- <div class="slide"><a href="#"><img src="images/front/volley/ctvb02.jpg" alt="About CTVB volley ball 03"></a></div> -->
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col_one_fourth center" data-animate="bounceIn" data-delay="400">
                        <i class="i-plain i-xlarge divcenter nobottommargin icon-flag"></i>
                        <div class="counter counter-large" style="color: #16a085;"><span data-from="0" data-to="49" data-refresh-interval="50" data-speed="3500"></span></div>
                        <h5>Années d'activité</h5>
                    </div>

                    <div class="col_one_fourth center" data-animate="bounceIn">
                        <i class="i-plain i-xlarge divcenter nobottommargin icon-users2"></i>
                        <div class="counter counter-large" style="color: #3498db;"><span data-from="0" data-to="77" data-refresh-interval="50" data-speed="2000"></span></div>
                        <h5>Licenciés 2017/2018</h5>
                    </div>

                    <div class="col_one_fourth center" data-animate="bounceIn" data-delay="200">
                        <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-trophy"></i>
                        <div class="counter counter-large" style="color: #e74c3c;"> + <span data-from="100" data-to="5641" data-refresh-interval="50" data-speed="2500"></span></div>
                        <h5>Rencontres gagnées</h5>
                    </div>


                    <div class="col_one_fourth center col_last" data-animate="bounceIn" data-delay="600">
                        <i class="i-plain i-xlarge divcenter nobottommargin icon-study"></i>
                        <div class="counter counter-large" style="color: #9b59b6;"> + <span data-from="100" data-to="874" data-refresh-interval="30" data-speed="2700"></span></div>
                        <h5>Jeunes Formés</h5>
                    </div>

                    <div class="clear"></div>

                    
                    

                    <div class="heading-block center  topmargin">
                        <h2>Les membres du bureau</h2>
                        <span>Ils font vivre le club administrativement. Un grand merci à eux !</span>
                    </div>

                    <div class="row clearfix  topmargin-lg">

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/front/volley/ctvb-buro-francoise.jpg" alt="John Doe">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Françoise Brochot</h4><span>Présidente</span></div>
                                    <div class="team-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta impedit, quia itaque fuga corporis laudantium, consectetur explicabo nihil hic, rerum aut sint saepe magni animi magnam dolorum facere debitis delectus!</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/front/volley/ctvb-buro-jp.jpg" alt="Josh Clark">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Jean Pierre Buzinaro</h4><span>Trésorier</span></div>
                                    <div class="team-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta impedit, quia itaque fuga corporis laudantium, consectetur explicabo nihil hic, rerum aut sint saepe magni animi magnam dolorum facere debitis delectus!</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/front/volley/ctvb-buro-raphi.jpg" alt="Mary Jane">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Raphi</h4><span>Secrétaire</span></div>
                                   <div class="team-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta impedit, quia itaque fuga corporis laudantium, consectetur explicabo nihil hic, rerum aut sint saepe magni animi magnam dolorum facere debitis delectus!</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/front/volley/ctvb-buro-keke.jpg" alt="Mary Jane">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Cédric Guyot</h4><span>Coach</span></div>
                                   <div class="team-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta impedit, quia itaque fuga corporis laudantium, consectetur explicabo nihil hic, rerum aut sint saepe magni animi magnam dolorum facere debitis delectus!</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/front/team/4.jpg" alt="Nix Maxwell">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Roseline Girad</h4><span>Comptable</span></div>
                                   <div class="team-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta impedit, quia itaque fuga corporis laudantium, consectetur explicabo nihil hic, rerum aut sint saepe magni animi magnam dolorum facere debitis delectus!</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/front/volley/ctvb-buro-alexis.jpg" alt="Mary Jane">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Alexis Momcilovic</h4><span>Coach</span></div>
                                    <div class="team-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta impedit, quia itaque fuga corporis laudantium, consectetur explicabo nihil hic, rerum aut sint saepe magni animi magnam dolorum facere debitis delectus!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/front/team/8.jpg" alt="Mary Jane">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Thierry Girad</h4><span>Coach</span></div>
                                    <div class="team-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta impedit, quia itaque fuga corporis laudantium, consectetur explicabo nihil hic, rerum aut sint saepe magni animi magnam dolorum facere debitis delectus!</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/front/volley/ctvb-buro-laurent.jpg" alt="Nix Maxwell">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Laurent Pietranu</h4><span>Gestions des sponsores</span></div>
                                    <div class="team-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta impedit, quia itaque fuga corporis laudantium, consectetur explicabo nihil hic, rerum aut sint saepe magni animi magnam dolorum facere debitis delectus!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/front/volley/ctvb-buro-laurentD.jpg" alt="Nix Maxwell">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Laurent Duez</h4><span>Divers</span></div>
                                    <div class="team-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta impedit, quia itaque fuga corporis laudantium, consectetur explicabo nihil hic, rerum aut sint saepe magni animi magnam dolorum facere debitis delectus!</p>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                        <div class="heading-block center topmargin ">
                            <h2>Historique</h2>
                            <span>Les grands tournants de l'histoire du CTVB</span>
                        </div>
                        <!-- Posts
                    ============================================= -->
                    <div id="posts" class="small-thumbs topmargin-lg">

                        <div class="entry clearfix">
                            <div class="entry-image">
                                <a href="images/front/historique/1er.jpg" data-lightbox="image"><img class="image_fade" src="images/front/historique/1er-small.jpg" alt="CTVB 1er équipe de volley"></a>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="blog-single.html">La premiere équipe</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> 1965</li>
                                </ul>
                                <div class="entry-content">
                                    <p>Le volley-ball fait son apparition à Château-Thierry en 1965. À la Maison des jeunes et de la culture, un groupe d'amis donne naissance à la première équipe, sous la houlette de Michel Mombrun, directeur de cette MJC. Cette formation composée de ce même Michel Mombrun, de Michel Plateau, Michel Guyot, Francis Cabour, Hervé et Didier Henssien, joueurs unis par une profonde amitié, évolue dans un contexte convivial, toujours bien présent au club en 2017. En compétition, elle débute en championnat UFOLEP.</p>
                                </div>
                            </div>
                        </div>

                      

                        <div class="entry clearfix">
                            <div class="entry-image">
                                <div class="entry-image">
                                    <a href="images/front/historique/photo.jpg" data-lightbox="image"><img class="image_fade" src="images/front/historique/photo-small.jpg" alt="Historique du CTVB volley"></a>
                                </div>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="blog-single-small.html">Avec le F.F.V.B.</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> 1969</li>
                                </ul>
                                <div class="entry-content">
                                    <p>En 1969, le club abandonne l'UFOLEP pour la Fédération Française de Volley-Ball (FFVB). Les équipes sont confrontées à un niveau plus élevé. Qu'à cela ne tienne, le talent est là et bien là. D'autres formations font leur apparition. Deux d'entre-elles terminent leur championnat à la 2e place, les juniors font un sacré bout de chemin en Coupe de France, ne rendant les armes qu'en 1/16e de finales. Quant à Hervé Henssien, il se voit nommé entraîneur régional des cadets. Une promotion méritée.</p>
                                </div>
                            </div>
                        </div><div class="entry clearfix">
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="blog-single.html">La phase de consolidation</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> 1972</li>
                                </ul>
                                <div class="entry-content">
                                    <p>Lors de l'assemblée générale du 19 juin 1970, le club adhère au CSCT. Alain Marchand est alors président. La première équipe féminine est créée en 1972.</p>
                                </div>
                            </div>
                        </div>

                      

                        <div class="entry clearfix">
                            <div class="entry-image">
                                <div class="entry-image">
                                    <a href="images/front/historique/big.jpg" data-lightbox="image"><img class="image_fade" src="images/front/historique/big-small.jpg" alt="Equipe historique chateau thierry volleyball krabal"></a>
                                </div>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="blog-single-small.html">La vitesse de croisière</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> 1972-1983</li>
                                </ul>
                                <div class="entry-content">
                                    <p>Au cours des années suivantes. les différentes équipes traversent des périodes fastes. De nombreux jeunes formés au club, alors présidé par Michel Guyot vivent d'intenses moments d'émotion en ajoutant toujours le plaisir au jeu. Si les résultats, toujours bons et appréciés, traduisent le travail au quotiden, tout le monde a en tête le premier soucis des dirigeants : permettre à chaque adhérent de trouver sa plénitude dans la pratique sportive. En 1983. présidé par Claude Grouiller, le club castel pointe au 3e rang départemental avec soixante dix-neuf licenciés. Le président encadre l'école de volley avec Jean-Claude Blandin. Jacques Krabal est entraîneur des minimes, Denis Buard a sous sa coupe les cadets et cadettes. Françoise Lutz (future madame Brochot) les juniors et Michel Guyot les seniors. Patrick Didier est au club depuis un an. Il entame une longue carrière d'éducateur auprès des séniors garçons, une formation qui, avec lui, accède en régional 1.</p>
                                </div>
                            </div>
                        </div>
                        <div class="entry clearfix">
                            <div class="entry-image">
                                <div class="entry-image">
                                    <a href="images/front/historique/fille.jpg" data-lightbox="image"><img class="image_fade" src="images/front/historique/fille-small.jpg" alt="CTVB - fille R1"></a>
                                </div>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="blog-single.html">Retour à l'autonomie </a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i>----->Date à retrouver<----</li>
                                </ul>
                                <div class="entry-content">
                                    <p>Sous la présidence de Jean-Pierre-Ducloux le club retrouve son indépendance après l'affaire Revelli qui a secoué le monde sportif du Château-Thierry Volley-Ball. Le CTVB obtient d'excellents résultats notamment grâce à son équipe féminine. Entrainée par Philippe Begrand, celle-ci termine 3e en Régional 1. L'encadrement est toujours assuré par Claude Grouiller, Jean-Claude Blandin (école de volley, poussins, benjamins) et Françoise Lutz (cadets, cadettes). À ce trio, il faut ajouter Jean-Paul Veillard (minimes) et Philippe Begrand, déjà cité.</p>
                                </div>
                            </div>
                        </div>
                        <div class="entry clearfix">
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2>La derniere présidence </h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i>1993</li>
                                </ul>
                                <div class="entry-content">
                                    <p>Entouré d'un encadrement dynamique, Jean-Pierre Businaro est à l'origine de
plusieurs innovations : le Beach-volley avec le concours de l'OMS, la participation des jeunes à différents stages ainsi que la venue à Château-Thierry du Bataillon de Joinville.</p>
                                </div>
                            </div>
                        </div>
                        <div class="entry clearfix">
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2>Fin de siècle </h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> 1999</li>
                                </ul>
                                <div class="entry-content">
                                    <p>En 1999, pour fêter le 30e anniversaire de la FFVB, le club a organisé un tournoi avec les équipes de Mosbach et Pôssneck, villes jumelées avec Château-Thierry. Une grande réussite dans l'univers sportif castel.</p>
                                </div>
                            </div>
                        </div>

                      

                        <div class="entry clearfix">
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="blog-single-small.html">Nouveau millénaire </a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> 24 Février 2000</li>
                                </ul>
                                <div class="entry-content">
                                    <p>Le nouveau millénaire a débuté avec plus de quatre-vingt licenciés répartis au sein de > huit équipes de catégories différentes et une pépinière de jeunes. Les seniors filles et garçons évoluent toujours au niveau régional. Au sein de l'encadrement, les fidèles Françoise Brochot et Patrick Didier sont toujours présents en compagnie d'Eric Taramini et Philippe Bouvry, celui-ci ayant remplacé récemment Farid Kikmoune.</p>
                                </div>
                            </div>
                        </div>

                       
                       

                    </div><!-- #posts end -->
                </div>

                

            </div>

        </section><!-- #content end -->

        <%- include footer.ejs %>

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="js/front/functions.js"></script>

</body>
