

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">



		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<div class="flexiheader">
					
					<div class="logo"><img src="JBM/onepage/images/logo2.png" style="width: 400px;" alt=""></div>
					<!-- <div class="boxtitle">
						<h1 class="">MES CRÉATION</h1>
						<span>Voici quelques unes des mes plus belles pièces</span>
					</div> -->
					<a href="/index" class="btn btn-primary">Retour Accueil</a>
				</div>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="row topmargin-lg bottommargin-lg divcenter container" style="max-width: 1000px;">

							<h2 class="center uppercase t300 ls3 font-body">Feutrière - Un métier de passion</h2>

							<div class="col-sm-8 infosjacqueline ">
									<p class="lead divcenter " style="max-width: 800px;">
									Métier d’Art reconnu (arrêté du 24/12/2015 publié au JO du 31/01/2016 )
									
									</p>
									<p class=" divcenter " style="max-width: 800px;">
									Qu’appelle-t-on feutre artisanal ?

									C'est une technique encore méconnue et qui mérite quelques explications.
									</p>
									<p class=" divcenter " style="max-width: 800px;">
									La recette est «simple» :
									</p>
									 <ul><li>De la laine qui provient de la tonte de toutes sortes d’animaux : moutons, alpagas, chèvres du Tibet, lapins angora etc...</li>
									 <li>De l’eau chaude savonneuse.</li>
									 
									 <li>Des petites mèches de fibres sont posées manuellement côte à côte, tout en les superposants, une deuxième couche est placée dans le sens opposé pour croiser les fibres.</li>
									<li>Une bonne dose d’huile de coude, du savoir-faire et de l’inspiration.</li>
									</ul>

									<p>Toutefois, chaque feutrière a ses méthodes pour parvenir au résultat final.
									En allant plus loin, il est possible de provoquer de belles rencontres en associant de la laine et de la soie (appelée feutre nuno), du  lin, du coton etc...
									Cette rencontre débouche sur un tissu fait main, unique et intégralement composé de matières naturelles.
									 <br>Le vêtement réalisé est sans couture et ainsi, le rêve prend forme.
									</p>

							</div>

							<div class="col-sm-4 ">

								<div class="team">
									<div class="team-image">
										<img src="JBM/onepage/images/jacqueline.jpg" alt="Jacqueline Borruel">
										
									</div>
									<div class="team-desc team-desc-bg">
										<div class="team-title"><h4>Jacqueline Borruel</h4><span>Feutrière</span></div>
									</div>
								</div>

							</div>

						</div>
		</section><!-- #content end -->

		<% include footer.ejs %>

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="JBM/js/jquery.js"></script>
	<script type="text/javascript" src="JBM/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="JBM/js/functions.js"></script>

</body>
