<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,800,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">


	<!-- Document Title
	============================================= -->
	<title>Slider Photography - Revolution Slider | Canvas</title>

	<style>

		.demos-filter {
			margin: 0;
			text-align: right;
		}

		.demos-filter li {
			list-style: none;
			margin: 10px 0px;
		}

		.demos-filter li a {
			display: block;
			border: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #444;
		}

		.demos-filter li a:hover,
		.demos-filter li.activeFilter a { color: #1ABC9C; }

		@media (max-width: 991px) {
			.demos-filter { text-align: center; }

			.demos-filter li {
				float: left;
				width: 33.3%;
				padding: 0 20px;
			}
		}

		@media (max-width: 767px) {
			.demos-filter li { width: 50%; }
		}

		.revo-slider-emphasis-text {
			font-size: 64px;
			font-weight: 700;
			letter-spacing: -1px;
			font-family: 'Raleway', sans-serif;
			padding: 15px 20px;
			border-top: 2px solid #FFF;
			border-bottom: 2px solid #FFF;
		}

		.revo-slider-desc-text {
			font-size: 20px;
			font-family: 'Lato', sans-serif;
			width: 650px;
			text-align: center;
			line-height: 1.5;
		}

		.revo-slider-caps-text {
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 3px;
			font-family: 'Raleway', sans-serif;
		}
		.tp-video-play-button { display: none !important; }

		.tp-caption { white-space: nowrap; }


		.carouselmom{ margin-top:50px; position: relative;}
		.tete{position:absolute;top:0px; left:0px;width : 400px;}
		.tete img{position:absolute;left:0px;top:0px;}
		.corps{position:absolute;top:171px; left:0px;width : 400px;}
		.corps img{position:absolute;left:0px;top:0px;}
		.pied{position:absolute;top:420px; left:0px;width : 400px;}
		.pied img{position:absolute;left:0px;top:0px;}

		.mom-visible{display:block;}
		.mom-hidden{display:none;}

	</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<section id="slider" class="revslider-wrap clearfix">

			<div id="rev_slider_22" class="rev_slider_wrapper fullscreen-container" data-alias="notgeneric1" style="background-color:transparent;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
				<div id="rev_slider_22_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
					<ul>	<!-- SLIDE  -->
						<li data-index="rs-15323" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"    data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
							<!-- MAIN IMAGE -->
							<!-- <img src="include/rs-plugin/demos/assets/images/notgeneric_bg5.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->
							<!-- LAYERS -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-149-layer-10"
								 data-x="['left','left','left','left']" data-hoffset="['-150','20','680','680']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','0','0','0']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								data-start="0"
								data-responsive_offset="on"


								style="z-index: 10;">
									<img src="images/mom-photos/combi.png" alt="" width="384" height="800" data-ww="['384px','384px','240px','240px']" data-hh="['800px','800px','240px','240px']" data-no-retina>
									
							</div>
							<!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-11"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-260','0','0','0']"
											data-fontsize="['200','70','70','45']"
								data-lineheight="['200','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">On n'est pas 
							</div><div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-12"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-90','0','0','0']"
											data-fontsize="['120','70','70','45']"
								data-lineheight="['140','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">vraiment des pêcheurs,
							</div><!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-13"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['60','0','0','0']"
											data-fontsize="['180','70','70','45']"
								data-lineheight="['180','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="2000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">mais putain
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-14"
								 data-x="['right','right','right','right']" data-hoffset="['500','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['200','0','0','0']"
											data-fontsize="['120','70','70','45']"
								data-lineheight="['120','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="3000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050; text-align:right;">on adore
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-15"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['360','0','0','0']"
											data-fontsize="['250','70','70','45']"
								data-lineheight="['300','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="3200"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050; text-align:right;">L'EAU.
							</div>

							

							<!-- LAYER NR. 2 -->
							<div class="tp-caption NotGeneric-SubTitle   tp-resizeme "
								 id="slide-150-layer-4"
								 data-x="['left','left','left','left']" data-hoffset="['-80','0','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','52','52','51']"
								data-width="['300','300','300','300']"
								data-textalign="['center','center','center','center']"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap; color:#005050; text-align:center;">GRICHON <br> Développeur web
							</div>

						
							

						</li>
						<li data-index="rs-15333" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"    data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
							<!-- MAIN IMAGE -->
							<!-- <img src="include/rs-plugin/demos/assets/images/notgeneric_bg5.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->
							<!-- LAYERS -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-149-layer-10"
								 data-x="['left','left','left','left']" data-hoffset="['-150','20','680','680']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','0','0','0']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								data-start="2000"
								data-responsive_offset="on"


								style="z-index: 10;">
									<img src="images/mom-photos/foot.png" alt="" width="384" height="800" data-ww="['384px','384px','240px','240px']" data-hh="['800px','800px','240px','240px']" data-no-retina>
									
							</div>
							<!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-11"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-260','0','0','0']"
											data-fontsize="['200','70','70','45']"
								data-lineheight="['200','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">On n'est pas 
							</div><div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-12"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-100','0','0','0']"
											data-fontsize="['120','70','70','45']"
								data-lineheight="['140','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="2000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">vraiment des hooligans,
							</div><!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-13"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['60','0','0','0']"
											data-fontsize="['180','70','70','45']"
								data-lineheight="['180','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="4000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">mais on sait
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-14"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['220','0','0','0']"
											data-fontsize="['120','70','70','45']"
								data-lineheight="['120','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="5000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050; text-align:right;">quand même
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-15"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['370','0','0','0']"
											data-fontsize="['130','70','70','45']"
								data-lineheight="['130','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="6500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050; text-align:right;">SUPPORTER.
							</div>

							

							<!-- LAYER NR. 2 -->
							<div class="tp-caption NotGeneric-SubTitle   tp-resizeme "
								 id="slide-150-layer-4"
								 data-x="['left','left','left','left']" data-hoffset="['-80','0','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','52','52','51']"
								data-width="['300','300','300','300']"
								data-textalign="['center','center','center','center']"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap; color:#005050; text-align:center;">NICO <br> Bible du football
							</div>

						
							

						</li>
						<li data-index="rs-150" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"    data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
							<!-- MAIN IMAGE -->
							<!-- <img src="include/rs-plugin/demos/assets/images/notgeneric_bg5.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->
							<!-- LAYERS -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-149-layer-10"
								 data-x="['left','left','left','left']" data-hoffset="['-150','20','680','680']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','0','0','0']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								data-start="2000"
								data-responsive_offset="on"


								style="z-index: 10;">
									<img src="images/mom-photos/costard.png" alt="" width="384" height="800" data-ww="['384px','384px','240px','240px']" data-hh="['800px','800px','240px','240px']" data-no-retina>
									
							</div>
							<!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-11"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-260','0','0','0']"
											data-fontsize="['200','70','70','45']"
								data-lineheight="['200','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">On n'est pas 
							</div><div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-12"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-100','0','0','0']"
											data-fontsize="['130','70','70','45']"
								data-lineheight="['140','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="2000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">vraiment des dandys,
							</div><!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-13"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['60','0','0','0']"
											data-fontsize="['180','70','70','45']"
								data-lineheight="['180','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="4000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">mais on sait
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-14"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['220','0','0','0']"
											data-fontsize="['120','70','70','45']"
								data-lineheight="['120','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="5000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050; text-align:right;">quand même
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-15"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['370','0','0','0']"
											data-fontsize="['130','70','70','45']"
								data-lineheight="['130','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="6500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050; text-align:right;">porter le COSTARD.
							</div>

							

							<!-- LAYER NR. 2 -->
							<div class="tp-caption NotGeneric-SubTitle   tp-resizeme "
								 id="slide-150-layer-4"
								 data-x="['left','left','left','left']" data-hoffset="['-90','0','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','52','52','51']"
								data-width="['300','300','300','300']"
								data-textalign="['center','center','center','center']"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap; color:#005050; text-align:center;">M. VIGERIE <br> Responsable commercial
							</div>

						
							

						</li>

						<!-- SLIDE  -->
						<li data-index="rs-149" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"  data-thumb="include/rs-plugin/demos/assets/images/notgeneric_bg5-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
							<!-- MAIN IMAGE -->
							<!-- <img src="include/rs-plugin/demos/assets/images/notgeneric_bg5.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->
							<!-- LAYERS -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-149-layer-10"
								 data-x="['left','left','left','left']" data-hoffset="['-150','20','680','680']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								data-start="2000"
								data-responsive_offset="on"


								style="z-index: 10;">
									<img src="images/mom-photos/jesus.png" alt="" width="384" height="800" data-ww="['384px','384px','240px','240px']" data-hh="['800px','800px','240px','240px']" data-no-retina>
									
							</div>
							<!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-11"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-260','0','0','0']"
											data-fontsize="['200','70','70','45']"
								data-lineheight="['200','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">On n'est pas 
							</div><div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-12"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-110','0','0','0']"
											data-fontsize="['150','70','70','45']"
								data-lineheight="['160','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="2000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">vraiment croyants,
							</div><!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-13"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['60','0','0','0']"
											data-fontsize="['180','70','70','45']"
								data-lineheight="['180','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="4000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">mais le PATRON,
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-14"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['220','0','0','0']"
											data-fontsize="['120','70','70','45']"
								data-lineheight="['120','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="5000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050; text-align:right;">c'est le sosie
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-15"
								 data-x="['right','right','right','right']" data-hoffset="['100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['370','0','0','0']"
											data-fontsize="['180','70','70','45']"
								data-lineheight="['180','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="6500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050; text-align:right;">de Jésus.
							</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption NotGeneric-SubTitle   tp-resizeme "
								 id="slide-149-layer-4"
								 data-x="['left','left','left','left']" data-hoffset="['-80','0','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','52','52','51']"
											data-width="['300','300','300','300']"
											data-textalign="['center','center','center','center']"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap; color:#005050;">M. MOMCILOVIC <br> CEO de Nazareth
							</div>

						
							

						</li>	
						<!-- SLIDE  -->
						<li data-index="rs-15022" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"    data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
							<!-- MAIN IMAGE -->
							<!-- <img src="include/rs-plugin/demos/assets/images/notgeneric_bg5.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->
							<!-- LAYERS -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-149-layer-10"
								 data-x="['left','left','left','left']" data-hoffset="['-150','20','680','680']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								data-start="2000"
								data-responsive_offset="on"


								style="z-index: 10;">
									<img src="images/mom-photos/ski.png" alt="" width="384" height="800" data-ww="['384px','384px','240px','240px']" data-hh="['800px','800px','240px','240px']" data-no-retina>
									
							</div>
							<!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-1122"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-260','0','0','0']"
											data-fontsize="['200','70','70','45']"
								data-lineheight="['200','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">On n'est pas 
							</div><div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-12"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-110','0','0','0']"
											data-fontsize="['150','70','70','45']"
								data-lineheight="['160','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="2000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">vraiment en forme,
							</div><!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-13"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['60','0','0','0']"
											data-fontsize="['180','70','70','45']"
								data-lineheight="['180','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="4000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050;">mais on fait
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-14"
								 data-x="['right','right','right','right']" data-hoffset="['-100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['220','0','0','0']"
											data-fontsize="['120','70','70','45']"
								data-lineheight="['120','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="5000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050; text-align:right;">quand même
							</div>
							<div class="tp-caption NotGeneric-Title   tp-resizeme "
								 id="slide-149-layer-15"
								 data-x="['right','right','right','right']" data-hoffset="['100','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['370','0','0','0']"
											data-fontsize="['180','70','70','45']"
								data-lineheight="['180','70','70','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];s:1000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="6500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"

								data-elementdelay="0.05"

								style="z-index: 5;font-family:Raleway; background:transparent; white-space: nowrap; color:#005050; text-align:right;">du SPORT.
							</div>

							

							<!-- LAYER NR. 2 -->
							<div class="tp-caption NotGeneric-SubTitle   tp-resizeme "
								 id="slide-150-layer-4"
								 data-x="['left','left','left','left']" data-hoffset="['-80','0','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','52','52','51']"
											data-width="['300','300','300','300']"
											data-textalign="['center','center','center','center']"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap; color:#005050;">ALEXIS <br> Photographe
							</div>

						
							

						</li>
					</ul>
				</div>
			</div><!-- END REVOLUTION SLIDER -->

		</section>

	</div><!-- #wrapper end -->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

	<script type="text/javascript">
		var tpj=jQuery;
		var revapi46;
		tpj(document).ready(function() {
			if(tpj("#rev_slider_22_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_22_1");
			}else{
				revapi46 = tpj("#rev_slider_22_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"include/rs-plugin/js/",
					sliderLayout:"fullscreen",
					dottedOverlay:"none",
					delay:9000,
					navigation: {
						keyboardNavigation:"on",
						keyboard_direction: "horizontal",
						mouseScrollNavigation:"on",
						onHoverStop:"off",
						touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 1,
							swipe_direction: "horizontal",
							drag_block_vertical: false
						}
					},
					responsiveLevels:[1240,1024,778,480],
					visibilityLevels:[1240,1024,778,480],
					gridwidth:[1400,1200,778,480],
					gridheight:[900,800,960,720],
					lazyType:"none",
					parallax: {
						type:"mouse",
						origo:"slidercenter",
						speed:2000,
						levels:[2,3,4,5,6,7,12,16,10,50],
						disable_onmobile:"on"
					},
					shadow:0,
					spinner:"off",
					stopLoop:"on",
					stopAfterLoops:0,
					stopAtSlide:1,
					shuffle:"off",
					autoHeight:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "60px",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
			}
		});	/*ready*/
	</script>

</body>
</html>