<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,800,900|Roboto%3A400%2C100%2C300%2C500%2C700%2C900" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">


	<!-- Document Title
	============================================= -->
	<title>Article</title>
	

	<link rel="shortcut icon" href="faviconadmin/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="faviconadmin/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="faviconadmin/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="faviconadmin/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="faviconadmin/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="faviconadmin/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="faviconadmin/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="faviconadmin/favicon-16.png">
	<link rel="apple-touch-icon" href="faviconadmin/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="faviconadmin/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="faviconadmin/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="faviconadmin/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="faviconadmin/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="faviconadmin/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="faviconadmin/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="faviconadmin/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="faviconadmin/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="faviconadmin/favicon-144.png">
	<meta name="msapplication-config" content="faviconadmin/browserconfig.xml">

	<link rel="stylesheet" type="text/css" href="css/myfonts.css">
	<link rel="stylesheet" type="text/css" href="css/styleblog.css">
	<style >

	#slider{position:fixed;}
	#content{width:800px;float:right;margin-right: 15%;margin-top: 200px;margin-bottom: 200px !important;z-index: 20;background: transparent;}
	</style>

</head>

<body class="stretched  ARTICLE">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		

		<!-- Slider
		============================================= -->
		<section id="slider" class="revslider-wrap full-screen clearfix">

			<div id="rev_slider_8_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="tech-journal" style="background-color:transparent;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.2.6 fullscreen mode -->
				<div id="rev_slider_8_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.2.6">
					<ul>	
						
						<!-- SLIDE  -->
						<li data-index="rs-23" data-transition="scaledownfrombottom" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
							<!-- MAIN IMAGE -->
							<img src="include/rs-plugin/demos/assets/images/dummy.png"  alt=""  data-lazyload="images/momcreation-87.jpg" data-bgposition="center center" data-bgfit="cover" data-bgparallax="7" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- BACKGROUND VIDEO LAYER -->
							<div class="rs-background-video-layer"
								data-forcerewind="on"
								data-volume="mute"
								data-videowidth="100%"
								data-videoheight="100%"
								data-videomp4="include/rs-plugin/demos/assets/videos/BW-Scroll.mp4"
								data-videopreload="auto"
								data-videoloop="loop"
								data-forceCover="1"
								data-aspectratio="16:9"
								data-autoplay="true"
								data-autoplayonlyfirsttime="false"
					></div>
							<!-- LAYER NR. 1 -->
							<!-- <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-1"
								 id="slide-23-layer-1"
								 data-x="['center','center','center','center']" data-hoffset="['400','146','-155','0']"
								 data-y="['top','top','top','top']" data-voffset="['135','105','570','380']"
											data-width="['800','290','290','400']"
								data-height="['2000','290','290','220']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:bottom;s:1500;e:Power4.easeOut;"
								 data-transform_out="y:-70px;opacity:0;s:1000;e:Power4.easeInOut;"
								data-start="500"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 5;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(0, 0, 0, 0);"> </div> -->

							

							
						</li>
						
					</ul>
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
<!-- ///////// STATIC LAYER  -->
					<div style="" class="tp-static-layers">

							<!-- LAYER NR. 1 -->
							<!-- <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme tp-static-layer"
								 id="slider-8-layer-2"
								 data-x="['left','left','left','left']" data-hoffset="['-300','-300','-200','-150']"
								 data-y="['top','top','top','top']" data-voffset="['-300','-300','-200','-150']"
											data-width="['600','600','400','300']"
								data-height="['600','600','400','300']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rZ:45;"

								 data-transform_in="y:top;rZ:75deg;s:2000;e:Power4.easeOut;"
								 data-transform_out="opacity:0;s:300;"
								data-start="500"
								data-basealign="slide"
								data-responsive_offset="on"

								data-startslide="0"
								data-endslide="2"

								style="z-index: 5;background-color:rgba(0, 80, 80, 1.00);border-color:rgba(0, 0, 0, 0);"> </div> -->

							<!-- LAYER NR. 2 -->
							<div class="tp-caption TechJournal-Big1  rs-parallaxlevel-4 tp-resizeme tp-static-layer"
								 id="slider-8-layer-1"
								 data-x="['left','left','center','center']" data-hoffset="['70','50','-258','-162']"
								 data-y="['top','top','top','top']" data-voffset="['120','90','30','20']"
											data-fontsize="['600','90','60','40']"
								data-lineheight="['600','90','60','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0"

							 	data-transform_in="z:0;rY:360;rY:0;rZ:0;sX:50;sY:50;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;"
							 	data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
								data-start="600"
								data-splitin="none"
								data-splitout="none"
								data-basealign="slide"
								data-responsive_offset="on"

								data-startslide="0"
								data-endslide="2"

								data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%" class="momLogoFond rs-looped rs-wave" style="">
								<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 width="500px" height="500px" viewBox="0 0 1000 1000" enable-background="new 0 0 400 400" xml:space="preserve">
								<path fill="#005050" d="M984.326,495.552C944.696,219.761,754.993-2.251,498.18,17.198C232.617,37.309-6.491,238.287,19.84,503.322
									c25.318,254.996,221.386,507.523,486.129,478.363C762.714,953.406,1022.189,759.186,984.326,495.552z"/>
								<path fill-rule="evenodd" clip-rule="evenodd" fill="#000000" d="M723.361,631.363"/>
								</svg>
							</div>
							

							<!-- LAYER NR. 3 -->
							<div class="tp-caption TechJournal-Big  rs-parallaxlevel-5 tp-resizeme tp-static-layer"
								 id="slider-8-layer-1"
								 data-x="['left','left','center','center']" data-hoffset="['100','50','-101','-60']"
								 data-y="['top','top','top','top']" data-voffset="['208','163','30','20']"
											data-fontsize="['110','90','60','40']"
								data-lineheight="['110','90','60','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="opacity:0;s:300;"
								 data-mask_in="x:[-100%];y:0px;s:inherit;e:inherit;"
								data-start="700"
								data-splitin="none"
								data-splitout="none"
								data-basealign="slide"
								data-responsive_offset="on"

								data-startslide="0"
								data-endslide="2"

								style="z-index: 7; white-space: nowrap; font-size: 110px; line-height: 110px;">MOM </div>

							<!-- LAYER NR. 4 -->
							<div class="tp-caption TechJournal-Big  rs-parallaxlevel-5 tp-resizeme tp-static-layer"
								 id="slider-8-layer-1"
								 data-x="['left','left','center','center']" data-hoffset="['100','50','155','106']"
								 data-y="['top','top','top','top']" data-voffset="['296','236','30','20']"
											data-fontsize="['110','90','60','40']"
								data-lineheight="['110','90','60','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="opacity:0;s:300;"
								 data-mask_in="x:[-100%];y:0px;s:inherit;e:inherit;"
								data-start="800"
								data-splitin="none"
								data-splitout="none"
								data-basealign="slide"
								data-responsive_offset="on"

								data-startslide="0"
								data-endslide="2"

								style="z-index: 8; white-space: nowrap; font-size: 110px; line-height: 110px; font-weight: 700;font-family:Georgia, serif;">JOURNAL </div>

							
						
					</div>
					<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
					</div><!-- END REVOLUTION SLIDER -->
		</section>
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<h1 class="articleTitle" style="z-index: 1000;white-space: normal; font-size: 30px; line-height: 30px; font-weight: 900; color: rgba(0, 0, 0, 1.00);font-family:Raleway;">TITRE D'ARTICLE SUPER COOL!</h1>

					<div class="articlePar">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis soluta iure distinctio quia autem impedit laboriosam, veritatis, perspiciatis ex, nesciunt eos odit ipsa fuga explicabo laborum deserunt reprehenderit excepturi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis soluta iure distinctio quia autem impedit laboriosam, veritatis, perspiciatis ex, nesciunt eos odit ipsa fuga explicabo laborum deserunt reprehenderit excepturi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis soluta iure distinctio quia autem impedit laboriosam, veritatis, perspiciatis ex, nesciunt eos odit ipsa fuga explicabo laborum deserunt reprehenderit excepturi!</p>
					</div>
					<div class="articleImg">
						<img src="include/rs-plugin/demos/assets/images/dummy.png" alt=""  data-lazyload="images/momcreation-87.jpg" data-no-retina>
					</div>
					<div class="articlePar">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis soluta iure distinctio quia autem impedit laboriosam, veritatis, perspiciatis ex, nesciunt eos odit ipsa fuga explicabo laborum deserunt reprehenderit excepturi!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis soluta iure distinctio quia autem impedit laboriosam, veritatis, perspiciatis ex, nesciunt eos odit ipsa fuga explicabo laborum deserunt reprehenderit excepturi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis soluta iure distinctio quia autem impedit laboriosam, veritatis, perspiciatis ex, nesciunt eos odit ipsa fuga explicabo laborum deserunt reprehenderit excepturi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis soluta iure distinctio quia autem impedit laboriosam, veritatis, perspiciatis ex, nesciunt eos odit ipsa fuga explicabo laborum deserunt reprehenderit excepturi!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis soluta iure distinctio quia autem impedit laboriosam, veritatis, perspiciatis ex, nesciunt eos odit ipsa fuga explicabo laborum deserunt reprehenderit excepturi!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis soluta iure distinctio quia autem impedit laboriosam, veritatis, perspiciatis ex, nesciunt eos odit ipsa fuga explicabo laborum deserunt reprehenderit excepturi!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis soluta iure distinctio quia autem impedit laboriosam, veritatis, perspiciatis ex, nesciunt eos odit ipsa fuga explicabo laborum deserunt reprehenderit excepturi!</p>
					</div>
					<div class="articlePar">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis soluta iure distinctio quia autem impedit laboriosam, veritatis, perspiciatis ex, nesciunt eos odit ipsa fuga explicabo laborum deserunt reprehenderit excepturi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis soluta iure distinctio quia autem impedit laboriosam, veritatis, perspiciatis ex, nesciunt eos odit ipsa fuga explicabo laborum deserunt reprehenderit excepturi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis soluta iure distinctio quia autem impedit laboriosam, veritatis, perspiciatis ex, nesciunt eos odit ipsa fuga explicabo laborum deserunt reprehenderit excepturi!</p>
					</div>
					<div class="articleSocial">
						<a class="tp-caption   tp-static-layer"href="https://www.facebook.com/semicolonweb/" target="_blank"style="z-index: 12; min-width: 40px; max-width: 40px; max-width: 40px; max-width: 40px; white-space: nowrap; font-size: 20px; line-height: 40px; font-weight: 400; color: rgba(255, 255, 255, 1.00);text-align:center;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:2px;cursor:pointer;"><i class="icon-facebook"></i> </a>
						<a class="tp-caption   tp-static-layer"href="https://www.facebook.com/semicolonweb/" target="_blank"style="z-index: 12; min-width: 40px; max-width: 40px; max-width: 40px; max-width: 40px; white-space: nowrap; font-size: 20px; line-height: 40px; font-weight: 400; color: rgba(255, 255, 255, 1.00);text-align:center;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:2px;cursor:pointer;"><i class="icon-twitter"></i> </a>
						<a class="tp-caption   tp-static-layer"href="https://www.facebook.com/semicolonweb/" target="_blank"style="z-index: 12; min-width: 40px; max-width: 40px; max-width: 40px; max-width: 40px; white-space: nowrap; font-size: 20px; line-height: 40px; font-weight: 400; color: rgba(255, 255, 255, 1.00);text-align:center;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:2px;cursor:pointer;"><i class="icon-gplus"></i> </a>
					</div>
					

				</div>

			</div>

		</section><!-- #content end -->


	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

	<script type="text/javascript">
		var tpj=jQuery;

		var revapi8;
		tpj(document).ready(function() {
			if(tpj("#rev_slider_8_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_8_1");
			}else{
				revapi8 = tpj("#rev_slider_8_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"include/rs-plugin/js/",
					sliderLayout:"fullscreen",
					dottedOverlay:"none",
					delay:9000,
					keyboardNavigation:"on", 
  					keyboard_direction:"horizontal",
					navigation: {
						keyboardNavigation:"on",
						keyboard_direction: "vertical",
						mouseScrollNavigation:"off",
						mouseScrollReverse:"default",
						onHoverStop:"off",
						touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 50,
							swipe_direction: "vertical",
							drag_block_vertical: false
						}
					},
					responsiveLevels:[1240,1024,778,480],
					visibilityLevels:[1240,1024,778,480],
					gridwidth:[1400,1200,778,480],
					gridheight:[900,800,960,720],
					lazyType:"smart",
					

					parallax: {
						type: "mouse",
						origo: "slidercenter",
						speed: 5000,
						levels: [2,4,6,8,10,12,40,45,50,55,60,65,70,75,80,85],
						ddd_shadow: "off",
						ddd_bgfreeze: "on",
						ddd_overflow: "hidden",
						ddd_layer_overflow: "visible",
						ddd_z_correction: 100,
					},
					shadow:0,
					spinner:"off",
					stopLoop:"on",
					stopAfterLoops:0,
					stopAtSlide:1,
					shuffle:"off",
					autoHeight:"on",
					fullScreenAutoWidth:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "0px",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
				var api = revapi8;

				var newCall = new Object(),
					cslide;

				newCall.callback = function() {
					var proc = api.revgetparallaxproc(),
						fade = 1+(proc*1.7);
						fade2 = 1.3+(proc*2);

					fade = fade>1 ? 1 : fade < 0 ? 0 : fade;
					fade2 = fade2>1 ? 1 : fade2 < 0.15 ? 0.15 : fade2;


					punchgs.TweenLite.set(api.find('.tp-giveeffect').parent(),{opacity:fade});
					punchgs.TweenLite.set(api.find('.effect_wrapper'),{opacity:fade2});
				}
				newCall.inmodule = "parallax";
				newCall.atposition = "start";


				api.bind("revolution.slide.onloaded",function (e) {
					api.find('.slotholder').wrap('<div class="effect_wrapper"></div>');
					api.revaddcallback(newCall);

				});
				jQuery('.lightsensor').on('mousemove',function() {
					var time = Math.round(Math.random()*20)/100,
						alpha = 0.7+(Math.random()*3)/10;
					punchgs.TweenLite.to(jQuery('.lighton'),time,{autoAlpha:alpha,ease:punchgs.Power3.easeOut});
				});
			}
		});	/*ready*/
		</script>

</body>
</html>