<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,800,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="styles/front/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/style.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/dark.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/animate.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="styles/front/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">
	<link rel="stylesheet" type="text/css" href="styles/front/mystyle.css">


	<!-- Document Title
	============================================= -->
	<title>Club PAI - mom</title>

	<style>

		.demos-filter {
			margin: 0;
			text-align: right;
		}

		.demos-filter li {
			list-style: none;
			margin: 10px 0px;
		}

		.demos-filter li a {
			display: block;
			border: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #444;
		}

		.demos-filter li a:hover,
		.demos-filter li.activeFilter a { color: #1ABC9C; }

		@media (max-width: 991px) {
			.demos-filter { text-align: center; }

			.demos-filter li {
				float: left;
				width: 33.3%;
				padding: 0 20px;
			}
		}

		@media (max-width: 767px) {
			.demos-filter li { width: 50%; }
		}

		.revo-slider-emphasis-text {
			font-size: 64px;
			font-weight: 700;
			letter-spacing: -1px;
			font-family: 'Raleway', sans-serif;
			padding: 15px 20px;
			border-top: 2px solid #FFF;
			border-bottom: 2px solid #FFF;
		}

		.revo-slider-desc-text {
			font-size: 20px;
			font-family: 'Lato', sans-serif;
			width: 650px;
			text-align: center;
			line-height: 1.5;
		}

		.revo-slider-caps-text {
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 3px;
			font-family: 'Raleway', sans-serif;
		}
		.tp-video-play-button { display: none !important; }

		.tp-caption { white-space: nowrap; }
		.MainSubtitle {
    color: white;
    font-size: 2em;
    text-align: center;
    width: 300px;

}
.MainSubtitle small {
    color: white;
    font-size: .7em;display: inline;
}
.MainSubtitle span.firstLetter {
    display: inline;
}

	</style>

</head>

<body class="stretched">
<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Slider
		============================================= -->
		<section id="slider" class="revslider-wrap clearfix">

			<div id="rev_slider_10_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="fashion1" style="background-color:transparent;padding:0px;">

				<!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
				<div id="rev_slider_10_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
					<ul>

						














						<!-- SLIDE  -->
						<li data-index="rs-34" data-transition="slidevertical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="include/rs-plugin/demos/assets/images/fashion_bg1-100x50.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
							<!-- MAIN IMAGE -->
							<img src="images/front/PAI/ClubPAI-bg1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- LAYER NR. 1 -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-34-layer-1"
								 data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-100','0','0','0']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								data-start="500"
								data-responsive_offset="on"


								style="z-index: 5;"><img src="include/rs-plugin/demos/assets/images/ellipse.png" alt="" width="350" height="350" data-ww="" data-hh="" data-no-retina>
							</div>

							<!-- LAYER NR. 3 -->
							<div class="tp-caption -   tp-resizeme"
								 id="slide-34-layer-3"
								 data-x="['left','left','center','center']" data-hoffset="['85','130','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-85','0','0','0']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY:0;"

								 data-transform_in="rY:360deg;opacity:0;s:1500;e:Power2.easeInOut;"
								 data-transform_out="auto:auto;s:1000;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 7; white-space: nowrap; font-size: 120px; line-height: 120px; font-weight: 600; color: rgba(255, 255, 255, 1.00);font-family:Raleway;">PAI
							</div>

							<!-- LAYER NR. 4 -->
							<div class="tp-caption -   tp-resizeme"
								 id="slide-34-layer-4"
								 data-x="['left','left','center','center']" data-hoffset="['150','130','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-150','68','68','68']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
								 data-transform_out="auto:auto;s:1000;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 8; white-space: nowrap; font-size: 25px; line-height: 40px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Crete Round;">Club
							</div>
							<!-- LAYER NR. 7 -->
							<div class="tp-caption"
								 id="slide-34-layer-7"
								 data-x="['left','left','center','center']" data-hoffset="['30','130','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['170','68','68','68']"
											data-width="none"
								data-height="none"
								data-whitespace="normal"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
								 data-transform_out="auto:auto;s:1000;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 9; min-width: 523px; max-width: 523px; white-space: normal;line-height: 40px;text-align: center;font-weight: 800;">
								<p class="MainSubtitle"><small>Professionnels des </small><br><span class="firstLetter">Produits</span> <span class="firstLetter">Alimentaires</span> <br><span class="firstLetter">Intermédiaires</span></p>
							</div>

							
						</li>









					</ul>

					
					<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
				</div>
			</div><!-- END REVOLUTION SLIDER -->

		</section><!-- #content end -->
		<section id="content" style="margin-bottom: 0px;">

			<div class="content-wrap">

				<!-- <div class="allbg">

							<img src="images/proj/V2M/desktopbg2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>


							<img src="images/proj/V2M/desktopbg4.jpg"  alt=""  data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
					
					


							


							


				<div class="clearfix"></div>
				</div> -->
				<div class="container projcontainer clearfix">



					<h2 data-aos="zoom-in-down">Réalisation de l'identité visuel et du logo V2M</h2>
					<h2 data-aos="zoom-in-down">Réalisation des modèles de maison.</h2>
					<h2 data-aos="zoom-in-down">Création du site internet V2M.</h2>
					<h2 data-aos="zoom-in-down">Travail rédactionel sur tout les texts du site.</h2>
							

					<!-- <img  data-aos="zoom-in-down"class="quinconce" src="images/proj/nutri/tendances.png" alt="" style="left:-400px; margin-bottom: 200px;margin-top: 200px;" width="800" data-no-retina> -->

					<div  data-aos="slide-right" data-aos-offset="400" class="quinconce" style="left:-500px;"><img src="images/proj/nutri/enc1.jpg" alt="" width="500" data-no-retina></div>

					<div  data-aos="slide-left" data-aos-offset="500" class="quinconce" style="top:-300px"><img src="images/proj/nutri/enc.jpg" alt=""   width="500" data-no-retina></div>

					<div  data-aos="slide-right" data-aos-offset="400" class="quinconce" style="left:-570px;top:-752px"><img src="images/proj/nutri/enc2.jpg" alt=""  width="600" data-no-retina></div>

					<div class="clearfix" style="margin-top: -800px;"></div>

					<div data-aos="flip-right" data-aos-offset="400" class="quinconce" style="left:-400px; margin-top: 200px;width: 800px;"><img  src="images/proj/nutri/LOGORD.png" alt=""  width="800" data-no-retina></div>

					
					<div class="imac" data-aos="flip-up" data-aos-offset="400"><img class="" src="images/proj/imac.png" alt="" data-no-retina>
						<img class="imacbg" src="images/proj/nutri/nutribgmac1.jpg" alt="" data-no-retina>
					</div>
					<div class="imac" data-aos="flip-up" data-aos-offset="400"><img class="" src="images/proj/imac.png" alt="" data-no-retina>
						<img class="imacbg" src="images/proj/nutri/nutribgmac2.jpg" alt="" data-no-retina>
					</div>

					<div data-aos="flip-up" data-aos-offset="400" class="quinconce" style="margin-bottom: 0px;margin-top: 200px;width: 100%;"><img class="fullscreen" src="images/proj/nutri/Nutri.jpg" alt="" style="margin-left:-50%;" data-no-retina></div>

				</div>

			</div>

		</section>


	</div><!-- #wrapper end -->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/front/jquery.js"></script>
	<script type="text/javascript" src="js/front/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/front/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>

					

	<script type="text/javascript">
		var tpj=jQuery;

		var revapi10;
		tpj(document).ready(function() {
			if(tpj("#rev_slider_10_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_10_1");
			}else{
				revapi10 = tpj("#rev_slider_10_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"include/rs-plugin/js/",
					sliderLayout:"fullscreen",
					dottedOverlay:"none",
					delay:9000,
					navigation: {
						keyboardNavigation:"on",
						keyboard_direction: "horizontal",
						mouseScrollNavigation:"on",
						onHoverStop:"off",
						touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 1,
							swipe_direction: "vertical",
							drag_block_vertical: false
						}
						,
						bullets: {
							enable:false,
							hide_onmobile:false,
							style:"uranus",
							hide_onleave:false,
							direction:"vertical",
							h_align:"left",
							v_align:"center",
							h_offset:30,
							v_offset:0,
							space:5,
							tmp:'<span class="tp-bullet-inner"></span>'
						}
					},
					responsiveLevels:[1240,1024,778,480],
					gridwidth:[1240,1024,778,480],
					gridheight:[868,768,960,720],
					lazyType:"none",
					shadow:0,
					spinner:"off",
					stopLoop:"on",
					stopAfterLoops:0,
					stopAtSlide:1,
					shuffle:"off",
					autoHeight:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
			}
		});	/*ready*/

	</script>

</body>
</html>

