<body class="stretched BLOG no-transition">
<div id="wrapper" class="clearfix">
<% include menu.ejs %>
<section id="page-title" class="">

         
        <div class="container clearfix">
        <h1><%- __('WEBOTHEQUE') %></h1>
        <span><%- __('services-webotheque') %></span>
        <!-- <ol class="breadcrumb"> -->
            <!-- <li><a href="#">Home</a></li> -->
            <!-- <li class="active">Blog</li> -->
        <!-- </ol> -->
        </div>

</section>

<div class="presta">
    
</div>

        

</div><!-- #wrapper end -->
    <!-- // <script type="text/javascript" src="js/myscript.js"></script> -->
</body>