<div id="bandeblanchefooter">
    
    <div class="social">
        <div class="fb"><i class="icon-facebook"></i></div>
        <div class="linkedin"><i class="icon-linkedin"></i></div>
    </div>
    <div class="coords">
        <ul>
            <li>Tout droits réservés - Cuisibulles </li>
            <li>Site web : <a href="http://momcreation.fr">Momcreation</a>  - <strong><a href="#">Mentions Légales</a></strong></li>
        </ul>
    </div>
</div>