<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Slider
		============================================= -->
		<section id="slider" class="revslider-wrap clearfix">

			<div id="rev_slider_10_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="fashion1" style="background-color:transparent;padding:0px;">

				<!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
				<div id="rev_slider_10_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
					<ul>

						














						<!-- SLIDE  -->
						<li data-index="rs-34" data-transition="slidevertical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="include/rs-plugin/demos/assets/images/fashion_bg1-100x50.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
							<!-- MAIN IMAGE -->
							<img src="images/front/PAI/ClubPAI-bg1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- LAYER NR. 1 -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-34-layer-1"
								 data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-100','0','0','0']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								data-start="500"
								data-responsive_offset="on"


								style="z-index: 5;"><img src="include/rs-plugin/demos/assets/images/ellipse.png" alt="" width="350" height="350" data-ww="" data-hh="" data-no-retina>
							</div>

							<!-- LAYER NR. 3 -->
							<div class="tp-caption -   tp-resizeme"
								 id="slide-34-layer-3"
								 data-x="['left','left','center','center']" data-hoffset="['85','130','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-85','0','0','0']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY:0;"

								 data-transform_in="rY:360deg;opacity:0;s:1500;e:Power2.easeInOut;"
								 data-transform_out="auto:auto;s:1000;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 7; white-space: nowrap; font-size: 120px; line-height: 120px; font-weight: 600; color: rgba(255, 255, 255, 1.00);font-family:Raleway;">PAI
							</div>

							<!-- LAYER NR. 4 -->
							<div class="tp-caption -   tp-resizeme"
								 id="slide-34-layer-4"
								 data-x="['left','left','center','center']" data-hoffset="['150','130','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-150','68','68','68']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
								 data-transform_out="auto:auto;s:1000;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 8; white-space: nowrap; font-size: 25px; line-height: 40px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Crete Round;">Club
							</div>
							<!-- LAYER NR. 7 -->
							<div class="tp-caption -   tp-resizeme"
								 id="slide-34-layer-7"
								 data-x="['left','left','center','center']" data-hoffset="['30','130','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['170','68','68','68']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
								 data-transform_out="auto:auto;s:1000;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 9; min-width: 523px; max-width: 523px; white-space: normal;font-weight: 800;">
								<p class="MainSubtitle"><small>Professionnels des </small><br><span class="firstLetter">Produits</span> <span class="firstLetter">Alimentaires</span> <br><span class="firstLetter">Intermédiaires</span></p>
							</div>

							<!-- LAYER NR. 5 -->
							<div class="tp-caption -  "
								 id="slide-34-layer-5"
								 data-x="['right','right','right','right']" data-hoffset="['40','40','40','40']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','40','40','40']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
									data-style_hover="cursor:pointer;"

								 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;"
								 data-mask_out="x:inherit;y:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"

								style="z-index: 9; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);padding:3px 8px 3px 8px;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:1px;border-radius:30px 30px 30px 30px;"><i class="icon-angle-down"></i>
							</div>

							<!-- LAYER NR. 6 -->
							<div class="tp-caption Fashion-SmallText  "
								 id="slide-34-layer-6"
								 data-x="['right','right','right','right']" data-hoffset="['81','81','81','81']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['45','45','45','45']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
									data-style_hover="cursor:pointer;"

								 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;"
								 data-mask_out="x:inherit;y:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"

								style="z-index: 10; white-space: nowrap; color: rgba(255, 255, 255, 0.50);">DYNAMIQUE D'INNOVATION
							</div>
						</li>






						<!-- SLIDE  -->
						<li data-index="rs-35" data-transition="slidevertical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="http://server.local/revslider/wp-content/uploads/"  data-rotate="0"  data-saveperformance="off"  data-title="Philosophy" data-description="">
							<!-- MAIN IMAGE -->
							<img src="include/rs-plugin/demos/assets/images/transparent.png" style='background-color:#ffffff' alt=""  data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- LAYER NR. 1 -->
							<div class="tp-caption -  "
								 id="slide-35-layer-1"
								 data-x="['right','right','right','right']" data-hoffset="['40','40','40','40']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','40','40','40']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
									data-style_hover="cursor:pointer;"

								 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;"
								 data-mask_out="x:inherit;y:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"

								style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(0, 0, 0, 1.00);padding:3px 8px 3px 8px;border-color:rgba(0, 0, 0, 1.00);border-style:solid;border-width:1px;border-radius:30px 30px 30px 30px;"><i class="icon-angle-down"></i>
							</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption Fashion-SmallText  "
								 id="slide-35-layer-2"
								 data-x="['right','right','right','right']" data-hoffset="['83','83','83','83']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['45','45','45','45']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
									data-style_hover="cursor:pointer;"

								 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;"
								 data-mask_out="x:inherit;y:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"

								style="z-index: 6; white-space: nowrap; color: rgba(0, 0, 0, 0.50);">LES NOUVEAUTÉES
							</div>

							<!-- LAYER NR. 3 -->
							<div class="tp-caption Fashion-BigDisplay   tp-resizeme"
								 id="slide-35-layer-3"
								 data-x="['center','center','center','center']" data-hoffset="['-320','-277','0','0']"
								 data-y="['top','top','top','top']" data-voffset="['451','432','452','422']"
											data-fontsize="['60','50','50','50']"
								data-lineheight="['60','70','70','70']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="x:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 7; white-space: nowrap;">DYNAMIQUE <br>D'INNOVATION
							</div>

							<!-- LAYER NR. 4 -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-35-layer-4"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
											data-width="100%"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:top;s:1500;e:Power2.easeInOut;"
								 data-transform_out="y:top;s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								data-start="500"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 8;"><img src="images/front/PAI/ClubPAI-bg2.jpg" alt=""  data-ww="" data-hh="" data-no-retina>
							</div>

							<!-- LAYER NR. 5 -->
							<div class="tp-caption Fashion-TextBlock   tp-resizeme"
								 id="slide-35-layer-5"
								 data-x="['center','center','center','center']" data-hoffset="['289','237','0','0']"
								 data-y="['top','top','top','top']" data-voffset="['448','439','537','509']"
											data-fontsize="['20','17','17','15']"
								data-lineheight="['40','30','30','25']"
								data-width="['523','380','468','380']"
								data-height="['none','189','141','none']"
								data-whitespace="normal"
								data-transform_idle="o:1;"

								 data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 9; min-width: 523px; max-width: 523px; white-space: normal;">Créé en 1993, le Club PAI est une <strong class="strong">association</strong> qui regroupe des professionnels des <strong class="strong">Produits Alimentaires Intermédiaires</strong>. Il a pour but de créer une dynamique afin de mieux définir et de <strong class="strong">faire connaître</strong> les filières PAI, <strong class="strong">d’échanger les expériences</strong> et de <strong class="strong">mieux communiquer</strong> vers les utilisateurs et la presse spécialisée.
							</div>
						</li>












							<!-- SLIDE  -->
						<li data-index="rs-36" data-transition="slideoverhorizontal" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="http://server.local/revslider/wp-content/uploads/"  data-rotate="0"  data-saveperformance="off"  data-title="Summer Look" data-description="">
							<!-- MAIN IMAGE -->
							<img src="include/rs-plugin/demos/assets/images/transparent.png" style='background-color:#ffffff' alt=""  data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- LAYER NR. 1 -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-36-layer-1"
								 data-x="['left','left','left','left']" data-hoffset="['0','-60','-10','-70']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','1','1']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:left;s:1500;e:Power2.easeInOut;"
								 data-transform_out="x:left;s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								data-start="500"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 5;"><img src="images/front/PAI/ClubPAI-bg3.jpg" alt="" width="640" height="1080" data-ww="" data-hh="" data-no-retina>
							</div>

							
							<!-- LAYER NR. 3 -->
							<div class="tp-caption -  "
								 id="slide-36-layer-3"
								 data-x="['right','right','right','right']" data-hoffset="['40','40','40','40']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','40','40','40']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
									data-style_hover="cursor:pointer;"

								 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;"
								 data-mask_out="x:inherit;y:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"

								style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(0, 0, 0, 1.00);padding:3px 8px 3px 8px;border-color:rgba(0, 0, 0, 1.00);border-style:solid;border-width:1px;border-radius:30px 30px 30px 30px;"><i class="icon-angle-down"></i>
							</div>

							<!-- LAYER NR. 4 -->
							<div class="tp-caption Fashion-SmallText  "
								 id="slide-36-layer-4"
								 data-x="['right','right','right','right']" data-hoffset="['83','83','83','83']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['44','44','44','44']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
									data-style_hover="cursor:pointer;"

								 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;"
								 data-mask_out="x:inherit;y:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"

								style="z-index: 8; white-space: nowrap; color: rgba(0, 0, 0, 0.50);">LES RECETTES QUI MARCHENTS
							</div>

							<!-- LAYER NR. 5 -->
							<div class="tp-caption Fashion-BigDisplay   tp-resizeme"
								 id="slide-36-layer-5"
								 data-x="['center','center','center','center']" data-hoffset="['320','251','211','112']"
								 data-y="['top','top','top'top,'top']" data-voffset="['100','100','100','100']"
											data-fontsize="['60','50','50','50']"
								data-lineheight="['60','50','50','50']"
								data-width="['none','265','265','265']"
								data-height="['none','100','100','100']"
								data-whitespace="['nowrap','normal','normal','normal']"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="x:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 9; white-space: nowrap;">LES NOUVEAUTÉES
							</div>


							<!-- LAYER NR. 7 -->
							<div class="tp-caption Fashion-SmallText   tp-resizeme"
								 id="slide-36-layer-7"
								 data-x="['center','center','center','center']" data-hoffset="['320','251','211','112']"
								 data-y="['top','top','top','top']" data-voffset="['180','180','180','180']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 11; white-space: nowrap; color: rgba(0, 0, 0, 1.00);">Le Nouveau site amène avec lui un surplus d'innovations autour  <br>du partage d'informations et de la collaboration.
							</div>

							<div class="tp-caption tp-resizeme furtherclasses"
									id="layer-id7"
									data-x="center" data-hoffset="50"
									data-y="center" data-voffset="-150"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:1000;opacity:0;s:1000;e:Power2.easeInOut;"
									data-transform_out="x:0;opacity:0;s:1000;"
									data-start="2500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5;">

									<h2 class="h2">Le Blog est désormais <strong>Collaboratif</strong></h2>
							</div>
							<div class="tp-caption tp-resizeme furtherclasses"
									id="layer-id6"
									data-x="center" data-hoffset="50"
									data-y="center" data-voffset="-50"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;"
									data-transform_out="opacity:0;s:2000;"
									data-start="5000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5;">

									<p class="nouveautee">Le nouveau blog va désormais accueillir vos articles. Un excellent moyen de vous faire connaitre, et de découvrir de nouvelles idées.</p>
									<a href="/blog" class="btn btn-primary btn-small">Consulter le blog</a>
							</div>


							<div class="tp-caption tp-resizeme furtherclasses"
									id="layer-id5"
									data-x="right" data-hoffset="-20"
									data-y="center" data-voffset="40"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:1000;opacity:0;s:1000;e:Power2.easeInOut;"
									data-transform_out="x:0;opacity:0;s:1000;"
									data-start="3500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5;">

									<h2 class="h2" style="text-align:right">Une <strong>Place de Marché</strong> fait son apparition</h2>
							</div>
							<div class="tp-caption tp-resizeme furtherclasses"
									id="layer-id4"
									data-x="right" data-hoffset="-30"
									data-y="center" data-voffset="140"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;"
									data-transform_out="opacity:0;s:2000;"
									data-start="5000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5; text-align:right">

									<p class="nouveautee">Un endroit ou vous pouvez vendre vos études de marchés, rapport d'étonnement et autres documents numériques en rapport avec l'innovation alimentaire</p>
									<a href="" class="btn btn-primary btn-small">Se rendre sur la InnoMarket</a>
							</div>

							<div class="tp-caption tp-resizeme furtherclasses"
									id="layer-id9"
									data-x="center" data-hoffset="50"
									data-y="center" data-voffset="250"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:1000;opacity:0;s:1000;e:Power2.easeInOut;"
									data-transform_out="x:0;opacity:0;s:1000;s"
									data-start="4500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5;">

									<h2 class="h2">Un <strong>moteur de recherche d'ingrédiants</strong> <strong>Participatif</strong></h2>
							</div>
							<div class="tp-caption tp-resizeme furtherclasses"
									id="layer-id8"
									data-x="center" data-hoffset="50"
									data-y="center" data-voffset="350"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;"
									data-transform_out="opacity:0;s:2000;"
									data-start="5000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5;">

									<p class="nouveautee">En effet, un nouvel outil est sera bientôt accèssible aux membres du club. Il s'agit d'un moteur de recherche d'ingrédient. </p>
									<a href="" class="btn btn-primary btn-small">Ajouter vos ingredients au moteur de recherche</a>
							</div>

						</li>
						























						<!-- SLIDE  -->
						<li data-index="rs-366" data-transition="slideoverhorizontal" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="http://server.local/revslider/wp-content/uploads/"  data-rotate="0"  data-saveperformance="off"  data-title="Summer Look" data-description="">
							<!-- MAIN IMAGE -->
							<img src="include/rs-plugin/demos/assets/images/transparent.png" style='background-color:#ffffff' alt=""  data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- LAYER NR. 1 -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-36-layer-1"
								 data-x="['left','left','left','left']" data-hoffset="['0','-60','-10','-70']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','1','1']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:left;s:1500;e:Power2.easeInOut;"
								 data-transform_out="x:left;s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								data-start="500"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 5;"><img src="images/front/PAI/ClubPAI-bg33.jpg" alt="" width="640" height="1080" data-ww="" data-hh="" data-no-retina>
							</div>

							
							<!-- LAYER NR. 3 -->
							<div class="tp-caption -  "
								 id="slide-36-layer-3"
								 data-x="['right','right','right','right']" data-hoffset="['40','40','40','40']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','40','40','40']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
									data-style_hover="cursor:pointer;"

								 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;"
								 data-mask_out="x:inherit;y:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"

								style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(0, 0, 0, 1.00);padding:3px 8px 3px 8px;border-color:rgba(0, 0, 0, 1.00);border-style:solid;border-width:1px;border-radius:30px 30px 30px 30px;"><i class="icon-angle-down"></i>
							</div>

							<!-- LAYER NR. 4 -->
							<div class="tp-caption Fashion-SmallText  "
								 id="slide-36-layer-4"
								 data-x="['right','right','right','right']" data-hoffset="['83','83','83','83']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['44','44','44','44']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
									data-style_hover="cursor:pointer;"

								 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;"
								 data-mask_out="x:inherit;y:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"

								style="z-index: 8; white-space: nowrap; color: rgba(0, 0, 0, 0.50);">LA SUITE
							</div>

							<!-- LAYER NR. 5 -->
							<div class="tp-caption Fashion-BigDisplay   tp-resizeme"
								 id="slide-36-layer-5"
								 data-x="['center','center','center','center']" data-hoffset="['320','251','211','112']"
								 data-y="['top','top','top'top,'top']" data-voffset="['80','100','100','100']"
											data-fontsize="['60','50','50','50']"
								data-lineheight="['60','50','50','50']"
								data-width="['none','265','265','265']"
								data-height="['none','100','100','100']"
								data-whitespace="['nowrap','normal','normal','normal']"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="x:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 9; white-space: nowrap;">LES RECETTES QUI MARCHENTS
							</div>


							<!-- LAYER NR. 7 -->
							<div class="tp-caption Fashion-SmallText   tp-resizeme"
								 id="slide-36-layer-7"
								 data-x="['center','center','center','center']" data-hoffset="['320','251','211','112']"
								 data-y="['top','top','top','top']" data-voffset="['180','180','180','180']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 11; white-space: nowrap; color: rgba(0, 0, 0, 1.00);">
							</div>

							<div class="tp-caption tp-resizeme furtherclasses"
									id="layer-id"
									data-x="center" data-hoffset="50"
									data-y="center" data-voffset="-230"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:1000;opacity:0;s:1000;e:Power2.easeInOut;"
									data-transform_out="x:0;opacity:0;s:1000;"
									data-start="2500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5;">

									<h2 class="h2">Les <strong>Rapport d'etonnement</strong></h2>
							</div>
							<!-- <div class="tp-caption tp-resizeme furtherclasses"
									id="layer-id"
									data-x="center" data-hoffset="50"
									data-y="center" data-voffset="-50"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;"
									data-transform_out="opacity:0;s:2000;"
									data-start="6000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5;">

									<p class="nouveautee">Le nouveau blog va désormais accueillir vos articles. Un excellent moyen de vous faire connaitre, et de découvrir de nouvelles idées.</p>
									<a href="" class="btn btn-primary btn-small">Consulter le blog</a>
							</div> -->


							<div class="tp-caption tp-resizeme furtherclasses"
									id="layer-id"
									data-x="right" data-hoffset="0"
									data-y="center" data-voffset="-300"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:1000;opacity:0;s:1000;e:Power2.easeInOut;"
									data-transform_out="x:0;opacity:0;s:1000;"
									data-start="3500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5;">

									<h2 class="h2">Les <strong>Conférences</strong></h2>
							</div>

							<div class="tp-caption tp-resizeme furtherclasses"
									id="layer-id"
									data-x="right" data-hoffset="-100"
									data-y="center" data-voffset="-250"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:1000;opacity:0;s:1000;e:Power2.easeInOut;"
									data-transform_out="x:0;opacity:0;s:1000;"
									data-start="5500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5;">

									<h2 class="h2" style="text-align:right;">Les <strong>Colloques</strong></h2>
							</div>

							<div class="tp-caption tp-resizeme furtherclasses"
									id="layer-id"
									data-x="right" data-hoffset="0"
									data-y="center" data-voffset="-190"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:500;opacity:0;s:1000;e:Power2.easeInOut;"
									data-transform_out="x:0;opacity:0;s:1000;"
									data-start="6500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5;">

									<h2 class="h2" style="text-align:right;">Les <strong>Études de marchés</strong></h2>
							</div>
							<!-- <div class="tp-caption tp-resizeme furtherclasses"
									id="layer-id"
									data-x="right" data-hoffset="-30"
									data-y="center" data-voffset="150"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;"
									data-transform_out="opacity:0;s:2000;"
									data-start="6000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5; text-align:right">

									<p class="nouveautee">Rapport d'étonnement, Études de marchée , conférences, colloques. <br> Le tout prend un petit lifting.</p>
									<a href="" class="btn btn-primary btn-small">Inscrivez-vous dès maintenant</a>
							</div>
 -->
							<div class="tp-caption tp-resizeme furtherclasses"
									id="layer-id"
									data-x="center" data-hoffset="250"
									data-y="center" data-voffset="-170"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:1000;opacity:0;s:1000;e:Power2.easeInOut;"
									data-transform_out="x:0;opacity:0;s:1000;s"
									data-start="4500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5;">

									<h2 class="h2">Le <strong>PAI Contact</strong></h2>
							</div>
							<div class="tp-caption tp-resizeme furtherclasses"
									id="layer-id"
									data-x="center" data-hoffset="50"
									data-y="middle" data-voffset="180"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;"
									data-transform_out="opacity:0;s:2000;"
									data-start="6500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									style="z-index: 5;">

									<p class="nouveautee">En effet, un nouvel outil est sera bientôt accèssible aux membres du club. Il s'agit d'un moteur de recherche d'ingrédient. </p>
									<p class="nouveautee">En effet, un nouvel outil est sera bientôt accèssible aux membres du club. Il s'agit d'un moteur de recherche d'ingrédient. </p>
									<p class="nouveautee">En effet, un nouvel outil est sera bientôt accèssible aux membres du club. Il s'agit d'un moteur de recherche d'ingrédient. </p>
									<p class="nouveautee">En effet, un nouvel outil est sera bientôt accèssible aux membres du club. Il s'agit d'un moteur de recherche d'ingrédient. </p>
									<p class="nouveautee">En effet, un nouvel outil est sera bientôt accèssible aux membres du club. Il s'agit d'un moteur de recherche d'ingrédient. </p>
									<a href="" class="btn btn-primary btn-small">Devenir membre du club</a>
							</div>

						</li>




						<!-- SLIDE  -->
						<li data-index="rs-38" data-transition="slideoververtical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="include/rs-plugin/demos/assets/images/girls-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-description="">
							<!-- MAIN IMAGE -->
							<!-- <img src="include/rs-plugin/demos/assets/images/girls.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina> -->
							<img src="images/front/PAI/ClubPAI-bg11.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							

							<div class="tp-caption slideFormInscription   tp-resizeme"
								 id="slide-38-layer-222"
								 data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['top','middle','middle','middle']" data-voffset="['265','49','146','21']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
								style="z-index: 9;
								 background-color:rgba(0, 0, 0, 0.50);
								 border-color:rgba(255, 255, 255, 0.20);
								 border-style:solid;padding:20px;
								 border-width:1px;
								 border-radius:0px 0px 0px 0px;width:auto;z-index: 6; white-space: nowrap; color: rgba(255, 255, 255, 1.00);">
								 <a href="#" class="btn btn-lg btn-primary disabled"><i class="icon-lock"></i> MARKETPLACE</a>
								 <div class="clearfix"></div>
							</div>	
							 

							<div class="tp-caption slideFormInscription   tp-resizeme"
								 id="slide-38-layer-223"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['top','middle','middle','middle']" data-voffset="['120','49','146','21']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
								style="z-index: 9;
								 background-color:rgba(0, 0, 0, 0.50);
								 border-color:rgba(255, 255, 255, 0.20);
								 border-style:solid;padding:20px;
								 border-width:1px;
								 border-radius:0px 0px 0px 0px;width:auto;z-index: 6; white-space: nowrap; color: rgba(255, 255, 255, 1.00);">
								 <a href="/blog" class="btn btn-lg btn-primary">ACTUALITÉS INNOVATIONS</a>
								 <div class="clearfix"></div>
							</div>
							<div class="tp-caption slideFormInscription   tp-resizeme"
								 id="slide-38-layer-224"
								 data-x="['left','center','center','center']" data-hoffset="['15','0','0','0']"
								 data-y="['top','middle','middle','middle']" data-voffset="['50','49','146','21']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
								style="z-index: 9;
								 background-color:rgba(0, 0, 0, 0.50);
								 border-color:rgba(255, 255, 255, 0.20);
								 border-style:solid;padding:20px;
								 border-width:1px;
								 border-radius:0px 0px 0px 0px;width:auto;z-index: 6; white-space: nowrap; color: rgba(255, 255, 255, 1.00);">
								 <a href="#" class="btn btn-lg btn-primary disabled"><i class="icon-lock"></i> CONFÉRENCES & COLLOQUES</a>
								 <div class="clearfix"></div>
							</div>	



							<!-- LAYER NR. 1 -->
							<div class="tp-caption Fashion-BigDisplay   tp-resizeme"
								 id="slide-38-layer-29"
								 data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['top','middle','middle','middle']" data-voffset="['0','49','146','21']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="200"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
								style="z-index: 9;
								 background-color:rgba(0, 0, 0, 0.50);
								 border-color:rgba(255, 255, 255, 0.20);
								 border-style:solid;padding:20px;
								 border-width:1px;
								 border-radius:0px 0px 0px 0px;z-index: 6;width:300px;font-size:2em; white-space: nowrap; color: rgba(255, 255, 255, 1.00); text-align:center">CONNEXION 
							</div>


							<div class="tp-caption slideFormConnexion   tp-resizeme"
								 id="slide-38-layer-239"
								 data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['top','middle','middle','middle']" data-voffset="['110','49','146','21']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
								style="z-index: 9;
								 background-color:rgba(0, 0, 0, 0.50);
								 border-color:rgba(255, 255, 255, 0.20);
								 border-style:solid;padding:20px;
								 border-width:1px;
								 border-radius:0px 0px 0px 0px;z-index: 6;width:300px;padding:20px; white-space: nowrap; color: rgba(255, 255, 255, 1.00);">
								 <input type="text" placeholder="Entrez votre adresse email">
							</div>
							<div class="tp-caption slideFormConnexion   tp-resizeme"
								 id="slide-38-layer-2"
								 data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['top','middle','middle','middle']" data-voffset="['188','49','146','21']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
								style="z-index: 9;
								 background-color:rgba(0, 0, 0, 0.50);
								 border-color:rgba(255, 255, 255, 0.20);
								 border-style:solid;padding:20px;padding-bottom : 50px;padding-right : 150px;
								 border-width:1px;
								 border-radius:0px 0px 0px 0px;z-index: 6;width:300px;padding:20px; white-space: nowrap; color: rgba(255, 255, 255, 1.00);">
								 <input type="text" placeholder="Choisissez un mot de passe">
							</div>
							<div class="tp-caption slideFormInscription   tp-resizeme"
								 id="slide-38-layer-2"
								 data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['top','middle','middle','middle']" data-voffset="['265','49','146','21']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
								style="z-index: 9;
								 background-color:rgba(0, 0, 0, 0.50);
								 border-color:rgba(255, 255, 255, 0.20);
								 border-style:solid;padding:20px;
								 border-width:1px;
								 border-radius:0px 0px 0px 0px;width:auto;z-index: 6; white-space: nowrap; color: rgba(255, 255, 255, 1.00);">
								 <input type="submit" class="btn btn-lg  btn-primary pull-right" value="SE CONNECTER">
								 <div class="clearfix"></div>
							</div>	 
							

							<!-- LAYER NR. 2 -->
							<div class="tp-caption Fashion-BigDisplay   tp-resizeme"
								 id="slide-38-layer-2"
								 data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','middle','middle','middle']" data-voffset="['261','49','146','21']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
								style="z-index: 9;
								 background-color:rgba(0, 0, 0, 0.50);
								 border-color:rgba(255, 255, 255, 0.20);
								 border-style:solid;padding:20px;padding-bottom : 50px;padding-right : 150px;
								 border-width:1px;
								 border-radius:0px 0px 0px 0px;z-index: 6;width:580px; white-space: nowrap; color: rgba(255, 255, 255, 1.00);">INSCRIPTION 
							</div>

							<!-- LAYER NR. 3 -->
							<div class="tp-caption Fashion-BigDisplay   tp-resizeme"
								 id="slide-38-layer-3"
								 data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','middle','middle','middle']" data-voffset="['271','101','198','74']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: rgba(255, 255, 255, 1.00);margin-left:20px;">DEVENIR MEMBRE DU CLUB PAI
							</div>


							<div class="tp-caption slideFormInscription   tp-resizeme"
								 id="slide-38-layer-2"
								 data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','middle','middle','middle']" data-voffset="['179','49','146','21']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
								style="z-index: 9;
								 background-color:rgba(0, 0, 0, 0.50);
								 border-color:rgba(255, 255, 255, 0.20);
								 border-style:solid;padding:20px;
								 border-width:1px;
								 border-radius:0px 0px 0px 0px;z-index: 6;width:580px;padding:20px; white-space: nowrap; color: rgba(255, 255, 255, 1.00);">
								 <input type="text" placeholder="Entrez votre adresse email">
							</div>
							<div class="tp-caption slideFormInscription   tp-resizeme"
								 id="slide-38-layer-2"
								 data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','middle','middle','middle']" data-voffset="['98','49','146','21']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
								style="z-index: 9;
								 background-color:rgba(0, 0, 0, 0.50);
								 border-color:rgba(255, 255, 255, 0.20);
								 border-style:solid;padding:20px;padding-bottom : 50px;padding-right : 150px;
								 border-width:1px;
								 border-radius:0px 0px 0px 0px;z-index: 6;width:580px;padding:20px; white-space: nowrap; color: rgba(255, 255, 255, 1.00);">
								 <input type="text" placeholder="Choisissez un mot de passe">
							</div>
							<div class="tp-caption slideFormInscription   tp-resizeme"
								 id="slide-38-layer-2"
								 data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','middle','middle','middle']" data-voffset="['0','49','146','21']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1800"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
								style="z-index: 9;
								 background-color:rgba(0, 0, 0, 0.50);
								 border-color:rgba(255, 255, 255, 0.20);
								 border-style:solid;padding:20px;
								 border-width:1px;
								 border-radius:0px 0px 0px 0px;width:580px;z-index: 6; white-space: nowrap; color: rgba(255, 255, 255, 1.00);">
								 <div class="bootstrap-switch-container pull-left" style="margin-top:15px;">
								 	<input class="bt-switch" type="checkbox"  data-on-color="success"> Accepter les conditions d'utilisations
								 </div>
								 <input type="submit" class="btn btn-lg  btn-primary pull-right" value="S'INSCRIRE">
								 <div class="clearfix"></div>
							</div>
		

							<!-- LAYER NR. 5 -->
							<div class="tp-caption -  "
								 id="slide-34-layer-56"
								 data-x="['right','right','right','right']" data-hoffset="['40','40','40','40']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['40','40','40','40']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
									data-style_hover="cursor:pointer;"

								 data-transform_in="y:0;x:1000;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="y:0;x:500;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;"
								 data-mask_out="x:inherit;y:inherit;"
								data-start="5000"
								data-splitin="none"
								data-splitout="none"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"

								style="z-index: 9; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);padding:3px 8px 3px 8px;border-color:rgba(255, 255, 255, 0.8);border-style:solid;border-width:1px;border-radius:30px 30px 30px 30px;"><i class="icon-angle-down"></i>
							</div>

							<!-- LAYER NR. 6 -->
							<div class="tp-caption Fashion-SmallText tp-resizeme"
								 id="slide-34-layer-66"
								 data-x="['right','right','right','right']" data-hoffset="['80','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['43','45','45','45']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
									data-style_hover="cursor:pointer;"

								 data-transform_in="y:0;x:1000;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="y:0;x:500;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;"
								 data-mask_out="x:inherit;y:inherit;"
								data-start="5000"
								data-splitin="none"
								data-splitout="none"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"

								style="z-index: 10; white-space: nowrap; color: rgba(255, 255, 255, 0.80);">VOS QUESTIONS ?
							</div>


							<!-- LAYER NR. 4 -->
							<div class="tp-caption Fashion-TextBlock   tp-resizeme"
								 id="slide-38-layer-4"
								 data-x="['right','right','right','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','bottom','bottom','middle']" data-voffset="['0','80','80','201']"
											data-fontsize="['20','20','20','15']"
								data-lineheight="['40','30','30','20']"
								data-fontweight="['400','300','300','400']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 8; white-space: nowrap; color: rgba(255, 255, 255, 1.00);background-color:rgba(0, 0, 0, 0.50);
								 border-color:rgba(255, 255, 255, 0.20);
								 border-style:solid;padding:20px;">
								 <h4 style="color:rgba(255,255,255,0.35);">NOUS CONTACTEZ</h4>
									<i class="icon-map-marker" style="color:rgba(255,255,255,0.35);"></i> 14 Avenue de Villiers - Paris<br/>
									<i class="icon-phone" style="color:rgba(255,255,255,0.35);"></i> 06 37 08 98 71<br/>
									<i class="icon-envelope" style="color:rgba(255,255,255,0.35);"></i> contact@clubpai.com<br/>
									<i class="icon-clock"  style="color:rgba(255,255,255,0.35);"></i> Lundi - Vendredi 08:30 - 18:30
							</div>
						</li>


						
						<li data-index="rs-355" data-transition="slideoververtical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="include/rs-plugin/demos/assets/images/fashion_bg1-100x50.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
							<!-- MAIN IMAGE -->
							<!-- <img src="images/front/PAI/ClubPAI-bg1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina> -->

							<div class="tp-caption Fashion-BigDisplay   tp-resizeme"
								 id="slide-36-layer-5"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['top','top','top'top,'top']" data-voffset="['50','50','50','50']"
											data-fontsize="['60','50','50','50']"
								data-lineheight="['60','50','50','50']"
								data-width="['none','265','265','265']"
								data-height="['none','100','100','100']"
								data-whitespace="['nowrap','normal','normal','normal']"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="x:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 9; white-space: nowrap;">VOS QUESTIONS
							</div>

							<div class="tp-caption    tp-resizeme"
								 id="slide-36-layer-566"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['top','top','top'top,'top']" data-voffset="['130','130','130','130']"
											data-fontsize="['18','50','50','50']"
								data-lineheight="['18','50','50','50']"
								data-width="['687','265','265','265']"
								data-height="['auto','100','100','100']"
								data-whitespace="['nowrap','normal','normal','normal']"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="x:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 9; white-space: normal;width : 100%;text-align:center">
								<ul id="portfolio-filter" class="portfolio-filter clearfix" style="width : 100%;">

									<li class="activeFilter"><a href="#" data-filter="all">All</a></li>
									<li><a href="#" data-filter=".faq-marketplace">Marketplace</a></li>
									<li><a href="#" data-filter=".faq-authors">Blog</a></li>
									<li><a href="#" data-filter=".faq-legal">Evènement</a></li>
									<li><a href="#" data-filter=".faq-itemdiscussion">Moteur de recherche</a></li>
									<li><a href="#" data-filter=".faq-affiliates">Affiliates</a></li>
									<li><a href="#" data-filter=".faq-miscellaneous">Innovations</a></li>

								</ul>
							</div>

							<div class="tp-caption  captionfaqs  tp-resizeme"
								 id="slide-36-layer-556"
								 data-start="2000"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['top','top','top'top,'top']" data-voffset="['180','180','180','180']"
								 data-width="['1280','265','265','265']"
								 data-transform_idle="o:1;"
								 data-transform_in="o:0;x:[-100%];s:2000;e:Power3.easeInOut;"
								 data-transform_out="o:0;x:[-100%];s:1500;e:Power3.easeInOut;"

									data-whitespace="['normal','normal','normal','normal']" style="z-index:999999"	>
								<div id="faqs" class="faqs">

									<div class="toggle faq faq-marketplace faq-authors">
										<div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>How do I become an author?</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

									<div class="toggle faq faq-authors faq-miscellaneous">
										<div class="togglet"><i class="toggle-closed icon-comments-alt"></i><i class="toggle-open icon-comments-alt"></i>Helpful Resources for Authors</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

									<div class="toggle faq faq-miscellaneous">
										<div class="togglet"><i class="toggle-closed icon-lock3"></i><i class="toggle-open icon-lock3"></i>How much money can I make?</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

									<div class="toggle faq faq-authors faq-legal faq-itemdiscussion">
										<div class="togglet"><i class="toggle-closed icon-download-alt"></i><i class="toggle-open icon-download-alt"></i>Can I offer my items for free on a promotional basis?</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

									<div class="toggle faq faq-marketplace faq-authors">
										<div class="togglet"><i class="toggle-closed icon-ok"></i><i class="toggle-open icon-ok"></i>An Introduction to the Marketplaces for Authors</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

									<div class="toggle faq faq-affiliates faq-miscellaneous">
										<div class="togglet"><i class="toggle-closed icon-money"></i><i class="toggle-open icon-money"></i>How does the Tuts+ Premium affiliate program work?</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>
									<div class="toggle faq faq-marketplace faq-authors">
										<div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>How do I become an author?</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

									<div class="toggle faq faq-authors faq-miscellaneous">
										<div class="togglet"><i class="toggle-closed icon-comments-alt"></i><i class="toggle-open icon-comments-alt"></i>Helpful Resources for Authors</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

									<div class="toggle faq faq-miscellaneous">
										<div class="togglet"><i class="toggle-closed icon-lock3"></i><i class="toggle-open icon-lock3"></i>How much money can I make?</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

									<div class="toggle faq faq-authors faq-legal faq-itemdiscussion">
										<div class="togglet"><i class="toggle-closed icon-download-alt"></i><i class="toggle-open icon-download-alt"></i>Can I offer my items for free on a promotional basis?</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

									<div class="toggle faq faq-marketplace faq-authors">
										<div class="togglet"><i class="toggle-closed icon-ok"></i><i class="toggle-open icon-ok"></i>An Introduction to the Marketplaces for Authors</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

									<div class="toggle faq faq-affiliates faq-miscellaneous">
										<div class="togglet"><i class="toggle-closed icon-money"></i><i class="toggle-open icon-money"></i>How does the Tuts+ Premium affiliate program work?</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

									<div class="toggle faq faq-legal faq-itemdiscussion">
										<div class="togglet"><i class="toggle-closed icon-picture"></i><i class="toggle-open icon-picture"></i>What Images, Videos, Code or Music Can I Use in my Items?</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

									<div class="toggle faq faq-legal faq-authors faq-itemdiscussion">
										<div class="togglet"><i class="toggle-closed icon-file3"></i><i class="toggle-open icon-file3"></i>Can I use trademarked names in my items?</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

									<div class="toggle faq faq-affiliates">
										<div class="togglet"><i class="toggle-closed icon-bar-chart"></i><i class="toggle-open icon-bar-chart"></i>Tips for Increasing Your Referral Income</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

									<div class="toggle faq faq-authors faq-itemdiscussion">
										<div class="togglet"><i class="toggle-closed icon-phone3"></i><i class="toggle-open icon-phone3"></i>How can I get support for an item which isn't working correctly?</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

									<div class="toggle faq faq-marketplace faq-itemdiscussion">
										<div class="togglet"><i class="toggle-closed icon-credit"></i><i class="toggle-open icon-credit"></i>How do I pay for items on the Marketplaces?</div>
										<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
									</div>

								</div>

							</div>

						</li>	





					</ul>

					<div class="tp-static-layers">

						<!-- LAYER NR. 1 -->
						<!-- <div class="tp-caption   tp-static-layer"
							 id="slide-6-layer-1"
							 data-x="['left','left','left','left']" data-hoffset="['40','40','40','40']"
							 data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"

							 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
							 data-transform_out="y:[100%];s:1000;s:1000;"
							 data-mask_in="x:0px;y:0px;"
							 data-mask_out="x:inherit;y:inherit;"
							data-start="500"
							data-basealign="slide"
							data-responsive_offset="off"
							data-responsive="off"
							data-startslide="0"
							data-endslide="4"

							style="z-index: 5;"><img src="images/logo-dark@2x.png" alt="" width="62" height="100" data-ww="['126px','126px','126px','126px']" data-hh="['100px','100px','100px','100px']" data-no-retina>
						</div> -->
					</div>
					<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
				</div>
			</div><!-- END REVOLUTION SLIDER -->

		</section><!-- #content end -->

	</div><!-- #wrapper end -->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/front/jquery.js"></script>
	<script type="text/javascript" src="js/front/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/front/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($){
		var $faqItems = $('#faqs .faq');
		if( window.location.hash != '' ) {
		var getFaqFilterHash = window.location.hash;
		var hashFaqFilter = getFaqFilterHash.split('#');
		if( $faqItems.hasClass( hashFaqFilter[1] ) ) {
			$('#portfolio-filter li').removeClass('activeFilter');
			$( '[data-filter=".'+ hashFaqFilter[1] +'"]' ).parent('li').addClass('activeFilter');
			var hashFaqSelector = '.' + hashFaqFilter[1];
			$faqItems.css('display', 'none');
			if( hashFaqSelector != 'all' ) {
				$( hashFaqSelector ).fadeIn(500);
			} else {
				$faqItems.fadeIn(500);
			}
		}
		}

		$('#portfolio-filter a').click(function(){
		$('#portfolio-filter li').removeClass('activeFilter');
		$(this).parent('li').addClass('activeFilter');
		var faqSelector = $(this).attr('data-filter');
		$faqItems.css('display', 'none');
		if( faqSelector != 'all' ) {
			$( faqSelector ).fadeIn(500);
		} else {
			$faqItems.fadeIn(500);
		}
		return false;
		});
		});
	</script>
					

	<script type="text/javascript">
		var tpj=jQuery;

		var revapi10;
		tpj(document).ready(function() {
			if(tpj("#rev_slider_10_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_10_1");
			}else{
				revapi10 = tpj("#rev_slider_10_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"include/rs-plugin/js/",
					sliderLayout:"fullscreen",
					dottedOverlay:"none",
					delay:9000,
					navigation: {
						keyboardNavigation:"on",
						keyboard_direction: "horizontal",
						mouseScrollNavigation:"on",
						onHoverStop:"off",
						touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 1,
							swipe_direction: "vertical",
							drag_block_vertical: false
						}
						,
						bullets: {
							enable:true,
							hide_onmobile:false,
							style:"uranus",
							hide_onleave:false,
							direction:"vertical",
							h_align:"left",
							v_align:"center",
							h_offset:30,
							v_offset:0,
							space:5,
							tmp:'<span class="tp-bullet-inner"></span>'
						}
					},
					responsiveLevels:[1240,1024,778,480],
					gridwidth:[1240,1024,778,480],
					gridheight:[868,768,960,720],
					lazyType:"none",
					shadow:0,
					spinner:"off",
					stopLoop:"on",
					stopAfterLoops:0,
					stopAtSlide:1,
					shuffle:"off",
					autoHeight:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
			}
		});	/*ready*/

	</script>