<!DOCTYPE html>
<html dir="ltr" lang="fr-FR">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="MOMCREATION" />
	<meta name="description" content="Une agence de communication qui n'aime pas les licornes, le café, le rosé pamplemousse, le ping-pong, le véganisme, les émojis caca, les paillettes ou les mojitos. Vous non plus ? Alors bienvenue. " />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">

	<!-- ADD-ONS CSS FILES -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/addons/revolution.addon.particles.css">
	<link rel="shortcut icon" href="faviconadmin/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="faviconadmin/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="faviconadmin/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="faviconadmin/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="faviconadmin/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="faviconadmin/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="faviconadmin/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="faviconadmin/favicon-16.png">
	<link rel="apple-touch-icon" href="faviconadmin/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="faviconadmin/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="faviconadmin/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="faviconadmin/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="faviconadmin/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="faviconadmin/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="faviconadmin/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="faviconadmin/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="faviconadmin/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="faviconadmin/favicon-144.png">
	<meta name="msapplication-config" content="faviconadmin/browserconfig.xml">

	<!-- Document Title
	============================================= -->
	<title>MOM</title>

	<style>

		.demos-filter {
			margin: 0;
			text-align: right;
		}

		.demos-filter li {
			list-style: none;
			margin: 10px 0px;
		}

		.demos-filter li a {
			display: block;
			border: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #444;
		}

		.demos-filter li a:hover,
		.demos-filter li.activeFilter a { color: #1ABC9C; }

		@media (max-width: 991px) {
			.demos-filter { text-align: center; }

			.demos-filter li {
				float: left;
				width: 33.3%;
				padding: 0 20px;
			}
		}

		@media (max-width: 767px) {
			.demos-filter li { width: 50%; }
		}
		.rev_slider .tp-caption.blockavectext{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;		display: flex; justify-content:center; align-items:center;position: relative;}
		.paragrapheService{z-index: 99; white-space: normal;  font-weight: 400;color: rgba(0,0,0,0.85);}
		div.trait{border-bottom:1px solid black;width: 400px;height: 1px;}
		div.trait2{border-right:1px solid black;width:0px;height: 400px;margin-right: 5px;}

		.zeus .tp-bullet{background: rgba(255,255,255,0.6);border-color:  rgba(0,80,80,0.9);}
	
		.zeus .tp-bullet-title {
			background:#005050 ;
			font-family:Raleway;font-weight: 900;
    color: white;
text-align: right;
    bottom: -4px;
    width: auto;
    padding:2px 5px;
    position:absolute;
    right: 30px;
    left:auto;
    white-space:nowrap;
}

		 a.sociallink {width:30px;height: 45px;display: inline-block;}
		a.sociallink:hover {background: rgba(0,80,80,0.5);}


		canvas {
		    max-width: 100%;
		    height: 100% !important;
		}


	</style>

</head>

<body class="stretched" data-loader="12" data-loader-color="#005050">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		
	
		<section id="slider" class="revslider-wrap clearfix  ">

			<div class="rev_slider_wrapper" style="background-color:#eef0f1;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.4.3.1 fullscreen mode -->

					<div id="rev_slider" class="rev_slider " style="display:none;" data-version="5.4.3.1">
						<ul>	
							
									

							<!-- SLIDE  -->
							<li data-index="rs-130" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Accueil"> <!-- MAIN IMAGE -->
								<img src="include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='#FFFFFF' style='' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<img src="images/sime-basioli-181541-unsplash.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<div class="tp-shape"
								 id="rs-1-overlay" data-start="0"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								 style="z-index: 2;position:relative;background: rgba(255,255,255,0.92);width: 100%;height: 100%;">
							</div>
							
								<div class="tp-caption  "
								 id="layer-1"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['800','500','500','400']"
								data-height="['800','500','500','400']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="0:0;s:1000;e:Power3.easeOut;"
								 data-basealign="slide"
								data-start="0"
								data-fontsize="['600','600','600','450']"
								style="z-index: 5;position:relative;">
									<!-- <img src="images/logo-01.png"  alt=""> -->
									<img   src="include/rs-plugin/demos/assets/images/dummy.png" alt="" 
								data-ww="['800px','500px','500px','400px']" data-hh="['800px','500px','500px','400px']" 
								data-lazyload="images/LogoQuant-logo.png">
									
								</div>
								<div class="tp-caption  "
								 id="layer-2"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['800','500','500','400']"
								data-height="['800','500','500','400']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];s:500;e:Power3.easeOut;"
								 data-basealign="slide"
								data-start="300"
								data-fontsize="['600','600','600','450']"
								style="z-index: 5;position:relative;">
									<!-- <img src="images/logo-01.png"  alt=""> -->
									<img   src="include/rs-plugin/demos/assets/images/dummy.png" alt="" 
								data-ww="['800px','500px','500px','400px']" data-hh="['800px','500px','500px','400px']" 
								data-lazyload="images/LogoQuant-quant.png">
									
								</div>
								<div class="tp-caption  "
								 id="layer-2"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['800','500','500','400']"
								data-height="['800','500','500','400']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0"

								 data-transform_in="y:[100%];s:500;e:Power3.easeOut;"
								 data-basealign="slide"
								data-start="500"
								data-fontsize="['600','600','600','450']"
								style="z-index: 5;position:relative;">
									<!-- <img src="images/logo-01.png"  alt=""> -->
									<img   src="include/rs-plugin/demos/assets/images/dummy.png" alt="" 
								data-ww="['800px','500px','500px','400px']" data-hh="['800px','500px','500px','400px']" 
								data-lazyload="images/LogoQuant-europa.png">
									
								</div>
								<div class="tp-caption  "
								 id="layer-2"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['800','500','500','400']"
								data-height="['800','500','500','400']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="o:0;s:800;e:Power3.easeOut;"
								 data-basealign="slide"
								data-start="700"
								data-fontsize="['600','600','600','450']"
								style="z-index: 5;position:relative;">
									<!-- <img src="images/logo-01.png"  alt=""> -->
									<img   src="include/rs-plugin/demos/assets/images/dummy.png" alt="" 
								data-ww="['800px','500px','500px','400px']" data-hh="['800px','500px','500px','400px']" 
								data-lazyload="images/LogoQuant-traits.png">
									
								</div>
								<div class="tp-caption  "
								 id="layer-2"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['800','500','500','400']"
								data-height="['800','500','500','400']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0"

								 data-transform_in="y:[100%];s:500;e:Power3.easeOut;"
								 data-basealign="slide"
								data-start="1000"
								data-fontsize="['600','600','600','450']"
								style="z-index: 5;position:relative;">
									<!-- <img src="images/logo-01.png"  alt=""> -->
									<img   src="include/rs-plugin/demos/assets/images/dummy.png" alt="" 
								data-ww="['800px','500px','500px','400px']" data-hh="['800px','500px','500px','400px']" 
								data-lazyload="images/LogoQuant-baseline.png">
									
								</div>
								<div class="tp-caption  "
								 id="layer-6"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','20','20']"
								data-width="['800','500','500','400']"
								data-height="['30','30','30','30']"
								data-textalign="['center','center','center','center']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0"

								 data-transform_in="y:[100%];s:500;e:Power3.easeOut;"
								 data-basealign="slide"
								data-start="2000"
								data-fontsize="['18','18','18','18']"
								style="z-index: 5;position:relative; text-align:center;font-size: Raleway;">
									
									contact@quanteuropa.com
									
								</div>
								
							</li>

										
								





						</ul>
						<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
						</div><!-- END REVOLUTION SLIDER -->
			</div><!-- END REVOLUTION SLIDER WRAPPER -->

		</section>
		

		

		

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/addons/revolution.addon.particles.min.js"></script>

	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

	<!-- ADD-ONS JS FILES -->

	<script type="text/javascript">


		var revapi54,
		tpj=jQuery;
				tpj(document).ready(function() {
		if(tpj("#rev_slider").revolution == undefined){
			revslider_showDoubleJqueryError("#rev_slider");
		}else{
			revapi54 = tpj("#rev_slider").show().revolution({
				sliderType:"standard",
				jsFileLocation:"include/rs-plugin/js/",
				sliderLayout:"fullscreen",
				dottedOverlay:"none",
				delay:9000,
				
particles: {startSlide: "first", endSlide: "last", zIndex: "3",
particles: {
number: {value: 
	20}, color: {value: "#1E5193,#3298A1,#50B19C,#2F70B0"},
shape: {
type: "circle", stroke: {width: 0, color: "#ffffff", opacity: 1},
image: {src: ""}
},
opacity: {value: 0.5, random: true, min: 0.25, anim: {enable: false, speed: 3, opacity_min: 0, sync: false}},
size: {value: 2, random: true, min: 30, anim: {enable: false, speed: 10, size_min: 25, sync: true}},
line_linked: {enable: false, distance: 150, color: "#1E5193", opacity: 0.4, width: 1},
move: {enable: true, speed: 3, direction: "none", random: true, min_speed: 2, straight: false, out_mode: "out"}},
interactivity: {
events: {onhover: {enable: true, mode: "grab"}, onclick: {enable: true, mode: "bubble"}},
modes: {grab: {distance: 400, line_linked: {opacity: 0.5}}, bubble: {distance: 200, size: 30, opacity: 1}, repulse: {distance: 200}}
}
},
			navigation: {
					keyboardNavigation:"on",
					keyboard_direction: "vertical",
					mouseScrollNavigation:"on",
					 mouseScrollReverse:"default",
					onHoverStop:"off",
					touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 50,
							swipe_direction: "vertical",
							drag_block_vertical: false
						},
					arrows: {
						style:"gyges",
						enable:false,
						hide_onmobile:false,
						hide_onleave:false,
						tmp:'',
						left: {
							h_align:"center",
							v_align:"bottom",
							h_offset:-20,
							v_offset:0
						},
						right: {
							h_align:"center",
							v_align:"bottom",
							h_offset:20,
							v_offset:0
						}
					},
					// bullets: {
					// 		enable:true,
					// 		hide_onmobile:false,
					// 		hide_under:480,
					// 		style: 'zeus',
     //    					tmp: '<span class="tp-bullet-title">{{title}}</span>',
					// 		hide_onleave:false,
					// 		direction:"vertical",
					// 		h_align:"right",
					// 		v_align:"center",
					// 		h_offset:30,
					// 		v_offset:0,
					// 		space:5,
							
					// 	}
				},
				responsiveLevels:[1240,1024,778,480],
				visibilityLevels:[1240,1024,778,480],
				gridwidth:[1400,1200,778,480],
				gridheight:[900,800,960,720],
				// gridheight:[1000,800,960,720],
				// responsiveLevels:[1920,1680,1366,800],
				// visibilityLevels:[1920,1680,1366,800],
				// gridwidth:[1920,1680,1366,800],
				// gridheight:[1050,850,768,600],
				lazyType:"none",
				shadow:0,
				spinner:"off",
				stopLoop:"on",
				stopAfterLoops:0,
				stopAtSlide:1,
				shuffle:"off",
				autoHeight:"off",
				fullScreenAutoWidth:"on",
				fullScreenAlignForce:"off",
				fullScreenOffsetContainer: "",
				fullScreenOffset: "0",
				disableProgressBar:"on",
				hideThumbsOnMobile:"off",
				hideSliderAtLimit:0,
				hideCaptionAtLimit:0,
				hideAllCaptionAtLilmit:0,
				debugMode:false,
				fallbacks: {
					simplifyAll:"off",
					nextSlideOnWindowFocus:"off",
					disableFocusListener:false,
				}
			});


			var is_safari = (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1);


					revapi54.bind("revolution.slide.onloaded",function (e) {
						var npe = document.getElementsByClassName("nopointerevent");
						for (var i=0;i<npe.length;i++) {
							npe[i].parentNode.parentNode.parentNode.style.pointerEvents = "none";
							npe[i].parentNode.parentNode.parentNode.style.zIndex = 100;
						}

						jQuery('.ddd_mousebox').on('mousemove',function(e) {
							var sto = revapi54.offset(),
								dim = this.getBoundingClientRect(),
								tpos = jQuery(this.parentNode.parentNode.parentNode).position(),
								pos = {top:e.pageY-sto.top-tpos.top,left:e.pageX-tpos.left},
								perc = {wp:(pos.left/dim.width)-0.5, hp:(pos.top/dim.height)-0.5};
							getOverlaps(this);
							punchgs.TweenLite.to(this.overlapps,0.4,{force3D:"true",overwrite:"auto",transformOrigin:"50% 50% 100%", z:"300px",rotationY:0-((perc.wp)*5),rotationX:((perc.hp)*5),zIndex:30});
							punchgs.TweenLite.set(this.parentNode.parentNode.parentNode,{zIndex:10});
							if (is_safari)
								punchgs.TweenLite.to(this,0.4,{force3D:"true",overwrite:"auto",z:"10px",transformOrigin:"50% 50%", rotationY:0-((perc.wp)*10),rotationX:((perc.hp)*10)});
							else
							   punchgs.TweenLite.to(this,0.4,{force3D:"true",overwrite:"auto",z:"10px",transformOrigin:"50% 50%", rotationY:0-((perc.wp)*10),rotationX:((perc.hp)*10),boxShadow:"0 50px 100px rgba(15,20,40,0.35),0 20px 45px rgba(15,20,40,0.35)"});
						});

						jQuery('.ddd_mousebox').on('mouseleave',function(e) {
							punchgs.TweenLite.set(this.parentNode.parentNode.parentNode,{zIndex:5});
						   punchgs.TweenLite.to(this,0.5,{force3D:"true",overwrite:"auto",z:"0px",transformOrigin:"50% 50%", rotationY:0,rotationX:0,boxShadow:"0,0,0,0 rgba(0,0,0,0)"});
						   punchgs.TweenLite.to(this.overlapps,0.5,{force3D:"true",z:"0px",overwrite:"auto",transformOrigin:"50% 50% 100%", rotationY:0,rotationX:0});
						});

					});

					function getOverlaps(el) {
					  if (el.overlapps == undefined) {
						el.overlapps = [];
						var jel = jQuery(el),
							jpel = jQuery(el.parentNode.parentNode.parentNode),
							pos_e = jpel.position();
						pos_e.bottom = jel.height()+pos_e.top;
						pos_e.right = jel.width()+pos_e.left;

						revapi54.find('.tp-caption').each(function() {

						   var cel = jQuery(this.parentNode.parentNode.parentNode),
							   pos_cel = cel.position();

						   if (this!==el && pos_cel.top>=pos_e.top && pos_cel.top<=pos_e.bottom && pos_cel.left>=pos_e.left && pos_cel.left<=pos_e.right)  el.overlapps.push(cel);
						});

					  }
					}
		}

		RsParticlesAddOn(revapi54);
	});	/*ready*/
	</script>

</body>
</html>