<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="JBM/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="JBM/style.css" type="text/css" />

	<!-- One Page Module Specific Stylesheet -->
	<link rel="stylesheet" href="JBM/onepage/css/onepage.css" type="text/css" />
	<!-- / -->

	<!-- <link rel="stylesheet" href="../css/dark.css" type="text/css" /> -->
	<link rel="stylesheet" href="JBM/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="JBM/css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="JBM/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="JBM/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="JBM/css/fonts.css" type="text/css" />

	<link rel="stylesheet" href="JBM/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="JBM/include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="JBM/include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="JBM/include/rs-plugin/css/navigation.css">



	<link rel="shortcut icon" href="favicon/JBM-favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="favicon/JBM-favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="favicon/JBM-favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="favicon/JBM-favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon/JBM-favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="favicon/JBM-favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/JBM-favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/JBM-favicon-16.png">
	<link rel="apple-touch-icon" href="favicon/JBM-favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon/JBM-favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon/JBM-favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon/JBM-favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon/JBM-favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon/JBM-favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon/JBM-favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon/JBM-favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/JBM-favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="favicon/JBM-favicon-144.png">
	<meta name="msapplication-config" content="favicon/browserconfig.xml">

	<!-- Document Title
	============================================= -->
	<title>JBM Création</title>

	<style>.tp-caption { white-space: nowrap; }</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header transparent-header dark static-sticky" data-sticky-class="stickkky" data-sticky-offset="200">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="#" data-href="#wrapper"data-scrollto="#wrapper" class="standard-logo" data-dark-logo="JBM/onepage/images/logoline2.png"><img src="JBM/onepage/images/logoline2.png" alt="Canvas Logo"></a>
						<!-- <a href="#" data-href="#wrapper"class="retina-logo" data-dark-logo="JBM/onepage/images/logo.png"><img src="JBM/onepage/images/canvasone@2x.png" alt="Canvas Logo"></a> -->
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
							<li><a href="#" data-href="#wrapper"><div>Accueil</div></a></li>
							<li><a href="#" data-href="#section-about"><div>À propos</div></a></li>
							<!-- <li><a href="#" data-href="#section-works"><div>Mon identité</div></a></li> -->
							<li><a href="#" data-href="#section-services"><div>Mes créations</div></a></li>
							<li><a href="#" data-href="#section-blog"><div>Agenda</div></a></li>
							<li><a href="#" data-href="#section-contact"><div>Contact</div></a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<section id="slider" class="slider-parallax revslider-wrap clearfix">

			<!--
			#################################
				- THEMEPUNCH BANNER -
			#################################
			-->
			<div id="rev_slider_op-fc_wrapper" class="rev_slider_wrapper fullscreen-container"  style="padding:0px;">
					<!-- START REVOLUTION SLIDER 5.1.4 fullscreen mode -->
					<div id="rev_slider_op-fc" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.4">
					<ul>    <!-- SLIDE  -->
						<li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="1500"  data-delay="10000"  data-saveperformance="off" data-title="Responsive Design">
							<!-- MAIN IMAGE -->
							<img src="JBM/onepage/images/jbm-creation-3.jpg"  alt="jbm-creation"  data-bgposition="left top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-bgpositionend="center center">
							<!-- LAYERS -->

							<!-- LAYER NR. 2 -->
							<div class="tp-caption center ltl tp-resizeme"
							data-x="center"
							data-y="200"
							data-textAlign="center"
							data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
							data-speed="800"
							data-start="1000"
							data-easing="easeOutQuad"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.01"
							data-endelementdelay="0.1"
							data-endspeed="1000"
							data-endeasing="Power4.easeIn" style="z-index: 3;">
								<div class="emphasis-title nobottommargin">
									<h1 class="logo"><img src="JBM/onepage/images/logo2.png" style="width: 400px;" alt=""></h1>
								</div>
							</div>

							<!-- <div class="tp-caption center ltl tp-resizeme"
							data-x="299"
							data-y="360"
							data-textAlign="center"
							data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
							data-speed="800"
							data-start="1250"
							data-easing="easeOutQuad"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.01"
							data-endelementdelay="0.1"
							data-endspeed="1000"
							data-endeasing="Power4.easeIn" style="z-index: 3;">
								<p class="lead">L'art de concevoir des pièces d'exception avec noblesse.</p>
							</div> -->

							<div class="tp-caption center ltl tp-resizeme"
							data-x="center"
							data-y="600"
							data-textAlign="center"
							data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
							data-speed="800"
							data-start="1550"
							data-easing="easeOutQuad"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.01"
							data-endelementdelay="0.1"
							data-endspeed="1000"
							data-endeasing="Power4.easeIn" style="z-index: 3;"><a href="#"  data-scrollto="#section-about"class="button button-large button-circle button-black decouvrir"><i class="icon-angle-down"></i>Découvrir</a></div>

						</li>
						<!-- <li data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-thumb="../JBM/onepage/images/slider/rev/ken-2-thumb.jpg" data-delay="10000"  data-saveperformance="off"  data-title="Unlimited Possibilities">
							<img src="../JBM/onepage/images/slider/rev/ken-2.jpg"  alt="kenburns6"  data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-bgpositionend="center top">

							<div class="tp-caption center ltl tp-resizeme"
							data-x="352"
							data-y="200"
							data-textAlign="center"
							data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
							data-speed="800"
							data-start="1000"
							data-easing="easeOutQuad"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.01"
							data-endelementdelay="0.1"
							data-endspeed="1000"
							data-endeasing="Power4.easeIn" style="z-index: 3;">
								<div class="emphasis-title nobottommargin">
									<h1><span class="t700 font-body opm-large-word nocolor">passion.</span></h1>
								</div>
							</div>

							<div class="tp-caption center ltl tp-resizeme"
							data-x="295"
							data-y="360"
							data-textAlign="center"
							data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
							data-speed="800"
							data-start="1250"
							data-easing="easeOutQuad"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.01"
							data-endelementdelay="0.1"
							data-endspeed="1000"
							data-endeasing="Power4.easeIn" style="z-index: 3;">
								<p class="lead">Un savoir-faire artistique incroyable mêlant laine et soie.</p>
							</div>

							<div class="tp-caption center ltl tp-resizeme"
							data-x="493"
							data-y="450"
							data-textAlign="center"
							data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
							data-speed="800"
							data-start="1550"
							data-easing="easeOutQuad"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.01"
							data-endelementdelay="0.1"
							data-endspeed="1000"
							data-endeasing="Power4.easeIn" style="z-index: 3;"><a href="#" class="button button-border button-circle t500 nomargin"><span>Mes rendez-vous</span> <i class="icon-angle-right"></i></a></div>

						</li> -->
					</ul>
				</div>
			</div><!-- END REVOLUTION SLIDER -->

		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap nopadding">

				<div id="section-about" class="center page-section">

					<div class="container clearfix">

						<h2 class="divcenter bottommargin font-body center uppercase t300 ls3 font-body" style="max-width: 700px; font-size: 40px;">Bienvenue à tous chez JBM Création</h2>

						<p class="lead divcenter bottommargin" style="max-width: 800px;">Artiste dans l'âme et passionnée par la mode et le fait-main, j'ai trouvé, dans la profession de feutrière, un savoir-faire à même de répondre à mes pulsions créatives. J'allie procédés techniques et créativité pour confectionner les vêtements qui vous ressemblent. </p>

						

						<p class="bottommargin" style="font-size: 16px;"><a href="#" data-scrollto="#section-contact" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="more-link">Me contacter <i class="icon-angle-right"></i></a></p>

						<div class="clear"></div>

						<div class="row topmargin-lg divcenter" style="max-width: 1000px;">

							<!-- <div class="col-sm-4 ">

								<div class="team">
									<div class="team-image">
										<img src="JBM/onepage/images/JacquelineBorruel.jpg" alt="Jacqueline Borruel">
										
									</div>
									<div class="team-desc team-desc-bg">
										<div class="team-title"><h4>Jacqueline Borruel</h4><span>Feutrière</span></div>
									</div>
								</div>

							</div> -->

							<div class="col-sm-12 ">
								<p class="lead divcenter bottommargin" style="max-width: 800px;">Feutrière - Un métier de passion		<br>
									Métier d’Art reconnu (arrêté du 24/12/2015 publié au JO du 31/01/2016 )
									
									</p>
									<p class="lead divcenter bottommargin" style="max-width: 800px;">
									Qu’appelle - t-on feutre  artisanal ?

									Le feutre artisanal est une technique encore méconnue et qui mérite quelques  explications.
									</p>
									<p class="lead divcenter bottommargin" style="max-width: 800px;">
									La recette est «  simple »
									-de la laine qui provient de la tonte de toutes sortes d’animaux  moutons, alpagas , chèvres du Tibet , lapins angora etc.)
									-de l’eau chaude savonneuse.
									De petites mèches de fibres sont posées manuellement côte à côte tout en les superposants ,
									 une deuxième couche est placée dans le sens opposé pour croiser les fibres ,
									Une bonne dose d’huile de coudes , du savoir-faire et de l’inspiration.
									Chaque feutrière a toutefois ses méthodes pour parvenir au résultat final .
									En allant plus loin on peut provoquer de belles rencontres :
									En associant de la laine et de la soie ( appelé feutre nuno ) , du  lin, du coton etc.)
									Cette rencontre débouche sur un tissu fait main, unique , composé de matières naturelles
									 Le vêtement ainsi réalisé est sans couture et le rêve prend forme.</p>

							</div>

						</div>

					</div>

				</div>

				<div id="section-works" class="page-section notoppadding">

					<div class="section nomargin notoppadding">
						<div class="container clearfix">
							<div class="divcenter center" style="max-width: 900px;">
								<h2 class="nobottommargin t300 ls1">Mes créations se déclinent au gré des envies et des saisons, enivrée par l'association des différentes couleurs que la nature propose. Grâce à des laines et soies de qualité, je feutre toute mes pièces. </h2>
							</div>
						</div>
					</div>

					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" class="portfolio grid-container portfolio-nomargin portfolio-full portfolio-masonry mixed-masonry clearfix">

						<article class="portfolio-item pf-media pf-icons wide">
							<div class="portfolio-image">
								<a href="#">
									<img src="JBM/onepage/images/jbm-creation-4.jpg" alt="Un atelier - JBMCREATION">
								</a>
								<div class="portfolio-overlay">
									<div class="portfolio-desc">
										<h3><a href="#">Un atelier </a></h3>
										<span><a href="#">artisanal</a></span>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item pf-illustrations">
							<div class="portfolio-image">
								<a href="#">
									<img src="JBM/onepage/images/jbm-creation-9.jpg" alt="des couvre-chefs - JBMCREATION">
								</a>
								<div class="portfolio-overlay">
									<div class="portfolio-desc">
										<h3><a href="#">des couvre-chefs</a></h3>
										<span><a href="#">Chapeaux, Berets</a></span>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item pf-graphics pf-uielements">
							<div class="portfolio-image">
								<a href="#">
									<img src="JBM/onepage/images/jbm-creation-6.jpg" alt="De la soie - JBMCREATION">
								</a>
								<div class="portfolio-overlay">
									<div class="portfolio-desc">
										<h3><a href="#">De la soie</a></h3>
										<span><a href="#"> made in france</a></span>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item pf-media pf-icons wide">
							<div class="portfolio-image">
								<a href="#">
									<img src="JBM/onepage/images/jbm-creation.jpg" alt="Des couleur - JBMCREATION">
								</a>
								<div class="portfolio-overlay">
									<div class="portfolio-desc">
										<h3><a href="#">Des couleurs</a></h3>
										<span><a href="#">magnifiques</a></span>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item pf-uielements pf-media wide">
							<div class="portfolio-image">
								<a href="#">
									<img src="JBM/onepage/images/jbm-creation-2.jpg" alt="De la laine - JBMCREATION">
								</a>
								<div class="portfolio-overlay">
									<div class="portfolio-desc">
										<h3><a href="#">De la laine</a></h3>
										<span><a href="#">Naturelle , Mérinios</a></span>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="#">
									<img src="JBM/onepage/images/jbm-creation-8.jpg" alt="Des vetements - JBMCREATION">
								</a>
								<div class="portfolio-overlay">
									<div class="portfolio-desc">
										<h3><a href="#">Des vêtements</a></h3>
										<span><a href="#"> sans coutures</a></span>
									</div>
								</div>
							</div>
						</article>

						<article class="portfolio-item pf-uielements pf-icons">
							<div class="portfolio-image">
								<a href="#">
									<img src="JBM/onepage/images/jbm-creation-7.jpg" alt="des petits plus - JBMCREATION">
								</a>
								<div class="portfolio-overlay">
									<div class="portfolio-desc">
										<h3><a href="#">des petits plus </a></h3>
										<span><a href="#">décoratifs</a></span>
									</div>
								</div>
							</div>
						</article>

					</div><!-- #portfolio end -->

					

				</div>

				<div id="section-services" class="page-section notoppadding">

					<div class="section nomargin">
						<div class="container clearfix">
							<div class="divcenter center" style="max-width: 900px;">
								<h2 class="nobottommargin t300 ls1">Feutrière du département Axonais, j'expose dans divers salon de notre region pour présenter le savoir-faire qui rythme mes jours. Pour moi,le fabrocation à la francaise trouve son essence dans l'artisanat local. <br> Venez me rencontrer ! </h2>
							</div>
						</div>
					</div>

					

					<div class="section dark botmargin">
						<div class="divcenter center" style="max-width: 900px;">
							<h2 class="nobottommargin t300 ls1">Découvrez quelques unes de mes réalisations<!-- <a href="#" data-scrollto="#template-contactform" data-offset="140" data-easing="easeInOutExpo" data-speed="1250" class="button button-border button-circle button-light button-large notopmargin nobottommargin" style="position: relative; top: -3px;"></a> --></h2>
						</div>
					</div>


					<div class="slider-parallax-inner">

						<div id="oc-slider" class="owl-carousel carousel-widget" data-margin="-1" data-loop="true" data-pagi="false" data-items-xxs="2" data-items-xs="2" data-items-sm="3" data-items-md="4">

							<a href="#" style="height: 407px;"><img src="JBM/onepage/images/fashion/fashion7.jpg" alt="image 3"></a>
							<a href="#" style="height: 407px;"><img src="JBM/onepage/images/fashion/fashion5.jpg" alt="image 1"></a>
							<a href="#" style="height: 407px;"><img src="JBM/onepage/images/fashion/fashion3.jpg" alt="image 3"></a>
							<a href="#" style="height: 407px;"><img src="JBM/onepage/images/fashion/fashion6.jpg" alt="image 2"></a>
							<!-- <a href="#" style="height: 407px;"><img src="JBM/onepage/images/fashion/fashion1.jpg" alt="image 1"></a> -->
							<!-- <a href="#" style="height: 407px;"><img src="JBM/onepage/images/fashion/fashion2.jpg" alt="image 2"></a> -->
							<a href="#" style="height: 407px;"><img src="JBM/onepage/images/fashion/fashion4.jpg" alt="image 4"></a>
							<a href="#" style="height: 407px;"><img src="JBM/onepage/images/fashion/fashion8.jpg" alt="image 4"></a>
						</div>
					</div>
				

				</div>

					

				<div id="section-blog" class="page-section">
	
					<h2 class="center uppercase t300 ls3 font-body">Mes prochains rendez-vous</h2>
					<div class="container clearfix">
					<div id="posts" class="events small-thumbs">

						<div class="entry clearfix">
							<div class="entry-image">
								<a href="#">
									<img src="JBM/onepage/images/event/chateau.jpg" alt="Chateau de Pernant">
									<div class="entry-date">17<span>Sept</span></div>
								</a>
							</div>
							<div class="entry-c">
								<div class="entry-title">
									<h2><a href="#">Journée du patrimoine au Château de Pernant</a></h2>
								</div>
								<ul class="entry-meta clearfix">
									<li><span class="label label-info">Public</span></li>
									<li><a href="#"><i class="icon-time"></i> 11:00 - 19:00</a></li>
									<li><a href="#"><i class="icon-map-marker2"></i> Soissons, Aisne</a></li>
								</ul>
								<div class="entry-content">
									<p>Partout en France près de 17 000 monuments ouvrent leurs portes et proposent plus de 25 000 animations pour la 34e édition des Journées européennes du patrimoine.</p>
									<a href="https://journeesdupatrimoine.culturecommunication.gouv.fr/"  target="_BLANK"  class="btn btn-default">Voir le site de l'évènement</a>
								</div>
							</div>
						</div>

						<div class="entry clearfix">
							<div class="entry-image">
								<a href="#">
									<img src="JBM/onepage/images/event/marche.jpg" alt="Nemo quaerat nam beatae iusto minima vel">
									<div class="entry-date">19<span>Nov</span></div>
								</a>
							</div>
							<div class="entry-c">
								<div class="entry-title">
									<h2><a href="#">Marché des artisans d'art</a></h2>
								</div>
								<ul class="entry-meta clearfix">
									<li><span class="label label-info">Public</span></li>
									<li><a href="#"><i class="icon-time"></i> 09:00 - 18:00</a></li>
									<li><a href="#"><i class="icon-map-marker2"></i>Halles de Boulingrin, Reims - Marne</a></li>
								</ul>
								<div class="entry-content">
									<p> Les 40 exposants attendus qui proviennent principalement de la Marne mais également des départements limitrophes (Ardennes, Aube, Meuse, Aisne …).</p>
									<a href="http://www.reims.fr/fileadmin/artifica_demo/1erMarcheArtisansArt-18Juin.pdf" class="btn btn-default">Voir le site de l'évènement</a> 
								</div>
							</div>
						</div>

						<div class="entry clearfix">
							<div class="entry-image">
								<a href="#">
									<img src="JBM/onepage/images/event/salon.jpg" alt="Ducimus ipsam error fugiat harum recusandae">
									<div class="entry-date">21<span>Dec</span></div>
								</a>
							</div>
							<div class="entry-c">
								<div class="entry-title">
									<h2><a href="#">Salon d'automne des métiers d'art</a></h2>
								</div>
								<ul class="entry-meta clearfix">
									<li><span class="label label-warning">Payant- 5€</span></li>
									<li><a href="#"><i class="icon-time"></i>16h30 - 20h30 vendredi |  10:00 - 19:00 samedi-dimanche </a></li>
									<li><a href="#"><i class="icon-map-marker2"></i> Plumecoq, route de Pierry, 51530 Chouilly</a></li>
								</ul>
								<div class="entry-content">
									<p>Entrez dans l’univers des matières nobles et des savoirs-faire. Des objets uniques fabriqués dans l’intimité des ateliers, objets dont la main experte de l’artisan a épousé chaque contour, évalué chaque détail, guidé par son œil aguerri.</p>
									<a href="https://metiersdartchampagne.org/" target="_BLANK" class="btn btn-default">Voir le site de l'évènement</a> 
								</div>
							</div>
						</div>

						

					</div>
					</div>
				</div>

				<div id="section-contact" class="page-section notoppadding">

					<!-- <div class="row noleftmargin norightmargin bottommargin-lg common-height">
						<div id="headquarters-map" class="col-md-8 col-sm-6 gmap hidden-xs"></div>
						<div class="col-md-4 col-sm-6" style="background-color: #F5F5F5;">
							<div class="col-padding max-height">
								<h3 class="font-body t400 ls1">Our Headquarters</h3>

								<div style="font-size: 16px; line-height: 1.7;">
									<address style="line-height: 1.7;">
										<strong>North America:</strong><br>
										795 Folsom Ave, Suite 600<br>
										San Francisco, CA 94107<br>
									</address>

									<div class="clear topmargin-sm"></div>

									<address style="line-height: 1.7;">
										<strong>Europe:</strong><br>
										795 Folsom Ave, Suite 600<br>
										San Francisco, CA 94107<br>
									</address>

									<div class="clear topmargin"></div>

									<abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
									<abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
								</div>
							</div>
						</div>
					</div> -->



					<div class="container clearfix">

						<div class="divcenter topmargin" style="max-width: 850px;">

							<div class="contact-widget">

								<div class="contact-form-result"></div>

								<form class="nobottommargin" id="template-contactform" name="template-contactform" action="include/sendemail.php" method="post">

									<div class="form-process"></div>

									<div class="col_half">
										<input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control border-form-control required" placeholder="Nom" />
									</div>
									<div class="col_half col_last">
										<input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control border-form-control" placeholder="Email " />
									</div>

									<div class="clear"></div>

									<div class="col_one_third">
										<input type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control border-form-control" placeholder="Téléphone" />
									</div>

									<div class="col_two_third col_last">
										<input type="text" id="template-contactform-subject" name="template-contactform-subject" value="" class="required sm-form-control border-form-control" placeholder="Sujet" />
									</div>

									<div class="clear"></div>

									<div class="col_full">
										<textarea class="required sm-form-control border-form-control" id="template-contactform-message" name="template-contactform-message" rows="7" cols="30" placeholder="Votre message"></textarea>
									</div>

									<div class="col_full center">
										<button class="button button-border button-circle t500 noleftmargin topmargin-sm" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Envoyer</button>
										<br>
										<small style="display: block; font-size: 13px; margin-top: 15px;">Réponse assurée dans les plus brefs délais !</small>
									</div>

									<div class="clear"></div>

									<div class="col_full hidden">
										<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
									</div>

								</form>

							</div>

						</div>

					</div>

				</div>

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark noborder">

			<div class="container center">
				<div class="footer-widgets-wrap">

					<div class="row divcenter clearfix">

						<div class="col-md-5 col-md-offset-1">

							<div class="widget clearfix">
								<h4>Sites partenaires</h4>

								<ul class="list-unstyled footer-site-links nobottommargin">
									<li><a href="http://caplaine.fr/" target="_BLANK" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Cap Laine</a></li>
									<li><a href="https://www.facebook.com/Aux-poils-dAssenay-398921013452180/"  target="_BLANK" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Au poil d'Assenay</a></li>
									<!-- <li><a href="#" data-scrollto="#section-works" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">...</a></li>
									<li><a href="#" data-scrollto="#section-services" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">...</a></li>
									<li><a href="#" data-scrollto="#section-blog" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">...</a></li>
									<li><a href="#" data-scrollto="#section-contact" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">...</a></li> -->
								</ul>
							</div>

						</div>

						

						<div class="col-md-5  ">

							<div class="widget clearfix">
								<h4>Adresse</h4>

								<p class="lead">5 bis Rue du Port<br>02650, MEZY-MOULINS</p>

								<!-- <div class="center topmargin-sm">
									<a href="#" class="social-icon inline-block noborder si-small si-facebook" title="Facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#" class="social-icon inline-block noborder si-small si-twitter" title="Twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="#" class="social-icon inline-block noborder si-small si-github" title="Github">
										<i class="icon-github"></i>
										<i class="icon-github"></i>
									</a>
									<a href="#" class="social-icon inline-block noborder si-small si-pinterest" title="Pinterest">
										<i class="icon-pinterest"></i>
										<i class="icon-pinterest"></i>
									</a>
								</div> -->
							</div>

						</div>

					</div>

				</div>
			</div>

			<div id="copyrights">
				<div class="container center clearfix">
					Copyright JBMCREATION 2017 | Tous droits réservés | Site web : <a class="footlerLink" href="http://www.momcreation.fr">MOMCREATION</a>
				</div>
			</div>

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="JBM/js/jquery.js"></script>
	<script type="text/javascript" src="JBM/js/plugins.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="JBM/include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="JBM/include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="JBM/include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="JBM/include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="JBM/include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="JBM/include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="JBM/include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="JBM/include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="JBM/include/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="JBM/include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

	

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="JBM/js/functions.js"></script>

	<script type="text/javascript">

		// Revolution Slider Scripts
		var tpj=jQuery;
		tpj.noConflict();

		tpj(document).ready(function() {

			var apiRevoSlider = tpj('#rev_slider_op-fc').show().revolution(
			{
				sliderType:"standard",
				jsFileLocation:"../include/rs-plugin/js/",
				sliderLayout:"fullscreen",
				dottedOverlay:"none",
				delay:16000,
				responsiveLevels:[1140,992,768,480],
				visibilityLevels:[1140,992,768,480],
				gridwidth:[1140,992,768,480],
				gridheight:[700,768,960,720],
				hideThumbs:200,

				thumbWidth:100,
				thumbHeight:50,
				thumbAmount:5,

				navigation: {
					keyboardNavigation:"off",
					keyboard_direction: "horizontal",
					mouseScrollNavigation:"off",
					onHoverStop:"off",
					touch:{
						touchenabled:"on",
						swipe_threshold: 75,
						swipe_min_touches: 1,
						swipe_direction: "horizontal",
						drag_block_vertical: false
					},
					arrows: {
						style: "hermes",
						enable: false,
						hide_onmobile: false,
						hide_onleave: false,
						tmp: '<div class="tp-arr-allwrapper">   <div class="tp-arr-imgholder"></div>    <div class="tp-arr-titleholder">{{title}}</div> </div>',
						left: {
							h_align: "left",
							v_align: "center",
							h_offset: 10,
							v_offset: 0
						},
						right: {
							h_align: "right",
							v_align: "center",
							h_offset: 10,
							v_offset: 0
						}
					}
				},

				touchenabled:"on",
				onHoverStop:"on",

				swipe_velocity: 0.7,
				swipe_min_touches: 1,
				swipe_max_touches: 1,
				drag_block_vertical: false,

				keyboardNavigation:"off",

				shadow:0,
				fullWidth:"off",
				fullScreen:"on",

				spinner:"spinner4",

				stopLoop:"off",
				stopAfterLoops:-1,
				stopAtSlide:-1,

				shuffle:"off",

				autoHeight:"off",
				forceFullWidth:"off",

				hideThumbsOnMobile:"off",
				hideNavDelayOnMobile:1500,
				hideBulletsOnMobile:"off",
				hideArrowsOnMobile:"off",
				hideThumbsUnderResolution:0,

				hideSliderAtLimit:0,
				hideCaptionAtLimit:0,
				hideAllCaptionAtLilmit:0,
				startWithSlide:0,
			});

			apiRevoSlider.bind("revolution.slide.onchange",function (e,data) {
				SEMICOLON.slider.revolutionSliderMenu();
			});

		}); //ready

	

	</script>

</body>
</html>
