<!DOCTYPE html>
<html dir="ltr" lang="fr-FR">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="MOMCREATION" />
	<meta name="description" content="Une agence de communication qui n'aime pas les licornes, le café, le rosé pamplemousse, le ping-pong, le véganisme, les émojis caca, les paillettes ou les mojitos. Vous non plus ? Alors bienvenue. " />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">

	<!-- ADD-ONS CSS FILES -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/addons/revolution.addon.particles.css">


	<!-- Document Title
	============================================= -->
	<title>MOM</title>

	<style>

		.demos-filter {
			margin: 0;
			text-align: right;
		}

		.demos-filter li {
			list-style: none;
			margin: 10px 0px;
		}

		.demos-filter li a {
			display: block;
			border: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #444;
		}

		.demos-filter li a:hover,
		.demos-filter li.activeFilter a { color: #1ABC9C; }

		@media (max-width: 991px) {
			.demos-filter { text-align: center; }

			.demos-filter li {
				float: left;
				width: 33.3%;
				padding: 0 20px;
			}
		}

		@media (max-width: 767px) {
			.demos-filter li { width: 50%; }
		}
		.rev_slider .tp-caption.blockavectext{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;		display: flex; justify-content:center; align-items:center;position: relative;}
		.paragrapheService{z-index: 99; white-space: normal;  font-weight: 400;color: rgba(0,0,0,0.85);}
		div.trait{border-bottom:1px solid black;width: 400px;height: 1px;}
		div.trait2{border-right:1px solid black;width:0px;height: 400px;margin-right: 5px;}

		.zeus .tp-bullet{background: rgba(255,255,255,0.6);border-color:  rgba(0,80,80,0.9);}

		 a.sociallink {width:30px;height: 45px;display: inline-block;}
		a.sociallink:hover {background: rgba(0,80,80,0.5);}


		canvas {
		    max-width: 100%;
		    height: 100% !important;
		}


	</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		
	
		<section id="slider" class="revslider-wrap clearfix  ">

			<div class="rev_slider_wrapper" style="background-color:#eef0f1;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.4.3.1 fullscreen mode -->

					<div id="rev_slider" class="rev_slider " style="display:none;" data-version="5.4.3.1">
						<ul>	
							
									
							
							

							
							<!-- SLIDE  -->
							<li data-index="rs-130" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Accueil">
								<!-- MAIN IMAGE -->
								<img src="include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='#FFFFFF' style='background:#005050' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								
								<div class="tp-caption  "
								 id="slide-130-layer-2"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['500','500','500','400']"
								data-height="['500','500','500','400']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0"

								 data-transform_in="sX:50;sY:50;s:500;e:Power3.easeOut;"
								 data-basealign="slide"
								data-start="0"
								data-fontsize="['600','600','600','450']"
								style="z-index: 5;position:relative;">
									<!-- <img src="images/logo-01.png"  alt=""> -->
									<img   src="include/rs-plugin/demos/assets/images/dummy.png" alt="" 
								data-ww="['500px','500px','500px','400px']" data-hh="['500px','500px','500px','400px']" 
								data-lazyload="images/biglogo-text.png">
									
								</div>
								
							</li>

										
							<li data-index="rs-1399" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Service">
								<!-- MAIN IMAGE -->
								
								<img src="include/rs-plugin/demos/assets/images/dummy.png"  alt=""  data-lazyload="images/4etoiles/hd-5.jpg" data-bgposition="center center" data-kenburns="on" data-duration="40000" data-ease="Power1.easeOut" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>

									
									<div class="tp-caption tp-resizeme linkfleche"
										 id="slide-254-layer-2222"
										 data-x="['left','left','left','left']" data-hoffset="['380','480','400','300']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['380','340','330','280']"
													data-width="90px"
										data-height="30px"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"

										 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
										 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
										data-start="1000"
										data-basealign="slide"
										data-responsive_offset="on"


										style="z-index: 5;cursor:pointer;">
										<a href="/about">
										<svg version="1.0"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="30px" viewBox="0 0 150 50" style="enable-background:new 0 0 150 50;" xml:space="preserve" style="color:#FFF;">
											<style type="text/css">
												.st0{fill:#FFFFFF;}
												.linkfleche:hover .st0{fill:#cCC;}
											</style>
											<path class="st0" d="M5,42.2c0-0.1,0.1-0.2,0.1-0.3l0,0L22,6.9c1.6-3.2,3.7-3.7,4.8-3.7c1.1,0,3.2,0.5,4.8,3.7l13.2,27.5
												c0.4,0.8,1.1,1.6,1.4,1.6c0.1,0,0.7-0.3,1.4-1.7L61,6.9c1.6-3.2,3.7-3.7,4.8-3.7c1.1,0,3.2,0.5,4.8,3.7l10.3,21.3l0,0l3.7,7.7
												c0.6,1.2,1.1,1.6,1.4,1.6s0.8-0.4,1.4-1.6l8.2-16.5c0-0.1,0.1-0.2,0.1-0.3c0.7-1.5,2.6-2.1,4.1-1.4s2.1,2.6,1.4,4.1
												c0,0.1-0.1,0.2-0.1,0.3L90.8,43.3C89.2,46.6,87.1,47,86,47s-3.2-0.5-4.8-3.7L71.4,23l0,0l-4.2-8.8c-0.6-1.2-1.1-1.6-1.4-1.6
												S65,13,64.4,14.2L51.2,41.7H51l0.1,0.1c-1.1,1.9-2.3,3.7-4.7,3.7c-0.7,0-1.4-0.2-2-0.5c-1.2-0.6-2.2-2.2-2.8-3.3L28.3,14.2
												c-0.6-1.2-1.1-1.6-1.4-1.6s-0.8,0.4-1.4,1.6L11.7,42.8l-0.8,1.8c0,0.1-0.1,0.2-0.1,0.4c-0.8,1.6-2.7,2.2-4.2,1.4
												C4.9,45.7,4.3,43.8,5,42.2z"/>
											<g>
												<path class="st0" d="M135.7,25.1c0,0.3-0.4,0.8-1.6,1.4l-28.7,13.8l0,0l-1.8,0.8c-0.1,0-0.2,0.1-0.4,0.1c-1.6,0.8-2.2,2.7-1.4,4.2
													c0.6,1.3,2.1,2,3.4,1.7c0.2,0,0.3-0.1,0.5-0.1c0.1,0,0.2-0.1,0.3-0.1l0.1-0.1c0.1,0,0.1-0.1,0.2-0.1l35-16.9
													c3.2-1.6,3.7-3.7,3.7-4.8"/>
												<path class="st0" d="M135.7,25.3c0-0.3-0.4-0.8-1.6-1.4l-28.7-13.8l0,0l-1.8-0.8c-0.1,0-0.2-0.1-0.4-0.1c-1.6-0.8-2.2-2.7-1.4-4.2
													c0.6-1.3,2.1-2,3.4-1.7c0.2,0,0.3,0.1,0.5,0.1c0.1,0,0.2,0.1,0.3,0.1l0.1,0.1c0.1,0,0.1,0.1,0.2,0.1l35,16.9
													c3.2,1.6,3.7,3.7,3.7,4.8"/>
											</g>
										</svg>
										</a>
									</div>

									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-82"
									 data-x="['left','left','left','left']" data-hoffset="['80','100','60','40']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-170','-140','-180','-170']"
									data-width="['1100','900','700','450']"
									data-fontsize="['167','157','120','80']"
									data-lineheight="['137','122','100','70']"
									data-height="none"
									data-whitespace="['normal','normal','normal','normal']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"
									data-basealign="slide"
									data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 7; white-space: normal;  line-height: 80px;  color: rgba(255,255,255,1);font-family:raleway; font-weight:900; text-transform : uppercase;">La marge, pas la norme.
									</div>
									<div class="tp-caption   tp-resizeme"
									 id="slide-13777"
									 data-x="['left','left','left','left']" data-hoffset="['80','100','60','60']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['220','220','160','110']"
									data-width="['450','500','500','380']"
									data-lineheight="['40','40','40','30']"
									data-height="auto"
									data-whitespace="['normal','normal','normal','normal']"
									data-basealign="slide"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 7; white-space: normal; font-size: 24px; line-height: 40px;  color: rgba(255,255,255,1);width:450px !important;min-width:450px !important;max-width:450px !important;">Agence de communication,<br> pour les petits, les gros, les flemmards, 
									les ambitieux, les capricieux, les oubliés,
									les gentils, les salauds, les bavards, les rigoureux, les kahrlouches, les arbouches, les manouches...
									</div>

							
							</li>			

							
							
							<!-- SLIDE   3 -->

							<li data-index="rs-131" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Service">
								<!-- MAIN IMAGE -->
								<img src="include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='#FFF' style='background:#FFF' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<div class="tp-caption  "
								 id="slide-rond"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','-0','-0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-0']"
								data-width="['1500','1000','900','800']"
								data-height="['1500','1000','900','800']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0;sY:1;sX:1;"

								 data-transform_in="sY:0;sX:0;opacity:0;s:500;e:Power3.easeOut;"
								 data-transform_out="sY:0;sX:0;opacity:0;s:200;e:Power3.easeOut;"
								 
								data-start="0"
								data-responsive_offset="off"
								style="z-index: 4;"
								
								>
								<img   src="include/rs-plugin/demos/assets/images/dummy.png" alt="" 
								data-ww="['1500px','1000px','900px','800px']" data-hh="['1500px','1000px','900px','800px']" 
								data-lazyload="images/biglogo.png">
									
								</div>
								
								<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-66"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-420','-350','-315','-280']"
									data-width="['1000','1000','1000','1000']"
									data-height="none"
									data-whitespace="nowrap"
									data-fontsize=['120','90','90','70']
									data-fontweight= ['900','900','900','900'];

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":500,"split":"chars","splitdelay":0.062, "speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['center','center','center','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen" 
									
									style="z-index: 6;font-weight:900; white-space: nowrap; color: white;">Concept </div>

 
								<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-65"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-300','-250','-225','-200']"
									data-width="['1000','1000','1000','1000']"
									data-height="none"
									data-whitespace="nowrap"
									data-fontsize=['120','90','90','70']
									data-fontweight= ['1000','1000','1000','1000'];
									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":1000,"split":"chars","splitdelay":0.062,"speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['center','center','center','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen"
									
									style="z-index: 6; white-space: nowrap;font-weight: 900; color: white;">Site web </div>

								


								<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-64"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-180','-150','-135','-120']"
												data-width="['1000','1000','1000','1000']"
									data-height="none"
									data-whitespace="nowrap"
									data-fontsize=['120','90','90','70']
									data-fontweight= ['1000','1000','1000','1000'];

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":1500,"split":"chars","splitdelay":0.055,"speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['center','center','center','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen"
								
									style="z-index: 6; white-space: nowrap; font-weight: 900; color: white;">Publicité </div>






								<!-- LAYER NR. 10 -->
								<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-60"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-60','-50','-45','-40']"
												data-width="['1000','1000','1000','1000']"
									data-height="none"
									data-whitespace="nowrap"
									data-fontsize=['120','90','90','70']
									data-fontweight= ['1000','1000','1000','1000'];

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":2000,"split":"chars","splitdelay":0.062,"speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['center','center','center','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen"
									
									style="z-index: 6; white-space: nowrap; font-weight: 900; color: white;">Stratégie </div>

									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-61"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['60','50','45','40']"
												data-width="['1000','1000','1000','1000']"
									data-height="none"
									data-whitespace="nowrap"
									data-fontsize=['120','90','90','70']
									data-fontweight= ['1000','1000','1000','1000'];

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":2500,"split":"chars","splitdelay":0.071,"speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['center','center','center','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen"
					
									style="z-index: 6; white-space: nowrap;  font-weight: 900; color: white;">Web app</div>

									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-62"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['180','150','135','120']"
												data-width="['1000','1000','1000','1000']"
									data-height="none"
									data-whitespace="nowrap"
									data-fontsize=['120','90','90','70']
									data-fontweight= ['1000','1000','1000','1000'];

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":3000,"split":"chars","splitdelay":0.055,"speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['center','center','center','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen"
								
									style="z-index: 6;white-space: nowrap;  font-weight: 900; color: white;">Rédaction </div>
									
									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-64"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['300','250','225','200']"
									data-width="['1000','1000','1000','1000']"
									data-height="none"
									data-whitespace="nowrap"
									data-fontsize=['120','90','90','70']
									data-fontweight= ['1000','1000','1000','1000'];

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":3500,"split":"chars","splitdelay":0.038,"speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['center','center','center','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen"
									
									style="z-index: 6; white-space: nowrap;font-weight: 900; color: white;">Photo & Vidéo</div>

									
								
									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-63"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['420','350','315','280']"
												data-width="['1000','1000','1000','1000']"
									data-height="none"
									data-whitespace="nowrap"
									data-fontsize=['120','90','90','70']
									data-fontweight= ['1000','1000','1000','1000'];

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":4000,"split":"chars","splitdelay":0.071,"speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['center','center','center','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen"
									
									style="z-index: 6; white-space: nowrap; font-weight: 900; color: white;">Conseil</div>
									
									
									

							

							</li>	
							
							
							

		

							<li data-index="rs-139" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Service">
								
								<img src="include/rs-plugin/demos/assets/images/dummy.png"  alt=""  data-lazyload="videos/poster.jpg" data-bgposition="center center" data-bgfit="cover" data-bgparallax="7" class="rev-slidebg" data-no-retina>
								

							<div class="rs-background-video-layer"
							data-blendmode="darken"
								data-forcerewind="on"
								data-volume="mute"
								data-videowidth="100%"
								data-videoheight="100%"
								data-videomp4="videos/CameraLens.mp4"
								data-videopreload="auto"
								data-videoloop="loop"
								data-forceCover="1"
								data-aspectratio="16:9"
								data-autoplay="true"
								data-autoplayonlyfirsttime="false">
							</div>

									<div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme"
										 id="slide-254-layer-11"
										 data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
													data-width="full"
										data-height="full"
										data-whitespace="nowrap"
										data-transform_idle="o:1;x:0;"

										 data-transform_in="x:-1000;opacity:0;s:600;e:Power3.easeInOut;"
										 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
										data-start="0"
										data-basealign="slide"
										data-responsive_offset="on"


										style="z-index: 4;background-color:rgba(0, 80, 80, 0.6);border-color:rgba(0, 0, 0, 1.00);">
									</div>
								<!-- 	<div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme"
										 id="slide-254-layer-11"
										 data-x="['right','right','right','right']" data-hoffset="['80','0','0','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
													data-width="600px"
										data-height="full"
										data-whitespace="nowrap"
										data-transform_idle="o:1;x:0;"

										 data-transform_in="x:-1000;opacity:0;s:600;e:Power3.easeInOut;"
										 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
										data-start="0"
										data-basealign="slide"
										data-responsive_offset="on"


										style="z-index: 5;background-color:rgba(0, 80, 80, 0.9);border-color:rgba(0, 0, 0, 1.00);">
									</div> -->

									<div class="tp-caption tp-resizeme linkfleche"
										id="slide-254-layer-2222"
										data-x="['right','right','left','left']" data-hoffset="['180','180','380','280']"
										data-y="['middle','middle','middle','middle']" data-voffset="['375','350','330','280']"
										data-width="90px"
										data-height="30px"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"
										data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
										data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
										data-start="1000"
										data-basealign="slide"
										data-responsive_offset="on"
										style="z-index: 5;cursor:pointer;">
										<a href="/pixelblog">
										<svg version="1.0"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="30px" viewBox="0 0 150 50" style="enable-background:new 0 0 150 50;" xml:space="preserve" style="color:#FFF;">
											<style type="text/css">
												.st0{fill:#FFFFFF;}
												.linkfleche:hover .st0{fill:#cCC;}
											</style>
											<path class="st0" d="M5,42.2c0-0.1,0.1-0.2,0.1-0.3l0,0L22,6.9c1.6-3.2,3.7-3.7,4.8-3.7c1.1,0,3.2,0.5,4.8,3.7l13.2,27.5
												c0.4,0.8,1.1,1.6,1.4,1.6c0.1,0,0.7-0.3,1.4-1.7L61,6.9c1.6-3.2,3.7-3.7,4.8-3.7c1.1,0,3.2,0.5,4.8,3.7l10.3,21.3l0,0l3.7,7.7
												c0.6,1.2,1.1,1.6,1.4,1.6s0.8-0.4,1.4-1.6l8.2-16.5c0-0.1,0.1-0.2,0.1-0.3c0.7-1.5,2.6-2.1,4.1-1.4s2.1,2.6,1.4,4.1
												c0,0.1-0.1,0.2-0.1,0.3L90.8,43.3C89.2,46.6,87.1,47,86,47s-3.2-0.5-4.8-3.7L71.4,23l0,0l-4.2-8.8c-0.6-1.2-1.1-1.6-1.4-1.6
												S65,13,64.4,14.2L51.2,41.7H51l0.1,0.1c-1.1,1.9-2.3,3.7-4.7,3.7c-0.7,0-1.4-0.2-2-0.5c-1.2-0.6-2.2-2.2-2.8-3.3L28.3,14.2
												c-0.6-1.2-1.1-1.6-1.4-1.6s-0.8,0.4-1.4,1.6L11.7,42.8l-0.8,1.8c0,0.1-0.1,0.2-0.1,0.4c-0.8,1.6-2.7,2.2-4.2,1.4
												C4.9,45.7,4.3,43.8,5,42.2z"/>
											<g>
												<path class="st0" d="M135.7,25.1c0,0.3-0.4,0.8-1.6,1.4l-28.7,13.8l0,0l-1.8,0.8c-0.1,0-0.2,0.1-0.4,0.1c-1.6,0.8-2.2,2.7-1.4,4.2
													c0.6,1.3,2.1,2,3.4,1.7c0.2,0,0.3-0.1,0.5-0.1c0.1,0,0.2-0.1,0.3-0.1l0.1-0.1c0.1,0,0.1-0.1,0.2-0.1l35-16.9
													c3.2-1.6,3.7-3.7,3.7-4.8"/>
												<path class="st0" d="M135.7,25.3c0-0.3-0.4-0.8-1.6-1.4l-28.7-13.8l0,0l-1.8-0.8c-0.1,0-0.2-0.1-0.4-0.1c-1.6-0.8-2.2-2.7-1.4-4.2
													c0.6-1.3,2.1-2,3.4-1.7c0.2,0,0.3,0.1,0.5,0.1c0.1,0,0.2,0.1,0.3,0.1l0.1,0.1c0.1,0,0.1,0.1,0.2,0.1l35,16.9
													c3.2,1.6,3.7,3.7,3.7,4.8"/>
											</g>
										</svg>
										</a>
									</div>

									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-82"
									 data-x="['right','right','left','left']" data-hoffset="[140','140','60','40']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-180','-180']"
									data-width="['1100','900','700','450']"
									data-fontsize="['167','157','120','80']"
									data-lineheight="['137','122','100','70']"
									data-height="none"
									data-whitespace="['normal','normal','normal','normal']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"
									data-basealign="slide"
									data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['right','right','left','left']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 7; white-space: normal; font-size: 32px; line-height: 40px;  color: rgba(255,255,255,1);font-weight:900;text-transform:uppercase;font-family:Raleway;text-align:right;">On a un<br> pixels<br>blog
									</div>
									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-82"
									 data-x="['right','right','left','left']" data-hoffset="['140','140','60','60']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['250','210','180','130']"
									data-width="['450','500','451','330']"
									data-fontsize="['24','24','30','24']"
									data-height="none"
									data-whitespace="['normal','normal','normal','normal']"
									data-basealign="slide"
									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','left','left']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 7; white-space: normal; font-size: 24px; line-height: 40px;  color: rgba(255,255,255,1);font-family:Raleway;">Immortaliser les belles images est une passion.
									Si vous aimez la photographie, jetez-y vos deux yeux. 
									</div>

							</li>
						

						
							
								<li data-index="rs-132" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Example Three" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" style="background-color: #FFF;" >
								

								<div class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-1"
									 data-x="['center','center','center','center']" data-hoffset="['-600','-350','-150','-100']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-310','-250','-270','-250']"
									data-start="750"
									data-actions='[{"event":"mouseenter","action":"startlayer","layer":"logoclient-1-mom","delay":"0"}]'
									data-responsive_offset="on"
									style="z-index: 13;background :transparent !important;display:flex;align-items:center;justify-content:center;"><img src="images/logoclient/nutri-mom.png" alt="" width="600" height="400" data-ww="['600px','400px','300px','200px']" data-hh="['400px','267px','200px','133px']" data-no-retina>
								</div>
								<div class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-2"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','20','-100']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-310','-250','10000',200']"
									data-start="750"
									data-actions='[{"event":"mouseenter","action":"startlayer","layer":"logoclient-2-mom","delay":"0"}]'
									 data-visibility="['on', 'on', 'off', 'off']"
									data-responsive_offset="on"
									style="z-index: 12;background :red !important;display:flex;align-items:center;justify-content:center;"><img  style="background :blue !important;" src="images/logoclient/pai-mom.png" alt="" width="600" height="400" data-ww="['600px','400px','300px','200px']" data-hh="['400px','267px','200px','133px']" data-no-retina>
								</div>
								<div class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-3"
									 data-x="['center','center','center','center']" data-hoffset="['599','330','150','100']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-310','-250','-270','-240']"
									data-start="750"
									data-actions='[{"event":"mouseenter","action":"startlayer","layer":"logoclient-3-mom","delay":"0"}]'
									data-responsive_offset="on"
									style="z-index: 13;background :transparent !important;display:flex;align-items:center;justify-content:center;"><img src="images/logoclient/mdene77-mom.png" alt="" width="600" height="400" data-ww="['600px','400px','300px','200px']" data-hh="['400px','267px','200px','133px']" data-no-retina>
								</div>
								<div class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-4"
									 data-x="['center','center','center','center']" data-hoffset="['-600','-350','-150','-100']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['10','30','0','0']"
									data-start="750"
									data-actions='[{"event":"mouseenter","action":"startlayer","layer":"logoclient-4-mom","delay":"0"}]'
									data-responsive_offset="on"
									style="z-index: 23;background :transparent !important;display:flex;align-items:center;justify-content:center;"><img src="images/logoclient/yaka-mom.png" alt="" width="600" height="400" data-ww="['600px','400px','300px','200px']" data-hh="['400px','267px','200px','133px']" data-no-retina>
								</div>
								<div class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-5"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','30','-80']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['30','30','10000','10000']"
									data-start="750"
									data-actions='[{"event":"mouseenter","action":"startlayer","layer":"logoclient-5-mom","delay":"0"}]'
									data-responsive_offset="on"
									 data-visibility="['on', 'on', 'off', 'off']"
									style="z-index: 3;background :transparent !important;display:flex;align-items:center;justify-content:center;"><img src="images/logoclient/jeandepiepape-mom.png" alt="" width="600" height="400" data-ww="['600px','300px','300px','200px']" data-hh="['400px','200px','200px','133px']" data-no-retina>
								</div>
								<div class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-6"
									 data-x="['center','center','center','center']" data-hoffset="['599','330','150','100']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['60','30','0','0']"
									data-start="750"
									data-actions='[{"event":"mouseenter","action":"startlayer","layer":"logoclient-6-mom","delay":"0"}]'
									data-responsive_offset="on"
									style="z-index: 22;background :transparent !important;display:flex;align-items:center;justify-content:center;"><img src="images/logoclient/arbatou-mom.png" alt="" width="600" height="400" data-ww="['600px','400px','300px','200px']" data-hh="['400px','267px','200px','133px']" data-no-retina>
								</div>
								<div class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-7"
									 data-x="['center','center','center','center']" data-hoffset="['-600','-350','-160','-100']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['350','280','270','10000']"
									data-start="750"
									data-actions='[{"event":"mouseenter","action":"startlayer","layer":"logoclient-7-mom","delay":"0"}]'
									data-responsive_offset="on"

									style="z-index: 12;background :transparent !important;display:flex;align-items:center;justify-content:center;"><img src="images/logoclient/jbm-mom.png" alt="" width="600" height="400" data-ww="['600px','400px','300px','200px']" data-hh="['400px','267px','200px','133px']" data-no-retina>
								</div>
								<div class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-8"
									  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['300','280','10000','10000']"
									 data-visibility="['on', 'on', 'off', 'off']"
									data-start="750"
									data-actions='[{"event":"mouseenter","action":"startlayer","layer":"logoclient-8-mom","delay":"0"}]'
									style="z-index: 6;background :transparent !important;display:block;align-items:center;justify-content:center;"><img src="images/logoclient/herah-mom.png" alt="" width="600" height="400" data-ww="['600px','300px','300px','200px']" data-hh="['400px','200px','200px','133px']" data-no-retina>
								</div>
								<div class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-9"
									 data-x="['center','center','center','center']" data-hoffset="['599','350','160','100']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['350','280','270','200']"
									data-start="750"
									data-actions='[{"event":"mouseenter","action":"startlayer","layer":"logoclient-9-mom","delay":"0"}]'
									data-responsive_offset="on"
									style="z-index: 20;background :transparent !important;display:flex;align-items:center;justify-content:center;"><img src="images/logoclient/aprobenir-mom.png" alt="" width="600" height="400" data-ww="['600px','400px','300px','200px']" data-hh="['400px','267px','200px','133px']" data-no-retina>
								</div>




								<a class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-1-mom"
									  target="_BLANK" href="http://nutrimarketing.eu"
									 data-x="['center','center','center','center']" data-hoffset="['-600','-350','-150','-100']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-310','-250','-270','-250']"

									data-start="bytrigger"
									data-actions='[{"event":"mouseleave","action":"stoplayer","layer":"logoclient-1-mom","delay":"0"}]'
									data-responsive_offset="on"
									style="z-index: 16;background :transparent !important;display:flex;align-items:center;justify-content:center;"><img src="images/logoclient/nutri.png" alt="" width="600" height="400" data-ww="['600px','400px','300px','200px']" data-hh="['400px','267px','200px','133px']" data-no-retina>
								</a>
								<a class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-2-mom"
									  target="_BLANK" href="club pai"
									data-x="['center','center','center','center']" data-hoffset="['0','0','20','-100']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-310','-250','10000',200']"

									data-start="bytrigger"
									data-actions='[{"event":"mouseleave","action":"stoplayer","layer":"logoclient-2-mom","delay":"0"}]'
									data-responsive_offset="on"
									style="z-index: 12;background :transparent !important;display:flex;align-items:center;justify-content:center;"><img src="images/logoclient/pai.png" alt="" width="600" height="400" data-ww="['600px','400px','300px','200px']" data-hh="['400px','267px','200px','133px']"data-no-retina>
								</a>
								<a class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-3-mom"
									 target="_BLANK" href="http://mdene77.fr"
									 data-x="['center','center','center','center']" data-hoffset="['599','330','150','100']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-310','-250','-270','-240']"



									data-start="bytrigger"
									data-actions='[{"event":"mouseleave","action":"stoplayer","layer":"logoclient-3-mom","delay":"0"}]'
									data-responsive_offset="on"
									style="z-index: 16;background :transparent !important;display:flex;align-items:center;justify-content:center;"><img src="images/logoclient/mdene77.png" alt="" width="600" height="400"data-ww="['600px','400px','300px','200px']" data-hh="['400px','267px','200px','133px']" data-no-retina>
								</a>
								<a class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-4-mom"
									 target="_BLANK" href="http://yakaboutique.com"
									  data-x="['center','center','center','center']" data-hoffset="['-600','-350','-150','-100']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['10','30','0','0']"

									data-start="bytrigger"
									data-actions='[{"event":"mouseleave","action":"stoplayer","layer":"logoclient-4-mom","delay":"0"}]'
									data-responsive_offset="on"
									style="z-index: 24;background :transparent !important;display:flex;align-items:center;justify-content:center;"><img src="images/logoclient/yaka.png" alt="" width="600" height="400" data-ww="['600px','400px','300px','200px']" data-hh="['400px','267px','200px','133px']" data-no-retina>
								</a>
								<a class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-5-mom"
									 target="_BLANK" href="http://jeandepiepape.com"
									data-x="['center','center','center','center']" data-hoffset="['0','0','30','-80']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['30','30','10000','10000']"

									data-start="bytrigger"
									data-actions='[{"event":"mouseleave","action":"stoplayer","layer":"logoclient-5-mom","delay":"0"}]'
									data-responsive_offset="on"
									style="z-index: 3;background :transparent !important;display:flex;align-items:center;justify-content:center;"><img src="images/logoclient/jeandepiepape.png" alt="" width="600" height="400" data-ww="['600px','300px','300px','200px']" data-hh="['400px','200px','200px','133px']" data-no-retina>
								</a>
								<a class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-6-mom"
									  target="_BLANK" href="http://arbatou.fr"
										  data-x="['center','center','center','center']" data-hoffset="['599','330','150','100']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['60','30','0','0']"

									data-start="bytrigger"
									data-actions='[{"event":"mouseleave","action":"stoplayer","layer":"logoclient-6-mom","delay":"0"}]'
									data-responsive_offset="on"
									style="z-index: 22;background :transparent !important;display:flex;align-items:center;justify-content:center;"><img src="images/logoclient/arbatou.png" alt="" width="600" height="400" data-ww="['600px','400px','300px','200px']" data-hh="['400px','267px','200px','133px']" data-no-retina>
								</a>
								<a class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-7-mom"
									  target="_BLANK" href="http://arbatou.fr"
									data-x="['center','center','center','center']" data-hoffset="['-600','-350','-160','-100']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['350','280','270','10000']"

									data-start="bytrigger"
									data-actions='[{"event":"mouseleave","action":"stoplayer","layer":"logoclient-7-mom","delay":"0"}]'
									data-responsive_offset="on"
									style="z-index: 15;background :transparent !important;display:flex;align-items:center;justify-content:center;"><img src="images/logoclient/jbm.png" alt="" width="600" height="400" data-ww="['600px','400px','300px','200px']" data-hh="['400px','267px','200px','133px']" data-no-retina>
								</a>
								<a class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-8-mom"
									  target="_BLANK" href="http://herah.fr"
									   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['300','280','10000','10000']"

									
									data-start="bytrigger"
									data-actions='[{"event":"mouseleave","action":"stoplayer","layer":"logoclient-8-mom","delay":"0"}]'
									data-responsive_offset="on"
									style="z-index: 14;background :transparent !important;display:flex;align-items:center;justify-content:center;"><img src="images/logoclient/herah.png" alt="" width="600" height="400" data-ww="['600px','300px','300px','200px']" data-hh="['400px','200px','200px','133px']" data-no-retina>
								</a>
								
								<a class="tp-caption  logoclient  tp-resizeme"
									 id="logoclient-9-mom"
									 target="_BLANK" href="http://aprobenir.com"
									 data-x="['center','center','center','center']" data-hoffset="['599','350','160','100']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['350','280','270','200']"

									data-start="bytrigger"
									data-actions='[{"event":"mouseleave","action":"stoplayer","layer":"logoclient-9-mom","delay":"0"}]'
									data-responsive_offset="on"
									style="z-index: 21;background :transparent !important;display:flex;align-items:center;justify-content:center;">
									<img src="images/logoclient/aprobenir.png" alt="" width="600" height="400" data-ww="['600px','400px','300px','200px']" data-hh="['400px','267px','200px','133px']" data-no-retina>
								</a>	

						
							</li>
<!-- SLIDE 3 -->
						

							

							


														
							<li data-index="rs-1398" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Service">
								<!-- MAIN IMAGE -->
								
								<img src="include/rs-plugin/demos/assets/images/dummy.png" style="
								" alt=""  data-lazyload="images/mom-1-3.jpg" data-bgposition="center center" data-kenburns="on" data-duration="40000" data-ease="Power1.easeOut" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="250 50" class="rev-slidebg" data-no-retina>

									<!-- LAYER NR. 1 -->
									<!-- <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme"
										 id="slide-254-layer-11"
										 data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
										data-width="[550px,550px,550px,380px]"
										data-height="full"
										data-whitespace="nowrap"
										data-transform_idle="o:1;x:0;"

										 data-transform_in="x:-1000;opacity:0;s:600;e:Power3.easeInOut;"
										 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
										data-start="0"
										data-basealign="slide"
										data-responsive_offset="on"


										style="z-index: 5;background-color:rgba(0, 80, 80, 0.9);border-color:rgba(0, 0, 0, 1.00);">
									</div> -->

									<div class="tp-caption tp-resizeme linkfleche"
										 id="slide-254-layer-2222"
										 data-x="['left','left','left','left']" data-hoffset="['410','410','400','280']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['380','300','320','230']"
													data-width="90px"
										data-height="30px"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"

										 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
										 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
										data-start="1000"
										data-basealign="slide"
										data-responsive_offset="on"


										style="z-index: 5;cursor:pointer;">
										<a href="/vide-poches">
										<svg version="1.0"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="30px" viewBox="0 0 150 50" style="enable-background:new 0 0 150 50;" xml:space="preserve" style="color:#FFF;">
											<style type="text/css">
												.st0{fill:#FFFFFF;}
												.linkfleche:hover .st0{fill:#cCC;}
											</style>
											<path class="st0" d="M5,42.2c0-0.1,0.1-0.2,0.1-0.3l0,0L22,6.9c1.6-3.2,3.7-3.7,4.8-3.7c1.1,0,3.2,0.5,4.8,3.7l13.2,27.5
												c0.4,0.8,1.1,1.6,1.4,1.6c0.1,0,0.7-0.3,1.4-1.7L61,6.9c1.6-3.2,3.7-3.7,4.8-3.7c1.1,0,3.2,0.5,4.8,3.7l10.3,21.3l0,0l3.7,7.7
												c0.6,1.2,1.1,1.6,1.4,1.6s0.8-0.4,1.4-1.6l8.2-16.5c0-0.1,0.1-0.2,0.1-0.3c0.7-1.5,2.6-2.1,4.1-1.4s2.1,2.6,1.4,4.1
												c0,0.1-0.1,0.2-0.1,0.3L90.8,43.3C89.2,46.6,87.1,47,86,47s-3.2-0.5-4.8-3.7L71.4,23l0,0l-4.2-8.8c-0.6-1.2-1.1-1.6-1.4-1.6
												S65,13,64.4,14.2L51.2,41.7H51l0.1,0.1c-1.1,1.9-2.3,3.7-4.7,3.7c-0.7,0-1.4-0.2-2-0.5c-1.2-0.6-2.2-2.2-2.8-3.3L28.3,14.2
												c-0.6-1.2-1.1-1.6-1.4-1.6s-0.8,0.4-1.4,1.6L11.7,42.8l-0.8,1.8c0,0.1-0.1,0.2-0.1,0.4c-0.8,1.6-2.7,2.2-4.2,1.4
												C4.9,45.7,4.3,43.8,5,42.2z"/>
											<g>
												<path class="st0" d="M135.7,25.1c0,0.3-0.4,0.8-1.6,1.4l-28.7,13.8l0,0l-1.8,0.8c-0.1,0-0.2,0.1-0.4,0.1c-1.6,0.8-2.2,2.7-1.4,4.2
													c0.6,1.3,2.1,2,3.4,1.7c0.2,0,0.3-0.1,0.5-0.1c0.1,0,0.2-0.1,0.3-0.1l0.1-0.1c0.1,0,0.1-0.1,0.2-0.1l35-16.9
													c3.2-1.6,3.7-3.7,3.7-4.8"/>
												<path class="st0" d="M135.7,25.3c0-0.3-0.4-0.8-1.6-1.4l-28.7-13.8l0,0l-1.8-0.8c-0.1,0-0.2-0.1-0.4-0.1c-1.6-0.8-2.2-2.7-1.4-4.2
													c0.6-1.3,2.1-2,3.4-1.7c0.2,0,0.3,0.1,0.5,0.1c0.1,0,0.2,0.1,0.3,0.1l0.1,0.1c0.1,0,0.1,0.1,0.2,0.1l35,16.9
													c3.2,1.6,3.7,3.7,3.7,4.8"/>
											</g>
										</svg>
										</a>
									</div>

									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-82"
									 data-x="['left','left','left','left']" data-hoffset="['80','60','60','60']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-180','-130']"
									
									data-width="['1100','900','500','450']"
									data-fontsize="['167','157','120','80']"
									data-lineheight="['137','122','110','80']"
									data-height="none"
									data-whitespace="['normal','normal','normal','normal']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"
									data-basealign="slide"
									data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 7; white-space: normal; font-size: 32px; line-height: 40px;  color: rgba(255,255,255,1);font-family:raleway; font-weight:900; text-transform : uppercase;">Le vide- </br>poches
									</div>
									<div class="tp-caption   tp-resizeme"
									 id="slide-1333-layer-8233"
									 data-x="['left','left','left','left']" data-hoffset="['80','60','60','60']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['220','220','100','100']"
									data-width="['450','500','600','330']"
									data-height="none"
									data-fontsize="['24','24','40','24']"
									data-lineheight="['40','40','60','40']"
									data-whitespace="['normal','normal','normal','normal']"
									data-basealign="slide"
									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 7; white-space: normal;line-height: 40px;  color: rgba(255,255,255,1); ">
									À l'intention de ceux qui savent tuer la caille ou le perdreau et manger la tome de chèvre. Du temps pour le rire, la moquerie, la malice et les bilevesées.
								
									</div>

							
							</li>	
							<li data-index="rs-1323" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Example Three" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='#FFF' style='' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<!-- LAYER NR. 9 -->
								

								
								<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-8"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-200','-300','-300','-200']"
												data-width="['none','none','none','none']"
									data-height="none"
									data-whitespace="['nowrap','nowrap','nowrap','nowrap']"
									data-fontsize="['50','50','35','26']"
									data-lineheight="['50','50','35','26']"
									
									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="darken"

									style="z-index: 7; white-space: nowrap; font-size: 50px; line-height: 50px; color: rgba(0,80,80,0.85);">Vous voulez qu'on avance ensemble ? </div>
								<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-86"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-100','-150','-200','-150']"
												data-width="['none','none','none','none']"
									data-height="none"
									data-fontsize="['50','50','50','26']"
									data-lineheight="['50','50','50','26']"
									data-whitespace="['nowrap','nowrap','nowrap','nowrap']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="darken"

									style="z-index: 7; white-space: nowrap; font-size: 50px; line-height: 50px; color: rgba(0,80,80,0.85);font-family:raleway; font-weight:900; ">ouijeleveux@momcreation.fr</div>

									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-87"
									 data-x="['center','center','center','center']" data-hoffset="['-300','-300','-80','-50']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['200','200','200','200']"
												data-width="['none','none','361','330']"
												data-fontsize="['40','40','35','30']"
												data-lineheight="['50','50','40','40']"
									data-height="none"
									data-whitespace="['nowrap','nowrap','normal','normal']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":4000,"speed":1000,"frame":"0","from":"x:-200px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['left','left','left','left']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="darken"

									style="z-index: 7; white-space: nowrap; font-size: 40px; line-height: 50px; color: rgba(0,80,80,0.85);">Alex <br><span style="font-family:raleway; font-weight:600;">06 37 08 98 71</span></div>

									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-87"
									 data-x="['center','center','center','center']" data-hoffset="['300','300','80','50']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['200','200','200','200']"
												data-width="['none','none','361','330']"
												data-fontsize="['40','40','35','30']"
												data-lineheight="['50','50','40','40']"
									data-height="none"
									data-whitespace="['nowrap','nowrap','normal','normal']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":4000,"speed":1000,"frame":"0","from":"x:200px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['right','right','right','right']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="darken"

									style="z-index: 7;text-align: right; white-space: nowrap; font-size: 40px; line-height: 50px; color: rgba(0,80,80,0.85);">Nico<br> <span style="font-family:raleway; font-weight:600;">06 52 47 91 77</span></div>

									<a class="tp-caption   tp-resizeme sociallink"
					 			href="https://www.facebook.com/momcreation1/" target="_blank"			 id="slider-8-layer-5"
								 data-x="['left','left','left','left']" data-hoffset="['70','70','120','20']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['70','40','20','20']"
											data-width="40"
								data-height="40"
								data-whitespace="nowrap"
								
								data-frames='[{"delay":4500,"speed":5000,"frame":"0","from":"y:bottom;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
								data-splitin="none"
								data-splitout="none"
								data-actions=''
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								
								data-textAlign="center"

								style="z-index: 12; min-width: 40px; max-width: 40px; max-width: 40px; max-width: 40px; white-space: nowrap; font-size: 20px; line-height: 40px; font-weight: 400; color: rgba(0, 80, 80, 1.00);text-align:center;border-color:rgba(0, 80, 80, 1.00);border-style:solid;border-width:2px;cursor:pointer;"><i class="icon-facebook"></i> </a>
								

									<a class="tp-caption   tp-resizeme sociallink"
					 			href="https://www.linkedin.com/company/momcreation/" target="_blank"			 id="slider-8-layer-53"
								 data-x="['left','left','left','left']" data-hoffset="['120','120','170','70']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['70','40','20','20']"
											data-width="40"
								data-height="40"
								data-whitespace="nowrap"
								
								data-frames='[{"delay":4100,"speed":5000,"frame":"0","from":"y:bottom;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
								data-splitin="none"
								data-splitout="none"
								data-actions=''
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								
								data-textAlign="center"

								style="z-index: 12; min-width: 40px; max-width: 40px; max-width: 40px; max-width: 40px; white-space: nowrap; font-size: 20px; line-height: 40px; font-weight: 400; color: rgba(0, 80, 80, 1.00);text-align:center;border-color:rgba(0, 80, 80, 1.00);border-style:solid;border-width:2px;cursor:pointer;"><i class="icon-linkedin"></i> </a>

									<a class="tp-caption   tp-resizeme "
					 			href="CGV - MOM .pdf" target="_blank"			 id="slider-8-layer-53"
								 data-x="['right','right','right','right']" data-hoffset="['70','70','120','30']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['65','35','15','20']"
											data-width="['140','140','40','40']"
								data-height="['40','40','40','40']"
								data-whitespace="nowrap"
								
								data-frames='[{"delay":4100,"speed":5000,"frame":"0","from":"y:bottom;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
								data-splitin="none"
								data-splitout="none"
								data-actions=''
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								
								data-textAlign="right"

								style="z-index: 12; min-width: 40px; max-width: 40px; max-width: 40px; max-width: 40px; white-space: nowrap; font-size: 20px; line-height: 40px; font-weight: 400; color: rgba(0, 80, 80, 1.00);text-align:center;border-color:rgba(0, 80, 80, 1.00);cursor:pointer;">CGV</a>

								<a class="tp-caption   tp-resizeme "
					 			href="Base tarifaire - MOMCREATION - PDF.pdf" target="_blank"			 id="slider-8-layer-531551515"
								 data-x="['right','right','right','right']" data-hoffset="['140','140','180','100']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['65','35','15','20']"
								data-width="['140','140','40','40']"
								data-height="['40','40','40','40']"
								data-whitespace="nowrap"
								
								data-frames='[{"delay":4100,"speed":5000,"frame":"0","from":"y:bottom;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
								data-splitin="none"
								data-splitout="none"
								data-actions=''
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								
								data-textAlign="right"

								style="z-index: 12; min-width: 40px; max-width: 40px; max-width: 40px; max-width: 40px; white-space: nowrap; font-size: 20px; line-height: 40px; font-weight: 400; color: rgba(0, 80, 80, 1.00);text-align:center;border-color:rgba(0, 80, 80, 1.00);cursor:pointer;">Tarifs</a>


								<div class="tp-caption  tp-resizeme"
								 id="slide-130-layer-222"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['100','50','0','0']"
								data-width="200"
								data-height="200"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0;sX:1;sY:1;"

								 data-transform_in="sX:0.5;sY:0.5;opacity:0;s:1000;e:Power3.easeOut;"
								 
								data-start="2500"
								style="z-index: 5;"><div class="rs-looped rs-wave" data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%">
									
									<img src="images/logo-01.png"  width="200px" height="200px"  style="max-height:200px !important;max-width: 200px !important;" alt="">
								</div></div>

						



							</li>
							
















							

							
							
								<!-- SLIDE 3 -->
							

						




						</ul>
						<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
						</div><!-- END REVOLUTION SLIDER -->
			</div><!-- END REVOLUTION SLIDER WRAPPER -->

		</section>
		

		

		

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/addons/revolution.addon.particles.min.js"></script>

	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

	<!-- ADD-ONS JS FILES -->

	<script type="text/javascript">


		var revapi54,
		tpj=jQuery;
				tpj(document).ready(function() {
		if(tpj("#rev_slider").revolution == undefined){
			revslider_showDoubleJqueryError("#rev_slider");
		}else{
			revapi54 = tpj("#rev_slider").show().revolution({
				sliderType:"standard",
				jsFileLocation:"include/rs-plugin/js/",
				sliderLayout:"fullscreen",
				dottedOverlay:"none",
				delay:9000,
				particles: {startSlide: "1", endSlide: "1", zIndex: "1",
					particles: {
						number: {value: 80}, color: {value: "#005050"},
						shape: {
							// type: "circle", 
							stroke: {width: 1, color: "#ffffff", opacity: 0.9},
							type: "image",
							image: {src: "M12.1,22c-5.5,0.6-9.5-4.6-10-9.9C1.5,6.6,6.4,2.4,11.9,2c5.3-0.4,9.2,4.2,10,9.9C22.7,17.4,17.4,21.4,12.1,22z"}
						},
						opacity: {value: 0.4, random: false, min: 0.25, anim: {enable: false, speed: 3, opacity_min: 0, sync: false}},
						size: {value: 30, random: true, min: 1, anim: {enable: false, speed: 40, size_min: 1, sync: false}},
						line_linked: {enable: true, distance: 200, color: "#005050", opacity: 0.2, width: 2},
						move: {enable: true, speed: 3, direction: "none", random: true, min_speed: 3, straight: false, out_mode: "out"}},
					interactivity: {
						events: {onhover: {enable: true, mode: "repulse"}, onclick: {enable: false, mode: "repulse"}},
						modes: {
						 bubble: {distance: 300, size: 150, opacity: 1}, repulse: {distance: 200}}
					}
				},
				navigation: {
					keyboardNavigation:"on",
					keyboard_direction: "vertical",
					mouseScrollNavigation:"on",
					 mouseScrollReverse:"default",
					onHoverStop:"off",
					touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 50,
							swipe_direction: "vertical",
							drag_block_vertical: false
						},
					arrows: {
						style:"gyges",
						enable:false,
						hide_onmobile:false,
						hide_onleave:false,
						tmp:'',
						left: {
							h_align:"center",
							v_align:"bottom",
							h_offset:-20,
							v_offset:0
						},
						right: {
							h_align:"center",
							v_align:"bottom",
							h_offset:20,
							v_offset:0
						}
					},
					bullets: {
							enable:true,
							hide_onmobile:false,
							hide_under:2500,
							style: 'zeus',
        					tmp: '<span class="tp-bullet-title">{{title}}</span>',
							hide_onleave:false,
							direction:"vertical",
							h_align:"right",
							v_align:"center",
							h_offset:30,
							v_offset:0,
							space:5,
							tmp:''
						}
				},
				responsiveLevels:[1240,1024,778,480],
				visibilityLevels:[1240,1024,778,480],
				gridwidth:[1400,1200,778,480],
				// gridheight:[1000,800,960,720],
				// responsiveLevels:[1920,1680,1366,800],
				// visibilityLevels:[1920,1680,1366,800],
				// gridwidth:[1920,1680,1366,800],
				// gridheight:[1050,850,768,600],
				lazyType:"none",
				shadow:0,
				spinner:"off",
				stopLoop:"on",
				stopAfterLoops:0,
				stopAtSlide:1,
				shuffle:"off",
				autoHeight:"off",
				fullScreenAutoWidth:"on",
				fullScreenAlignForce:"off",
				fullScreenOffsetContainer: "",
				fullScreenOffset: "0",
				disableProgressBar:"on",
				hideThumbsOnMobile:"off",
				hideSliderAtLimit:0,
				hideCaptionAtLimit:0,
				hideAllCaptionAtLilmit:0,
				debugMode:false,
				fallbacks: {
					simplifyAll:"off",
					nextSlideOnWindowFocus:"off",
					disableFocusListener:false,
				}
			});


			var is_safari = (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1);


					revapi54.bind("revolution.slide.onloaded",function (e) {
						var npe = document.getElementsByClassName("nopointerevent");
						for (var i=0;i<npe.length;i++) {
							npe[i].parentNode.parentNode.parentNode.style.pointerEvents = "none";
							npe[i].parentNode.parentNode.parentNode.style.zIndex = 100;
						}

						jQuery('.ddd_mousebox').on('mousemove',function(e) {
							var sto = revapi54.offset(),
								dim = this.getBoundingClientRect(),
								tpos = jQuery(this.parentNode.parentNode.parentNode).position(),
								pos = {top:e.pageY-sto.top-tpos.top,left:e.pageX-tpos.left},
								perc = {wp:(pos.left/dim.width)-0.5, hp:(pos.top/dim.height)-0.5};
							getOverlaps(this);
							punchgs.TweenLite.to(this.overlapps,0.4,{force3D:"true",overwrite:"auto",transformOrigin:"50% 50% 100%", z:"300px",rotationY:0-((perc.wp)*5),rotationX:((perc.hp)*5),zIndex:30});
							punchgs.TweenLite.set(this.parentNode.parentNode.parentNode,{zIndex:10});
							if (is_safari)
								punchgs.TweenLite.to(this,0.4,{force3D:"true",overwrite:"auto",z:"10px",transformOrigin:"50% 50%", rotationY:0-((perc.wp)*10),rotationX:((perc.hp)*10)});
							else
							   punchgs.TweenLite.to(this,0.4,{force3D:"true",overwrite:"auto",z:"10px",transformOrigin:"50% 50%", rotationY:0-((perc.wp)*10),rotationX:((perc.hp)*10),boxShadow:"0 50px 100px rgba(15,20,40,0.35),0 20px 45px rgba(15,20,40,0.35)"});
						});

						jQuery('.ddd_mousebox').on('mouseleave',function(e) {
							punchgs.TweenLite.set(this.parentNode.parentNode.parentNode,{zIndex:5});
						   punchgs.TweenLite.to(this,0.5,{force3D:"true",overwrite:"auto",z:"0px",transformOrigin:"50% 50%", rotationY:0,rotationX:0,boxShadow:"0,0,0,0 rgba(0,0,0,0)"});
						   punchgs.TweenLite.to(this.overlapps,0.5,{force3D:"true",z:"0px",overwrite:"auto",transformOrigin:"50% 50% 100%", rotationY:0,rotationX:0});
						});

					});

					function getOverlaps(el) {
					  if (el.overlapps == undefined) {
						el.overlapps = [];
						var jel = jQuery(el),
							jpel = jQuery(el.parentNode.parentNode.parentNode),
							pos_e = jpel.position();
						pos_e.bottom = jel.height()+pos_e.top;
						pos_e.right = jel.width()+pos_e.left;

						revapi54.find('.tp-caption').each(function() {

						   var cel = jQuery(this.parentNode.parentNode.parentNode),
							   pos_cel = cel.position();

						   if (this!==el && pos_cel.top>=pos_e.top && pos_cel.top<=pos_e.bottom && pos_cel.left>=pos_e.left && pos_cel.left<=pos_e.right)  el.overlapps.push(cel);
						});

					  }
					}
		}

		RsParticlesAddOn(revapi54);
	});	/*ready*/
	</script>

</body>
</html>