<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">

	<!-- ADD-ONS CSS FILES -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/addons/revolution.addon.particles.css">


	<!-- Document Title
	============================================= -->
	<title>MOM</title>

	<style>

		.demos-filter {
			margin: 0;
			text-align: right;
		}

		.demos-filter li {
			list-style: none;
			margin: 10px 0px;
		}

		.demos-filter li a {
			display: block;
			border: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #444;
		}

		.demos-filter li a:hover,
		.demos-filter li.activeFilter a { color: #1ABC9C; }

		@media (max-width: 991px) {
			.demos-filter { text-align: center; }

			.demos-filter li {
				float: left;
				width: 33.3%;
				padding: 0 20px;
			}
		}

		@media (max-width: 767px) {
			.demos-filter li { width: 50%; }
		}
		.rev_slider .tp-caption.blockavectext{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;		display: flex; justify-content:center; align-items:center;position: relative;}
		.paragrapheService{z-index: 99; white-space: normal;  font-weight: 400;color: rgba(0,0,0,0.85);}
		div.trait{border-bottom:1px solid black;width: 400px;height: 1px;}
		div.trait2{border-right:1px solid black;width:0px;height: 400px;margin-right: 5px;}

		.zeus .tp-bullet{background: rgba(255,255,255,0.6);border-color:  rgba(0,80,80,0.9);}

		 a.sociallink {width:30px;height: 45px;display: inline-block;}
		a.sociallink:hover {background: rgba(0,80,80,0.5);}


	</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		

		<section id="slider" class="revslider-wrap clearfix">

			<div class="rev_slider_wrapper" style="background-color:#eef0f1;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.4.3.1 fullscreen mode -->

					<div id="rev_slider" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.3.1">
						<ul>	
							
							
						
							
							<!-- SLIDE  -->
							<li data-index="rs-130" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Accueil">
								<!-- MAIN IMAGE -->
								<img src="include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='#FFFFFF' style='background:#005050' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<!-- <div class="tp-caption  "
									 id="slide-130-layer-1"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
												data-width="full-proportional"
									data-height="full-proportional"
									data-whitespace="nowrap"

									data-type="image"
									data-basealign="slide"
									data-responsive_offset="off"
									data-wrapper_class="tp-nopointer"
									data-responsive="off"
									data-frames='[{"delay":600,"speed":1500,"frame":"0","from":"sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 5;"><img src="images/momcreation-87.jpg" alt="" data-ww="['full-proportional','full-proportional','full-proportional','full-proportional']" data-hh="['full-proportional','full-proportional','full-proportional','full-proportional']" data-no-retina> </div> -->
								
								<div class="tp-caption  "
								 id="slide-130-layer-2"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['500','500','500','500']"
								data-height="['500','500','500','500']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0"

								 data-transform_in="sX:50;sY:50;opacity:0.5;s:1000;e:Power3.easeOut;"
								 data-basealign="slide"
								data-start="0"
								data-fontsize="['600','600','600','450']"
								style="z-index: 5;position:relative;">
									<img src="images/logo-01.png"  alt="">
									
								</div>
								
							</li>

<!-- <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="500px" height="500px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
										<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M723.586,631.363"/>
										<g>
											<path fill="#005050" d="M517.429,452.614c-25.45,0-45.951,20.853-45.951,48.071c0,28.101,20.501,49.663,45.951,49.663
												c25.273,0,45.774-21.562,45.774-49.663C563.203,473.467,542.702,452.614,517.429,452.614z"/>
											<path fill="#005050" d="M981.613,498.552C941.983,222.761,752.28,0.749,495.466,20.198C229.904,40.31-9.204,241.288,17.127,506.322
												c25.318,254.997,221.385,507.524,486.128,478.363C760.001,956.406,1019.477,762.186,981.613,498.552z M445.703,570.659
												c-4.812,2.372-10.636,0.394-13.007-4.421c-0.175-0.357-0.32-0.722-0.45-1.087c-0.004,0.003-2.563-5.539-2.563-5.539
												c0.012,0.005-42.395-87.944-42.395-87.944c-1.728-3.584-3.504-4.885-4.276-4.885s-2.55,1.301-4.278,4.885l-40.694,84.347
												c-1.72,3.553-4.903,8.304-8.487,10.164c-1.929,1.003-4.113,1.483-6.283,1.483c-7.356,0-11.313-5.521-14.566-11.369l0.406-0.227
												l-0.576-0.057l-40.668-84.342c-1.726-3.584-3.504-4.885-4.276-4.885c-0.772,0-2.55,1.301-4.277,4.885l-12.97,26.897l0.052,0.083
												l-30.054,62.332c-4.809,9.975-11.309,11.463-14.753,11.463c-3.445,0-9.944-1.488-14.753-11.464l-31.424-64.926
												c-0.159-0.256-0.307-0.521-0.443-0.797c-2.294-4.654-0.378-10.287,4.276-12.579c4.653-2.293,10.284-0.381,12.578,4.275
												c0.141,0.288,0.267,0.58,0.377,0.873l25.084,50.606c1.755,3.64,3.531,4.94,4.305,4.94c0.772,0,2.548-1.301,4.277-4.884
												l11.428-23.702l-0.053-0.082l31.597-65.526c4.809-9.974,11.307-11.464,14.753-11.464c3.445,0,9.942,1.49,14.751,11.464
												l40.526,84.022c2.358,4.239,4.081,5.156,4.381,5.156c0.825,0,3.122-2.413,4.341-4.879c0.021,0,40.67-84.3,40.67-84.3
												c4.807-9.974,11.306-11.464,14.752-11.464c3.445,0,9.943,1.49,14.752,11.464l51.854,107.542c0.019,0.037,0.035,0.077,0.052,0.113
												c0.163,0.265,0.315,0.536,0.454,0.819C452.496,562.463,450.516,568.289,445.703,570.659z M517.429,566.077
												c-36.23,0-64.154-28.632-64.154-65.392c0-35.875,27.923-63.624,64.154-63.624c36.055,0,64.155,27.748,64.155,63.624
												C581.584,537.445,553.483,566.077,517.429,566.077z M840.577,570.659c-4.812,2.372-10.635,0.394-13.007-4.421
												c-0.175-0.357-0.321-0.722-0.45-1.088c-0.004,0.004-2.563-5.538-2.563-5.538l0.06,0.021l-42.415-87.966
												c-1.728-3.584-3.504-4.885-4.277-4.885s-2.552,1.301-4.279,4.885l-40.669,84.347c-0.087,0.179-0.182,0.353-0.284,0.52
												c-0.427,0.815-1.239,2.214-2.384,3.734c-2.258,4.781-6.819,8.058-12.097,8.058c-5.328,0-9.929-3.345-12.161-8.205
												c-0.738-1.013-1.464-2.127-2.168-3.361c-0.163-0.236-0.308-0.487-0.436-0.75l-40.667-84.342c-1.728-3.584-3.506-4.885-4.277-4.885
												c-0.772,0-2.549,1.301-4.276,4.885c-0.039,0.079-0.078,0.158-0.117,0.239c-0.459,0.952-0.918,1.905-1.377,2.859
												c-1.063,2.201-2.122,4.402-3.185,6.604c-1.469,3.042-2.935,6.085-4.4,9.126c-1.781,3.694-3.563,7.387-5.344,11.081
												c-1.939,4.021-3.878,8.043-5.816,12.066c-1.994,4.135-3.99,8.27-5.982,12.404c-1.884,3.905-3.765,7.808-5.648,11.712
												c-1.705,3.536-3.409,7.072-5.114,10.608c-1.273,2.642-2.547,5.281-3.82,7.923c-1.352,2.805-2.545,5.665-4.126,8.354
												c-1.308,2.226-2.872,4.831-5.276,6.016c-4.814,2.372-10.638,0.394-13.008-4.421c-0.858-1.742-1.161-3.686-0.899-5.605
												c0.255-1.882,1.294-3.228,2.157-4.867c1.11-2.107,2.113-4.247,3.15-6.391c1.551-3.207,3.108-6.412,4.65-9.626
												c2.003-4.176,4.036-8.336,6.039-12.511c2.29-4.771,4.603-9.529,6.896-14.299c2.41-5.003,4.823-10.002,7.235-15.001
												c2.356-4.885,4.706-9.772,7.064-14.656c2.136-4.423,4.261-8.85,6.396-13.272c1.741-3.607,3.479-7.217,5.22-10.824
												c1.173-2.433,2.348-4.866,3.521-7.3c0.434-0.903,0.871-1.807,1.308-2.709c4.809-9.974,11.307-11.464,14.753-11.464
												c3.444,0,9.942,1.49,14.754,11.464l40.451,83.896c0.025,0.041,0.048,0.084,0.073,0.126c2.356,4.239,4.079,5.156,4.38,5.156
												c0.826,0,3.123-2.413,4.341-4.879c0.063-0.128,0.131-0.253,0.202-0.372l40.468-83.928c4.809-9.974,11.307-11.464,14.753-11.464
												s9.942,1.49,14.751,11.464l51.857,107.542c0.08,0.17,0.156,0.348,0.236,0.522c0.075,0.136,0.16,0.269,0.229,0.41
												c0.163,0.332,0.301,0.669,0.425,1.009c0.192,0.463,0.33,0.955,0.396,1.471C846.619,564.315,844.586,568.686,840.577,570.659z"/>
										</g>
										</svg> -->

							
							<li data-index="rs-1399" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Service">
								<!-- MAIN IMAGE -->
								
								<img src="include/rs-plugin/demos/assets/images/dummy.png"  alt=""  data-lazyload="images/4etoiles/hd-5.jpg" data-bgposition="right center" data-kenburns="on" data-duration="40000" data-ease="Power1.easeOut" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="-150 100" class="rev-slidebg" data-no-retina>

									<!-- LAYER NR. 1 -->
									<div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme"
										 id="slide-254-layer-11"
										 data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
													data-width="[550px,550px,550px,380px]"
										data-height="full"
										data-whitespace="nowrap"
										data-transform_idle="o:1;x:0;"

										 data-transform_in="x:-1000;opacity:0;s:600;e:Power3.easeInOut;"
										 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
										data-start="0"
										data-basealign="slide"
										data-responsive_offset="on"


										style="z-index: 5;background-color:rgba(0, 80, 80, 0.9);border-color:rgba(0, 0, 0, 1.00);">
										<!-- <div class="trameimg trame1big"></div> -->
									</div>

									<div class="tp-caption tp-resizeme linkfleche"
										 id="slide-254-layer-2222"
										 data-x="['left','left','left','left']" data-hoffset="['380','380','380','250']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','160']"
													data-width="90px"
										data-height="30px"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"

										 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
										 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
										data-start="1000"
										data-basealign="slide"
										data-responsive_offset="on"


										style="z-index: 5;cursor:pointer;">
										<a href="/construction">
										<svg version="1.0"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="30px" viewBox="0 0 150 50" style="enable-background:new 0 0 150 50;" xml:space="preserve" style="color:#FFF;">
											<style type="text/css">
												.st0{fill:#FFFFFF;}
												.linkfleche:hover .st0{fill:#cCC;}
											</style>
											<path class="st0" d="M5,42.2c0-0.1,0.1-0.2,0.1-0.3l0,0L22,6.9c1.6-3.2,3.7-3.7,4.8-3.7c1.1,0,3.2,0.5,4.8,3.7l13.2,27.5
												c0.4,0.8,1.1,1.6,1.4,1.6c0.1,0,0.7-0.3,1.4-1.7L61,6.9c1.6-3.2,3.7-3.7,4.8-3.7c1.1,0,3.2,0.5,4.8,3.7l10.3,21.3l0,0l3.7,7.7
												c0.6,1.2,1.1,1.6,1.4,1.6s0.8-0.4,1.4-1.6l8.2-16.5c0-0.1,0.1-0.2,0.1-0.3c0.7-1.5,2.6-2.1,4.1-1.4s2.1,2.6,1.4,4.1
												c0,0.1-0.1,0.2-0.1,0.3L90.8,43.3C89.2,46.6,87.1,47,86,47s-3.2-0.5-4.8-3.7L71.4,23l0,0l-4.2-8.8c-0.6-1.2-1.1-1.6-1.4-1.6
												S65,13,64.4,14.2L51.2,41.7H51l0.1,0.1c-1.1,1.9-2.3,3.7-4.7,3.7c-0.7,0-1.4-0.2-2-0.5c-1.2-0.6-2.2-2.2-2.8-3.3L28.3,14.2
												c-0.6-1.2-1.1-1.6-1.4-1.6s-0.8,0.4-1.4,1.6L11.7,42.8l-0.8,1.8c0,0.1-0.1,0.2-0.1,0.4c-0.8,1.6-2.7,2.2-4.2,1.4
												C4.9,45.7,4.3,43.8,5,42.2z"/>
											<g>
												<path class="st0" d="M135.7,25.1c0,0.3-0.4,0.8-1.6,1.4l-28.7,13.8l0,0l-1.8,0.8c-0.1,0-0.2,0.1-0.4,0.1c-1.6,0.8-2.2,2.7-1.4,4.2
													c0.6,1.3,2.1,2,3.4,1.7c0.2,0,0.3-0.1,0.5-0.1c0.1,0,0.2-0.1,0.3-0.1l0.1-0.1c0.1,0,0.1-0.1,0.2-0.1l35-16.9
													c3.2-1.6,3.7-3.7,3.7-4.8"/>
												<path class="st0" d="M135.7,25.3c0-0.3-0.4-0.8-1.6-1.4l-28.7-13.8l0,0l-1.8-0.8c-0.1,0-0.2-0.1-0.4-0.1c-1.6-0.8-2.2-2.7-1.4-4.2
													c0.6-1.3,2.1-2,3.4-1.7c0.2,0,0.3,0.1,0.5,0.1c0.1,0,0.2,0.1,0.3,0.1l0.1,0.1c0.1,0,0.1,0.1,0.2,0.1l35,16.9
													c3.2,1.6,3.7,3.7,3.7,4.8"/>
											</g>
										</svg>
										</a>
									</div>

									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-82"
									 data-x="['left','left','left','left']" data-hoffset="['80','60','60','60']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-170','-170','-170','-170']"
									data-width="['450','500','450','450']"
									data-fontsize="['32','32','24','24']"
									data-height="none"
									data-whitespace="['normal','normal','normal','normal']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"
									data-basealign="slide"
									data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 7; white-space: normal;  line-height: 40px;  color: rgba(255,255,255,1);font-family:raleway; font-weight:900; text-transform : uppercase;">La marge, pas la norme.
									</div>
									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-82"
									 data-x="['left','left','left','left']" data-hoffset="['80','60','60','60']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
									data-width="['450','500','450','330']"
									data-height="none"
									data-whitespace="['normal','normal','normal','normal']"
									data-basealign="slide"
									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 7; white-space: normal; font-size: 24px; line-height: 40px;  color: rgba(255,255,255,1);">MOM, c’est jeune, solide et ça élabore des solutions de communication avec la grinta.
									<br>
									On sait que les longs textes vous emmerdent, mais pour les plus curieux, c’est ici que ça se passe.
									</div>

							
							</li>

							<li data-index="rs-131" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Service">
								<!-- MAIN IMAGE -->
								<img src="include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='#FFF' style='background:#FFF' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<div class="tp-caption  "
								 id="slide-rond"
								 data-x="['center','center','center','center']" data-hoffset="['-390','-340','-300','-350']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','0','-20']"
								data-width="600"
								data-height="600"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0;sY:1;sX:1;"

								 data-transform_in="sY:0;sX:0;opacity:0;s:500;e:Power3.easeOut;"
								 data-transform_out="sY:0;sX:0;opacity:0;s:200;e:Power3.easeOut;"
								 
								data-start="0"
								data-responsive_offset="off"
								data-fontsize="['24','600','600','450']"
								style="z-index: 4;"
								
								>
									
									<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="600px" height="600px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
									<path fill="#005050" d="M288.023,149.745C276.708,70.98,222.532,7.578,149.188,13.131C73.346,18.877,5.057,76.272,12.577,151.964c7.23,72.827,63.227,144.946,138.833,136.617C224.735,280.504,298.835,225.039,288.023,149.745z"/>
									</svg>
								

									
								</div>
								<!-- LAYER NR. 5 -->
								<!-- <div class="tp-caption  "
									 id="slide-131-layer-4"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
												data-width="full-proportional"
									data-height="full-proportional"
									data-whitespace="nowrap"

									data-type="image"
									data-basealign="slide"
									data-responsive_offset="off"
									data-wrapper_class="tp-nopointer"
									data-responsive="off"
									data-frames='[{"delay":600,"speed":1500,"frame":"0","from":"sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 5;"><img src="images/momcreation-87.jpg" alt="" data-ww="['full-proportional','full-proportional','full-proportional','full-proportional']" data-hh="['full-proportional','full-proportional','full-proportional','full-proportional']" data-no-retina> </div> -->

								<div class="tp-caption blockavectext "
								 id="slide-concept"
								 data-x="['center','center','center','center']" data-hoffset="['200','250','250','170']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['400','400','400','300']"
								data-height="600"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0;sY:1;sX:1;"

								 data-transform_in="sY:0;sX:0;opacity:0;s:500;e:Power3.easeOut;"
								 data-transform_out="sY:0;sX:0;opacity:0;s:100;e:Power3.easeOut;"
								 
								data-start="bytrigger"
								data-end="bytrigger"
								data-responsive_offset="off"
								
								style="z-index: 2; "
								data-fontsize="['24','24','24','20']"
								data-lineheight="['40','40','40','40']"
								>
									
									<p class="paragrapheService">C’est la clé pour une communication en béton. De même qu’il n’y pas de pain sans farine, il n’y a pas de stratégie pérenne sans concept. Alors on écoute vos propos, on cerne vos attentes et on cogite à l’idée qui, une fois mise en place et déclinée, sera bénéfique pour votre notoriété.</p>
								</div>
							<div class="tp-caption blockavectext "
								 id="slide-siteweb"
								 data-x="['center','center','center','center']" data-hoffset="['200','250','250','170']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['400','400','400','300']"
								data-height="600"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0;sY:1;sX:1;"

								 data-transform_in="sY:0;sX:0;opacity:0;s:500;e:Power3.easeOut;"
								 data-transform_out="sY:0;sX:0;opacity:0;s:200;e:Power3.easeOut;"
								 
								data-start="bytrigger"
								data-end="bytrigger"
								data-responsive_offset="off"
								data-fontsize="['24','24','24','20']"
								data-lineheight="['40','40','40','40']"
								style="z-index: 5;">
									
									<p class="paragrapheService">On va pas se mentir, c’est un de nos points forts. Du site vitrine à la plateforme e-commerce, on donne un sacré coup de pouce à votre présence en ligne. Design, épuré et conformes aux standards du web d’aujourd’hui, on sait ce qui est tendance et ce qui le sera dans quelques années pour vous assurer un truc durable. Et fiable, mais c’est limite inutile de le préciser..</p>
								</div>
							<div class="tp-caption  blockavectext"
								 id="slide-photo"
								 data-x="['center','center','center','center']" data-hoffset="['200','250','250','170']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['400','400','400','300']"
								data-height="600"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0;sY:1;sX:1;"

								 data-transform_in="sY:0;sX:0;opacity:0;s:500;e:Power3.easeOut;"
								 data-transform_out="sY:0;sX:0;opacity:0;s:100;e:Power3.easeOut;"
								 
								data-start="bytrigger"
								data-responsive_offset="off"
								data-fontsize="['24','24','24','20']"
								data-lineheight="['40','40','40','40']"
								style="z-index: 5;">
									<p class="paragrapheService">Alors là, on parle passion. L’équipe est amoureuse des pixels, de l’image fixe et du mouvement statique. On lésine pas sur les départs à l’aube pour immortaliser les plus beaux plans et les retours nocturnes pour observer l’obscurité.</p>
								</div>
							<div class="tp-caption  blockavectext"
								 id="slide-pub"
								 data-x="['center','center','center','center']" data-hoffset="['200','250','250','170']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['400','400','400','350']"
								data-height="600"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0;sY:1;sX:1;"

								 data-transform_in="sY:0;sX:0;opacity:0;s:500;e:Power3.easeOut;"
								 data-transform_out="sY:0;sX:0;opacity:0;s:100;e:Power3.easeOut;"
								 
								data-start="bytrigger"
								data-responsive_offset="off"
								data-fontsize="['24','24','24','20']"
								data-lineheight="['40','40','40','40']"
								style="z-index: 5;">

									<p class="paragrapheService">La publicité, quel monde de rat. Que de réflexion pour pousser à l’achat, vendre du rêve et cacher toutes sortes de choses derrière de belles images. Ouais, mais c’est pas uniquement ça pour nous. Loin de nous l’idée de prendre les consommateurs pour des cons, nous prônons une stratégie média adéquate pour chacun, et des contenus pertinents, sans fioritures.</p>
								</div>
							<div class="tp-caption  blockavectext"
								 id="slide-branding"
								 data-x="['center','center','center','center']" data-hoffset="['200','250','250','170']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['400','400','400','300']"
								data-height="600"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0;sY:1;sX:1;"

								 data-transform_in="sY:0;sX:0;opacity:0;s:500;e:Power3.easeOut;"
								 data-transform_out="sY:0;sX:0;opacity:0;s:100;e:Power3.easeOut;"
								 
								data-start="bytrigger"
								data-responsive_offset="off"
								data-fontsize="['24','24','24','20']"
								data-lineheight="['40','40','40','40']"
								style="z-index: 5;">

									<p class="paragrapheService">Un mot usé et désabusé. Les autres vont vous perdre avec des mots savants. Nous, on va vous dire que c’est l’ensemble des tâches qui vont permettre à votre marque d’être puissante. Parce que la notoriété, c’est ce qu’on dit de vous quand vous n’êtes pas dans la même pièce. Soit on crache, soit on loue et nous, on préfère la seconde option.</p>
								</div>
							<div class="tp-caption  blockavectext"
								 id="slide-webapp"
								 data-x="['center','center','center','center']" data-hoffset="['200','250','250','170']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['400','400','400','300']"
								data-height="600"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0;sY:1;sX:1;"

								 data-transform_in="sY:0;sX:0;opacity:0;s:500;e:Power3.easeOut;"
								 data-transform_out="sY:0;sX:0;opacity:0;s:100;e:Power3.easeOut;"
								 
								data-start="bytrigger"
								data-responsive_offset="off"
								data-fontsize="['24','24','24','20']"
								data-lineheight="['40','40','40','40']"
								style="z-index: 5;">

									<p class="paragrapheService">Vos boîtes mail, les moteurs de recherche, les marketplaces… Même Facebook putain. Tout ça, c’est ce qu’on appelle des applications web. Un logiciel applicatif utile au quotidien, pour vous et pour vos clients. Bingo.</p>
								</div>
							<div class="tp-caption  blockavectext"
								 id="slide-redac"
								 data-x="['center','center','center','center']" data-hoffset="['200','250','250','170']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['400','400','400','300']"
								data-height="600"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0;sY:1;sX:1;"

								 data-transform_in="sY:0;sX:0;opacity:0;s:500;e:Power3.easeOut;"
								 data-transform_out="sY:0;sX:0;opacity:0;s:100;e:Power3.easeOut;"
								 
								data-start="bytrigger"
								data-responsive_offset="off"
								data-fontsize="['24','24','24','20']"
								data-lineheight="['40','40','40','40']"
								style="z-index: 5;">

									<p class="paragrapheService">Pas facile de rester à la page. Chez MOM, on s’occupe de la partie rédaction si vous n’avez pas l’âme à construire vos textes. Pour la presse ou le web, les paroles s’envolent mais les mots restes. </p>
								</div>
							<div class="tp-caption  blockavectext"
								 id="slide-conseil"
								 data-x="['center','center','center','center']" data-hoffset="['200','250','250','170']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['400','400','400','300']"
								data-height="600"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0;sY:1;sX:1;"

								 data-transform_in="sY:0;sX:0;opacity:0;s:500;e:Power3.easeOut;"
								 data-transform_out="sY:0;sX:0;opacity:0;s:100;e:Power3.easeOut;"
								 
								data-start="bytrigger"
								data-responsive_offset="off"
								data-fontsize="['24','24','24','20']"
								data-lineheight="['40','40','40','40']"
								style="z-index: 5;">
									
									
								

									<p class="paragrapheService">On aurait tendance à vous dire que c’est tout sauf une prestation. L’écoute, les échanges et les discussions sont des moments que nous apprécions au delà du rapport agence-client. Ici, les simagrées et l’hypocrisie sont bannies à vie.</p>
								</div>
								<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-66"
									 data-x="['center','center','center','center']" data-hoffset="['-400','-350','-300','-300']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-170','-170','-170','-170']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":500,"split":"chars","splitdelay":0.071,"speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen"
									data-actions='[{"event":"click","action":"stoplayer","layer":"slide-siteweb","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-photo","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-pub","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-branding","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-webapp","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-redac","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-conseil","delay":"0"}, {"event":"click","action":"startlayer","layer":"slide-concept","delay":"200"}]'
									style="z-index: 6;cursor:pointer; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: white;">Concept </div>


								<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-65"
									 data-x="['center','center','center','center']" data-hoffset="['-400','-350','-300','-300']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-120','-120','-120','-120']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":1000,"split":"chars","splitdelay":0.062,"speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen"
									data-actions='[{"event":"click","action":"stoplayer","layer":"slide-concept","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-photo","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-pub","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-branding","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-webapp","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-redac","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-conseil","delay":"0"}, {"event":"click","action":"startlayer","layer":"slide-siteweb","delay":"200"}]'
									style="z-index: 6;cursor:pointer; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: white;">Site web </div>

								


								<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-64"
									 data-x="['center','center','center','center']" data-hoffset="['-400','-350','-300','-300']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":1500,"split":"chars","splitdelay":0.055,"speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen"
									data-actions='[{"event":"click","action":"stoplayer","layer":"slide-siteweb","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-photo","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-concept","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-branding","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-webapp","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-redac","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-conseil","delay":"0"}, {"event":"click","action":"startlayer","layer":"slide-pub","delay":"200"}]'
									style="z-index: 6;cursor:pointer; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: white;">Publicité </div>






								<!-- LAYER NR. 10 -->
								<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-60"
									 data-x="['center','center','center','center']" data-hoffset="['-400','-350','-300','-300']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":2000,"split":"chars","splitdelay":0.062,"speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen"
									data-actions='[{"event":"click","action":"stoplayer","layer":"slide-siteweb","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-photo","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-pub","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-concept","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-webapp","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-redac","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-conseil","delay":"0"}, {"event":"click","action":"startlayer","layer":"slide-branding","delay":"200"}]'
									style="z-index: 6;cursor:pointer; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: white;">Branding </div>

									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-61"
									 data-x="['center','center','center','center']" data-hoffset="['-400','-350','-300','-300']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['30','30','30','30']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":2500,"split":"chars","splitdelay":0.071,"speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen"
									data-actions='[{"event":"click","action":"stoplayer","layer":"slide-siteweb","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-photo","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-pub","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-branding","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-concept","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-redac","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-conseil","delay":"0"}, {"event":"click","action":"startlayer","layer":"slide-webapp","delay":"200"}]'
									style="z-index: 6; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: white;cursor:pointer;">Web app</div>

									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-62"
									 data-x="['center','center','center','center']" data-hoffset="['-400','-350','-300','-300']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":3000,"split":"chars","splitdelay":0.055,"speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen"
									data-actions='[{"event":"click","action":"stoplayer","layer":"slide-siteweb","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-photo","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-pub","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-branding","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-webapp","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-concept","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-conseil","delay":"0"}, {"event":"click","action":"startlayer","layer":"slide-redac","delay":"200"}]'
									style="z-index: 6;cursor:pointer; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: white;">Rédaction </div>
									
									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-64"
									 data-x="['center','center','center','center']" data-hoffset="['-400','-350','-300','-300']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['130','130','130','130']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":3500,"split":"chars","splitdelay":0.038,"speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen"
									data-actions='[{"event":"click","action":"stoplayer","layer":"slide-siteweb","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-concept","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-pub","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-branding","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-webapp","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-redac","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-conseil","delay":"0"}, {"event":"click","action":"startlayer","layer":"slide-photo","delay":"200"}]'
									style="z-index: 6;cursor:pointer; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: white;">Photo & Vidéo</div>

									
								
									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-63"
									 data-x="['center','center','center','center']" data-hoffset="['-400','-350','-300','-300']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['180','180','180','180']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":4000,"split":"chars","splitdelay":0.071,"speed":500,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="screen"
									data-actions='[{"event":"click","action":"stoplayer","layer":"slide-siteweb","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-photo","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-pub","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-branding","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-webapp","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-redac","delay":"0"}, {"event":"click","action":"stoplayer","layer":"slide-concept","delay":"0"}, {"event":"click","action":"startlayer","layer":"slide-conseil","delay":"200"}]'
									style="z-index: 6;cursor:pointer; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: white;">Conseil</div>
									
									
									

								<!-- LAYER NR. 11 -->
								<!-- <div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-8"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['350','-30','-20','-20']"
												data-width="['none','none','361','330']"
									data-height="none"
									data-whitespace="['nowrap','nowrap','normal','normal']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','center','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="darken"

									style="z-index: 7; white-space: nowrap; font-size: 17px; line-height: 25px; font-weight: 700; color: rgba(0,80,80,0.85);font-family:Poppins;letter-spacing:10px;">( On garde nos meilleurs idée pour vous )</div>
 -->
							</li><!-- SLIDE   3 -->

							<li data-index="rs-139" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Service">
								
								<img src="include/rs-plugin/demos/assets/images/dummy.png"  alt=""  data-lazyload="videos/poster.jpg" data-bgposition="center center" data-bgfit="cover" data-bgparallax="7" class="rev-slidebg" data-no-retina>
								

							<div class="rs-background-video-layer"
							data-blendmode="darken"
								data-forcerewind="on"
								data-volume="mute"
								data-videowidth="100%"
								data-videoheight="100%"
								data-videomp4="videos/CameraLens.mp4"
								data-videopreload="auto"
								data-videoloop="loop"
								data-forceCover="1"
								data-aspectratio="16:9"
								data-autoplay="true"
								data-autoplayonlyfirsttime="false">
							</div>

									<div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme"
										 id="slide-254-layer-11"
										 data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
													data-width="full"
										data-height="full"
										data-whitespace="nowrap"
										data-transform_idle="o:1;x:0;"

										 data-transform_in="x:-1000;opacity:0;s:600;e:Power3.easeInOut;"
										 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
										data-start="0"
										data-basealign="slide"
										data-responsive_offset="on"


										style="z-index: 4;background-color:rgba(0, 80, 80, 0.6);border-color:rgba(0, 0, 0, 1.00);">
									</div>
									<div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme"
										 id="slide-254-layer-11"
										 data-x="['right','right','right','right']" data-hoffset="['80','0','0','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
													data-width="600px"
										data-height="full"
										data-whitespace="nowrap"
										data-transform_idle="o:1;x:0;"

										 data-transform_in="x:-1000;opacity:0;s:600;e:Power3.easeInOut;"
										 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
										data-start="0"
										data-basealign="slide"
										data-responsive_offset="on"


										style="z-index: 5;background-color:rgba(0, 80, 80, 0.9);border-color:rgba(0, 0, 0, 1.00);">
									</div>

									<div class="tp-caption tp-resizeme linkfleche"
										 id="slide-254-layer-2222"
										 data-x="['right','right','right','right']" data-hoffset="['180','0','0','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['125','0','0','0']"
													data-width="90px"
										data-height="30px"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"

										 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
										 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
										data-start="1000"
										data-basealign="slide"
										data-responsive_offset="on"


										style="z-index: 5;cursor:pointer;">
										<a href="/pixelblog">
										<svg version="1.0"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="30px" viewBox="0 0 150 50" style="enable-background:new 0 0 150 50;" xml:space="preserve" style="color:#FFF;">
											<style type="text/css">
												.st0{fill:#FFFFFF;}
												.linkfleche:hover .st0{fill:#cCC;}
											</style>
											<path class="st0" d="M5,42.2c0-0.1,0.1-0.2,0.1-0.3l0,0L22,6.9c1.6-3.2,3.7-3.7,4.8-3.7c1.1,0,3.2,0.5,4.8,3.7l13.2,27.5
												c0.4,0.8,1.1,1.6,1.4,1.6c0.1,0,0.7-0.3,1.4-1.7L61,6.9c1.6-3.2,3.7-3.7,4.8-3.7c1.1,0,3.2,0.5,4.8,3.7l10.3,21.3l0,0l3.7,7.7
												c0.6,1.2,1.1,1.6,1.4,1.6s0.8-0.4,1.4-1.6l8.2-16.5c0-0.1,0.1-0.2,0.1-0.3c0.7-1.5,2.6-2.1,4.1-1.4s2.1,2.6,1.4,4.1
												c0,0.1-0.1,0.2-0.1,0.3L90.8,43.3C89.2,46.6,87.1,47,86,47s-3.2-0.5-4.8-3.7L71.4,23l0,0l-4.2-8.8c-0.6-1.2-1.1-1.6-1.4-1.6
												S65,13,64.4,14.2L51.2,41.7H51l0.1,0.1c-1.1,1.9-2.3,3.7-4.7,3.7c-0.7,0-1.4-0.2-2-0.5c-1.2-0.6-2.2-2.2-2.8-3.3L28.3,14.2
												c-0.6-1.2-1.1-1.6-1.4-1.6s-0.8,0.4-1.4,1.6L11.7,42.8l-0.8,1.8c0,0.1-0.1,0.2-0.1,0.4c-0.8,1.6-2.7,2.2-4.2,1.4
												C4.9,45.7,4.3,43.8,5,42.2z"/>
											<g>
												<path class="st0" d="M135.7,25.1c0,0.3-0.4,0.8-1.6,1.4l-28.7,13.8l0,0l-1.8,0.8c-0.1,0-0.2,0.1-0.4,0.1c-1.6,0.8-2.2,2.7-1.4,4.2
													c0.6,1.3,2.1,2,3.4,1.7c0.2,0,0.3-0.1,0.5-0.1c0.1,0,0.2-0.1,0.3-0.1l0.1-0.1c0.1,0,0.1-0.1,0.2-0.1l35-16.9
													c3.2-1.6,3.7-3.7,3.7-4.8"/>
												<path class="st0" d="M135.7,25.3c0-0.3-0.4-0.8-1.6-1.4l-28.7-13.8l0,0l-1.8-0.8c-0.1,0-0.2-0.1-0.4-0.1c-1.6-0.8-2.2-2.7-1.4-4.2
													c0.6-1.3,2.1-2,3.4-1.7c0.2,0,0.3,0.1,0.5,0.1c0.1,0,0.2,0.1,0.3,0.1l0.1,0.1c0.1,0,0.1,0.1,0.2,0.1l35,16.9
													c3.2,1.6,3.7,3.7,3.7,4.8"/>
											</g>
										</svg>
										</a>
									</div>

									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-82"
									 data-x="['right','right','right','right']" data-hoffset="[140','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-130','-30','-20','-20']"
									data-width="['450','500','361','330']"
									data-height="none"
									data-whitespace="['normal','normal','normal','normal']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"
									data-basealign="slide"
									data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','center','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 7; white-space: normal; font-size: 32px; line-height: 40px;  color: rgba(255,255,255,1);font-family:quicksandbold;">On a un havre de pixels.
									</div>
									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-82"
									 data-x="['right','right','right','right']" data-hoffset="['140','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','-30','-20','-20']"
									data-width="['450','500','361','330']"
									data-height="none"
									data-whitespace="['normal','normal','normal','normal']"
									data-basealign="slide"
									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','center','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 7; white-space: normal; font-size: 24px; line-height: 40px;  color: rgba(255,255,255,1);">Le monde est un terrain de jeu qu'on immortalise dans de belles images. 
									<br>Si vous aimez la photographie, jetez-y vos deux yeux. 
									</div>

							</li>


							
							
<!-- SLIDE 3	 -->
						
							







							

							<!-- SLIDE 3 -->
							<li data-index="rs-132" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Example Three" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<img src="include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='#FFF' style='' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

								<div class="tp-caption   fullscreenvideo  disabled_lc tp-videolayer"
									id="slide-132-layer-12"
									data-x="0"
									data-y="0"
									data-whitespace="nowrap"
									data-type="video"
									data-basealign="slide"
									data-responsive_offset="off"
									data-wrapper_class="tp-nopointer"
									data-responsive="off"
									data-frames='[{"delay":600,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
						 			data-videocontrols="none" data-videowidth="100%" data-videoheight="100%" data-videoposter="include/rs-plugin/demos/assets/images/tp_vid_clouds-1.jpg" data-videomp4="include/rs-plugin/demos/assets/videos/tp_vid_clouds.mp4" data-noposteronmobile="off" data-videopreload="auto" data-videoloop="loop" data-forceCover="1" data-aspectratio="16:9"            data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"
									data-autoplay="on"

									style="z-index: 5;"> </div>

								
								<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-8"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','-30','-20','-20']"
												data-width="['none','none','361','330']"
									data-height="none"
									data-whitespace="['nowrap','nowrap','normal','normal']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','center','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="darken"

									style="z-index: 7; white-space: nowrap; font-size: 32px; line-height: 40px; color: rgba(0,80,80,0.85);">Vous vouliez voir des projets? <br>On en a mis quelque uns pour vous.</div>

								
								<a class="tp-caption   tp-resizeme  ddd_mousebox tp-rs-menulink"
							 href="/construction" target="_self"			 id="slide-80-layer-18"
										 data-x="['center','center','center','center']" data-hoffset="['650','20','21','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['-150','22','32','742']"
													data-width="300"
										data-height="580"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"
											data-transform_hover="o:1;skX:0px;rX:0;rY:0;rZ:0;z:0;s:300;e:Power2.easeInOut;"
											data-style_hover="c:rgba(255, 255, 255, 1.00);zi:11;"

										 data-transform_in="y:20px;opacity:0;s:1000;e:Power4.easeOut;"
										 data-transform_out="auto:auto;s:500;e:Power2.easeInOut;"
										data-start="450"
										data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-83","delay":""}]'
										data-responsive_offset="on"


										style="z-index: 7;cursor:pointer;background: #FFF;padding: 40px 25px;"><img src="include/rs-plugin/demos/assets/images/dummy.png" alt="" data-ww="['250px','201px','239px','390px']" data-hh="['500px','570px','426px','695px']" data-lazyload="images/proj/cellierlogo.png" data-no-retina> </a>



								<a class="tp-caption   tp-resizeme  ddd_mousebox tp-rs-menulink"
							 href="/nutri" target="_self"			 id="slide-80-layer-16"
										 data-x="['center','center','center','center']" data-hoffset="['-600','20','20','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['-250','22','32','22']"
													data-width="410"
										data-height="280"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"
											data-transform_hover="o:1;skX:0px;rX:0;rY:0;rZ:0;z:0;s:300;e:Power2.easeInOut;"
											data-style_hover="c:rgba(255, 255, 255, 1.00);zi:11;"

										 data-transform_in="y:20px;opacity:0;s:1000;e:Power4.easeOut;"
										 data-transform_out="auto:auto;s:500;e:Power2.easeInOut;"
										data-start="250"
										data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-81","delay":""}]'
										data-responsive_offset="on"


										style="z-index: 5;cursor:pointer; background: #FFF;padding: 0 60px 40px 0;"><img src="include/rs-plugin/demos/assets/images/dummy.png" alt="" data-ww="['400px','321px','239px','390px']" data-hh="['300px','280px','208px','340px']" data-lazyload="images/proj/LOGONUTRI.svg" data-no-retina> </a>

							<a class="tp-caption   tp-resizeme  ddd_mousebox tp-rs-menulink"
							 href="/v2m" target="_BLANK"			 id="slide-80-layer-19"
										 data-x="['center','center','center','center']" data-hoffset="['-400','20','20','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['250','22','32','22']"
										data-width="440"
										data-height="340"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"
											data-transform_hover="o:1;skX:0px;rX:0;rY:0;rZ:0;z:0;s:300;e:Power2.easeInOut;"
											data-style_hover="c:rgba(255, 255, 255, 1.00);zi:11;"

										 data-transform_in="y:20px;opacity:0;s:1000;e:Power4.easeOut;"
										 data-transform_out="auto:auto;s:500;e:Power2.easeInOut;"
										data-start="250"
										data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-81","delay":""}]'
										data-responsive_offset="on"  

										style="z-index: 5;cursor:pointer; background: #FFF;padding: 20px 60px 20px 20px;"><img src="include/rs-plugin/demos/assets/images/dummy.png" alt="" data-ww="['400px','321px','239px','390px']" data-hh="['300px','280px','208px','340px']" data-lazyload="images/proj/V2M/logo-v2m-big.png" data-no-retina> </a>

							<a class="tp-caption   tp-resizeme  ddd_mousebox tp-rs-menulink"
							 href="/construction" target="_self"			 id="slide-80-layer-20"
										 data-x="['center','center','center','center']" data-hoffset="['100','20','20','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['-300','22','32','22']"
										data-width="270"
										data-height="270"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"
											data-transform_hover="o:1;skX:0px;rX:0;rY:0;rZ:0;z:0;s:300;e:Power2.easeInOut;"
											data-style_hover="c:rgba(255, 255, 255, 1.00);zi:11;"

										 data-transform_in="y:20px;opacity:0;s:1000;e:Power4.easeOut;"
										 data-transform_out="auto:auto;s:500;e:Power2.easeInOut;"
										data-start="250"
										data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-81","delay":""}]'
										data-responsive_offset="on"


										style="z-index: 5;cursor:pointer; background: #FFF;padding: 15px 20px 20px 15px;"><img src="include/rs-plugin/demos/assets/images/dummy.png" alt="" data-ww="['250px','321px','239px','390px']" data-hh="['250px','280px','208px','340px']" data-lazyload="images/proj/PAICollabs-Logo.png" data-no-retina> </a>

									<a class="tp-caption   tp-resizeme  ddd_mousebox tp-rs-menulink"
							 href="/construction" target="_self"			 id="slide-80-layer-17"
										 data-x="['center','center','center','center']" data-hoffset="['250','0','-1','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['250','0','0','0']"
													
										data-whitespace="nowrap"
										data-transform_idle="o:1;"
											data-transform_hover="o:1;skX:0px;rX:0;rY:0;rZ:0;z:0;s:300;e:Power2.easeInOut;"
											data-style_hover="c:rgba(255, 255, 255, 1.00);zi:11;"

										 data-transform_in="y:20px;opacity:0;s:1000;e:Power4.easeOut;"
										 data-transform_out="auto:auto;s:500;e:Power2.easeInOut;"
										data-start="350"
										data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-82","delay":""}]'
										data-responsive_offset="on"


										style="z-index: 6;cursor:pointer; background: #FFF;padding:40px 40px 20px 40px"><img src="include/rs-plugin/demos/assets/images/dummy.png" alt="" data-ww="['163px','321px','239px','390px']" data-hh="['104px','280px','208px','340px']" data-lazyload="images/proj/maisonemploi.jpg" data-no-retina> </a>
							</li>

							<li data-index="rs-1398" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Service">
								<!-- MAIN IMAGE -->
								
								<img src="include/rs-plugin/demos/assets/images/dummy.png"  alt=""  data-lazyload="images/mom-6.jpg" data-bgposition="center center" data-kenburns="on" data-duration="40000" data-ease="Power1.easeOut" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="50 -200" class="rev-slidebg" data-no-retina>

									<!-- LAYER NR. 1 -->
									<div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme"
										 id="slide-254-layer-11"
										 data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
										data-width="[550px,550px,550px,380px]"
										data-height="full"
										data-whitespace="nowrap"
										data-transform_idle="o:1;x:0;"

										 data-transform_in="x:-1000;opacity:0;s:600;e:Power3.easeInOut;"
										 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
										data-start="0"
										data-basealign="slide"
										data-responsive_offset="on"


										style="z-index: 5;background-color:rgba(0, 80, 80, 0.9);border-color:rgba(0, 0, 0, 1.00);">
										<!-- <div class="trameimg trame1big"></div> -->
									</div>

									<div class="tp-caption tp-resizeme linkfleche"
										 id="slide-254-layer-2222"
										 data-x="['left','left','left','left']" data-hoffset="['410','410','350','280']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['130','130','140','130']"
													data-width="90px"
										data-height="30px"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"

										 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
										 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
										data-start="1000"
										data-basealign="slide"
										data-responsive_offset="on"


										style="z-index: 5;cursor:pointer;">
										<a href="/blog">
										<svg version="1.0"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="30px" viewBox="0 0 150 50" style="enable-background:new 0 0 150 50;" xml:space="preserve" style="color:#FFF;">
											<style type="text/css">
												.st0{fill:#FFFFFF;}
												.linkfleche:hover .st0{fill:#cCC;}
											</style>
											<path class="st0" d="M5,42.2c0-0.1,0.1-0.2,0.1-0.3l0,0L22,6.9c1.6-3.2,3.7-3.7,4.8-3.7c1.1,0,3.2,0.5,4.8,3.7l13.2,27.5
												c0.4,0.8,1.1,1.6,1.4,1.6c0.1,0,0.7-0.3,1.4-1.7L61,6.9c1.6-3.2,3.7-3.7,4.8-3.7c1.1,0,3.2,0.5,4.8,3.7l10.3,21.3l0,0l3.7,7.7
												c0.6,1.2,1.1,1.6,1.4,1.6s0.8-0.4,1.4-1.6l8.2-16.5c0-0.1,0.1-0.2,0.1-0.3c0.7-1.5,2.6-2.1,4.1-1.4s2.1,2.6,1.4,4.1
												c0,0.1-0.1,0.2-0.1,0.3L90.8,43.3C89.2,46.6,87.1,47,86,47s-3.2-0.5-4.8-3.7L71.4,23l0,0l-4.2-8.8c-0.6-1.2-1.1-1.6-1.4-1.6
												S65,13,64.4,14.2L51.2,41.7H51l0.1,0.1c-1.1,1.9-2.3,3.7-4.7,3.7c-0.7,0-1.4-0.2-2-0.5c-1.2-0.6-2.2-2.2-2.8-3.3L28.3,14.2
												c-0.6-1.2-1.1-1.6-1.4-1.6s-0.8,0.4-1.4,1.6L11.7,42.8l-0.8,1.8c0,0.1-0.1,0.2-0.1,0.4c-0.8,1.6-2.7,2.2-4.2,1.4
												C4.9,45.7,4.3,43.8,5,42.2z"/>
											<g>
												<path class="st0" d="M135.7,25.1c0,0.3-0.4,0.8-1.6,1.4l-28.7,13.8l0,0l-1.8,0.8c-0.1,0-0.2,0.1-0.4,0.1c-1.6,0.8-2.2,2.7-1.4,4.2
													c0.6,1.3,2.1,2,3.4,1.7c0.2,0,0.3-0.1,0.5-0.1c0.1,0,0.2-0.1,0.3-0.1l0.1-0.1c0.1,0,0.1-0.1,0.2-0.1l35-16.9
													c3.2-1.6,3.7-3.7,3.7-4.8"/>
												<path class="st0" d="M135.7,25.3c0-0.3-0.4-0.8-1.6-1.4l-28.7-13.8l0,0l-1.8-0.8c-0.1,0-0.2-0.1-0.4-0.1c-1.6-0.8-2.2-2.7-1.4-4.2
													c0.6-1.3,2.1-2,3.4-1.7c0.2,0,0.3,0.1,0.5,0.1c0.1,0,0.2,0.1,0.3,0.1l0.1,0.1c0.1,0,0.1,0.1,0.2,0.1l35,16.9
													c3.2,1.6,3.7,3.7,3.7,4.8"/>
											</g>
										</svg>
										</a>
									</div>

									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-82"
									 data-x="['left','left','left','left']" data-hoffset="['80','60','60','60']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-140','-130']"
									data-width="['450','500','450','450']"
									data-fontsize="['32','32','24','24']"
									data-height="none"
									data-whitespace="['normal','normal','normal','normal']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"
									data-basealign="slide"
									data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 7; white-space: normal; font-size: 32px; line-height: 40px;  color: rgba(255,255,255,1);font-family:raleway; font-weight:900; text-transform : uppercase;">On a un exutoire, aussi. 
									</div>
									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-82"
									 data-x="['left','left','left','left']" data-hoffset="['80','60','60','60']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
									data-width="['450','500','450','330']"
									data-height="none"
									data-whitespace="['normal','normal','normal','normal']"
									data-basealign="slide"
									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 7; white-space: normal; font-size: 24px; line-height: 40px;  color: rgba(255,255,255,1); ">
									Parler, montrer, pousser des coups de gueule, divaguer, se foutre de la gueule du monde en riant, débattre et se libérer. <br>
									Ça, c'est le blog à part. 
									</div>

							
							</li>
								
								<!-- SLIDE 3 -->
							<li data-index="rs-1323" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Example Three" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='#FFF' style='' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<!-- LAYER NR. 9 -->
								

								
								<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-8"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','top']" data-voffset="['-200','-300','-300','100']"
												data-width="['none','none','none','none']"
									data-height="none"
									data-whitespace="['nowrap','nowrap','nowrap','nowrap']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="darken"

									style="z-index: 7; white-space: nowrap; font-size: 50px; line-height: 50px; color: rgba(0,80,80,0.85);">Vous voulez qu'on avance ensemble ? </div>
								<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-86"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','top']" data-voffset="['-100','-150','-150','160']"
												data-width="['none','none','none','none']"
									data-height="none"
									data-whitespace="['nowrap','nowrap','nowrap','nowrap']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="darken"

									style="z-index: 7; white-space: nowrap; font-size: 50px; line-height: 50px; color: rgba(0,80,80,0.85);font-family:raleway; font-weight:900; ">ouijeleveux@momcreation.fr</div>

									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-87"
									 data-x="['center','center','center','left']" data-hoffset="['-300','-300','-300','50']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['200','200','200','200']"
												data-width="['none','none','361','330']"
									data-height="none"
									data-whitespace="['nowrap','nowrap','normal','normal']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":4000,"speed":1000,"frame":"0","from":"x:-200px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['left','left','left','left']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="darken"

									style="z-index: 7; white-space: nowrap; font-size: 40px; line-height: 50px; color: rgba(0,80,80,0.85);">Alex <br><span style="font-family:raleway; font-weight:600;">06 37 08 98 71</span></div>

									<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-87"
									 data-x="['center','center','center','right']" data-hoffset="['300','300','300','50']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['200','200','200','200']"
												data-width="['none','none','361','330']"
									data-height="none"
									data-whitespace="['nowrap','nowrap','normal','normal']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":4000,"speed":1000,"frame":"0","from":"x:200px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['right','right','right','right']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="darken"

									style="z-index: 7;text-align: right; white-space: nowrap; font-size: 40px; line-height: 50px; color: rgba(0,80,80,0.85);">Nico<br> <span style="font-family:raleway; font-weight:600;">06 52 47 91 77</span></div>

									<a class="tp-caption   tp-resizeme sociallink"
					 			href="https://www.facebook.com/momcreation1/" target="_blank"			 id="slider-8-layer-5"
								 data-x="['left','left','left','center']" data-hoffset="['70','70','70','-30']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['70','70','70','20']"
											data-width="40"
								data-height="40"
								data-whitespace="nowrap"
								
								data-frames='[{"delay":4500,"speed":1000,"frame":"0","from":"x:-200px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
								data-splitin="none"
								data-splitout="none"
								data-actions=''
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								
								data-textAlign="center"

								style="z-index: 12; min-width: 40px; max-width: 40px; max-width: 40px; max-width: 40px; white-space: nowrap; font-size: 20px; line-height: 40px; font-weight: 400; color: rgba(0, 80, 80, 1.00);text-align:center;border-color:rgba(0, 80, 80, 1.00);border-style:solid;border-width:2px;cursor:pointer;"><i class="icon-facebook"></i> </a>
								

									<a class="tp-caption   tp-resizeme sociallink"
					 			href="https://www.linkedin.com/company/momcreation/" target="_blank"			 id="slider-8-layer-53"
								 data-x="['left','left','left','center']" data-hoffset="['120','120','120','30']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['70','70','70','20']"
											data-width="40"
								data-height="40"
								data-whitespace="nowrap"
								
								data-frames='[{"delay":4100,"speed":1000,"frame":"0","from":"x:-200px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
								data-splitin="none"
								data-splitout="none"
								data-actions=''
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								
								data-textAlign="center"

								style="z-index: 12; min-width: 40px; max-width: 40px; max-width: 40px; max-width: 40px; white-space: nowrap; font-size: 20px; line-height: 40px; font-weight: 400; color: rgba(0, 80, 80, 1.00);text-align:center;border-color:rgba(0, 80, 80, 1.00);border-style:solid;border-width:2px;cursor:pointer;"><i class="icon-linkedin"></i> </a>

									<!-- <a class="tp-caption   tp-resizeme sociallink"
					 			href="https://www.facebook.com/semicolonweb/" target="_blank"			 id="slider-8-layer-52"
								 data-x="['left','left','left','center']" data-hoffset="['170','170','170','170']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['70','70','70','70']"
											data-width="40"
								data-height="40"
								data-whitespace="nowrap"
								
								data-frames='[{"delay":4300,"speed":1000,"frame":"0","from":"x:-200px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
								data-splitin="none"
								data-splitout="none"
								data-actions=''
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								
								data-textAlign="center"

								style="z-index: 12; min-width: 40px; max-width: 40px; max-width: 40px; max-width: 40px; white-space: nowrap; font-size: 20px; line-height: 40px; font-weight: 400; color: rgba(0, 80, 80, 1.00);text-align:center;border-color:rgba(0, 80, 80, 1.00);border-style:solid;border-width:2px;cursor:pointer;"><i class="icon-instagram"></i> </a> -->


								<div class="tp-caption  tp-resizeme"
								 id="slide-130-layer-2"
								 data-x="['center','center','center','center']" data-hoffset="['0','-0','0','-10']"
								 data-y="['middle','middle','middle','bottom']" data-voffset="['100','100','100','150']"
								data-width="200"
								data-height="200"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0"

								 data-transform_in="sX:0.5;sY:0.5;opacity:0;s:1000;e:Power3.easeOut;"
								 
								data-start="2500"
								data-fontsize="['600','600','600','450']"
								style="z-index: 5;"><div class="rs-looped rs-wave" data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%">
									
									<img src="images/logo-01.png"  width="200px" height="200px"  style="max-height:200px;max-width: 200px !important;" alt="">
								</div></div>

						



							</li>	
							




						</ul>
						<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
						</div><!-- END REVOLUTION SLIDER -->
			</div><!-- END REVOLUTION SLIDER WRAPPER -->

		</section>
		

		

		

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/addons/revolution.addon.particles.min.js"></script>

	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

	<!-- ADD-ONS JS FILES -->

	<script type="text/javascript">


		var revapi54,
		tpj=jQuery;
				tpj(document).ready(function() {
		if(tpj("#rev_slider").revolution == undefined){
			revslider_showDoubleJqueryError("#rev_slider");
		}else{
			revapi54 = tpj("#rev_slider").show().revolution({
				sliderType:"standard",
				jsFileLocation:"include/rs-plugin/js/",
				sliderLayout:"fullscreen",
				dottedOverlay:"none",
				delay:9000,
				particles: {startSlide: "1", endSlide: "1", zIndex: "1",
					particles: {
						number: {value: 80}, color: {value: "#005050"},
						shape: {
							// type: "circle", 
							stroke: {width: 1, color: "#ffffff", opacity: 0.9},
							type: "image",
							image: {src: "M12.1,22c-5.5,0.6-9.5-4.6-10-9.9C1.5,6.6,6.4,2.4,11.9,2c5.3-0.4,9.2,4.2,10,9.9C22.7,17.4,17.4,21.4,12.1,22z"}
						},
						opacity: {value: 0.4, random: false, min: 0.25, anim: {enable: false, speed: 3, opacity_min: 0, sync: false}},
						size: {value: 30, random: true, min: 1, anim: {enable: false, speed: 40, size_min: 1, sync: false}},
						line_linked: {enable: true, distance: 200, color: "#005050", opacity: 0.2, width: 2},
						move: {enable: true, speed: 3, direction: "none", random: true, min_speed: 3, straight: false, out_mode: "out"}},
					interactivity: {
						events: {onhover: {enable: true, mode: "repulse"}, onclick: {enable: false, mode: "repulse"}},
						modes: {
						 bubble: {distance: 300, size: 150, opacity: 1}, repulse: {distance: 200}}
					}
				},
				navigation: {
					keyboardNavigation:"on",
					keyboard_direction: "vertical",
					mouseScrollNavigation:"on",
					 mouseScrollReverse:"default",
					onHoverStop:"off",
					arrows: {
						style:"gyges",
						enable:false,
						hide_onmobile:false,
						hide_onleave:false,
						tmp:'',
						left: {
							h_align:"center",
							v_align:"bottom",
							h_offset:-20,
							v_offset:0
						},
						right: {
							h_align:"center",
							v_align:"bottom",
							h_offset:20,
							v_offset:0
						}
					},
					bullets: {
							enable:true,
							hide_onmobile:false,
							hide_under:500,
							style: 'zeus',
        					tmp: '<span class="tp-bullet-title">{{title}}</span>',
							hide_onleave:false,
							direction:"vertical",
							h_align:"right",
							v_align:"center",
							h_offset:30,
							v_offset:0,
							space:5,
							tmp:''
						}
				},
				responsiveLevels:[1920,1680,1366,800],
				visibilityLevels:[1920,1680,1366,800],
				gridwidth:[1920,1680,1366,800],
				gridheight:[1050,850,768,600],
				lazyType:"none",
				shadow:0,
				spinner:"off",
				stopLoop:"on",
				stopAfterLoops:0,
				stopAtSlide:1,
				shuffle:"off",
				autoHeight:"off",
				fullScreenAutoWidth:"off",
				fullScreenAlignForce:"off",
				fullScreenOffsetContainer: "",
				fullScreenOffset: "0",
				disableProgressBar:"on",
				hideThumbsOnMobile:"off",
				hideSliderAtLimit:0,
				hideCaptionAtLimit:0,
				hideAllCaptionAtLilmit:0,
				debugMode:false,
				fallbacks: {
					simplifyAll:"off",
					nextSlideOnWindowFocus:"off",
					disableFocusListener:false,
				}
			});


			var is_safari = (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1);


					revapi54.bind("revolution.slide.onloaded",function (e) {
						var npe = document.getElementsByClassName("nopointerevent");
						for (var i=0;i<npe.length;i++) {
							npe[i].parentNode.parentNode.parentNode.style.pointerEvents = "none";
							npe[i].parentNode.parentNode.parentNode.style.zIndex = 100;
						}

						jQuery('.ddd_mousebox').on('mousemove',function(e) {
							var sto = revapi54.offset(),
								dim = this.getBoundingClientRect(),
								tpos = jQuery(this.parentNode.parentNode.parentNode).position(),
								pos = {top:e.pageY-sto.top-tpos.top,left:e.pageX-tpos.left},
								perc = {wp:(pos.left/dim.width)-0.5, hp:(pos.top/dim.height)-0.5};
							getOverlaps(this);
							punchgs.TweenLite.to(this.overlapps,0.4,{force3D:"true",overwrite:"auto",transformOrigin:"50% 50% 100%", z:"300px",rotationY:0-((perc.wp)*5),rotationX:((perc.hp)*5),zIndex:30});
							punchgs.TweenLite.set(this.parentNode.parentNode.parentNode,{zIndex:10});
							if (is_safari)
								punchgs.TweenLite.to(this,0.4,{force3D:"true",overwrite:"auto",z:"10px",transformOrigin:"50% 50%", rotationY:0-((perc.wp)*10),rotationX:((perc.hp)*10)});
							else
							   punchgs.TweenLite.to(this,0.4,{force3D:"true",overwrite:"auto",z:"10px",transformOrigin:"50% 50%", rotationY:0-((perc.wp)*10),rotationX:((perc.hp)*10),boxShadow:"0 50px 100px rgba(15,20,40,0.35),0 20px 45px rgba(15,20,40,0.35)"});
						});

						jQuery('.ddd_mousebox').on('mouseleave',function(e) {
							punchgs.TweenLite.set(this.parentNode.parentNode.parentNode,{zIndex:5});
						   punchgs.TweenLite.to(this,0.5,{force3D:"true",overwrite:"auto",z:"0px",transformOrigin:"50% 50%", rotationY:0,rotationX:0,boxShadow:"0,0,0,0 rgba(0,0,0,0)"});
						   punchgs.TweenLite.to(this.overlapps,0.5,{force3D:"true",z:"0px",overwrite:"auto",transformOrigin:"50% 50% 100%", rotationY:0,rotationX:0});
						});

					});

					function getOverlaps(el) {
					  if (el.overlapps == undefined) {
						el.overlapps = [];
						var jel = jQuery(el),
							jpel = jQuery(el.parentNode.parentNode.parentNode),
							pos_e = jpel.position();
						pos_e.bottom = jel.height()+pos_e.top;
						pos_e.right = jel.width()+pos_e.left;

						revapi54.find('.tp-caption').each(function() {

						   var cel = jQuery(this.parentNode.parentNode.parentNode),
							   pos_cel = cel.position();

						   if (this!==el && pos_cel.top>=pos_e.top && pos_cel.top<=pos_e.bottom && pos_cel.left>=pos_e.left && pos_cel.left<=pos_e.right)  el.overlapps.push(cel);
						});

					  }
					}
		}

		RsParticlesAddOn(revapi54);
	});	/*ready*/
	</script>

</body>
</html>