<!DOCTYPE html>
<html dir="ltr" lang="fr-FR">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Nicolas Vigerie - Momcreation" />
	<meta name="description" content="" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/style.css" type="text/css" />
	<!-- <link rel="stylesheet" href="css/dark.css" type="text/css" /> -->
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<!-- <link rel="stylesheet" href="css/animate.css" type="text/css" /> -->
	<!-- <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" /> -->

	<!-- <link rel="stylesheet" href="css/responsive.css" type="text/css" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	

	<!-- Document Title
	============================================= -->
	<title>Cuisibulles</title>

	

</head>

<body class="pagehome">
	
	<% include menu.ejs %>
	<!-- Document Wrapper
	============================================= -->
	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

	<div class="imagedefond"></div>

	<div class="block1">
		<h1>L'EXPERT <br>de votre <br>HABITAT</h1>
		<div class="maisongrise"> <img src="images/maisongrise.png" alt=""></div>
		<div class="btnprevious"><i class="icon-line-arrow-left"></i></div>
		<div class="btnnext"><i class="icon-line-arrow-right"></i></div>
	</div>
	<div class="block2">
		<ul class="malistdeslide">
			<li class="active"><img src="images/cuisi1.jpg" alt=""></li>
			<li><img src="images/cuisi3.jpg" alt=""></li>
			<li><img src="images/cuisi4.jpg" alt=""></li>
			<li><img src="images/cuisi5.jpg" alt=""></li>
			<li><img src="images/cuisi5.jpeg" alt=""></li>
		</ul>
	</div>
	
	</div><!-- #wrapper end -->

	<% include footer.ejs %>

	<!-- Go To Top
	============================================= -->
	<!-- <div id="gotoTop" class="icon-angle-up"></div> -->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>


	<script type="text/javascript">

	$(document).ready(function(){

		 var viewPortHeight = $(window).height();

            console.log(viewPortHeight);

            $('#wrapper').css('min-height',viewPortHeight-260 + 'px');
            
		
		$('.burgermenu').click(function(){
			console.log('click');
			$('#primary-menu').css('display','flex').hide().fadeIn(1000);
		});
		$('.btnclosemenu').click(function(){
			console.log('click');
			$('#primary-menu').fadeOut(500);
		});


		$('.btnprevious').click(function(){
			console.log('click');
			console.log($('.malistdeslide .active'));
			if($('.malistdeslide .active').prev().length>0){
				console.log('jj');
				$('.malistdeslide .active').hide().removeClass('active').prev().show().addClass('active');
				
			}
			
		});
		$('.btnnext').click(function(){
			console.log($('.malistdeslide .active'));
			if($('.malistdeslide .active').next().length>0){
				console.log('hhhhh');
				$('.malistdeslide .active').hide().removeClass('active').next().show().addClass('active');
				
			}

		});

	})

	</script>


</body>
</html>