<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,800,900|Poppins:700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">

	<!-- ADD-ONS CSS FILES -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/addons/revolution.addon.particles.css">


	<!-- Document Title
	============================================= -->
	<title>Particles Effect 3 - Revolution Slider | Canvas</title>

	<style>

		.demos-filter {
			margin: 0;
			text-align: right;
		}

		.demos-filter li {
			list-style: none;
			margin: 10px 0px;
		}

		.demos-filter li a {
			display: block;
			border: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #444;
		}

		.demos-filter li a:hover,
		.demos-filter li.activeFilter a { color: #1ABC9C; }

		@media (max-width: 991px) {
			.demos-filter { text-align: center; }

			.demos-filter li {
				float: left;
				width: 33.3%;
				padding: 0 20px;
			}
		}

		@media (max-width: 767px) {
			.demos-filter li { width: 50%; }
		}


	</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		


		<!-- Slider
		============================================= -->
		<section id="slider" class="revslider-wrap clearfix">

			<div class="rev_slider_wrapper" style="background-color:#eef0f1;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.4.3.1 fullscreen mode -->
					<div id="rev_slider_54_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.3.1">
						<ul>	<!-- SLIDE  -->
							<li data-index="rs-130" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Example One" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='#005050' style='background:#005050' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<div class="tp-caption  "
									 id="slide-130-layer-4"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
												data-width="full-proportional"
									data-height="full-proportional"
									data-whitespace="nowrap"

									data-type="image"
									data-basealign="slide"
									data-responsive_offset="off"
									data-wrapper_class="tp-nopointer"
									data-responsive="off"
									data-frames='[{"delay":600,"speed":1500,"frame":"0","from":"sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 5;"><img src="images/momcreation-7868.jpg" alt="" data-ww="['full-proportional','full-proportional','full-proportional','full-proportional']" data-hh="['full-proportional','full-proportional','full-proportional','full-proportional']" data-no-retina> </div>

								<div class="tp-caption   rs-parallaxlevel-1"
								 id="slide-1501-layer-111"
								 data-x="['center','center','center','center']" data-hoffset="['0','-150','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['0','40','300','170']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0"

								 data-transform_in="z:0;rY:360;rY:0;rZ:0;sX:50;sY:50;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;"
								 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
								data-start="1000"
								data-responsive_offset="off"
								data-fontsize="['600','600','600','450']"
								style="z-index: 5;"><svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 width="500px" height="500px" viewBox="0 0 1000 1000" enable-background="new 0 0 400 400" xml:space="preserve">
								<path fill="#000000" d="M984.326,495.552C944.696,219.761,754.993-2.251,498.18,17.198C232.617,37.309-6.491,238.287,19.84,503.322
									c25.318,254.996,221.386,507.523,486.129,478.363C762.714,953.406,1022.189,759.186,984.326,495.552z"/>
								<path fill-rule="evenodd" clip-rule="evenodd" fill="#000000" d="M723.361,631.363"/>
								</svg></div>

								<div class="tp-caption   rs-parallaxlevel-1"
								 id="slide-1501-layer-111"
								 data-x="['center','center','center','center']" data-hoffset="['0','-150','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['0','40','300','170']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0"

								 data-transform_in="z:0;rY:360;rY:0;rZ:0;sX:50;sY:50;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;"
								 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
								data-start="1000"
								data-responsive_offset="off"
								data-fontsize="['600','600','600','450']"
								style="z-index: 5;">
									<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 width="500px" height="500px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
									<g>
										<g>
											<path fill="#005050" d="M517.366,437.147c35.854,0,63.796,27.592,63.796,63.267c0,36.554-27.942,65.025-63.796,65.025
												c-36.026,0-63.793-28.471-63.793-65.025C453.573,464.739,481.34,437.147,517.366,437.147z M517.366,549.797
												c25.132,0,45.518-21.439,45.518-49.383c0-27.066-20.386-47.802-45.518-47.802c-25.307,0-45.693,20.736-45.693,47.802
												C471.673,528.357,492.06,549.797,517.366,549.797z"/>
										</g>
										<path fill="#005050" d="M450.44,557.061c-0.139-0.281-0.29-0.552-0.452-0.814c-0.018-0.036-0.034-0.076-0.052-0.112l-51.564-106.94
											c-4.782-9.917-11.243-11.398-14.669-11.398c-3.427,0-9.89,1.481-14.67,11.398c0,0-40.421,83.828-40.441,83.828
											c-1.213,2.452-3.498,4.852-4.317,4.852c-0.298,0-2.013-0.912-4.356-5.127l-40.298-83.553c-4.783-9.917-11.244-11.398-14.671-11.398
											s-9.887,1.481-14.669,11.398l-31.42,65.16l0.053,0.081l-11.365,23.569c-1.719,3.563-3.485,4.856-4.253,4.856
											c-0.769,0-2.536-1.294-4.28-4.913l-24.944-50.322c-0.109-0.292-0.234-0.582-0.374-0.868c-2.281-4.631-7.882-6.533-12.508-4.252
											c-4.629,2.279-6.534,7.881-4.253,12.509c0.135,0.275,0.283,0.539,0.44,0.793l31.249,64.563c4.781,9.92,11.244,11.4,14.67,11.4
											s9.889-1.48,14.671-11.399l29.884-61.983l-0.049-0.082l12.895-26.746c1.719-3.564,3.486-4.857,4.254-4.857s2.537,1.293,4.252,4.857
											l40.441,83.869l0.572,0.057c0,0-0.402,0.225-0.402,0.226c3.234,5.816,7.169,11.306,14.484,11.306c2.157,0,4.329-0.479,6.247-1.476
											c3.564-1.851,6.729-6.574,8.44-10.106l40.465-83.875c1.719-3.564,3.485-4.857,4.254-4.857c0.768,0,2.536,1.293,4.253,4.857
											c0,0,42.169,87.457,42.157,87.452c0,0,2.544,5.511,2.548,5.508c0.129,0.363,0.272,0.725,0.448,1.081
											c2.356,4.787,8.149,6.755,12.935,4.396C450.828,567.639,452.798,561.846,450.44,557.061z"/>
										<path fill="#005050"d="M843.918,559.525c-0.066-0.511-0.203-1.001-0.395-1.462c-0.124-0.338-0.26-0.673-0.422-1.003
											c-0.068-0.142-0.153-0.272-0.229-0.408c-0.08-0.174-0.155-0.35-0.234-0.519l-51.567-106.94
											c-4.781-9.917-11.241-11.398-14.668-11.398c-3.428,0-9.888,1.481-14.671,11.398l-40.241,83.458c-0.07,0.119-0.138,0.243-0.2,0.37
											c-1.212,2.452-3.495,4.852-4.316,4.852c-0.299,0-2.013-0.912-4.356-5.127c-0.024-0.042-0.048-0.084-0.072-0.126l-40.225-83.427
											c-4.784-9.917-11.246-11.398-14.671-11.398c-3.427,0-9.888,1.481-14.671,11.398c-0.433,0.898-0.869,1.796-1.3,2.695
											c-1.166,2.421-2.335,4.839-3.5,7.259c-1.732,3.588-3.459,7.177-5.191,10.763c-2.124,4.398-4.236,8.8-6.361,13.198
											c-2.345,4.856-4.682,9.716-7.024,14.573c-2.398,4.972-4.798,9.942-7.194,14.917c-2.281,4.743-4.581,9.475-6.858,14.22
											c-1.992,4.15-4.013,8.288-6.005,12.44c-1.533,3.195-3.082,6.383-4.625,9.572c-1.03,2.132-2.027,4.259-3.132,6.354
											c-0.858,1.63-1.892,2.969-2.146,4.841c-0.26,1.908,0.041,3.841,0.895,5.573c2.357,4.787,8.147,6.755,12.936,4.396
											c2.391-1.177,3.946-3.768,5.247-5.981c1.571-2.674,2.758-5.518,4.102-8.307c1.267-2.626,2.532-5.252,3.8-7.878
											c1.695-3.517,3.39-7.034,5.085-10.549c1.873-3.883,3.744-7.764,5.617-11.647c1.981-4.111,3.966-8.223,5.948-12.334
											c1.928-4.001,3.856-8,5.784-11.999c1.771-3.673,3.543-7.346,5.313-11.019c1.458-3.024,2.916-6.049,4.376-9.075
											c1.057-2.188,2.11-4.377,3.168-6.566c0.455-0.948,0.912-1.896,1.368-2.843c0.039-0.08,0.078-0.159,0.116-0.237
											c1.718-3.564,3.483-4.857,4.253-4.857c0.767,0,2.535,1.293,4.254,4.857l40.438,83.869c0.129,0.262,0.272,0.512,0.435,0.746
											c0.7,1.228,1.421,2.336,2.156,3.343c2.219,4.833,6.794,8.159,12.093,8.159c5.247,0,9.783-3.258,12.028-8.013
											c1.139-1.512,1.945-2.902,2.37-3.713c0.104-0.167,0.196-0.339,0.283-0.517l40.441-83.875c1.718-3.564,3.486-4.857,4.255-4.857
											s2.535,1.293,4.252,4.857l42.179,87.473l-0.06-0.021c0,0,2.544,5.511,2.549,5.507c0.128,0.364,0.273,0.726,0.447,1.082
											c2.358,4.787,8.149,6.755,12.935,4.396C842.689,568.033,844.712,563.688,843.918,559.525z"/>
									</g>
									</svg>
								</div>
							</li>
							
						</ul>
						<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
						</div><!-- END REVOLUTION SLIDER -->
			</div><!-- END REVOLUTION SLIDER WRAPPER -->

		</section>

		

		

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/addons/revolution.addon.particles.min.js"></script>

	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

	<!-- ADD-ONS JS FILES -->

	<script type="text/javascript">


		var revapi54,
		tpj=jQuery;
				tpj(document).ready(function() {
		if(tpj("#rev_slider_54_1").revolution == undefined){
			revslider_showDoubleJqueryError("#rev_slider_54_1");
		}else{
			revapi54 = tpj("#rev_slider_54_1").show().revolution({
				sliderType:"standard",
				jsFileLocation:"include/rs-plugin/js/",
				sliderLayout:"fullscreen",
				dottedOverlay:"none",
				delay:9000,
				particles: {startSlide: "first", endSlide: "last", zIndex: "1",
					particles: {
						number: {value: 80}, color: {value: "#005050"},
						shape: {
							type: "circle", stroke: {width: 1, color: "#ffffff", opacity: 0.1},
							// type: "image",
							// image: {src: "images/logo-02.svg"}
						},
						opacity: {value: 0.3, random: false, min: 0.25, anim: {enable: false, speed: 3, opacity_min: 0, sync: false}},
						size: {value: 10, random: true, min: 1, anim: {enable: false, speed: 40, size_min: 1, sync: false}},
						line_linked: {enable: true, distance: 200, color: "#ffffff", opacity: 0.2, width: 1},
						move: {enable: true, speed: 3, direction: "none", random: true, min_speed: 3, straight: false, out_mode: "out"}},
					interactivity: {
						events: {onhover: {enable: true, mode: "repulse"}, onclick: {enable: false, mode: "repulse"}},
						modes: {
						 bubble: {distance: 300, size: 150, opacity: 1}, repulse: {distance: 200}}
					}
				},
				navigation: {
					keyboardNavigation:"on",
					keyboard_direction: "vertical",
					mouseScrollNavigation:"on",
					 mouseScrollReverse:"default",
					onHoverStop:"off",
					arrows: {
						style:"gyges",
						enable:true,
						hide_onmobile:false,
						hide_onleave:false,
						tmp:'',
						left: {
							h_align:"center",
							v_align:"bottom",
							h_offset:-20,
							v_offset:0
						},
						right: {
							h_align:"center",
							v_align:"bottom",
							h_offset:20,
							v_offset:0
						}
					}
				},
				responsiveLevels:[1240,1024,778,480],
				visibilityLevels:[1240,1024,778,480],
				gridwidth:[1240,1024,778,480],
				gridheight:[868,768,960,720],
				lazyType:"none",
				shadow:0,
				spinner:"off",
				stopLoop:"on",
				stopAfterLoops:0,
				stopAtSlide:1,
				shuffle:"off",
				autoHeight:"off",
				fullScreenAutoWidth:"off",
				fullScreenAlignForce:"off",
				fullScreenOffsetContainer: "",
				fullScreenOffset: "0",
				disableProgressBar:"on",
				hideThumbsOnMobile:"off",
				hideSliderAtLimit:0,
				hideCaptionAtLimit:0,
				hideAllCaptionAtLilmit:0,
				debugMode:false,
				fallbacks: {
					simplifyAll:"off",
					nextSlideOnWindowFocus:"off",
					disableFocusListener:false,
				}
			});
		}

		RsParticlesAddOn(revapi54);
	});	/*ready*/
	</script>

</body>
</html>