<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,800,900|Poppins:700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">

	<!-- ADD-ONS CSS FILES -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/addons/revolution.addon.particles.css">


	<!-- Document Title
	============================================= -->
	<title>Particles Effect 3 - Revolution Slider | Canvas</title>

	<style>

		.demos-filter {
			margin: 0;
			text-align: right;
		}

		.demos-filter li {
			list-style: none;
			margin: 10px 0px;
		}

		.demos-filter li a {
			display: block;
			border: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #444;
		}

		.demos-filter li a:hover,
		.demos-filter li.activeFilter a { color: #1ABC9C; }

		@media (max-width: 991px) {
			.demos-filter { text-align: center; }

			.demos-filter li {
				float: left;
				width: 33.3%;
				padding: 0 20px;
			}
		}

		@media (max-width: 767px) {
			.demos-filter li { width: 50%; }
		}


	</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		

		<section id="slider" class="revslider-wrap clearfix">

			<div class="rev_slider_wrapper" style="background-color:#eef0f1;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.4.3.1 fullscreen mode -->
					<div id="rev_slider" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.3.1">
						<ul>	<!-- SLIDE  -->
							<li data-index="rs-130" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Example One" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='#000000' style='background:#005050' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<div class="tp-caption  "
									 id="slide-130-layer-1"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
												data-width="full-proportional"
									data-height="full-proportional"
									data-whitespace="nowrap"

									data-type="image"
									data-basealign="slide"
									data-responsive_offset="off"
									data-wrapper_class="tp-nopointer"
									data-responsive="off"
									data-frames='[{"delay":600,"speed":1500,"frame":"0","from":"sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 5;"><img src="images/momcreation-87.jpg" alt="" data-ww="['full-proportional','full-proportional','full-proportional','full-proportional']" data-hh="['full-proportional','full-proportional','full-proportional','full-proportional']" data-no-retina> </div>
								
								<div class="tp-caption  "
								 id="slide-130-layer-2"
								 data-x="['center','center','center','center']" data-hoffset="['0','-0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['0','0','0','0']"
								data-width="500"
								data-height="500"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0"

								 data-transform_in="sX:50;sY:50;opacity:0.5;s:1000;e:Power3.easeOut;"
								 
								data-start="0"
								data-responsive_offset="off"
								data-fontsize="['600','600','600','450']"
								style="z-index: 5;"><div class="rs-looped rs-wave" data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%"><img src="images/logo500.png" alt="" style="max-width: 500px;max-height: 500px;"></div></div>
								
							</li>
<!-- SLIDE   2 -->
							<li data-index="rs-131" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Example Two" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='#000000' style='background:#005050' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<!-- LAYER NR. 5 -->
								<div class="tp-caption  "
									 id="slide-131-layer-4"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
												data-width="full-proportional"
									data-height="full-proportional"
									data-whitespace="nowrap"

									data-type="image"
									data-basealign="slide"
									data-responsive_offset="off"
									data-wrapper_class="tp-nopointer"
									data-responsive="off"
									data-frames='[{"delay":600,"speed":1500,"frame":"0","from":"sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"

									style="z-index: 5;"><img src="images/momcreation-87.jpg" alt="" data-ww="['full-proportional','full-proportional','full-proportional','full-proportional']" data-hh="['full-proportional','full-proportional','full-proportional','full-proportional']" data-no-retina> </div>

								
							</li>
<!-- SLIDE 3 -->
							<li data-index="rs-132" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Example Three" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='#005050' style='background:#ffffff' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<!-- LAYER NR. 9 -->
								<div class="tp-caption   fullscreenvideo  disabled_lc tp-videolayer"
									id="slide-132-layer-12"
									data-x="0"
									data-y="0"
									data-whitespace="nowrap"
									data-type="video"
									data-basealign="slide"
									data-responsive_offset="off"
									data-wrapper_class="tp-nopointer"
									data-responsive="off"
									data-frames='[{"delay":600,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
						 			data-videocontrols="none" data-videowidth="100%" data-videoheight="100%" data-videoposter="include/rs-plugin/demos/assets/images/tp_vid_clouds-1.jpg" data-videomp4="include/rs-plugin/demos/assets/videos/tp_vid_clouds.mp4" data-noposteronmobile="off" data-videopreload="auto" data-videoloop="loop" data-forceCover="1" data-aspectratio="16:9"            data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="screen"
									data-autoplay="on"

									style="z-index: 5;"> </div>

								<!-- LAYER NR. 10 -->
								<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-6"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-70','-100','-100','-100']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":500,"split":"chars","splitdelay":0.1,"speed":300,"frame":"0","from":"y:[-100%];sX:1;sY:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[20,20,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[20,20,20,20]"
									data-blendmode="darken"

									style="z-index: 6; white-space: nowrap; font-size: 80px; line-height: 80px; font-weight: 700; color: rgba(0,80,80,0.85);font-family:Poppins;">NOS PROJETS </div>

								<!-- LAYER NR. 11 -->
								<div class="tp-caption   tp-resizeme"
									 id="slide-132-layer-8"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['1','-30','-20','-20']"
												data-width="['none','none','361','330']"
									data-height="none"
									data-whitespace="['nowrap','nowrap','normal','normal']"

									data-type="text"
									data-responsive_offset="on"
									data-wrapper_class="tp-nopointer"

									data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"y:-20px;sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
									data-textAlign="['inherit','inherit','center','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-blendmode="darken"

									style="z-index: 7; white-space: nowrap; font-size: 17px; line-height: 25px; font-weight: 700; color: rgba(0,80,80,0.85);font-family:Poppins;letter-spacing:10px;">( Les meilleurs )</div>

								
							</li>
						</ul>
						<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
						</div><!-- END REVOLUTION SLIDER -->
			</div><!-- END REVOLUTION SLIDER WRAPPER -->

		</section>
		

		

		

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/addons/revolution.addon.particles.min.js"></script>

	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

	<!-- ADD-ONS JS FILES -->

	<script type="text/javascript">


		var revapi54,
		tpj=jQuery;
				tpj(document).ready(function() {
		if(tpj("#rev_slider").revolution == undefined){
			revslider_showDoubleJqueryError("#rev_slider");
		}else{
			revapi54 = tpj("#rev_slider").show().revolution({
				sliderType:"standard",
				jsFileLocation:"include/rs-plugin/js/",
				sliderLayout:"fullscreen",
				dottedOverlay:"none",
				delay:9000,
				particles: {startSlide: "0", endSlide: "1", zIndex: "1",
					particles: {
						number: {value: 80}, color: {value: "#005050"},
						shape: {
							type: "circle", 
							stroke: {width: 1, color: "#ffffff", opacity: 0.1},
							// type: "image",
							// image: {src: "M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"}
						},
						opacity: {value: 0.3, random: false, min: 0.25, anim: {enable: false, speed: 3, opacity_min: 0, sync: false}},
						size: {value: 30, random: true, min: 1, anim: {enable: false, speed: 40, size_min: 1, sync: false}},
						line_linked: {enable: true, distance: 200, color: "#ffffff", opacity: 0.2, width: 1},
						move: {enable: true, speed: 3, direction: "none", random: true, min_speed: 3, straight: false, out_mode: "out"}},
					interactivity: {
						events: {onhover: {enable: true, mode: "repulse"}, onclick: {enable: false, mode: "repulse"}},
						modes: {
						 bubble: {distance: 300, size: 150, opacity: 1}, repulse: {distance: 200}}
					}
				},
				navigation: {
					keyboardNavigation:"on",
					keyboard_direction: "vertical",
					mouseScrollNavigation:"on",
					 mouseScrollReverse:"default",
					onHoverStop:"off",
					arrows: {
						style:"gyges",
						enable:false,
						hide_onmobile:false,
						hide_onleave:false,
						tmp:'',
						left: {
							h_align:"center",
							v_align:"bottom",
							h_offset:-20,
							v_offset:0
						},
						right: {
							h_align:"center",
							v_align:"bottom",
							h_offset:20,
							v_offset:0
						}
					}
				},
				responsiveLevels:[1240,1024,778,480],
				visibilityLevels:[1240,1024,778,480],
				gridwidth:[1240,1024,778,480],
				gridheight:[868,768,960,720],
				lazyType:"none",
				shadow:0,
				spinner:"off",
				stopLoop:"on",
				stopAfterLoops:0,
				stopAtSlide:1,
				shuffle:"off",
				autoHeight:"off",
				fullScreenAutoWidth:"off",
				fullScreenAlignForce:"off",
				fullScreenOffsetContainer: "",
				fullScreenOffset: "0",
				disableProgressBar:"on",
				hideThumbsOnMobile:"off",
				hideSliderAtLimit:0,
				hideCaptionAtLimit:0,
				hideAllCaptionAtLilmit:0,
				debugMode:false,
				fallbacks: {
					simplifyAll:"off",
					nextSlideOnWindowFocus:"off",
					disableFocusListener:false,
				}
			});
		}

		RsParticlesAddOn(revapi54);
	});	/*ready*/
	</script>

</body>
</html>