<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <%- include menu.ejs %>

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>Infos pratiques</h1>
                <span>Toutes les informations dont vous pourriez avoir besoin, au même endroit.</span>
                <!-- <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">FAQs</li>
                </ol> -->
            </div>

        </section><!-- #page-title end -->

        <!-- Content
        ============================================= -->
         <section id="content">

            <div class="content-wrap">

                
                <div class="container ">

                    <div class="style-msg2 warningmsg bottommargin">
                            <div class="msgtitle">Attention</div>
                            <div class="sb-msg">
                                <ul>
                                    <li>Les entrainements sénior on déjà repris le mardis soir et le vendredi soir de 20h à 22h.</li>
                                    <li>Les entrainements poussin reprennent le 5 septembre à 17h30</li>
                                    <li>Les entrainements benjamin/minimes reprennent le 7 septembre à 18h00</li>
                                    <li>Les cadets sont en incertitude cette année, ils sont convié au entrainement sénior le temps de voir comment se passe le recrutement.</li>
                                </ul>
                            </div>
                        </div>


                    <div class="promo promo-light bottommargin">
                        <h3>Appellez-nous au <span>06 29 55 56 60</span> <br> Ecrivez-nous à <span>franbrochot@wanadoo.fr </span></h3>
                        <!-- <span>Nous répondons à tout vos email.</span> -->
                        <a href="/contact" class="button button-xlarge  button-dark button-rounded">Nous écrire</a>
                    </div>

                    <div class="fancy-title title-dotted-border title-center">
                        <h3>Prix des licences</h3>
                    </div>
                    <div class="pricing pricing-5 bottommargin clearfix">

                        <div class="pricing-box pricing-minimal">
                            <div class="pricing-title">
                                <h3>Poussin</h3>
                                <!-- <span>5GB in the Cloud</span> -->
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>70<span class="price-tenure">la saison</span>
                            </div>
                          <!--   <div class="pricing-action">
                                <a href="#" class="btn btn-danger btn-block">Get Started</a>
                            </div> -->
                        </div>

                        <div class="pricing-box pricing-minimal">
                            <div class="pricing-title">
                                <h3>Benjamin / Minime</h3>
                                <!-- <span></span> -->
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>75<span class="price-tenure">la saison</span>
                            </div>
                        </div>

                        <div class="pricing-box pricing-minimal">
                            <div class="pricing-title">
                                <h3>Cadet / junior</h3>
                                <!-- <span>100GB in the Cloud</span> -->
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>85<span class="price-tenure">la saison</span>
                            </div>
                        </div>

                        <div class="pricing-box pricing-minimal">
                            <div class="pricing-title">
                                <h3>Sénior loisir</h3>
                                <!-- <span>Sans compétition</span> -->
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>70<span class="price-tenure">la saison</span>
                            </div>
                        </div>

                        <div class="pricing-box pricing-minimal">
                            <div class="pricing-title">
                                <h3>Sénior compet'</h3>
                                <!-- <span>avec compétition</span> -->
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>120<span class="price-tenure">la saison</span>
                            </div>
                            
                        </div>
                        
                    </div>
                    <p class="center">Nous offrons des tarifs dégressifs pour les inscriptions à partir de la mi-saison. Contactez-nous pour plus d'informations.</p>
                    <div style="text-align: center;">
                        
                    <a class="btn btn-primary btn-lg" href="dossier_inscription_CTVB.zip" target="_BLANK">Télécharger le dossier d'insription</a>
                    </div>
                </div>
                <div class="container topmargin bottommargin">
                    <div class="fancy-title title-dotted-border title-center">
                        <h3>Liens utiles</h3>
                    </div>
                    <div class="row clear-bottommargin">

                        <div class="col-md-4 col-sm-6 bottommargin">
                            <div class="promo promo-dark promo-flat promo-mini promo-uppercase promo-right">
                                <h3>Dates des matchs de l'équipe de france <span>Féminine <i class="icon-line2-symbol-female"></i></span></h3>
                                <a href="http://www.ffvb.org/front/182-37-1-Competitions-" class="button button-large button-dark button-rounded">Aller voir</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 bottommargin">
                            <div class="promo promo-dark promo-mini promo-center">
                                <h3>Le site de la <span>Fédération francaise</span> de Volley Ball.</h3>
                                <a href="http://www.ffvb.org/" class="button button-large button-dark button-rounded">Aller voir</a>
                            </div>
                        </div>

                        <div class="clearfix visible-sm"></div>

                        <div class="col-md-4 bottommargin">
                            <div class="promo promo-dark promo-flat promo-mini promo-uppercase promo-right">
                                <h3>Dates des matchs de l'équipe de france <span>Masculine <i class="icon-line2-symbol-male"></i></span></h3>
                                <a href="http://www.ffvb.org/front/127-37-1-Competitions-" class="button button-large button-dark button-rounded">Aller voir</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="container clearfix bottommargin">

                    <div class="fancy-title title-dotted-border title-center">
                        <h3>Foire aux Questions</h3>
                    </div>

                    <!-- <p>Votre questions </p> -->

                    <!-- <div class="divider"><i class="icon-circle"></i></div> -->

                    <div class="col_half nobottommargin">

                        <h4>Compétitions <small>(4)</small></h4>

                        <div class="accordion accordion-border clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-lock3"></i>Comment devenir marqueur officiel ?</div>
                            <div class="acc_content clearfix">Une journée de formation et le tour est joué. Vous êtes marqueur ! Vous pouvez marquer les matchs officiels.</div>

                            <div class="acctitle"><i class="acc-closed icon-money"></i><i class="acc-open icon-money"></i>Combien gagne un marqueur ?</div>
                            <div class="acc_content clearfix">Un marqueur reçoit 10€ par match.</div>

                            <div class="acctitle"><i class="acc-closed icon-money"></i><i class="acc-open icon-money"></i>Combien gagne un arbitre officiel régional ?</div>
                            <div class="acc_content clearfix">Un arbitre gagne 34€ par match et ses déplacements lui sont remboursés.</div>

                            <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-lock3"></i>Comment devenir un arbitre officiel régional ?</div>
                            <div class="acc_content clearfix">Contactez Françoise pour plus d'informations.</div>

                        </div>

                        <h4 class="topmargin">Règles du jeu <small>(4)</small></h4>

                        <div class="accordion accordion-border nobottommargin clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-download-alt"></i><i class="acc-open icon-download-alt"></i>À quoi servent les bâtons rouge et blanc accrochés au filet ?</div>
                            <div class="acc_content clearfix">Ce sont des mires, elles servent à délimiter le terrain dans la verticale. Toute balle passant hors-mires ou touchant une mire est considérée dehors.</div>

                            <div class="acctitle"><i class="acc-closed icon-ok"></i><i class="acc-open icon-ok"></i>En combien de point se joue un match ?</div>
                            <div class="acc_content clearfix">Un match officiel se joue en 3 sets gagnants de 25 points.</div>

                            <div class="acctitle"><i class="acc-closed icon-credit"></i><i class="acc-open icon-credit"></i>Pourquoi y a-t-il un joueur de couleur différente sur le terrain ?</div>
                            <div class="acc_content clearfix">C'est le libéro, le défenseur principal. Il a le droit de rentrer/sortir à tout moment de la partie, mais uniquement sur les trois postes à l'arrière.</div>

                            <div class="acctitle"><i class="acc-closed icon-credit"></i><i class="acc-open icon-credit"></i>Pourquoi les joueurs font 4 touches de balle et le jeu continue ?</div>
                            <div class="acc_content clearfix">Le contre n'est pas compté comme une touche de balle. Cela signifie qu'après le contre, il reste encore 3 touches jouables pour l'équipe.</div>

                        </div>

                    </div>

                    <div class="col_half nobottommargin col_last">

                        <h4>Général <small>(9)</small></h4>

                        <div class="accordion accordion-border clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-map"></i><i class="acc-open icon-map"></i>Dans quel gymnase jouez vous?</div>
                            <div class="acc_content clearfix">Au gymnase Brise Bêche de Château-Thierry.</div>

                            <div class="acctitle"><i class="acc-closed icon-clock"></i><i class="acc-open icon-clock"></i>Quel sont les créneaux d'entrainement?</div>
                            <div class="acc_content clearfix">
                                Nous avons le gymnase le mercredi et le vendredi de 18h à 22h.
                                <ul>
                                    <li>Pupille / Poussin : mercredi de 17h30 à 19h</li>
                                    
                                    <li>Benjamin : vendredi de 18h à 20h</li>
                                    <li>Minime : vendredi de 18h à 20h</li>
                                    <li>Cadets / junior : avec les senior</li>
                                    <li>Senior fille : mercredi de 20h à 22h</li>
                                    <li>Senior garçons : vendredi de 20h à 22h(avant 1998)</li>
                                    <li>Loisir : mercredi de 20h à 22h</li>
                                </ul></div>

                            <div class="acctitle"><i class="acc-closed icon-file3"></i><i class="acc-open icon-file3"></i>Dans quelle catégorie je suis ?</div>
                            <div class="acc_content clearfix">
                                Au volley-ball, les catégories s'organisent en fonction de l'année de naissance.
                                <ul>
                                    <li>Pupille (après 2008)</li>
                                    <li>Poussin (2007-2008)</li>
                                    <li>Benjamin (2005-2006)</li>
                                    <li>Minime (2003-2004)</li>
                                    <li>Cadets (2001-2002)</li>
                                    <li>Junior (1999-2000)</li>
                                    <li>Senior (avant 1999)</li>
                                </ul>

                            </div>

                            <div class="acctitle"><i class="acc-closed icon-phone3"></i><i class="acc-open icon-phone3"></i>Il n'y a pas d'équipe dans ma catégorie ?</div>
                            <div class="acc_content clearfix">En effet, le CTVB est un petit club et nous n'avons malheureusement pas d'équipe pour nous représenter dans toutes les catégories. Cependant, nous avons toujours des joueurs vacants qui cherchent de nouveaux partenaires pour inscrire de nouvelles équipes.</div>

                        </div>

                        <h4 class="topmargin">Inscription <small>(3)</small></h4>

                        <div class="accordion accordion-border nobottommargin clearfix" data-state="closed">

                            
                            <div class="acctitle"><i class="acc-closed icon-picture"></i><i class="acc-open icon-picture"></i>Qui peut s'inscrire ?</div>
                            <div class="acc_content clearfix">Tout le monde, à la seule condition d'être autorisé par son medecin traitant.</div>

                            <div class="acctitle"><i class="acc-closed icon-money"></i><i class="acc-open icon-money"></i>Quel est le prix de l'inscription ?</div>
                            <div class="acc_content clearfix">Les tarifs se font en fonction des catégories (Tarifs indiqués plus haut sur la page). Nb: les seniors ne participant pas aux compétitions peuvent bénéficier de la licence loisir.</div>

                            <div class="acctitle"><i class="acc-closed icon-bar-chart"></i><i class="acc-open icon-bar-chart"></i>Quel document faut-il ramener ?</div>
                            <div class="acc_content clearfix">
                                Pour une création de licence nous avons besoin de :
                                <ul>
                                    <li>1 photocopie de pièce d'identité</li>
                                    <li>1 certificat médical</li>
                                    <li>1 copie signée du règlement intérieur</li>
                                    <li>1 autorisation signée pour les éventuelles photographies</li>
                                    <li>1 accord parental ou du représentant légal (pour les mineurs)</li>
                                </ul>
                                <a class="btn btn-primary" href="dossier_inscription_CTVB.zip" target="_BLANK">Télécharger le dossier d'insription</a>
                            </div>
                            <div class="acctitle"><i class="acc-closed icon-bar-chart"></i><i class="acc-open icon-bar-chart"></i>À quoi sert l'argent des cotisations ?</div>
                            <div class="acc_content clearfix">
                                Une grande partie sert à inscrire les joueurs et à affilier les équipes à la FFVB. <br>
                                Une autre partie est investie dans du nouveau matériel (Ballons, maillots...) <br>
                                Le reste est utilisé pour prendre en charge les remboursements des déplacements des joueurs à chacun des matchs. 
                            </div>

                        </div>

                    </div>

                </div>
                <div class="container topmargin">
                    <div class="heading-block center  topmargin">
                        <h2>Nos arbitres</h2>
                        <span>Ils font le tour de la région afin d'assurer l'arbitrage du championnat Fédéral.</span>
                    </div>
                    <div class="row clear-bottommargin">

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/front/volley/ctvb-buro-keke.jpg" alt="Cédric Guyot">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Cédric Guyot</h4><span>Arbitre</span></div>
                                    <div class="team-content">
                                        <ul>
                                            <li>Email : cedricgyt@gmail.com </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/front/volley/ctvb-buro-aline.jpg" alt="Nix Maxwell">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Aline Couvreur</h4><span>Arbitre</span></div>
                                    <div class="team-content">
                                        <ul>
                                            <li>Email : beaucou@free.fr </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/front/volley/ctvb-buro-laurent.jpg" alt="Mary Jane">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>CLaurent Pietranu</h4><span>Arbitre</span></div>
                                    <div class="team-content">
                                        <ul>
                                            <li>Email : l.perieteanu@gmail.com </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/front/team/4.jpg" alt="Nix Maxwell">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Nix Maxwell</h4><span>Arbitre</span></div>
                                    <div class="team-content">
                                        <ul>
                                            <li>Email : gegregregregre@gergre.fr</li>
                                            <li>Téléphone : 06 32 54 65 87</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>

            </div>

        </section><!-- #content end -->

        <%- include footer.ejs %>

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    

</body>