<!DOCTYPE html>
<html dir="ltr" lang="fr-FR">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="momcreation" />
	<meta name="description" content="<%- description %>" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="JBM/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="JBM/style.css" type="text/css" />
	<link rel="stylesheet" href="JBM/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="JBM/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="JBM/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="JBM/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="JBM/css/responsive.css" type="text/css" />
	<link rel="stylesheet" href="JBM/style.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />


	<link rel="shortcut icon" href="JBM/favicon/JBM-favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="JBM/favicon/JBM-favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="JBM/favicon/JBM-favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="JBM/favicon/JBM-favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="JBM/favicon/JBM-favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="JBM/favicon/JBM-favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="JBM/favicon/JBM-favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="JBM/favicon/JBM-favicon-16.png">
	<link rel="apple-touch-icon" href="JBM/favicon/JBM-favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="JBM/favicon/JBM-favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="JBM/favicon/JBM-favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="JBM/favicon/JBM-favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="JBM/favicon/JBM-favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="JBM/favicon/JBM-favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="JBM/favicon/JBM-favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="JBM/favicon/JBM-favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="JBM/favicon/JBM-favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="JBM/favicon/JBM-favicon-144.png">
	<meta name="msapplication-config" content="JBM/favicon/browserconfig.xml">
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- Document Title
	============================================= -->
	<title><%- title %></title>

</head>
<%- body %>
</html>