<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,800,900|Permanent+Marker" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="styles/front/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/style.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/dark.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/animate.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="styles/front/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="styles/front/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="styles/front/layers.css">
	<link rel="stylesheet" type="text/css" href="styles/front/navigation.css">
	<link rel="stylesheet" type="text/css" href="styles/front/mystyle.css">


	<!-- Document Title
	============================================= -->
	<title>V2M</title>
	
	<link rel="shortcut icon" href="favicon/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="favicon/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="favicon/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="favicon/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="favicon/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16.png">
	<link rel="apple-touch-icon" href="favicon/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="favicon/favicon-144.png">
	<meta name="msapplication-config" content="favicon/browserconfig.xml">
	<style>

		.demos-filter {
			margin: 0;
			text-align: right;
		}

		.demos-filter li {
			list-style: none;
			margin: 10px 0px;
		}

		.demos-filter li a {
			display: block;
			border: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #444;
		}

		.demos-filter li a:hover,
		.demos-filter li.activeFilter a { color: #1ABC9C; }

		@media (max-width: 991px) {
			.demos-filter { text-align: center; }

			.demos-filter li {
				float: left;
				width: 33.3%;
				padding: 0 20px;
			}
		}

		@media (max-width: 767px) {
			.demos-filter li { width: 50%; }
		}

		.tp-video-play-button { display: none !important; }

		.tp-caption { white-space: nowrap; }

	</style>

</head>

<%- body %>
</html>