  <body class="stretched BLOG no-transition">
<div id="wrapper" class="clearfix">
 <% include menu.ejs %>

  <div class="bandeaunclient anim fadeInLeftBig">
    <div class="container">
      <p>Page en Maintenance.</p>
      <p><small>Veuillez réessayer un peu plus tard.</small></p>
    </div>
  </div>

</body>