		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
					<img class="headerlogo" src="images/front/logo-v2m.png" alt="" width="126" height="100" >
				
				<h1>Votre maison clés en main</h1>
				<span>Si construire n'a jamais été aussi simple, y habiter le sera aussi.</span>
				<ol class="breadcrumb">
					<li><a href="/">Accueil</a></li>
					<li class="active">Maison clés en mains</li>
					<li class=""><a href="/modeles">Nos Modèles</a></li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">
					<h3>Comment ça marche ?</h3>

					<p>Vous possédez un terrain ou vous êtes en cours d'acquisition ? <br>
					 De la conception aux finissions, V2M se charge de construire votre maison.</p>

					<div id="processTabs">
						<ul class="process-steps bottommargin clearfix">
							<li>
								<a href="#ptab1" class="i-circled i-bordered i-alt divcenter">1</a>
								<h5>Premier rendez-vous</h5>
							</li> 
							<li>
								<a href="#ptab2" class="i-circled i-bordered i-alt divcenter">2</a>
								<h5>Choix du projet</h5>
							</li> 
							<li>
								<a href="#ptab3" class="i-circled i-bordered i-alt divcenter">3</a>
								<h5>Etablissement du devis</h5>
							</li>
							<li>
								<a href="#ptab4" class="i-circled i-bordered i-alt divcenter">4</a>
								<h5>Permis de construire</h5>
							</li>
							<li>
								<a href="#ptab5" class="i-circled i-bordered i-alt divcenter">5</a>
								<h5>Négociation des matériaux</h5>
							</li>
							<li>
								<a href="#ptab6" class="i-circled i-bordered i-alt divcenter">6</a>
								<h5>Construction</h5>
							</li>
							<li>
								<a href="#ptab7" class="i-circled i-bordered i-alt divcenter">7</a>
								<h5>Finissions</h5>
							</li>
							<li>
								<a href="#ptab8" class="i-circled i-bordered i-alt divcenter">8</a>
								<h5>Livraisons</h5>
							</li>
							
						</ul>
						<div>
							<div id="ptab1">
								<p>La première rencontre est le point central de notre future collaboration. C'est le moment où nous échangeons pour apprendre à se connaître,
							à cerner vos attentes, vos besoins et ceux des personnes qui auront le plaisir de vivre au quotidien dans nos constructions. </p>

								<div class="line"></div>
								<a href="#" class="button button-3d nomargin fright tab-linker" rel="2">Choix du projet &rArr;</a>

							</div>
							<div id="ptab2">
								<p>Le choix du projet émane d'un accord total entre chacune des parties. Nous vous proposons les solutions les plus adaptées, réajustons, et déterminons les prioriétés on se projetant dans le futur, pour vous faciliter la vie durant de nombreuses années. </p>
								<div class="line"></div>
								<a href="#" class="button button-3d nomargin tab-linker" rel="1">Précédent</a>
								<a href="#" class="button button-3d nomargin fright tab-linker" rel="3">Etablissement du devis</a>
							</div>
							<div id="ptab3">
								<p>Le devis est la proposition commerciale la plus importante. Chez nous, il présente en toute transparence la tarification des prestations pour simplifier les potentiels ajustements. En fonction de votre budget, nous tenterons toujours de faire notre maximum pour vous contenter.</p>
								<div class="line"></div>
								<a href="#" class="button button-3d nomargin tab-linker" rel="2">Précédent</a>
								<a href="#" class="button button-3d nomargin fright tab-linker" rel="4">Permis de construire</a>
							</div>
							<div id="ptab4">
								<p>Nous prenons en charge la gestion de votre permis de construire avec les organismes dédiés et habilités à délivrer ce précieux sésame. Plus de soucis administratifs, nous sommes là. </p>
								<div class="line"></div>
								<a href="#" class="button button-3d nomargin tab-linker" rel="3">Précédent</a>
								<a href="#" class="button button-3d nomargin fright tab-linker" rel="5">Négociation des matériaux</a>
							</div>
							<div id="ptab5">
								<p>Parce que nous avons plusieurs partenatiats avec des distributeurs de matériaux, nous vous promettons le meilleur rapport qualité/prix pour bâtir votre future maison. Et même si chaque projet possède ses spécificités, vous avez tous le droit à l'excellence.</p>
								<div class="line"></div>
								<a href="#" class="button button-3d nomargin tab-linker" rel="4">Précédent</a>
								<a href="#" class="button button-3d nomargin fright tab-linker" rel="6">Construction</a>

							</div>
							<div id="ptab6">
								<p>C'est la plus grande partie de notre travail. C'est ici que nous vous assurons qualité et rapidité, et comme nous savons que la construction d'une maison représente souvent le projet d'une vie, nous prônons la disponibilité pour vous assurer un suivi constant et régulier. </p>
								<div class="line"></div>
								<a href="#" class="button button-3d nomargin tab-linker" rel="5">Précédent</a>
								<a href="#" class="button button-3d nomargin fright tab-linker" rel="7">Finitions</a>
							</div>
							<div id="ptab7">
								<p>Nous réalisons les finitions en étant rigoureux et consciencieux. Ces finitions vont allouer une identité à votre domicile, alors une écoute et des avis d'experts sont proposés pour faire avancer au mieux la réflexion, avec en ligne de mire : un espace de vie parfait, qui vous ressemble et vous convient.</p>
								<div class="line"></div>
								<a href="#" class="button button-3d nomargin tab-linker" rel="6">Précédent</a>
								<a href="#" class="button button-3d nomargin fright tab-linker" rel="8">Livraison</a>
							</div>
							<div id="ptab8">
								<p>La livraison de la maison se fait quand tout est ajusté avec précision. Vous recevez les clés et découvrez votre lieu de vie, comme vous l'aviez imaginé dès les premières minutes. Vos meubles attendent la même chose que vous : occuper l'espace et profiter de cet extraordinaire lieu de vie.</p>
								<div class="line"></div>
								<a href="#" class="button button-3d nomargin tab-linker" rel="7">Précédent</a>
							</div>
						</div>
					</div>

					<div class="clear"></div>

					<h3 class="topmargin-lg">Vos questions</h3>

					<p>Si vous avez des questions, elles ont peut-être déjà une réponse ci-dessous</p>

					<div class="divider"></div>

					<div class="col_half nobottommargin">

						<h4>V2M <small></small></h4>
<!-- question-sign -->
						<div class="accordion accordion-border clearfix" data-state="closed">

							<div class="acctitle"><i class="acc-closed icon-money"></i><i class="acc-open icon-money"></i>Quel est le capital social de votre entreprise ?</div>
							<div class="acc_content clearfix">Le capital est de 20,000€.</div>

							<div class="acctitle"><i class="acc-closed icon-ok"></i><i class="acc-open icon-ok"></i>Depuis combien de temps exercez-vous ?</div>
							<div class="acc_content clearfix">Nous développons notre activité depuis 2011.</div>

							<div class="acctitle"><i class="acc-closed icon-bar-chart"></i><i class="acc-open icon-bar-chart"></i>Quel est votre chiffre d'affaires de l'année passée ?</div>
							<div class="acc_content clearfix">En constante évolution au fil des années, le chiffre d'affaires atteint aujourd'hui 900.000€.</div>

							<div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Quelles sont les valeurs de V2M ?</div>
							<div class="acc_content clearfix">Nous sommes jeunes, ambitieux et perfectionnistes. Avec nos collaborateurs, nous peaufinons nos compétences au quotidien et au fil des chantiers afin d'atteindre la perfection. </div>

						</div>

						<h4 class="topmargin">Le Projet <small></small></h4>

						<div class="accordion accordion-border nobottommargin clearfix" data-state="closed">

							<div class="acctitle"><i class="acc-closed icon-puzzle"></i><i class="acc-open icon-puzzle"></i>Que peut-on personnaliser dans vos modèles ?</div>
							<div class="acc_content clearfix">Vous pouvez personnaliser tout ce qui n'est pas en 'DUR' (mur porteur, canalisation, escalier et structure globale extérieur. À l'intérieur, c'est selon vos besoins et vos envies que tout sera construit.</div>

							<div class="acctitle"><i class="acc-closed icon-ok"></i><i class="acc-open icon-ok"></i>Passez-vous par un architecte pour concevoir les plans ?</div>
							<div class="acc_content clearfix">Quand cela est nécessaire, nous confions cette tâche à un architecte DPLG (Diplômé Par Le Gouvernement). Les modèles de maisons de plus de 150m2 sont soumis à la conception des plans par un architecte. De même, si nous devons procéder à plusieurs changements personnalisés, nous avons travaillons avec eux. </div>

							<div class="acctitle"><i class="acc-closed icon-money"></i><i class="acc-open icon-money"></i>Une maison personnalisée coûte-t-elle beaucoup plus cher que le modèle de base présenté ici ?</div>
							<div class="acc_content clearfix">Dans les faits, cela dépend de la demande. Si la personnalisation est importante et qu'elle engendre de nombreux changements, avec la conception des plans par un architecte spécialisé, la tarification sera légitimement plus élevée. </div>

						</div>

					</div>

					<div class="col_half nobottommargin col_last">

						<h4>Le Prix <small></small></h4>

						<div class="accordion accordion-border clearfix" data-state="closed">

							<div class="acctitle"><i class="acc-closed icon-money"></i><i class="acc-open icon-money"></i>Comment faites-vous pour proposer des maisons à des prix si attractifs ? </div>
							<div class="acc_content clearfix">Les prix définis ici sont le fruit d'un long processus et d'une réflexion poussée. Grâce à une parfaite connaissance de nos plans, et de partenariats divers avec des prestataires et distributeurs de matériaux, nous sommes en mesure de concevoir des maisons de qualité avec des tarifs en dessous du marché actuel. Notre objectif est de prouver au monde que l'on peut se doter d'une habitation fonctionnelle et élégante sans s'endetter jusqu'à la fin de ses jours.</div>

							<div class="acctitle"><i class="acc-closed icon-diamond"></i><i class="acc-open icon-diamond"></i>Quels sont les matériaux utilisés ?</div>
							<div class="acc_content clearfix">Nous utilisons les meilleurs matériaux pour vous assurer une habitation de qualité, qui tient parfaitement sur la durée. </div>

							<div class="acctitle"><i class="acc-closed icon-external-link"></i><i class="acc-open icon-external-link"></i>Faites-vous appel à des prestataires ?</div>
							<div class="acc_content clearfix">Il nous arrive de déleguer une partie de la construction à des sous-traitants afin de s'assurer le respect des délais de livraison. Notre objectif principal est de vous livrer votre habitation dans les temps impartis, c'est un engagement que l'on prend, maintenant et pour toujours. </div>

						</div>

						<h4 class="topmargin">Les Garanties <small></small></h4>

						<div class="accordion accordion-border nobottommargin clearfix" data-state="closed">

							<div class="acctitle"><i class="acc-closed icon-ban"></i><i class="acc-open icon-line2-ban"></i>Comment je peux être sûr que vous me livrerez ma maison ?</div>
							<div class="acc_content clearfix">Évidemment, nous signons un contrat lors de la commande de votre habitation. Ce document commercial est un acte qui nous engage avec vous, durabelement et aux yeux de la loi. Celui-ci est associé avec un planning scrupuleusement définit afin de vous présenter en toute transparence le déroulement de la construction. Chez nous, pas de flou ni d'hypocrisie. </div>

							<div class="acctitle"><i class="acc-closed icon-bar-chart"></i><i class="acc-open icon-bar-chart"></i>Y a-t-il un contrat ?</div>
							<div class="acc_content clearfix">Le devis fait office et contrat et fait foi face aux notaires. Une fois signé, il régit la collaboration. Par ailleurs, nous possédons un document qui présente les conditions générales de ventes disponible dans les mentions légales de notre site web.</div>

							<div class="acctitle"><i class="acc-closed icon-speedometer"></i><i class="acc-open icon-line2-speedometer"></i>Que se passe t-il en cas de dépassement de budget ?</div>
							<div class="acc_content clearfix">Ceci arrive très rarement pour ne pas dire jamais. Nous prenons le temps nécessaire en amont de la construction pour définir tous les besoins afin d'être sûrs de ne pas être hors budget. C'est grâce à cette rigueur que nous pouvons vous assurer une fiabilité dans le prix annoncé initialement et le prix de revient final.</div>
							<div class="acctitle"><i class="acc-closed icon-hourglass"></i><i class="acc-open icon-hourglass"></i>Que se passe t-il en cas de retard ?</div>
							<div class="acc_content clearfix">Idem que la question précédente, nous faisons tout notre possible pour ne pas avoir de retards. Le rétroplanning, s'il est correctement suivi, nous permet de respecter toutes les échéances. Néanmoins, il arrive qu'un prestataire ou un sous-traitant engendre un retard sur une livraison. C'est ainsi que nous essayons, par une dose de travail encore plus importante, de combler ce retard. </div>

						</div>

					</div>

		</section><!-- #content end -->


	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/front/jquery.js"></script>
	<script type="text/javascript" src="js/front/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/front/functions.js"></script>
	<script type="text/javascript">

		$(function() {
			$( "#processTabs" ).tabs({ show: { effect: "fade", duration: 400 } });
			$( ".tab-linker" ).click(function() {
				$( "#processTabs" ).tabs("option", "active", $(this).attr('rel') - 1);
				return false;
			});
		});
	</script>

</body>