

        <header id="header" class="full-header transparent-header" data-sticky-class="not-dark">

            <div id="header-wrap" class="">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                 <!--    <div id="logo">
                        <a href="/" class="standard-logo" data-dark-logo="images/LOGONUTRI2.svg"><img src="images/nutrinobaseline.svg" alt="Nutrimarketing logo"></a>
                        <a href="/" class="retina-logo" data-dark-logo="images/LOGONUTRI2.svg"><img src="images/nutrinobaseline.svg" alt="Nutrimarketing logo"></a>
                    </div>< -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul class="sf-js-enabled" style="touch-action: pan-y;">
                            <li class="sub-menu current"><a href="/" class="sf-with-ul"><div>Accueil</div></a></li>
                            <li class="sub-menu"><a href="/sevices" class="sf-with-ul"><div>Services</div></a></li>
                            <li class="sub-menu"><a href="/blog" class="sf-with-ul"><div>Blog</div></a></li>
                            <li class="sub-menu"><a href="/contact" class="sf-with-ul"><div>Contact</div></a></li>
                                    
                        </ul>

                        

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header>