<div id="bandeblanche">
    <div class="logo"><a href="/"><img src="images/800x157px.png" alt="cuisibulle logo"></a></div>
    <div class="burgermenu">
        <div class="burger burger1"></div>
        <div class="burger burger2"></div>
        <div class="burger burger3"></div>
    </div>
    <div class="coords">
        <ul>
             <li><strong>01 60 25 28 14</strong></li>
            <li>26B Rue Pasteur</li>
            <li>77660 SAINT-JEAN-LES-DEUX-JUMEAUX</li>
        </ul>
    </div>
</div>
<nav id="primary-menu">
    <div class="btnclosemenu"><i class="icon-line-cross"></i></div>
    <ul >
        <li><a href="/about" ><div>Qui sommes-nous ?</div></a></li>
        <li><a href="/services" data-href="#section-services"><div>Les services</div></a></li>
        <li><a href="/galerie" data-href="#section-contact"><div>Galerie</div></a></li>
        <li><a href="/contact" data-href="#section-about"><div>Contact</div></a></li>
    </ul>
</nav>

                     