

        <header id="header" class="full-header sticky-header transparent-header" data-sticky-class="not-dark">

            <div id="header-wrap" class="">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                     <% if(menu !='home'){%>
                    <div id="logo">
                        <a href="/" class="standard-logo" data-dark-logo="images/LOGONUTRI2.svg"><img src="images/nutrinobaseline.svg" alt="Nutrimarketing logo"></a>
                        <a href="/" class="retina-logo" data-dark-logo="images/LOGONUTRI2.svg"><img src="images/nutrinobaseline.svg" alt="Nutrimarketing logo"></a>
                    </div>
                    <% } %>

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul class="sf-js-enabled" style="touch-action: pan-y;">
                            <li class="sub-menu <% if(menu =='home'){%>current <%}%>"><a href="/" class="sf-with-ul"><div>  <%- __('menu-home') %></div></a></li>
                           
                            <li class="sub-menu <% if(menu =='consultation'){%>current <%}%>"><a href="/consultation" class="sf-with-ul"><div><%- __('menu-consultation') %></div></a></li>
                            <li class="sub-menu <% if(menu =='blog'){%>current <%}%>"><a href="/blog" class="sf-with-ul"><div><%- __('menu-blog') %></div></a></li>
                            <li class="sub-menu <% if(menu =='contact'){%>current <%}%>"><a href="/contact" class="sf-with-ul"><div><%- __('menu-contact') %></div></a></li>
                                    
                        </ul>

                        

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header>