		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
					<img class="headerlogo" src="images/front/logo-v2m.png" alt="" width="126" height="100" >
				
				<h1>Nos modèles</h1>
				<span>V2M a séléctionné pour vous les meuilleurs modèles de maison d'achitecte</span>
				<ol class="breadcrumb">
					<li><a href="/">Accueil</a></li>
					<li class=""><a href="/maisons">Maison clefs en mains</a></li>
					<li class="active">Nos Modèles</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">
					<!-- Portfolio Filter
					============================================= -->
					<ul id="portfolio-filter" class="portfolio-filter clearfix" data-container="#portfolio">

						<li class="activeFilter"><a href="#" data-filter="*">Tout les modèles</a></li>
						<li><a href="#" data-filter=".pf-space">Spacieuses</a></li>
						<li><a href="#" data-filter=".pf-light">Lumineuse</a></li>
						<li><a href="#" data-filter=".pf-3en1">3 en 1</a></li>

					</ul><!-- #portfolio-filter end -->

					<!-- <div id="portfolio-shuffle" class="portfolio-shuffle" data-container="#portfolio">
						<i class="icon-random"></i>
					</div> -->

					<div class="clear"></div>

					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" class="portfolio grid-container portfolio-1 clearfix">


						<article class="portfolio-item pf-3en1 pf-light clearfix">
							<div class="portfolio-image">
								<div class="fslider" data-arrows="false" data-speed="400" data-slideshow="false" data-pause="4000">
									<div class="flexslider">
										<div class="slider-wrap">
											<div class="slide slidebg">
												<div class="twoImgContainer">
													<img  class="couleur" src="images/front/projets/3en1-front-color.svg" alt="Couleur">
													<img src="images/front/projets/3en1-front.svg" alt="Trait">
												</div>
											</div>
											<div class="slide slidebg">
												<div class="twoImgContainer">
													<img  class="couleur" src="images/front/projets/3en1-back-color.svg" alt="Couleur">
													<img src="images/front/projets/3en1-back.svg" alt="Trait">
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="portfolio-overlay" data-lightbox="gallery"> -->
									<!-- <a href="images/front/projets/projetVide.png" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a> -->
									<!-- <a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a> -->
								<!-- </div> -->
							</div>
							<div class="portfolio-desc">
								<h3><a href="#">Maison 1</a> <span class="m2 pull-right">125m²</span></h3>
								<span><a href="#">3 en 1</a>, <a href="#">Lumineuse</a></span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quaerat beatae nulla debitis vitae temporibus enim sed. Optio, reprehenderit, ex.</p>
								<ul class="iconlist">
									<li><i class="icon-ok"></i> <strong>Nombre de chambre:</strong> 4</li>
									<li><i class="icon-ok"></i> <strong>Nombre de sale de bain:</strong> 1</li>
									<li><i class="icon-ok"></i> <strong>Date de 1er création :</strong> Janvier 2014</li>
									<li><i class="icon-ok"></i> <strong>Nombre de création:</strong> 3</li>
									<li><i class="icon-ok"></i> <strong>Visite possible:</strong> Oui (Seine et Marne)</li>
								</ul>
								<a href="portfolio-single-gallery.html" class="button button-3d noleftmargin">À partir de 158.000€</a>
							</div>
						</article>

						<article class="portfolio-item pf-space pf-light alt clearfix">
							<div class="portfolio-image">
								<div class="fslider" data-arrows="false" data-speed="400" data-slideshow="false" data-pause="4000">
									<div class="flexslider">
										<div class="slider-wrap">
											<div class="slide slidebg">
												<!-- <img src="images/front/projets/projetVide.png" alt="Morning Dew"> -->
												<img src="images/front/projets/3en1-backside.svg" alt="Morning Dew">
											</div>
											<div class="slide slidebg"><img src="images/front/projets/3en1-frontside.svg" alt="Morning Dew"></div>
										</div>
									</div>
								</div>
								<!-- <div class="portfolio-overlay" data-lightbox="gallery"> -->
									<!-- <a href="images/front/projets/projetVide.png" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a> -->
									<!-- <a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a> -->
								<!-- </div> -->
							</div>
							<div class="portfolio-desc">
								<h3><a href="#">Maison 1</a> <span class="m2 pull-right">132m²</span></h3>
								<span><a href="#">Spacieuse</a>, <a href="#">Lumineuse</a></span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quaerat beatae nulla debitis vitae temporibus enim sed. Optio, reprehenderit, ex.</p>
								<ul class="iconlist">
									<li><i class="icon-ok"></i> <strong>Nombre de chambre:</strong> 4</li>
									<li><i class="icon-ok"></i> <strong>Nombre de sale de bain:</strong> 1</li>
									<li><i class="icon-ok"></i> <strong>Date de 1er création :</strong> Janvier 2014</li>
									<li><i class="icon-ok"></i> <strong>Nombre de création:</strong> 3</li>
									<li><i class="icon-ok"></i> <strong>Visite possible:</strong> Oui (Seine et Marne)</li>
								</ul>
								<a href="portfolio-single-gallery.html" class="button button-3d noleftmargin">À partir de 189.000€</a>
							</div>
						</article>

						<article class="portfolio-item pf-light clearfix">
							<div class="portfolio-image">
								<div class="fslider" data-arrows="false" data-speed="400" data-slideshow="false" data-pause="4000">
									<div class="flexslider">
										<div class="slider-wrap">
											
											<div class="slide slidebg"><img src="images/front/projets/3en1-backside.svg" alt="Morning Dew"></div>
											<div class="slide slidebg"><img src="images/front/projets/3en1-backside.svg" alt="Morning Dew"></div>
											<div class="slide slidebg"><img src="images/front/projets/3en1-backside.svg" alt="Morning Dew"></div>
											<div class="slide slidebg"><img src="images/front/projets/3en1-backside.svg" alt="Morning Dew"></div>
											<div class="slide slidebg"><img src="images/front/projets/3en1-backside.svg" alt="Morning Dew"></div>
											<div class="slide slidebg"><img src="images/front/projets/3en1-backside.svg" alt="Morning Dew"></div>
										</div>
									</div>
								</div>
								<!-- <div class="portfolio-overlay" data-lightbox="gallery"> -->
									<!-- <a href="images/front/projets/projetVide.png" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a> -->
									<!-- <a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a> -->
								<!-- </div> -->
							</div>
							<div class="portfolio-desc">
								<h3><a href="#">Maison 1</a> <span class="m2 pull-right">243m²</span></h3>
								<span><a href="#">Lumineuse</a></span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quaerat beatae nulla debitis vitae temporibus enim sed. Optio, reprehenderit, ex.</p>
								<ul class="iconlist">
									<li><i class="icon-ok"></i> <strong>Nombre de chambre:</strong> 4</li>
									<li><i class="icon-ok"></i> <strong>Nombre de sale de bain:</strong> 1</li>
									<li><i class="icon-ok"></i> <strong>Date de 1er création :</strong> Janvier 2014</li>
									<li><i class="icon-ok"></i> <strong>Nombre de création:</strong> 3</li>
									<li><i class="icon-ok"></i> <strong>Visite possible:</strong> Oui (Seine et Marne)</li>
								</ul>
								<a href="portfolio-single-gallery.html" class="button button-3d noleftmargin">À partir de 270.000€</a>
							</div>
						</article>

						<article class="portfolio-item pf-3en1 pf-light alt clearfix">
							<div class="portfolio-image">
								<div class="fslider" data-arrows="false" data-speed="400" data-slideshow="false" data-pause="4000">
									<div class="flexslider">
										<div class="slider-wrap">
											
											<div class="slide slidebg"><img src="images/front/projets/3en1-backside.svg" alt="Morning Dew"></div>
											<div class="slide slidebg"><img src="images/front/projets/3en1-backside.svg" alt="Morning Dew"></div>
											<div class="slide slidebg"><img src="images/front/projets/3en1-backside.svg" alt="Morning Dew"></div>
											<div class="slide slidebg"><img src="images/front/projets/3en1-backside.svg" alt="Morning Dew"></div>
											<div class="slide slidebg"><img src="images/front/projets/3en1-backside.svg" alt="Morning Dew"></div>
											<div class="slide slidebg"><img src="images/front/projets/3en1-backside.svg" alt="Morning Dew"></div>
										</div>
									</div>
								</div>
								<!-- <div class="portfolio-overlay" data-lightbox="gallery"> -->
									<!-- <a href="images/front/projets/projetVide.png" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a> -->
									<!-- <a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a> -->
								<!-- </div> -->
							</div>
							<div class="portfolio-desc">
								<h3><a href="#">Maison 1</a> <span class="m2 pull-right">128m²</span></h3>
								<span><a href="#">3 en 1</a>, <a href="#">Lumineuse</a></span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quaerat beatae nulla debitis vitae temporibus enim sed. Optio, reprehenderit, ex.</p>
								<ul class="iconlist">
									<li><i class="icon-ok"></i> <strong>Nombre de chambre:</strong> 4</li>
									<li><i class="icon-ok"></i> <strong>Nombre de sale de bain:</strong> 1</li>
									<li><i class="icon-ok"></i> <strong>Date de 1er création :</strong> Janvier 2014</li>
									<li><i class="icon-ok"></i> <strong>Nombre de création:</strong> 3</li>
									<li><i class="icon-ok"></i> <strong>Visite possible:</strong> Oui (Seine et Marne)</li>
								</ul>
								<a href="portfolio-single-gallery.html" class="button button-3d noleftmargin">À partir de 108.000€</a>
							</div>
						</article>
						

						

					</div><!-- #portfolio end -->

				</div>

			</div>

		</section><!-- #content end -->


	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/front/jquery.js"></script>
	<script type="text/javascript" src="js/front/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/front/functions.js"></script>

</body>