		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
					<img class="headerlogo" src="images/front/logo-v2m.png" alt="" width="126" height="100" >

				<h1>Nos modèles</h1>
				<span>V2M a séléctionné pour vous les meuilleurs modèles de maison d'achitecte</span>
				<ol class="breadcrumb">
					<li><a href="/">Accueil</a></li>
					<li class=""><a href="/maisons">Maison clefs en mains</a></li>
					<li class="active">Nos Modèles</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		


	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/front/jquery.js"></script>
	<script type="text/javascript" src="js/front/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/front/functions.js"></script>

</body>