
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,800,900|Permanent+Marker" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="styles/front/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/style.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/dark.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/animate.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="styles/front/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="styles/front/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="styles/front/layers.css">
	<link rel="stylesheet" type="text/css" href="styles/front/navigation.css">
	<link rel="stylesheet" type="text/css" href="styles/front/mystyle.css">
	<link rel="stylesheet" type="text/css" href="css/aos.css">


	<!-- Document Title
	============================================= -->
	<title>V2M</title>
	
	<link rel="shortcut icon" href="favicon/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="favicon/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="favicon/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="favicon/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="favicon/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16.png">
	<link rel="apple-touch-icon" href="favicon/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="favicon/favicon-144.png">
	<meta name="msapplication-config" content="favicon/browserconfig.xml">
	<style>

		
 		.allbg{position:absolute;height: 800px;}
		#content {overflow:visible;}
		.projcontainer h2{text-align: center;}
		.quinconce{display: block;margin-left:50%;position: relative;}
		.imac{margin-top:100px;position: relative;}
		.imac .imacbg {position: absolute;width: 773px;height: 440px;top: 62px;left: 185px;}
	</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Slider
		============================================= -->

		<section id="slider" class="revslider-wrap clearfix">

			<div id="rev_slider_72_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="web-product-light" style="background-color:transparent;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
				<div id="rev_slider_72_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
					<ul>
						<!-- SLIDE  -->
						<li data-index="rs-254" data-transition="slidevertical" data-slotamount="1"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/proj/V2M/cover-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Get a License" data-description="">
							<!-- MAIN IMAGE -->
							<!-- <img src="images/proj/V2M/cover.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina> -->
							<!-- LAYERS -->

							<!-- BACKGROUND VIDEO LAYER -->
							<!-- <div class="rs-background-video-layer"
								data-forcerewind="on"
								data-volume="mute"
								data-videowidth="100%"
								data-videoheight="100%"
								data-videomp4="images/proj/V2M/videosV2M.mp4"
								data-videopreload="preload"
								data-videoloop="none"
								data-forceCover="1"
								data-aspectratio="16:9"
								data-autoplay="true"
								data-autoplayonlyfirsttime="false"
								data-nextslideatend="true"
							></div> -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme"
								 id="slide-254-layer-11"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
											data-width="full"
								data-height="full"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="0"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 5;background-color:rgba(245, 245, 245, 0.85);border-color:rgba(0, 0, 0, 1.00);">
							</div>

							<!-- LAYER NR. 2 -->
							<!-- <div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-7"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/front/logo-v2m-big.png" alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div> -->

						
							
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:-1000px;opacity:0;s:1000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/n.svg" class="rs-looped rs-pulse" data-speed="5" data-zoomstart="1" data-zoomend="1.02" data-easing="easeIn"alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:-1000px;opacity:0;s:1000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="600"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/n2.svg" class="rs-looped rs-wave" data-speed="5" data-angle="00" data-radius="1px" data-origin="50% 50%" alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>	
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:-1000px;opacity:0;s:1000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="700"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/u.svg" class="rs-looped rs-pulse" data-speed="5" data-zoomstart="1" data-zoomend="1.02" data-easing="easeIn"alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:-1000px;opacity:0;s:1000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="800"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/u2.svg" class="rs-looped rs-wave" data-speed="4.5" data-angle="00" data-radius="1px" data-origin="50% 50%"alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>	
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:-1000px;opacity:0;s:1000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="900"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/t.svg" class="rs-looped rs-pulse" data-speed="5" data-zoomstart="1" data-zoomend="1.02" data-easing="easeIn"alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:-1000px;opacity:0;s:1000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/t2.svg" class="rs-looped rs-wave" data-speed="6" data-angle="-40" data-radius="1px" data-origin="50% 50%"alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>	
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:-1000px;opacity:0;s:1000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="1100"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/r.svg" class="rs-looped rs-pulse" data-speed="5" data-zoomstart="1" data-zoomend="1.02" data-easing="easeIn" alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:-1000px;opacity:0;s:1000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="1200"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/r2.svg" class="rs-looped rs-wave" data-speed="5" data-angle="00" data-radius="1px" data-origin="50% 50%"alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>	
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:-1000px;opacity:0;s:1000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="1300"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/i.svg" class="rs-looped rs-pulse" data-speed="5" data-zoomstart="1" data-zoomend="1.02" data-easing="easeIn"alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>
							<div class="tp-caption WebProduct-Title   tp-resizeme"
							
							
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:1000px;opacity:0;s:1000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="2000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/marketing.svg" alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;s:5000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="3000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/baseline.svg" alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>

							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rX:0;rY:0;rZ:0;z:0;"

								 data-transform_in="y:-1000px;rX:90;rY:180;rZ:0;z:0;opacity:0;s:5000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/p1.svg" class="rs-looped rs-wave" data-speed="2" data-angle="15" data-radius="2px" data-origin="50% 50%" src="images/logosvgnutri/p6.svg"alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rX:0;rY:0;rZ:0;z:0;"

								 data-transform_in="y:-1000px;rX:40;rY:180;rZ:0;z:0;opacity:0;s:5000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/p2.svg" class="rs-looped rs-wave" data-speed="2" data-angle="0" data-radius="2px" data-origin="50% 50%" src="images/logosvgnutri/p6.svg"alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rX:0;rY:0deg;rZ:0;z:0;"

								 data-transform_in="y:-1000px;rX:30;rY:0deg;rZ:180;z:0;opacity:0;s:4000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/p3.svg" class="rs-looped rs-wave" data-speed="1.4" data-angle="90" data-radius="1px" data-origin="50% 50%" src="images/logosvgnutri/p6.svg"alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rX:0;rY:0deg;rZ:0;z:0;"

								 data-transform_in="y:-1000px;rX:180;rY:0deg;rZ:180;z:0;opacity:0;s:4000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/p4.svg" class="rs-looped rs-wave" data-speed="1.3" data-angle="90" data-radius="1px" data-origin="50% 50%" src="images/logosvgnutri/p6.svg"alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rX:0;rY:0;rZ:0;z:0;"

								 data-transform_in="y:-1000px;rX:0;rY:180deg;rZ:30;z:0;opacity:0;s:2500;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="1600"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/logosvgnutri/p5.svg" class="rs-looped rs-wave" data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%" src="images/logosvgnutri/p6.svg"alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rX:0;rY:0deg;rZ:0;z:0;"

								 data-transform_in="y:-1000px;rX:0;rY:180deg;rZ:90;z:0;opacity:0;s:3000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="1600"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img class="rs-looped rs-wave" data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%" src="images/logosvgnutri/p6.svg" alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>
							


						</li>
						

						
						
					</ul>
					




				<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
			</div><!-- END REVOLUTION SLIDER -->

		</section>
		<section id="content" style="margin-bottom: 0px;">

			<div class="content-wrap">

				<!-- <div class="allbg">

							<img src="images/proj/V2M/desktopbg2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>


							<img src="images/proj/V2M/desktopbg4.jpg"  alt=""  data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
					
					


							


							


				<div class="clearfix"></div>
				</div> -->
				<div class="container projcontainer clearfix">



					<h2 data-aos="zoom-in-down">Réalisation de l'identité visuel et du logo V2M</h2>
					<h2 data-aos="zoom-in-down">Réalisation des modèles de maison.</h2>
					<h2 data-aos="zoom-in-down">Création du site internet V2M.</h2>
					<h2 data-aos="zoom-in-down">Travail rédactionel sur tout les texts du site.</h2>
							

					<!-- <img  data-aos="zoom-in-down"class="quinconce" src="images/proj/nutri/tendances.png" alt="" style="left:-400px; margin-bottom: 200px;margin-top: 200px;" width="800" data-no-retina> -->

					<div  data-aos="slide-right" data-aos-offset="400" class="quinconce" style="left:-500px;"><img src="images/proj/nutri/enc1.jpg" alt="" width="500" data-no-retina></div>

					<div  data-aos="slide-left" data-aos-offset="500" class="quinconce" style="top:-300px"><img src="images/proj/nutri/enc.jpg" alt=""   width="500" data-no-retina></div>

					<div  data-aos="slide-right" data-aos-offset="400" class="quinconce" style="left:-570px;top:-752px"><img src="images/proj/nutri/enc2.jpg" alt=""  width="600" data-no-retina></div>

					<div class="clearfix" style="margin-top: -800px;"></div>

					<div data-aos="flip-right" data-aos-offset="400" class="quinconce" style="left:-400px; margin-top: 200px;width: 800px;"><img  src="images/proj/nutri/LOGORD.png" alt=""  width="800" data-no-retina></div>

					
					<div class="imac" data-aos="flip-up" data-aos-offset="400"><img class="" src="images/proj/imac.png" alt="" data-no-retina>
						<img class="imacbg" src="images/proj/nutri/nutribgmac1.jpg" alt="" data-no-retina>
					</div>
					<div class="imac" data-aos="flip-up" data-aos-offset="400"><img class="" src="images/proj/imac.png" alt="" data-no-retina>
						<img class="imacbg" src="images/proj/nutri/nutribgmac2.jpg" alt="" data-no-retina>
					</div>

					<div data-aos="flip-up" data-aos-offset="400" class="quinconce" style="margin-bottom: 0px;margin-top: 200px;width: 100%;"><img class="fullscreen" src="images/proj/nutri/Nutri.jpg" alt="" style="margin-left:-50%;" data-no-retina></div>

				</div>

			</div>

		</section>

	</div><!-- #wrapper end -->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/front/jquery.js"></script>
	<script type="text/javascript" src="js/front/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/front/functions.js"></script>
	<script type="text/javascript" src="js/aos.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="js/front/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="js/front/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="js/front/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="js/front/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="js/front/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="js/front/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="js/front/extensions/revolution.extension.navigation.min.js"></script>

	<script type="text/javascript">

		var tpj=jQuery,
			revapi72;
		tpj(document).ready(function() {
			if(tpj("#rev_slider_72_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_72_1");
			}else{
				revapi72 = tpj("#rev_slider_72_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"js/front/",
					sliderLayout:"fullscreen",
					dottedOverlay:"none",
					delay:9000,
					navigation: {
						keyboardNavigation:"off",
						keyboard_direction: "vertical",
						mouseScrollNavigation:"off",
						onHoverStop:"off",
						touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 50,
							swipe_direction: "vertical",
							drag_block_vertical: false
						}
						// ,
						// bullets: {
						// 	enable:true,
						// 	hide_onmobile:true,
						// 	hide_under:1024,
						// 	style:"hephaistos",
						// 	hide_onleave:false,
						// 	direction:"vertical",
						// 	h_align:"right",
						// 	v_align:"center",
						// 	h_offset:30,
						// 	v_offset:0,
						// 	space:5,
						// 	tmp:''
						// }
					},
					responsiveLevels:[1240,1024,778,480],
					gridwidth:[1400,1240,778,480],
					gridheight:[868,768,960,720],
					lazyType:"none",
					shadow:0,
					spinner:"spinner2",
					stopLoop:"on",
					stopAfterLoops:0,
					stopAtSlide:1,
					shuffle:"off",
					autoHeight:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
			}

			
		});	/*ready*/
		
		



		AOS.init({
      offset: 200,
      duration: 600,
      easing: 'ease-in-sine',
      delay: 0,

    });
	</script>

</body>
</html>