<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">


		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Modèle : Pivoine</h1>
				<div id="portfolio-navigation">
					<a href="/rome"><i class="icon-angle-left"></i></a>
					<a href="/modèles"><i class="icon-line-grid"></i></a>
					<a href="/rome"><i class="icon-angle-right"></i></a>
				</div>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Portfolio Single Gallery
					============================================= -->
					<div class="col_full portfolio-single-image">
						<div class="fslider" data-arrows="true" data-animation="slide">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide"><a href="#"><img src="images/front/v2m-maison/big/Pivoine-avant.jpg" alt=""></a></div>
									<div class="slide"><a href="#"><img src="images/front/v2m-maison/big/Pivoine-arriere.jpg" alt=""></a></div>
								</div>
							</div>
						</div>
					</div><!-- .portfolio-single-image end -->

					<div class="col_one_third nobottommargin">

						<!-- Portfolio Single - Meta
						============================================= -->
						<div class="panel panel-default events-meta">
							<div class="panel-body">
								<ul class="portfolio-meta nobottommargin">
									<li><i class="icon-ok"></i> <strong>Nombre de chambres :</strong> 4</li>
									<li><i class="icon-ok"></i> <strong>Nombre de salles de bain :</strong> 2</li>
									<li><i class="icon-ok"></i> <strong>Date de 1ère création :</strong> Janvier 2014</li>
									<li><i class="icon-ok"></i> <strong>Nombre de m<sup>2</sup> :</strong> 150</li>
									<li><i class="icon-ok"></i> <strong>Visite possible :</strong> Non</li>
								</ul>
							</div>
						</div>
						<!-- Portfolio Single - Meta End -->

						<!-- Portfolio Single - Share
						============================================= -->
						<div class="si-share noborder clearfix">
							<span>Partage:</span>
							<div>
								<a href="#" class="social-icon si-borderless si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="#" class="social-icon si-borderless si-twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>
								<a href="#" class="social-icon si-borderless si-pinterest">
									<i class="icon-pinterest"></i>
									<i class="icon-pinterest"></i>
								</a>
								<a href="#" class="social-icon si-borderless si-gplus">
									<i class="icon-gplus"></i>
									<i class="icon-gplus"></i>
								</a>
								<a href="#" class="social-icon si-borderless si-rss">
									<i class="icon-rss"></i>
									<i class="icon-rss"></i>
								</a>
								<a href="#" class="social-icon si-borderless si-email3">
									<i class="icon-email3"></i>
									<i class="icon-email3"></i>
								</a>
							</div>
						</div>
						<!-- Portfolio Single - Share End -->

					</div>

					<!-- Portfolio Single Content
					============================================= -->
					<div class="col_two_third portfolio-single-content col_last nobottommargin">

						<!-- Portfolio Single - Description
						============================================= -->
						<div class="fancy-title title-dotted-border">
							<h2>Info:</h2>
						</div>

						<div class="col_half nobottommargin">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, labore deserunt ex cupiditate est blanditiis dignissimos nesciunt doloremque laboriosam ullam necessitatibus voluptatum tempora itaque quia porro voluptates quo excepturi veritatis!</p>
						</div>

						<div class="col_half col_last nobottommargin">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, sed.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, soluta explicabo sunt aliquam officiis autem.</p>
						</div>
						<!-- Portfolio Single - Description End -->

					</div><!-- .portfolio-single-content end -->

					<div class="clear"></div>


					<div class="entry-image plan bottommargin">
						<img src="images/front/v2m-maison/big/Pivoine-plan-rc.jpg" class="rc" alt="Pivoine plan rc">
						<img src="images/front/v2m-maison/big/Pivoine-plan-1.jpg" class="premier" alt="Pivoine plan 1er etage">
						

						<ul id="portfolio-filter" class="portfolio-filter clearfix" data-container="#portfolio">
							<li class="activeFilter"><a href="#" rel="rc">Rez-de-chausser</a></li>
							<li><a href="#" rel="premier">1<sup>er</sup> étage</a></li>
						</ul>
					</div>


					<div class="clear"></div>
					<div class="divider divider-center"><i class="icon-circle"></i></div>


					<div class="entry-image bottommargin">
							<img src="images/front/v2m-maison/big/vue3D.jpg" class="rc" alt="vue3D">
					</div>



					<div class="clear"></div>
					<div class="divider divider-center"><i class="icon-circle"></i></div>

					<!-- Related Portfolio Items
					============================================= -->
					<h4>Related Projects:</h4>

					<div id="related-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="30" data-nav="false" data-autoplay="5000" data-items-xxs="1" data-items-xs="2" data-items-sm="3" data-items-lg="4">

						<div class="oc-item">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="/rome">
										<img src="images/front/v2m-maison/Rome-avant.jpg" alt="Open Imagination">
									</a>
									<!-- <div class="portfolio-overlay">
										<a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
									</div> -->
								</div>
								<div class="portfolio-desc">
									<h3><a href="/rome">Rome</a></h3>
									<span><a href="#">Lumineuse</a>, <a href="#">3en1</a></span>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="/pivoine">
										<img src="images/front/v2m-maison/Pivoine-avant.jpg" alt="Open Imagination">
									</a>
									<!-- <div class="portfolio-overlay">
										<a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
									</div> -->
								</div>
								<div class="portfolio-desc">
									<h3><a href="/pivoine">Pivoine</a></h3>
									<span><a href="#">Lumineuse</a>, <a href="#">3en1</a></span>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="portfolio-single.html">
										<img src="images/front/v2m-maison/Rome-arriere.jpg" alt="Open Imagination">
									</a>
									<!-- <div class="portfolio-overlay">
										<a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
									</div> -->
								</div>
								<div class="portfolio-desc">
									<h3><a href="portfolio-single.html">Coquelicots</a></h3>
									<span><a href="#">Lumineuse</a>, <a href="#">3en1</a></span>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="portfolio-single.html">
										<img src="images/front/v2m-maison/Pivoine-arriere.jpg" alt="Locked Steel Gate">
									</a>
									<!-- <div class="portfolio-overlay">
										<a href="images/portfolio/full/2.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
									</div> -->
								</div>
								<div class="portfolio-desc">
									<h3><a href="portfolio-single.html">Margerite</a></h3>
									<span><a href="#">Lumineuse</a></span>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="portfolio-single.html">
										<img src="images/front/v2m-maison/Rome-avant.jpg" alt="Open Imagination">
									</a>
									<!-- <div class="portfolio-overlay">
										<a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
									</div> -->
								</div>
								<div class="portfolio-desc">
									<h3><a href="portfolio-single.html">Milan</a></h3>
									<span><a href="#">Lumineuse</a>, <a href="#">3en1</a></span>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="portfolio-single.html">
										<img src="images/front/v2m-maison/Pivoine-avant.jpg" alt="Open Imagination">
									</a>
									<!-- <div class="portfolio-overlay">
										<a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
									</div> -->
								</div>
								<div class="portfolio-desc">
									<h3><a href="portfolio-single.html">Rose</a></h3>
									<span><a href="#">Lumineuse</a>, <a href="#">3en1</a></span>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="portfolio-single.html">
										<img src="images/front/v2m-maison/Rome-arriere.jpg" alt="Open Imagination">
									</a>
									<!-- <div class="portfolio-overlay">
										<a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
									</div> -->
								</div>
								<div class="portfolio-desc">
									<h3><a href="portfolio-single.html">Tullipe</a></h3>
									<span><a href="#">Lumineuse</a>, <a href="#">3en1</a></span>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="portfolio-single.html">
										<img src="images/front/v2m-maison/Pivoine-arriere.jpg" alt="Locked Steel Gate">
									</a>
									<!-- <div class="portfolio-overlay">
										<a href="images/portfolio/full/2.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
									</div> -->
								</div>
								<div class="portfolio-desc">
									<h3><a href="portfolio-single.html">Venise</a></h3>
									<span><a href="#">Lumineuse</a></span>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="portfolio-single.html">
										<img src="images/front/v2m-maison/Pivoine-avant.jpg" alt="Open Imagination">
									</a>
									<!-- <div class="portfolio-overlay">
										<a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
									</div> -->
								</div>
								<div class="portfolio-desc">
									<h3><a href="portfolio-single.html">Oslo</a></h3>
									<span><a href="#">Lumineuse</a>, <a href="#">3en1</a></span>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="portfolio-single.html">
										<img src="images/front/v2m-maison/Rome-arriere.jpg" alt="Open Imagination">
									</a>
									<!-- <div class="portfolio-overlay">
										<a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
									</div> -->
								</div>
								<div class="portfolio-desc">
									<h3><a href="portfolio-single.html">Seville</a></h3>
									<span><a href="#">Lumineuse</a>, <a href="#">3en1</a></span>
								</div>
							</div>
						</div>
						<div class="oc-item">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="portfolio-single.html">
										<img src="images/front/v2m-maison/Pivoine-arriere.jpg" alt="Locked Steel Gate">
									</a>
									<!-- <div class="portfolio-overlay">
										<a href="images/portfolio/full/2.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
										<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
									</div> -->
								</div>
								<div class="portfolio-desc">
									<h3><a href="portfolio-single.html">St-Louis</a></h3>
									<span><a href="#">Lumineuse</a></span>
								</div>
							</div>
						</div>
						

					</div><!-- .portfolio-carousel end -->

				</div>

			</div>

		</section><!-- #content end -->


	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>
	<script>

			$('#portfolio-filter li a').click(function(e,item){

				var state = $(e.currentTarget).attr('rel');

				if(state =='rc'){
					$(".entry-image.plan img.premier").css({'opacity':'0'})
					$(".entry-image.plan img.rc").css({'opacity':'1'})
				}
				else if(state =='premier'){
					$(".entry-image.plan img.premier").css({'opacity':'0.8'})
					$(".entry-image.plan img.rc").css({'opacity':'1'})
				}
				

				
			})






	</script>
</body>