<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="MOMCREATION" />
	<meta name="description" content="La photographie nous émerveille et nous rend fleur-bleue. " />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,800,900|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">


	<!-- Document Title
	============================================= -->
	<title>Pixel Blog - MOM</title>

	<style>

		.demos-filter {
			margin: 0;
			text-align: right;
		}

		.demos-filter li {
			list-style: none;
			margin: 10px 0px;
		}

		.demos-filter li a {
			display: block;
			border: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #444;
		}

		.demos-filter li a:hover,
		.demos-filter li.activeFilter a { color: #1ABC9C; }

		@media (max-width: 991px) {
			.demos-filter { text-align: center; }

			.demos-filter li {
				float: left;
				width: 33.3%;
				padding: 0 20px;
			}
		}

		@media (max-width: 767px) {
			.demos-filter li { width: 50%; }
		}

		.revo-slider-emphasis-text {
			font-size: 64px;
			font-weight: 700;
			letter-spacing: -1px;
			font-family: 'Raleway', sans-serif;
			padding: 15px 20px;
			border-top: 2px solid #FFF;
			border-bottom: 2px solid #FFF;
		}

		.revo-slider-desc-text {
			font-size: 20px;
			font-family: 'Lato', sans-serif;
			width: 650px;
			text-align: center;
			line-height: 1.5;
		}

		.revo-slider-caps-text {
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 3px;
			font-family: 'Raleway', sans-serif;
		}
		.tp-video-play-button { display: none !important; }

		.tp-caption { white-space: nowrap; }

	</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Slider
		============================================= -->

		<section id="slider" class="revslider-wrap clearfix">

			<div id="rev_slider_48_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="photography1" style="background-color:transparent;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
					<div id="rev_slider_48_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
						<ul>	<!-- SLIDE  -->
							




						
							<li data-index="rs-163" data-transition="slideoververtical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/not-hd/hd-4.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
								


								<!-- LAYER NR. 2 -->
							<div class="tp-caption   tp-resizeme "
								 id="slider-8-layer-111"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								
								
								data-transform_idle="o:1;rY0"
								data-visibility="['on','on','off','off']"
							 	data-transform_in="opacity:0;s:1000;e:Power3.easeOut;"
							 	data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
								data-start="0"
								
								data-basealign="slide"
								data-responsive_offset="on"
								 style="">
								<img   src="include/rs-plugin/demos/assets/images/dummy.png" width="100%" height="100%" alt="" 
								 style="width:100%;height: 100%;"
								data-lazyload="images/hd/hd-11.jpg">
							</div>
							<div class="tp-caption TechJournal-Big1  rs-parallaxlevel-4 tp-resizeme "
								 id="slider-8-layer-1"
								 data-x="['center','center','center','center']" data-hoffset="['370','300','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-fontsize="['600','500','500','300']"
								data-lineheight="['600','500','500','300']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;rY0"

							 	data-transform_in="z:0;rY:360;rY:0;rZ:0;sX:50;sY:50;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;"
							 	data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
								data-start="600"
								data-splitin="none"
								data-splitout="none"
								data-basealign="slide"
								data-responsive_offset="on"

								data-startslide="0"
								data-endslide="2"

								data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%" class="momLogoFond rs-looped rs-wave" style="">
								<img   src="include/rs-plugin/demos/assets/images/dummy.png" alt="" 
								data-ww="['600px','500px','500px','400px']" data-hh="['600px','500px','500px','400px']" 
								data-lazyload="images/biglogo.png">
							</div>
							

							<!-- LAYER NR. 3 -->
							<div class="tp-caption TechJournal-Big  rs-parallaxlevel-5 tp-resizeme"
								 id="slider-8-layer-1"
								 data-x="['center','center','center','center']" data-hoffset="['370','300','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-40','-30']"
											data-fontsize="['110','90','100','80']"
								data-lineheight="['120','140','200','140']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power4.easeInOut;"
								 data-transform_out="opacity:0;s:300;"
								 data-mask_in="x:[-100%];y:0px;s:inherit;e:inherit;"
								data-start="500"
								data-splitin="none"
								data-splitout="none"
								data-basealign="slide"
								data-responsive_offset="on"

								data-startslide="0"
								data-endslide="2"

								style="z-index: 7; white-space: nowrap; font-size: 120px; line-height: 110px;">PIXELS </div>

							<!-- LAYER NR. 4 -->
							<div class="tp-caption TechJournal-Big  rs-parallaxlevel-6 tp-resizeme"
								 id="slider-8-layer-1"
								 data-x="['center','center','center','center']" data-hoffset="['370','300','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']"
											data-fontsize="['100','90','100','90']"
								data-lineheight="['150','160','180','140']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power4.easeInOut;"
								 data-transform_out="opacity:0;s:300;"
								 data-mask_in="x:[-100%];y:0px;s:inherit;e:inherit;"
								data-start="800"
								data-splitin="none"
								data-splitout="none"
								data-basealign="slide"
								data-responsive_offset="on"

								data-startslide="0"
								data-endslide="2"

								style="z-index: 8; white-space: nowrap;font-weight:normal; font-size: 100px; line-height: 110px;font-family:Raleway;font-weight:900;">Blog </div>

								
							</li>











							<!-- SLIDE  -->
							<li data-index="rs-164" data-transition="slideoververtical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="include/rs-plugin/demos/assets/images/photography2-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Portfolio" data-description="" data-visibility="['on','on','on','off']">
								<!-- MAIN IMAGE -->
								<!-- <img src="images/hd/hd-13.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina> -->
								<!-- LAYERS -->
								<div class="tp-caption   tp-resizeme "
								 	id="slider-89-layer-111"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
									
									
									data-transform_idle="o:1;rY0"
									data-visibility="['on','on','on','off']"
								 	data-transform_in="opacity:0;s:1000;e:Power3.easeOut;"
								 	data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
									data-start="0"
									
									data-basealign="slide"
									data-responsive_offset="on"
									 style="">
									<img   src="include/rs-plugin/demos/assets/images/dummy.png" width="100%" height="100%" alt="" 
									 style="width:100%;height: 100%;"
									data-lazyload="images/hd/hd-13.jpg">
								</div>
								<div class="tp-caption   tp-resizeme "
								 	id="slider-89-layer-11f1"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','115','0']"
									 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['30','30','50','50']"
									data-fontsize=['80']
									data-color="['#EEE','#EEE','#EEE','#008080']"
									data-transform_idle="o:1;rY0"
									data-visibility="['off','off','off','on']"
								 	data-transform_in="opacity:0;s:1000;e:Power3.easeOut;"
								 	data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
									data-start="0"
									
									data-basealign="slide"
									data-responsive_offset="on"
									 style="z-index : 20; color:#EEE; ">
									<i class="icon-phone-landscape"></i>
								</div>
								<div class="tp-caption   tp-resizeme "
								 	id="slider-89-layer-11f1"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','115','0']"
									 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['30','30','10','10']"
									data-fontsize=['16']
									data-color="['#EEE','#EEE','#EEE','#008080']"
									data-transform_idle="o:1;rY0"
									data-visibility="['off','off','off','on']"
								 	data-transform_in="opacity:0;s:1000;e:Power3.easeOut;"
								 	data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
									data-start="0"
									
									data-basealign="slide"
									data-responsive_offset="on"
									 style="z-index : 20; color:#EEE; ">
									Le pixel blog se regarde en mode paysage
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption Photography-ImageHover   tp-resizeme"
									 id="slide-164-layer-7"
									 data-x="['left','center','center','center']" data-hoffset="['460','-70','280','-130']"
									 data-y="['top','middle','middle','middle']" data-voffset="['330','-210','-235','-175']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
										data-transform_hover="o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;s:1000;e:Power3.easeInOut;"
										data-style_hover="c:rgba(255, 255, 255, 1.00);cursor:pointer;"

									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:0px;"
									 data-mask_out="x:inherit;y:inherit;"
									data-start="750"
									data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-165","delay":""}]'
									data-responsive_offset="on"


									style="z-index: 6; line-height: 22px;font-family:Arial;"><img src="images/small/small-2.jpg" alt="" width="300" height="200" data-ww="['250px','300px','300px','250px']" data-hh="['167px','200px','200px','167px']" data-no-retina>
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption Photography-ImageHover   tp-resizeme"
									 id="slide-164-layer-8"
									 data-x="['left','center','center','center']" data-hoffset="['720','250','-60','130']"
									 data-y="['top','middle','middle','middle']" data-voffset="['330','-210','-235','-175']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
										data-transform_hover="o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;s:1000;e:Power3.easeInOut;"
										data-style_hover="c:rgba(255, 255, 255, 1.00);cursor:pointer;"

									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:0px;"
									 data-mask_out="x:inherit;y:inherit;"
									data-start="850"
									data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-166","delay":""}]'
									data-responsive_offset="on"


									style="z-index: 7; line-height: 22px;font-family:Arial;"><img src="images/small/small-5.jpg" alt="" width="300" height="200" data-ww="['250px','300px','300px','250px']" data-hh="['167px','200px','200px','167px']" data-no-retina>
								</div>







								<!-- LAYER NR. 4 -->
								<div class="tp-caption Photography-ImageHover   tp-resizeme"
									 id="slide-164-layer-9"
									 data-x="['left','center','center','center']" data-hoffset="['980','-70','280','-130']"
									 data-y="['top','middle','middle','middle']" data-voffset="['330','10','0','0']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
										data-transform_hover="o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;s:1000;e:Power3.easeInOut;"
										data-style_hover="c:rgba(255, 255, 255, 1.00);cursor:pointer;"

									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:0px;"
									 data-mask_out="x:inherit;y:inherit;"
									data-start="950"
									data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-167","delay":""}]'
									data-responsive_offset="on"


									style="z-index: 8; line-height: 22px;font-family:Arial;"><img src="images/small/small-3.jpg" alt="" width="300" height="200" data-ww="['250px','300px','300px','250px']" data-hh="['167px','200px','200px','167px']" data-no-retina>
								</div>

								<!-- LAYER NR. 5 -->
								<div class="tp-caption Photography-ImageHover   tp-resizeme"
									 id="slide-164-layer-10"
									 data-x="['left','center','center','center']" data-hoffset="['460','250','-60','130']"
									 data-y="['top','middle','middle','middle']" data-voffset="['507','10','0','0']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
										data-transform_hover="o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;s:1000;e:Power3.easeInOut;"
										data-style_hover="c:rgba(255, 255, 255, 1.00);cursor:pointer;"

									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:0px;"
									 data-mask_out="x:inherit;y:inherit;"
									data-start="1050"
									data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-168","delay":""}]'
									data-responsive_offset="on"


									style="z-index: 9; line-height: 22px;font-family:Arial;"><img src="images/small/small-10.jpg" alt="" width="300" height="200" data-ww="['250px','300px','300px','250px']" data-hh="['167px','200px','200px','167px']" data-no-retina>
								</div>










								<!-- LAYER NR. 6 -->
								<div class="tp-caption Photography-ImageHover   tp-resizeme"
									 id="slide-164-layer-11"
									 data-x="['left','center','center','center']" data-hoffset="['720','-70','280','-130']"
									 data-y="['top','middle','middle','middle']" data-voffset="['507','230','235','175']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
										data-transform_hover="o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;s:1000;e:Power3.easeInOut;"
										data-style_hover="c:rgba(255, 255, 255, 1.00);cursor:pointer;"

									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:0px;"
									 data-mask_out="x:inherit;y:inherit;"
									data-start="1150"
									data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-169","delay":""}]'
									data-responsive_offset="on"


									style="z-index: 10; line-height: 22px;font-family:Arial;"><img src="images/small/small-8.jpg" alt="" width="300" height="200" data-ww="['250px','300px','300px','250px']" data-hh="['167px','200px','200px','167px']" data-no-retina>
								</div>

								<!-- LAYER NR. 7 -->
								<div class="tp-caption Photography-ImageHover   tp-resizeme"
									 id="slide-164-layer-12"
									 data-x="['left','center','center','center']" data-hoffset="['980','250','-60','130']"
									 data-y="['top','middle','middle','middle']" data-voffset="['507','230','235','175']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
										data-transform_hover="o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;s:1000;e:Power3.easeInOut;"
										data-style_hover="c:rgba(255, 255, 255, 1.00);cursor:pointer;"

									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:0px;"
									 data-mask_out="x:inherit;y:inherit;"
									data-start="1250"
									data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-170","delay":""}]'
									data-responsive_offset="on"


									style="z-index: 11; line-height: 22px;font-family:Arial;"><img src="images/small/small-4.jpg" alt="" width="300" height="200" data-ww="['250px','300px','300px','250px']" data-hh="['167px','200px','200px','167px']" data-no-retina>
								</div>
							</li>



						













							<!-- SLIDE  -->
							<li data-index="rs-165" data-transition="slideoververtical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/not-hd/hd-2.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Project 1" data-description="">
								<!-- MAIN IMAGE -->
								<img src="images/hd965/hd-2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								
							</li>
							<!-- SLIDE  -->
							<li data-index="rs-166" data-transition="slideoververtical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/not-hd/hd-5.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Project 2" data-description="">
								<!-- MAIN IMAGE -->
								<img src="images/hd965/hd-5.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

							</li>
							<!-- SLIDE  -->
							<li data-index="rs-167" data-transition="slideoververtical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/not-hd/hd-3.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Project 3" data-description="">
								<!-- MAIN IMAGE -->
								<img src="images/hd965/hd-3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

							</li>
							<!-- SLIDE  -->
							<li data-index="rs-168" data-transition="slideoververtical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/not-hd/hd-10.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Project 4" data-description="">
								<!-- MAIN IMAGE -->
								<img src="images/hd965/hd-10.jpg"  alt=""  data-bgposition="right center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

							</li>
							<!-- SLIDE  -->
							<li data-index="rs-169" data-transition="slideoververtical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/not-hd/hd-8.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Project 5" data-description="">
								<!-- MAIN IMAGE -->
								<img src="images/hd965/hd-8.jpg"  alt=""  data-bgposition="right center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

							</li>
							<!-- SLIDE  -->
							<li data-index="rs-170" data-transition="slideoververtical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/not-hd/hd-4.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Project 6" data-description="">
								<!-- MAIN IMAGE -->
								<img src="images/hd965/hd-4.jpg"  alt=""  data-bgposition="left center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

							</li>



							
						</ul>
						<div class="tp-static-layers">

						

							<!-- LAYER NR. 9 -->
							<div class="tp-caption tp-shape tp-shapewrapper hideonnotmove  tp-static-layer"
								 id="slide-18-layer-9"
								 data-x="['right','right','center','center']" data-hoffset="['30','30','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['30','30','30','30']"
											data-width="460"
								data-height="87"
								data-whitespace="nowrap"
								data-visibility="['on','on','off','off']"
								data-transform_idle="o:1;"
									data-style_hover="cursor:pointer;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="y:[100%];s:1000;s:1000;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="500"
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								data-startslide="2"
								data-endslide="7"

								style="z-index: 13;background-color:rgba(0, 0, 0, 0.65);border-color:rgba(0, 0, 0, 1.00);">
							</div>

							<!-- LAYER NR. 10 -->
							<div class="tp-caption photography-ImageHover2 hideonnotmove  tp-static-layer"
								 id="slide-18-layer-10"
								 data-x="['right','right','center','center']" data-hoffset="['400','400','-175','-175']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-visibility="['on','on','off','off']"
								data-transform_idle="o:1;"
									data-transform_hover="o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;s:500;e:Back.easeOut;"
									data-style_hover="c:rgba(255, 255, 255, 1.00);cursor:pointer;"

								 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								data-start="500"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-165","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								data-startslide="2"
								data-endslide="7"

								style="z-index: 14; line-height: 22px;font-family:Arial;border-color:rgba(255, 255, 255, 0);"><img src="images/small/small-2.jpg" alt="" width="300" height="200" data-ww="['70px','70px','70px','70px']" data-hh="['47px','47px','47px','47px']" data-no-retina>
							</div>

							<!-- LAYER NR. 11 -->
							<div class="tp-caption photography-ImageHover2 hideonnotmove  tp-static-layer"
								 id="slide-18-layer-12"
								 data-x="['right','right','center','center']" data-hoffset="['330','330','-105','-105']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-visibility="['on','on','off','off']"
								data-transform_idle="o:1;"
									data-transform_hover="o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;s:500;e:Back.easeOut;"
									data-style_hover="c:rgba(255, 255, 255, 1.00);cursor:pointer;"

								 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								data-start="600"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-166","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								data-startslide="2"
								data-endslide="7"

								style="z-index: 15; line-height: 22px;font-family:Arial;border-color:rgba(255, 255, 255, 0);"><img src="images/small/small-5.jpg" alt="" width="300" height="200" data-ww="['70px','70px','70px','70px']" data-hh="['47px','47px','47px','47px']" data-no-retina>
							</div>

							<!-- LAYER NR. 12 -->
							<div class="tp-caption photography-ImageHover2 hideonnotmove  tp-static-layer"
								 id="slide-18-layer-13"
								 data-x="['right','right','center','center']" data-hoffset="['260','260','-35','-35']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-visibility="['on','on','off','off']"
								data-transform_idle="o:1;"
									data-transform_hover="o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;s:500;e:Back.easeOut;"
									data-style_hover="c:rgba(255, 255, 255, 1.00);cursor:pointer;"

								 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								data-start="700"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-167","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								data-startslide="2"
								data-endslide="7"

								style="z-index: 16; line-height: 22px;font-family:Arial;border-color:rgba(255, 255, 255, 0);"><img src="images/small/small-3.jpg" alt="" width="300" height="200" data-ww="['70px','70px','70px','70px']" data-hh="['47px','47px','47px','47px']" data-no-retina>
							</div>

							<!-- LAYER NR. 13 -->
							<div class="tp-caption photography-ImageHover2 hideonnotmove  tp-static-layer"
								 id="slide-18-layer-11"
								 data-x="['right','right','center','center']" data-hoffset="['190','190','35','35']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-visibility="['on','on','off','off']"
								data-transform_idle="o:1;"
									data-transform_hover="o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;s:500;e:Back.easeOut;"
									data-style_hover="c:rgba(255, 255, 255, 1.00);cursor:pointer;"

								 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								data-start="800"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-168","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								data-startslide="2"
								data-endslide="7"

								style="z-index: 17; line-height: 22px;font-family:Arial;border-color:rgba(255, 255, 255, 0);"><img src="images/small/small-10.jpg" alt="" width="300" height="200" data-ww="['70px','70px','70px','70px']" data-hh="['47px','47px','47px','47px']" data-no-retina>
							</div>

							<!-- LAYER NR. 14 -->
							<div class="tp-caption photography-ImageHover2 hideonnotmove  tp-static-layer"
								 id="slide-18-layer-14"
								 data-x="['right','right','center','center']" data-hoffset="['120','120','105','105']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-visibility="['on','on','off','off']"
								data-transform_idle="o:1;"
									data-transform_hover="o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;s:500;e:Back.easeOut;"
									data-style_hover="c:rgba(255, 255, 255, 1.00);cursor:pointer;"

								 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								data-start="900"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-169","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								data-startslide="2"
								data-endslide="7"

								style="z-index: 18; line-height: 22px;font-family:Arial;border-color:rgba(255, 255, 255, 0);"><img src="images/small/small-8.jpg" alt="" width="300" height="200" data-ww="['70px','70px','70px','70px']" data-hh="['47px','47px','47px','47px']" data-no-retina>
							</div>

							<!-- LAYER NR. 15 -->
							<div class="tp-caption photography-ImageHover2 hideonnotmove  tp-static-layer"
								 id="slide-18-layer-15"
								 data-x="['right','right','center','center']" data-hoffset="['50','50','175','175']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-visibility="['on','on','off','off']"
								data-transform_idle="o:1;"
									data-transform_hover="o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;s:500;e:Back.easeOut;"
									data-style_hover="c:rgba(255, 255, 255, 1.00);cursor:pointer;"

								 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="opacity:0;s:1000;s:1000;"
								 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								data-start="1000"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-170","delay":""}]'
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								data-startslide="2"
								data-endslide="7"

								style="z-index: 19; line-height: 22px;font-family:Arial;border-color:rgba(255, 255, 255, 0);"><img src="images/small/small-4.jpg" alt="" width="300" height="200" data-ww="['70px','70px','70px','70px']" data-hh="['47px','47px','47px','47px']" data-no-retina>
							</div>
						</div>
						<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
					</div>
				</div><!-- END REVOLUTION SLIDER -->

			</div>

		</section><!-- #content end -->

	</div><!-- #wrapper end -->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

	<script type="text/javascript">
		var tpj=jQuery;
		var revapi48;
		tpj(document).ready(function() {
			if(tpj("#rev_slider_48_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_48_1");
			}else{
				revapi48 = tpj("#rev_slider_48_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"include/rs-plugin/js/",
					sliderLayout:"fullscreen",
					dottedOverlay:"none",
					delay:9000,
					navigation: {
						keyboardNavigation:"off",
						keyboard_direction: "vertical",
						mouseScrollNavigation:"on",
						onHoverStop:"off",
						touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 1,
							swipe_direction: "vertical",
							drag_block_vertical: 'off'
						}
					},
					parallax: {
						type: "mouse",
						origo: "slidercenter",
						speed: 5000,
						levels: [2,4,6,8,10,12,40,45,50,55,60,65,70,75,80,85],
						ddd_shadow: "off",
						ddd_bgfreeze: "on",
						ddd_overflow: "hidden",
						ddd_layer_overflow: "visible",
						ddd_z_correction: 100,
					},
					// responsiveLevels:[1240,1024,778,480],
					// gridwidth:[1240,1024,778,480],
					// gridheight:[868,768,960,720],

					responsiveLevels:[1240,1024,778,480],
					visibilityLevels:[1240,1024,778,480],
					gridwidth:[1400,1200,778,480],
					gridheight:[900,800,960,720],

					lazyType:"none",
					shadow:0,
					spinner:"off",
					stopLoop:"on",
					stopAfterLoops:0,
					stopAtSlide:1,
					shuffle:"off",
					autoHeight:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});


				var api = revapi48;

				var newCall = new Object(),
					cslide;

				newCall.callback = function() {
					var proc = api.revgetparallaxproc(),
						fade = 1+(proc*1.7);
						fade2 = 1.3+(proc*2);

					fade = fade>1 ? 1 : fade < 0 ? 0 : fade;
					fade2 = fade2>1 ? 1 : fade2 < 0.15 ? 0.15 : fade2;


					punchgs.TweenLite.set(api.find('.tp-giveeffect').parent(),{opacity:fade});
					punchgs.TweenLite.set(api.find('.effect_wrapper'),{opacity:fade2});
				}
				newCall.inmodule = "parallax";
				newCall.atposition = "start";


				api.bind("revolution.slide.onloaded",function (e) {
					api.find('.slotholder').wrap('<div class="effect_wrapper"></div>');
					api.revaddcallback(newCall);

				});
				jQuery('.lightsensor').on('mousemove',function() {
					var time = Math.round(Math.random()*20)/100,
						alpha = 0.7+(Math.random()*3)/10;
					punchgs.TweenLite.to(jQuery('.lighton'),time,{autoAlpha:alpha,ease:punchgs.Power3.easeOut});
				});


 $("body").css('cursor', 'none');
				var i = null;
				$(document).mousemove(function() {
				    clearTimeout(i);
				    $(".hideonnotmove").fadeIn();
				    $("body").css('cursor', 'default');
				    i = setTimeout(function () {
				    	$("body").css('cursor', 'none');
				        $(".hideonnotmove").fadeOut();
				    }, 1500);
				}).mouseleave(function() {
				    clearTimeout(i);
				    $(".hideonnotmove").fadeoOut();
				    $("body").css('cursor', 'none'); 
				});
			}





		});	/*ready*/
	</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-45650110-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-45650110-1');
	</script>
</body>
</html>