<body class="stretched BLOG no-transition">
<div id="wrapper" class="clearfix">
<% include menu.ejs %>
<section id="page-title" class="">

         
        <div class="container clearfix">
        <h1><%- __('Nos services') %></h1>
        <span><%- __('Ce que nous pouvons faire pour vous') %></span>
        <!-- <ol class="breadcrumb"> -->
            <!-- <li><a href="#">Home</a></li> -->
            <!-- <li class="active">Blog</li> -->
        <!-- </ol> -->
        </div>

</section>

<div class="presta">
    <div class="container" style="height:100%">
      
	    <div class="row">

	        <div class="col col-sm-6 anim fadeInLeft animated innoicon" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	        	<div class="headIcon ">
	        		
		            <div class="icon-lightbulb"></div>
		            <h3>Innovation</h3>
	        	</div>
	           
	        </div>
	        <div class="col col-sm-6 anim fadeInRight animated inno" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	             <p>L’innovation est notre spécialité : à l'affût des <strong>tendances</strong>, des <strong>émergences</strong> et des <strong>signaux faibles</strong>, nous avons une vision prospective du présent immédiat et du futur à court et long termes. <strong>Notre but</strong> : créer de l’enthousiasme et faire du sens. <strong>Notre éthique</strong> : faire de la Nutrition durable, gourmande, désirable. La prise en compte des signaux faibles nous permet de mieux orienter nos actions en faveur d'avenirs éthiques et choisis.<br>Comment ?</p>
	             <p><strong>L’innovation de rupture</strong> permet de créer une nouvelle source de valeur, d’inventer de nouveaux marchés, d’augmenter ses opportunités de profit, ouvrir son périmètre de business, recruter de nouveau consommateurs, développer des occasions brillantes de communiquer, se faire connaître et enrichir la marque</p>
	             <p><strong>L’innovation incrémentale</strong> permet d’ajuster son produit, de le faire évoluer avec ses consommateurs, d’améliorer ses valeurs ajoutées et perçues, de protéger ses marges. De la conception à la copy strategy, aux essais paillasse : prêts pour les tests consommateurs et les essais industriels</p>
	            

	        </div>
	    </div>
	    <div class="row"> 
	        <div class="col col-xs-6 anim fadeInLeft animated strat" data-wow-delay="0.5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
	            
	              <p>Bâtir une stratégie de communication nutritionnelle pour vos marques et produits. Enrichir la valeur de votre marque, et pas seulement faire du chiffre d’affaires supplémentaire. Les innovations et les prises de parole doivent avoir pour seul objectif de servir la marque durablement.</p>
	              <p>Construire une stratégie solide, justifiée scientifiquement et inattaquable. Suivre la stratégie de l’Iceberg : beaucoup de sciences et de justifications solides, mais en dire peu. Tout en retenue et en modestie. Construire un avenir pérenne et stable. </p>
	              <p>L’effet WAOUH! Augmenter la valeur « image » et « services » des produits. Augmenter la valeur ajoutée et ajoutable, dans laquelle l’envie est le moteur.</p>
	        </div>   
	        <div class="col col-xs-6 anim fadeInRight animated straticon" data-wow-delay="0.5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
	        	<div class="headIcon ">
	            	<div class="icon-compass"></div>
	            	<h3>Stratégie</h3>
	        	</div>
	        </div>
	    
	    </div>

	    <div class="row"> 

	        <div class="col col-xs-12 anim fadeInLeft animated marketicon" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	        	<div class="headIcon">
		            <div class="icon-target"></div>
		            <h3>Marketing</h3>	            
	        	</div>

	        </div>
	        <div class="col col-xs-12 anim fadeInRight animated market" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	              <p>Nous suivons <strong>le niveau de connaissance des cibles</strong> : du consommateur à ses prescripteurs, journalistes et personnalités médiatiques, praticiens, enseignants, pouvoirs publics, KOL, etc. </p>
	              <p>Nous suivons <strong>les U&amp;A</strong>, <strong>les habitudes de consommation</strong>, <strong>les modes et utilisations des produits.</strong></p>
	              <p>Nous adaptons la mise en mots des bénéfices selon les cibles, les envies et besoins d’informations des consommateurs et de leurs prescripteurs (media, parisiens, etc.).</p>
	        </div>
	    </div>
	    
	    <div class="row">

	        <div class="col col-xs-12 anim fadeInLeft animated com" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	              <p><strong>Une stratégie marketing et des outils de développement</strong> adaptés aux discours nutritionnels, de santé ou de bien-être.</p>
	              <p>Faire de la nutrition l’alliée du plaisir, non pas son opposé.</p>
	              <p>Nous avons mis au point des outils de communication pour les bénéfices nutritionnels et de santé, adaptés à chaque cible, à chaque spécificité.</p>
	            
	        </div>
	        <div class="col col-xs-12 anim fadeInRight animated comicon" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	     
	            
	            <div class="headIcon">
	            	<div class="icon-rss"></div>
	            	<h3>Communication</h3>
	        	</div>
	        </div>

	        
	   </div>
	    
	    <div class="row"> 
	        <div class="col col-xs-12 anim fadeInLeft animated veilleicon" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
		            
	            <div class="headIcon">
	            	<div class="icon-moon"></div>
		            <h3>Veille</h3>
	        	</div>
	        </div>
	        <div class="col col-xs-12 anim fadeInRight animated veille" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	           
	             <p>A l'affût des <strong>tendances</strong>, des <strong>émergences</strong> et des <strong>signaux faibles</strong>, nous avons une vision prospective du présent immédiat et du futur à court et long termes.</p>
	             <p>Comment&nbsp;? En associant les <strong>données de marché</strong>, les <strong>expressions consommateur</strong>, leur niveau de connaissance, les nouvelles habitudes de vie, les images idéologiques, les modes et les <strong>lois</strong>, les contraintes de la vie moderne et les opportunités de nouvelles occasions de consommation.</p>
	             <p>Nos outils de veille concernent la science, la réglementation, les lancements de produits dans le Monde avec INNOVA DATA BASE, les ingrédients grâce à notre base de données PAI, les données marketing (études de marché, études sociologiques, etc.)</p>
	            
	        </div>
	    </div>
	    
	    <div class="row">   

	        <div class="col col-xs-12 anim fadeInLeft animated redac" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	           		
	              <p>Nous mettons en mots les informations et formations pour nos différentes cibles : articles de presse grand public, participation à des émissions de radio ou TV, écriture d’articles grand public ou professionnels</p>
	              <p>Nous éditons la <strong>Lettre CONSULTATION NUTRITION</strong>, le <strong>PAI CONTACT</strong> (toute l’actualité du secteur des PAI - ingrédients, additifs et produits semi-élaborés dans le monde), nous publions la <strong>Lettre PAI.</strong></p>
	              <p>Auteurs de livres et ouvrages grand public (Editions VUIBERT, MANGO ou J. LYON), ouvrages professionnels (Tec&amp;Doc Lavoisier).</p>
	            
	        </div> 
	        <div class="col col-xs-12 anim fadeInRight animated redacicon" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	        	<div class="headIcon">
		            <div class="icon-doc-text"></div>
		            <h3>Rédac</h3>
	            </div>
	        </div>
	    </div>
	    
	    <div class="row">   

	        <div class="col col-xs-12 anim fadeInLeft animated conficon" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	            <div class="headIcon">
		            <div class="icon-mic"></div>
		            <h3>Conférence</h3>
	        	</div> 
	        </div> 
	        <div class="col col-xs-12 anim fadeInRight animated conf" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	              <p> Nous sommes leaders des visites experts Innovation sur les salons les plus pertinents, nos partenaires : <strong>FI Asie, HIE, FIE, BenefiQ Québec, SIAL, ANUGA, CFIA, Vitafoods, Vitagora, SIRHA Lyon…</strong></p>
	              <p>Nous organisons des <strong>conférences, conventions, formations et workshops</strong> autour de thèmes d’actualité, pour des partenaires et en nom propre : avec les différents salons, avec Les Echos, LSA, et sur des thèmes d’innovation comme la Cosmétofood ou la réglementation.</p>
	        </div>
	    </div>
	    
	    <div class="row">  
	        <div class="col col-xs-12 anim fadeInLeft animated reseau" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	           	
	              <p>Nous créons un réseau d’experts : réglementation, sourcing et process, technologies et innovations rupturistes, des experts en médecine, nutrition, sociologie, comportementalistes, épidémiologistes, pouvoirs publics et chercheurs internationaux, etc.</p>
	        </div>
	        <div class="col col-xs-12 anim fadeInRight animated reseauicon" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
	        	<div class="headIcon">
		            <div class="icon-share"></div>
		            <h3>Notre réseau</h3>
	            </div>
	        </div>
	        
	      </div>



    </div>
</div>

        

</div><!-- #wrapper end -->
    <!-- // <script type="text/javascript" src="js/myscript.js"></script> -->
</body>