<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700,800,900|Permanent+Marker" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="styles/front/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/style.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/dark.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/animate.css" type="text/css" />
	<link rel="stylesheet" href="styles/front/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="styles/front/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="styles/front/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="styles/front/layers.css">
	<link rel="stylesheet" type="text/css" href="styles/front/navigation.css">
	<link rel="stylesheet" type="text/css" href="styles/front/mystyle.css">


	<!-- Document Title
	============================================= -->
	<title>V2M</title>
	
	<link rel="shortcut icon" href="favicon/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="favicon/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="favicon/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="favicon/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="favicon/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16.png">
	<link rel="apple-touch-icon" href="favicon/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="favicon/favicon-144.png">
	<meta name="msapplication-config" content="favicon/browserconfig.xml">
	<style>

		
 		.allbg{position:absolute;height: 800px;}
		#content {overflow:visible;}
		.projcontainer h2{text-align: center;}
	</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Slider
		============================================= -->

		<section id="slider" class="revslider-wrap clearfix">

			<div id="rev_slider_72_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="web-product-light" style="background-color:transparent;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
				<div id="rev_slider_72_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
					<ul>
						<!-- SLIDE  -->
						<li data-index="rs-254" data-transition="slidevertical" data-slotamount="1"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/proj/V2M/cover-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Get a License" data-description="">
							<!-- MAIN IMAGE -->
							<img src="images/proj/V2M/cover.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- BACKGROUND VIDEO LAYER -->
							<div class="rs-background-video-layer"
								data-forcerewind="on"
								data-volume="mute"
								data-videowidth="100%"
								data-videoheight="100%"
								data-videomp4="images/proj/V2M/videosV2M.mp4"
								data-videopreload="preload"
								data-videoloop="none"
								data-forceCover="1"
								data-aspectratio="16:9"
								data-autoplay="true"
								data-autoplayonlyfirsttime="false"
								data-nextslideatend="true"
							></div>
							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme"
								 id="slide-254-layer-11"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
											data-width="full"
								data-height="full"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="0"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 5;background-color:rgba(245, 245, 245, 0.85);border-color:rgba(0, 0, 0, 1.00);">
							</div>

							<!-- LAYER NR. 2 -->
							<!-- <div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-7"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/front/logo-v2m-big.png" alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div> -->

							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-15"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:-1050px;opacity:0;s:1000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="1000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/front/logo-v2m-big-part2.png" alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>
							
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:-1000px;opacity:0;s:1000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="2000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/front/logo-v2m-big-part1.png" alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>
							<div class="tp-caption WebProduct-Title   tp-resizeme"
								 id="slide-254-layer-16"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','top','top']" data-voffset="['-50','-80','176','187']"
											data-fontsize="['90','90','50','40']"
								data-lineheight="['90','90','50','40']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="x:1000px;opacity:0;s:1000;e:Power2.easeOut;"
								 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
								data-start="2000"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"


								style="z-index: 6; white-space: nowrap;text-align:center;">
								<img src="images/front/logo-v2m-big-part3.png" alt="" width="800" height="600" data-ww="['600px','600px','400px','300px']" data-hh="['400px','400px','300px','200px']" data-no-retina>
							</div>
							


						</li>
						

						
						
					</ul>
					




				<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
			</div><!-- END REVOLUTION SLIDER -->

		</section>
		<section id="content" style="margin-bottom: 0px;">

			<div class="content-wrap">

				<div class="allbg">

							<img src="images/proj/V2M/desktopbg2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>


							<img src="images/proj/V2M/desktopbg4.jpg"  alt=""  data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
					
					


							


							<!-- <img src="images/front/desktopbg3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina> -->


				<div class="clearfix"></div>
				</div>
				<div class="container projcontainer clearfix">



					<h2>Réalisation de l'identité visuel et du logo V2M</h2>
					<h2>Réalisation des modèles de maison.</h2>
					<h2>Création du site internet V2M.</h2>
					<h2>Travail rédactionel sur tout les texts du site.</h2>
							

					<img class="pull-right" src="images/proj/V2M/SLIDE1.png" alt="" width="800"  data-no-retina>

					<img class="pull-left" src="images/proj/V2M/SLIDE2.png" alt="" width="800" height="450"  data-no-retina>

					<img class="pull-right" src="images/proj/imac.png" alt=""   data-no-retina>

				</div>

			</div>

		</section>

	</div><!-- #wrapper end -->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/front/jquery.js"></script>
	<script type="text/javascript" src="js/front/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/front/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="js/front/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="js/front/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="js/front/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="js/front/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="js/front/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="js/front/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="js/front/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="js/scrollreveal.min.js"></script>

	<script type="text/javascript">

		var tpj=jQuery,
			revapi72;
		tpj(document).ready(function() {
			if(tpj("#rev_slider_72_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_72_1");
			}else{
				revapi72 = tpj("#rev_slider_72_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"js/front/",
					sliderLayout:"fullscreen",
					dottedOverlay:"none",
					delay:9000,
					navigation: {
						keyboardNavigation:"off",
						keyboard_direction: "vertical",
						mouseScrollNavigation:"off",
						onHoverStop:"off",
						touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 50,
							swipe_direction: "vertical",
							drag_block_vertical: false
						}
						// ,
						// bullets: {
						// 	enable:true,
						// 	hide_onmobile:true,
						// 	hide_under:1024,
						// 	style:"hephaistos",
						// 	hide_onleave:false,
						// 	direction:"vertical",
						// 	h_align:"right",
						// 	v_align:"center",
						// 	h_offset:30,
						// 	v_offset:0,
						// 	space:5,
						// 	tmp:''
						// }
					},
					responsiveLevels:[1240,1024,778,480],
					gridwidth:[1400,1240,778,480],
					gridheight:[868,768,960,720],
					lazyType:"none",
					shadow:0,
					spinner:"spinner2",
					stopLoop:"on",
					stopAfterLoops:0,
					stopAtSlide:1,
					shuffle:"off",
					autoHeight:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
			}
		});	/*ready*/

		 window.sr = ScrollReveal();
		  sr.reveal('.fooReveal', { container: '.fooContainer', rotate: {x: 65} });
	</script>

</body>
</html>