


.demos-filter {
	margin: 0;
	text-align: right;
}

.demos-filter li {
	list-style: none;
	margin: 10px 0px;
}

.demos-filter li a {
	display: block;
	border: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #444;
}

.demos-filter li a:hover,
.demos-filter li.activeFilter a { color: #1ABC9C; }


.zonelecture{overflow-y:auto;min-height:547px;}
.zonelecture span.dejalu{color:#999999;font-size : 16px; line-height:16px;}
.zonelecture span.dejalumobile{color:#999999;font-size : 16px; line-height:16px;}
.zonelecture h1{font-family: 'Raleway';font-weight:900;color:#005050;text-transform: uppercase;line-height:40px;font-size: 40px}
.zonelecture h3{font-family: 'Raleway';font-weight:700;line-height:16px;font-size: 16px;margin-bottom :10px;}
.zonelecture p{font-family: 'Raleway';margin-bottom:20px;font-size : 16px; line-height:16px;color:black;}
.zonelecture small{font-family: 'Raleway';font-size: 14px;line-height: 14px;color:#005050;padding-bottom: 20px;display:inline-block;}

div.auteur {font-size : 14px;}
.zonelecture ol{    margin-left: 20px;margin-bottom:20px;}
.zonelecture li{ margin-bottom:10px;font-size : 16px;line-height : 16px;color:black;}





/*.logoclient img+img{display:none;}*/
.flex{display: -webkit-inline-flex;
display: -moz-inline-flex;
display: -ms-inline-flex;
display: -o-inline-flex;
display: inline-flex;}

@media (max-width: 991px) {
	.demos-filter { text-align: center; }

	.demos-filter li {
		float: left;
		width: 33.3%;
		padding: 0 20px;
	}
}

@media (max-width: 767px) {
	.demos-filter li { width: 50%; }
	.zonelecture span.dejalu{color:#000;font-size : 16px; line-height:16px;}
}

.revo-slider-emphasis-text {
	font-size: 64px;
	font-weight: 700;
	letter-spacing: -1px;
	font-family: 'Raleway', sans-serif;
	padding: 15px 20px;
	border-top: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
}

.revo-slider-desc-text {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	width: 650px;
	text-align: center;
	line-height: 1.5;
}

.revo-slider-caps-text {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 3px;
	font-family: 'Raleway', sans-serif;
}
.tp-video-play-button { display: none !important; }

.tp-caption { white-space: nowrap; }

.tp-caption.TechJournal-Button,
.TechJournal-Button {
	color:rgba(255,255,255,1.00);
	font-size:13px;
	line-height:40px;
	font-weight:900;
	font-style:normal;
	font-family:Raleway;
	padding:1px 30px 1px 30px;
	text-decoration:none;
	text-align:left;
	background-color:#005050;
	border-color:rgba(0,0,0,1.00);
	border-style:solid;
	border-width:0px;
	border-radius:0px 0px 0px 0px;
	letter-spacing:3px
}

.tp-caption.TechJournal-Button:hover,
.TechJournal-Button:hover {
	color:rgba(0,0,0,1.00);
	text-decoration:none;
	background-color:rgba(255,255,255,1.00);
	border-color:rgba(0,0,0,1.00);
	border-style:solid;
	border-width:0px;
	border-radius:0px 0px 0px 0px;
	cursor:pointer
}

.tp-caption.TechJournal-Big,
.TechJournal-Big {
	color:rgba(255,255,255,1.00);
	font-size:120px;
	line-height:120px;
	font-weight:900;
	font-style:normal;
	font-family:Raleway;
	padding:0 0 0 0px;
	text-decoration:none;
	text-align:left;
	background-color:transparent;
	border-color:transparent;
	border-style:none;
	border-width:0px;
	border-radius:0 0 0 0px;
	letter-spacing:0px
}

.tp-caption.TechJournal-Big1,
.TechJournal-Big1 {
	color:rgba(0,130,130,1.00);
	font-size:1200px;
	line-height:1200px;
	font-weight:900;
	font-style:normal;
	font-family:'momfont';
	padding:0 0 0 0px;
	text-decoration:none;
	text-align:left;
	background-color:transparent;
	border-color:transparent;
	border-style:none;
	border-width:0px;
	border-radius:0 0 0 0px;
	letter-spacing:0px
}
.ARTICLE #content .container{width: 100%;}
.articleTitle{background: white; margin-bottom: 10px;padding:15px;}
.articlePar{background: white; margin-bottom: 10px;padding:5px;}
.articleImg{background: white; margin-bottom: 10px;}
.articlePar p{background: white; margin-bottom:0px;padding: 10px;width: 100%;}

.articleSocial a {width:30px;height: 45px;display: inline-block;}
.articleSocial a:hover {background: rgba(255,255,255,0.1);}

 .rs-wave.tp-loop-wrap{pointer-events:none;}


.projcontainer h2{text-align: center;}


