<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">

			<div class="subheader topmargin">
				<!-- <h4>Ce fils d'actualitée est collaboratifs. <br>Il parle uniquement d'agro-alimentaire et nottemant d'innovation.</h4> -->
				<a ui-sref="marketplace" class="btn btn-primary btn-lg">Retour à la salle de marché</a>
			</div>



			<div class="postcontent nobottommargin clearfix">

				<div class="single-post nobottommargin">

					<!-- Single Post
					============================================= -->
					<div class="entry clearfix">

						<!-- Entry Title
						============================================= -->
						<div class="entry-title">
							<h2>{{project.title}}</h2>
						</div><!-- .entry-title end -->



						<!-- Entry Meta
						============================================= -->
						<ul class="entry-meta clearfix">
							<li><i class="icon-calendar3" title="Date"></i>{{project.createdAt | amDateFormat:'DD MMM YYYY'}}</li>
							<li><a href="#"><i class="icon-user" title="Auteur"></i> {{project.authors[0].firstname}} {{project.authors[0].name}}</a></li>
							
							<li ng-if="project.comments.length"><a href="#"><i class="icon-comments" title="Commentaires"></i> 43 </a></li>
						</ul><!-- .entry-meta end -->

						<!-- Entry Image
						============================================= -->
						<div ng-if="project.videoHost && project.videoUrl" class="entry-image ">
							<div ng-if="project.videoHost =='vimeo'" fit-vids>
								
								<iframe  width="16" height="9" src="{{ 'https://player.vimeo.com/video/'+project.videoUrl | trustAsResourceUrl}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
							<div ng-if="project.videoHost =='youtube'" fit-vids>
								
								<iframe width="16" height="9" src="{{ 'https://www.youtube.com/embed/'+project.videoUrl +'?ecver=2' | trustAsResourceUrl}}" frameborder="0" allowfullscreen="" ></iframe>
							</div>
							<div ng-if="project.videoHost =='dailymotion'" fit-vids>
								
								<iframe width="16" height="9" src="{{ 'http://www.dailymotion.com/embed/video/'+project.videoUrl | trustAsResourceUrl}}" frameborder="0" allowfullscreen="" ></iframe>
							</div>
						</div>
						<div class="entry-image" ng-if="project.images.length == 1 && ( !project.videoHost || !project.videoUrl)">
							<a ><img  class="image_fade" ng-src="image/resized/{{project.images[0].filename}}" ></a>
						</div>
						<div class="entry-image" ng-if="project.images.length > 1 && project.images.length < 6 && ( !project.videoHost || !project.videoUrl)">
							<div class="fslider">
								
									<flex-slider flex-slide="image in  project.images track by image.id" animation="slide" slideshow="false"smooth-height=" true" direction-nav="false">
										<li>
											<a ><img class="image_fade" ng-src="image/resized/{{image.filename}}" imageonload></a>
										</li>
									</flex-slider>
							</div>
						</div>
						<div class="entry-image clearfix" ng-if="project.images.length >= 6&& ( !project.videoHost || !project.videoUrl)">
							<div class="portfolio-single-image masonry-thumbs col-4" data-big="3" data-lightbox="gallery">
								<a  ng-repeat="img in project.images" ><img class="image_fade" ng-src="image/adminThumbs/{{img.filename}}" alt=""></a>
								
							</div>
						</div><!-- .entry-image end -->

						<!-- Entry Content
						============================================= -->
						<div class="entry-content notopmargin" >
							
							<div ng-bind-html="project.content"  content-html="project.content"></div>
							<div ng-if="project.tags.length"class="tagcloud clearfix ">
								<a ng-repeat="tag in project.tags" > <i class="fa fa-tag"></i>{{tag.text}}</a>
								
							</div><!-- .tagcloud end -->
							<div class="clear"></div>

							<div ng-if="project.categories.length" class="catcloud clearfix bottommargin" >
								<a ng-repeat="cat in project.categories"  style="color:{{cat.textColor}}; background: {{cat.color}};">{{cat.name}}</a>
								
							</div><!-- .catcloud end -->

							<div class="clear"></div>

							

						</div>




						<div class="entry-image" ng-if="project.images.length == 1 && ( project.videoHost && project.videoUrl)">
							<a ><img  class="image_fade" ng-src="image/resized/{{project.images[0].filename}}" ></a>
						</div>
						<div class="entry-image" ng-if="project.images.length > 1 && project.images.length < 6 && ( project.videoHost && project.videoUrl)">
							<div class="fslider">
								
									<flex-slider flex-slide="image in  project.images track by image.id" animation="slide" slideshow="false"smooth-height=" true" direction-nav="false">
										<li>
											<a ><img class="image_fade" ng-src="image/resized/{{image.filename}}" imageonload></a>
										</li>
									</flex-slider>
							</div>
						</div>
						<div class="entry-image clearfix" ng-if="project.images.length >= 6 && ( project.videoHost && project.videoUrl)">
							<div class="portfolio-single-image masonry-thumbs col-4" data-big="3" data-lightbox="gallery">
								<a  ng-repeat="img in project.images" ><img class="image_fade" ng-src="image/adminThumbs/{{img.filename}}" alt=""></a>
								
							</div>
						</div>
					</div><!-- .entry end -->

					
					<!-- <div class="post-navigation clearfix">

						<div class="col_half nobottommargin">
							<a href="#">⇐ This is a Standard post with a Slider Gallery</a>
						</div>

						<div class="col_half col_last tright nobottommargin">
							<a href="#">This is an Embedded Audio Post ⇒</a>
						</div>

					</div>

					<div class="line"></div> -->

					<!-- Post Author Info
					============================================= -->
					<div class="panel panel-default" ng-repeat="author in project.authors " >
						<div class="panel-heading">
							<h3 class="panel-title">Contenu proposé par <span><a href="#"> {{author.firstname}} {{author.name}}</a></span></h3>
						</div>
						<div class="panel-body panel-body-author-description">
							<div class="author-image">
								<img  ng-if="author.images[0]" height="50" width="50" ng-src="image/profile/{{author.images[0].filename}}" alt="">
								<ng-letter-avatar  ng-if="!author.images[0]" charCount="1" data="{{author.firstname}} {{author.name}}" fontsize="25" height="50" width="50" shape="round"></ng-letter-avatar>
							</div>
							<div ng-if="author.description" ng-bind-html="author.description"  content-html="author.description" class="author-description"></div>
							<div ng-if="!author.description" class="author-description"> <span style="margin-top:25px;">Aucune présentation de cet auteur</span></div>
						</div>
					</div><!-- Post Single - Author End -->
						<div>
		  					
		  					
		  					
		  				</div>
					<!-- <div class="line"></div> -->

					<!-- Comments
					============================================= -->
					<div id="comments" class="clearfix">

						<h3 id="comments-title" ng-if="project.comments.length && project.comments.length<=1"><span >{{project.comments.length}}</span> Commentaire</h3>
						<h3 id="comments-title" ng-if="project.comments.length && project.comments.length>1"><span >{{project.comments.length}}</span> Commentaires</h3>

						<!-- Comments List
						============================================= -->
						<ol class="commentlist clearfix" ng-if="project.comments.length">

							<li class="comment even thread-even depth-1" ng-repeat="comment in project.comments | orderBy:{'createdAt':'DESC'}" id="comment-{{comment.id}}">

								<div  class="comment-wrap clearfix">

									<div class="comment-meta">

										<div class="comment-author vcard" ng-if="comment.user">

											<span class="comment-avatar clearfix">
											<img  ng-if="comment.imgAuthor" height="60" width="60" ng-src="image/profile/{{comment.imgAuthor}}" alt="">
											<ng-letter-avatar  ng-if="!comment.imgAuthor" charCount="1" data="{{comment.user.firstname}} {{comment.user.name}}" fontsize="25" height="60" width="60" shape="round"></ng-letter-avatar></span>
 
										</div>

									</div>

									<div class="comment-content clearfix">

										<div class="comment-author">{{comment.authorName}}<span><a >{{comment.createdAt | amDateFormat:'DD MMM YYYY à HH:mm'}}</a></span></div>

										<p>{{comment.content}}</p>

										<a class="comment-reply-link" ng-click="commentreply(comment.id,$event)"><i class="icon-reply"></i></a>

										<response action="addReponse" itemid="comment.id">

									</div>

									<div class="clear"></div>

								</div>


								<ul ng-if="comment.responses.length" class="children" ng-repeat="response in comment.responses">

									<li class="comment byuser comment-author-_smcl_admin odd alt depth-2" id="li-comment-3">

										<div id="comment-3" class="comment-wrap clearfix">

											<div class="comment-meta">
	
												<div class="comment-author vcard" >

													<span class="comment-avatar clearfix">
													<img  ng-if="comment.imgAuthor" height="40" width="40" ng-src="image/profile/{{comment.imgAuthor}}" alt="">
											<ng-letter-avatar  ng-if="!comment.imgAuthor" charCount="1" data="{{comment.user.firstname}} {{comment.user.name}}" fontsize="25" height="40" width="40" shape="round"></ng-letter-avatar></span>

												</div>

											</div>

											<div class="comment-content clearfix">

												<div class="comment-author">{{response.authorName}}<span><a >{{response.createdAt | amDateFormat:'DD MMM YYYY à HH:mm'}}</a></span></div>

												<p>{{response.content}}</p>

											</div>

											<div class="clear"></div>

										</div>

									</li>

								</ul>

							</li>

							

						</ol><!-- .commentlist end -->

						<div class="clear"></div>

						<!-- Comment Form
						============================================= -->
						<div id="respond" class="clearfix">

							<h3>Laisser un <span>commentaire</span></h3>

							<form class="clearfix" id="commentform">


								<div class="clear"></div>

								<div class="col_full">
									<label for="comment">Votre commentaire</label>
									<textarea name="comment" ng-model="commentaire" cols="58" rows="7" tabindex="4" class="sm-form-control"></textarea>
								</div>

								<div class="col_full nobottommargin">
									<button ng-click="addComment()" id="submit-button" tabindex="5" value="Poster" class="button button-3d nomargin">Post</button>
								</div>

							</form>

						</div><!-- #respond end -->

					</div><!-- #comments end -->

				</div>

			</div>
			<div class="sidebar nobottommargin col_last clearfix">
				<div class="sidebar-widgets-wrap">


				<h4 ng-if="project.initialPrice">Prix</h4>
				<ul class="list-group" ng-if="project.initialPrice">
					<li class="list-group-item" ng-class="{'active':calculatePrices.m0.active}">Prix d'origine : <span class="priceMarket">{{calculatePrices.m0.sellprice}}€</span></li>
					<li class="list-group-item " ng-class="{'active':calculatePrices.m6.active}">{{calculatePrices.m6.date}} : <span class="priceMarket">{{calculatePrices.m6.sellprice}}€</span></li>
					<li class="list-group-item " ng-class="{'active':calculatePrices.m12.active}">{{calculatePrices.m12.date}} : <span class="priceMarket">{{calculatePrices.m12.sellprice}}€</span></li>
					<li class="list-group-item" ng-class="{'active':calculatePrices.m18.active}">{{calculatePrices.m18.date}} : <span class="priceMarket">{{calculatePrices.m18.sellprice}}€</span></li>
					<li class="list-group-item" ng-class="{'active':calculatePrices.m24.active}">{{calculatePrices.m18.date}}: <span class="priceMarket">Gratuit</span></li>
				</ul>


				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">Licence & Utilisation</h2>
					</div>
					<div class="panel-body">
					Les documents achetés sur ce site appartiennent toujours à leurs auteurs respectifs. La copie que vous vous procurer est soumise au droit d'auteur..
					</div>
				</div>

				<a ng-if="project.initialPrice" href="#" class="btntelecharger button button-desc button-border button-rounded center"><div>Achetez ce contenu<span>Disponible instantanément</span></div></a>
				<a ng-if="!project.initialPrice" href="#" class="btntelecharger button button-desc button-border button-rounded center"><div>Télécharger <span>Disponible gratuitement</span></div></a>



				</div>

			</div>

			
		</div>

	</div>

</section>