<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">

			
			

			<h1 style="padding-top:30px;">Ajouter un évènement dans la base de données</h1>
				
			<div class="clearfix"></div>
			
			<div>
				<wizard on-finish="finishedWizardAddContent()"> 
				<wz-step wz-title="Avant de publier">
			    	<h2>Avant de publier</h2>
			    	<p>Avant de soumettre un évènement, merci de lires et comprendre les points suivants</p>
				
				 	<uib-accordion close-others="oneAtATime">
					   	<div uib-accordion-group class="panel-default" is-open="status1.open">
					      <uib-accordion-heading>
					        <i class="icon-question-sign"></i> Quels sont les type d'evenement que je peux publié ?
					      </uib-accordion-heading>
					      Vous pouvez publié tout les types d'évènement, du momment qu'il sont en rapport avec l'innovation allimentaire.
					    </div>
				 	
					   	<div uib-accordion-group class="panel-default" is-open="status2.open">
					      <uib-accordion-heading>
					        <i class="icon-question-sign"></i> Puis-je remplir une fiche évènemet incomplète ?
					      </uib-accordion-heading>
					      Oui, toute information, même partiel est bonne à prendre. <br>
					      Cependant, un fiche correctement remplis raporte plus de point Collabs.
					    </div>
				   
					   	<div uib-accordion-group class="panel-default" is-open="status3.open">
					      <uib-accordion-heading>
					        <i class=" icon-comments-alt"></i> Les fiches évènement sont elle relus?
					      </uib-accordion-heading>
					      Oui, les fiche évènement sont brèvement relus avant la publication. Ceci dans le but d'eviter les malveillances et les évènement sans rapport avec l'alimentaire.
					    </div>
				    
					   	<div uib-accordion-group class="panel-default" is-open="status4.open">
					      <uib-accordion-heading>
					        <i class="icon-lock3"></i> Ai-je le droit d'ajouter tout les évènement produit par ma propre entreprise?
					      </uib-accordion-heading>
					      Oui, . . . . .
					    </div>
				    
					   	<div uib-accordion-group class="panel-default" is-open="status5.open">
					      <uib-accordion-heading>
					        <i class=" icon-comments-alt"></i> Ecrire une fiche me raporte des points Collabs ?
					      </uib-accordion-heading>
					      Oui, entre 2 et 5 points Collabs selon la complétude avec laquelle vous aurez remplis la fiche.
					    </div>
				    
					   
					</uib-accordion>


			        <input type="submit" class="btn btn-primary btn-lg pull-right" wz-next value="Commencer" />
			        <div class="clearfix"></div>
			    </wz-step>

<!-- 
				<wz-step wz-title="Fabricant" >
			        <h2>Choix du fabricant</h2>

					<div class="fabricantChoice1">
						<p>En premier Lieux, verifier si une fiche fabricant existe déjà en base de donné. Si oui, séléctionner la et passer à l'étape suivante.</p>

						<ui-select id="selectFab" ng-model="t.fabricant" class="mb" theme="selectize"  on-select="onSelectFab($selected.selected)" title="Fabricant"  position="down">
						    <ui-select-match placeholder="Choisissez un fabricant" class="stacked-input">{{$select.selected.name}}</ui-select-match>
						    <ui-select-choices repeat="fab in fabList | filter: $select.search" style="top:none !important" >
						      <span ng-bind-html="fab.name  | highlight: $select.search"></span>
						    </ui-select-choices>
						</ui-select>
						
					</div>
					<div class="fabricantChoice2">
						<p>Si aucune fiche n'existe pour le fabricant de l'ingrédiant à ajouter. Vous avez deux options:</p>
						<ol>
							<li><a href="">Creér une fiche fabricant pour cet entreprise. (recommandé) </a></li>
							<li>Passer directement à l'étape suivant pour creéer une ficher ingrédient sans fabricant associé.</li>
						</ol>
						
					</div>




			        
			        <input type="submit" class="btn btn-primary btn-lg pull-right" wz-next value="Fiche ingrédient" />
			        <div class="clearfix"></div>
			    </wz-step> -->

				<wz-step wz-title="Fiche ingrédient"  canexit="exitValidationContenus">
			        <h2>Évènement</h2>

					
					<div class="ADDCONTENT-article addEvent" >
						
						<div class="form-group">
						  <label >Nom* :</label>
						  <input type="text" ng-blur="update('title')"  ng-model="formData.title" placeholder="Nom de l'évènement" class="form-control">
						</div>
						<div class="form-group ">
						  <label >Type d'évènement* :</label>
						  <!-- <input type="date" ng-blur="update('startsAt')"  ng-model="formData.startsAt" placeholder="Date de début" class="form-control"> -->
							  <div class="btn-group" role="group" aria-label="Basic example">
							  	<button type="button" class="btn btn-secondary" ng-class="{'bigger':formData.contentType=='conf'}" ng-click="formData.contentType='conf'; update('contentType')">Conférence</button>
							  	<button type="button" class="btn btn-secondary" ng-class="{'bigger':formData.contentType=='colloque'}" ng-click="formData.contentType='colloque'; update('contentType')">Colloque</button>
							  	<button type="button" class="btn btn-secondary" ng-class="{'bigger':formData.contentType=='salon'}" ng-click="formData.contentType='salon'; update('contentType')">Salon</button>
							  	<button type="button" class="btn btn-secondary" ng-class="{'bigger':formData.contentType=='other'}" ng-click="formData.contentType='other'; update('contentType')">Autre</button>
							  </div>
						</div>
						<div class="form-group col-sm-6">
						  <label >Date de début* :</label>
						  <input type="date" ng-blur="formData.endsAt=formData.startsAt; update('startsAt')"  ng-model="formData.startsAt" placeholder="Date de début" class="form-control">
						</div>

						<div class="form-group col-sm-6">
						  <label >Date de fin* :</label>
						  <input type="date" ng-blur="update('endsAt')"  ng-model="formData.endsAt" placeholder="Date de fin" class="form-control">
						</div>

						<div class="form-group">
						  <label >Contenus* :</label>
						  <textarea ui-tinymce="tinymceOption" ng-blur="update('content')" ng-model="formData.content" type="text" placeholder="Entrez une petite description de l'évènement" class="form-control"> </textarea>
						</div>

						<div class="form-group">
						<label >Catégorie : <i class="icon-question-sign" tooltip-popup-delay='500' tooltip-placement="top-left" uib-tooltip-html="cattooltip"></i></label>
							<tags-input class="mycategoriesinput inputtag  mt" ng-model="formData.categories" on-tag-removed="removeCategory($tag)" on-tag-adding="addCategory($tag)" ng-blur="unselectOnBlur()"  placeholder="Ajouter une catégorie" display-property="name" template="myCatTemplate" add-from-autocomplete-only="true">
				            	<auto-complete source="autocompleteCategories($query)" display-property="name" select-first-match="true" ></auto-complete>
				        	</tags-input>
			        	</div>

			        	<script type="text/ng-template" id="myCatTemplate">
			        		<div class=" cat-template" style="background:{{data.color}}">
						        <div> 
						          <span  style="color:{{data.textColor}}">{{$getDisplayText()}}</span>
						          <a class="remove-button"  style="color:{{data.textColor}}" ng-click="$removeTag()">&#10006;</a>
						        </div>
						     </div>
						</script>

						<!-- tag -->
						<div class="form-group">
							<label >Tag* : <i class="icon-question-sign" tooltip-popup-delay='500' tooltip-placement="top-left" uib-tooltip-html="tagtooltip"></i></label>
						    <tags-input class="mytaginput inputtag mb mt" ng-model="formData.tags" on-tag-removed="removeTag($tag)" on-tag-adding="addTag($tag)" ng-blur="unselectOnBlur()" >
				            	<auto-complete source="autocompleteTag($query)"  select-first-match="true" ></auto-complete>
				        	</tags-input>
						</div>
						
        	
		 	

					</div>


					<div class="blankseparator"></div>
					<div class="clearfix"></div>
			        <!-- <input type="submit" class="btn btn-primary btn-lg pull-left" wz-previous value="Type de contenus" /> -->
			        <input type="submit" class="btn btn-primary btn-lg pull-right" wz-next value="Validation" />
			        <div class="clearfix"></div>
			    </wz-step>
				
				




			    
			    
			    <wz-step wz-title="Validation" canenter="enterValidationFinish" canexit="exitValidationFinish">
			    	<h2>Validation</h2>
			        <p>Une fois validez, votre contenus sera placer en attente de validation.</p>
			        <p>Cela peux prendre quelques minutes ou quelques jours selon la disponibilité des relecteurs</p>
			        <p>Une foi validez, votre contenus vous raportera {{nbPoints}} points collabs</p>
			        <p>Selon la pertinance de ce dernier, vous pourrez obtenir des points collabs bonus.</p>
			        <div class="blankseparator"></div>
					<div class="clearfix"></div>


					<!-- <div class="alert alert-success pull-left" ng-if="successMessage">
					  <strong>Votre contenus à été posté!</strong> Vous aurez des nouvelles de sa validation dans vos email d'ici quelques jours.
					</div>
					<div class="alert alert-danger pull-left" ng-if="errorMessage">
					  <strong>Une erreur est survenu!</strong> Veuillez reessayer plus tard. Si le problème persiste contactez nous.
					</div> -->
			        <!-- <input type="submit" class="btn btn-primary btn-lg pull-left" wz-previous value="Contenus" /> -->
			        <input ng-if="!finishedWizzard" type="submit" class="btn btn-primary btn-lg pull-right" wz-next value="Valider" />
			        <!-- <a ng-if="finishedWizzard" ui-sref="blog" class="btn btn-primary btn-lg pull-right">Retour au blog</a> -->
			        <!-- <a ng-if="finishedWizzard" ui-sref="blog.add" class="btn btn-primary btn-lg pull-right">Soumettre un autre article</a> -->
			        <div class="clearfix"></div>
			    </wz-step>
				</wizard>
			</div>




		</div>
	</div>
</div>



