<md-dialog aria-label="ajouter un evenement" class="userAddContainer addEvent edit" ng-cloak>
  <form name="myform">
    
    <md-dialog-content>

    	<article class="widget widget__form">
			
		</article>	
			
			
    </md-dialog-content>
    <md-dialog-actions layout="row">
				<div class="red pull-left" style="color:red;" ng-if="invalid==true" >Vérifier votre saisie</div>
				<div class="removeremovecontainer">
					
					<removeremove class="removeremove" action="deleteEvent" itemid="formData.id"><button type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i> </button></removeremove>
				</div>
				<!-- <button class="btn blue pull-left" ng-click="updateEvent()">Modifier cet évènement</button> -->
    </md-dialog-actions>
  </form>
</md-dialog>