$icomoon-font-path: "fonts" !default;

$ctvb-iconsCTVB-01: "\e900";
$ctvb-iconsCTVB-02: "\e901";
$ctvb-iconsCTVB-03: "\e902";
$ctvb-iconsCTVB-04-path1: "\e903";
$ctvb-iconsCTVB-04-path2: "\e904";
$ctvb-iconsCTVB-04-path3: "\e905";
$ctvb-iconsCTVB-04-path4: "\e906";
$ctvb-iconsCTVB-04-path5: "\e907";
$ctvb-iconsCTVB-04-path6: "\e908";
$ctvb-iconsCTVB-04-path7: "\e909";
$ctvb-iconsCTVB-04-path8: "\e90a";
$ctvb-iconsCTVB-04-path9: "\e90b";
$ctvb-iconsCTVB-04-path10: "\e90c";
$ctvb-iconsCTVB-04-path11: "\e90d";
$ctvb-iconsCTVB-04-path12: "\e90e";
$ctvb-iconsCTVB-05: "\e90f";
$ctvb-iconsCTVB-06: "\e910";
$ctvb-iconsCTVB-07: "\e911";
$ctvb-iconsCTVB-08: "\e912";
$ctvb-iconsCTVB-09: "\e913";
$ctvb-iconsCTVB-10: "\e914";
$ctvb-iconsCTVB-11: "\e915";
$ctvb-iconsCTVB-12: "\e916";
$ctvb-ctvbwhitelogo-path1: "\e917";
$ctvb-ctvbwhitelogo-path2: "\e918";
$ctvb-ctvbwhitelogo-path3: "\e919";
$ctvb-ctvbwhitelogo-path4: "\e91a";
$ctvb-ctvbwhitelogo-path5: "\e91b";
$ctvb-ctvblogo: "\e91c";

